table td,
table th {
  padding: 2px 10px;
}

.grid-index {
  text-align: center;
}

.grid-index-label {
  text-align: center;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

table {
  border: 5px;
  th {
    background-color: rgba(147, 201, 199, 1);
    color: black;
    font-family: 'Poppins', sans-serif;
  }
  td {
    font-family: 'Poppins', sans-serif;
  }
  .rounding-table-left {
    border-top-left-radius: 15px;
  }
  .rounding-table-right {
    border-top-right-radius: 15px;
  }
}
.mat-column:first-child {
  border-top-left-radius: 15px;
}

.mat-column:last-child {
  border-top-right-radius: 15px;
}
.mat-column-no {
  width: 5%;
}

.mat-column-action {
  width: 10%;
}
.button-styling {
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffffff;
}
.html * {
  font-family: 'Poppins', sans-serif !important;
}

::ng-deep .custom-dialog-container-delete {
  .mat-dialog-container {
    background: linear-gradient(150deg, rgba(196, 223, 222, 1) 62%, rgba(147, 201, 199, 1) 68%);
    background-color: rgba(225, 225, 225, 1);
    background-position: bottom;
    background-position-y: -67px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
}

::ng-deep .custom-dialog-container-cancel {
  .mat-dialog-container {
    background: linear-gradient(150deg, rgba(196, 223, 222, 1) 62%, rgba(147, 201, 199, 1) 68%);
    background-color: rgba(225, 225, 225, 1);
    background-position: bottom;
    background-position-y: -67px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
}

.confirm-button-yes {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.confirm-button-no {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.confirm-button-no:hover {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: #f44336;
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.confirm-button-yes:active:hover:not([disabled]) {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 1);
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.confirm-button-yes:enabled:hover {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 1);
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}
.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.mat-card {
  font-family: 'Poppins', sans-serif !important;
}
