.mat-table-scroll{
  overflow-x: scroll;
}

.mat-column-bank-fixed-column-width {
  max-width: 350px !important;
  min-width: 350px !important;
}

.mat-column-number-fixed-column-width {
  max-width: 150px !important;
  min-width: 150px !important;
}