<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-party-group-heading" data-cy="PartyGroupCreateUpdateHeading" jhiTranslate="losgwApp.partyGroup.home.createOrEditLabel">
        Create or edit a Party Group
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.groupName" for="field_groupName">Group Name</label>
          <input type="text" class="form-control" name="groupName" id="field_groupName" data-cy="groupName" formControlName="groupName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.prefix" for="field_prefix">Prefix</label>
          <input type="text" class="form-control" name="prefix" id="field_prefix" data-cy="prefix" formControlName="prefix" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.officePhone" for="field_officePhone">Office Phone</label>
          <input
            type="text"
            class="form-control"
            name="officePhone"
            id="field_officePhone"
            data-cy="officePhone"
            formControlName="officePhone"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.otherPhone" for="field_otherPhone">Other Phone</label>
          <input
            type="text"
            class="form-control"
            name="otherPhone"
            id="field_otherPhone"
            data-cy="otherPhone"
            formControlName="otherPhone"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.officeMail" for="field_officeMail">Office Mail</label>
          <input
            type="text"
            class="form-control"
            name="officeMail"
            id="field_officeMail"
            data-cy="officeMail"
            formControlName="officeMail"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.faxOffice" for="field_faxOffice">Fax Office</label>
          <input type="text" class="form-control" name="faxOffice" id="field_faxOffice" data-cy="faxOffice" formControlName="faxOffice" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.partyGroup.taxIdNumber" for="field_taxIdNumber">Tax Id Number</label>
          <input
            type="text"
            class="form-control"
            name="taxIdNumber"
            id="field_taxIdNumber"
            data-cy="taxIdNumber"
            formControlName="taxIdNumber"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
