<h2 mat-dialog-title class="sub-header">Certificate Detail</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Certificate Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralLandAttribute.certNumber" [disabled]="hideordisable()" required />
            </mat-form-field>
          </section>
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>In The Name Of</mat-label>
              <input matInput type="text" [(ngModel)]="collateralLandAttribute.certName" [disabled]="hideordisable()" required />
            </mat-form-field>
          </section>
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>No GS / SU</mat-label>
              <input matInput type="text" [(ngModel)]="collateralLandAttribute.certGSNumber" [disabled]="hideordisable()" required />
            </mat-form-field>
          </section>
        </div>
        <div class="col-6">
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Date of Issue</mat-label>
              <input
                [disabled]="hideordisable()"
                [disabled]="hiddenRmAdmin"
                [matDatepicker]="dateOfIssue"
                matInput
                type="text"
                [(ngModel)]="collateralLandAttribute.certIssueDate"
                disabled
                required
              />
              <mat-datepicker-toggle matSuffix [for]="dateOfIssue"></mat-datepicker-toggle>
              <mat-datepicker #dateOfIssue disabled="false" [disabled]="hideordisable()" [disabled]="hiddenRmAdmin"> </mat-datepicker>
            </mat-form-field>
          </section>
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Due Date</mat-label>
              <input
                [disabled]="hideordisable()"
                [disabled]="hiddenRmAdmin"
                [matDatepicker]="dueDate"
                matInput
                type="text"
                [(ngModel)]="collateralLandAttribute.certDueDate"
                disabled
                required
              />
              <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
              <mat-datepicker #dueDate disabled="false" [disabled]="hideordisable()" [disabled]="hiddenRmAdmin"> </mat-datepicker>
            </mat-form-field>
          </section>
          <section class="mt-2">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Area</mat-label>
              <input
                matInput
                type="text"
                [ngModel]="collateralLandAttribute.certArea"
                (ngModelChange)="collateralLandAttribute.certArea = numberInputChanged($event)"
                [disabled]="hideordisable()"
                [disabled]="hiddenRmAdmin"
                required
              />

              <!-- <input matInput type="number" [(ngModel)]="collateralProp.landSizePerCertificate" /> -->
            </mat-form-field>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center" class="align-center">
  <button mat-button (click)="openCancelDialog()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="hideordisable()" [disabled]="hiddenRmAdmin">Save</button>
</mat-dialog-actions>
