<h2 mat-dialog-title class="sub-header">Vehicle Detail</h2>
<mat-dialog-content>
  <mat-card class="card">
    <mat-card-title>Unit Ownership Right</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="BPKB Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.bpkbNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>BPKB Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.bpkbNum" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="In The Name Of"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.bpkbName"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>In The Name Of</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.bpkbName" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Vehicle Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Vehicle Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehNum" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-numerictextbox
              cssClass="e-outline"
              type="text"
              placeholder="Year"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehYear"
              format="0,"
              min="0"
              required
            ></ejs-numerictextbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Year</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehYear" />
            </mat-form-field> -->
          </section>
        </div>
        <div class="col-6">
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="STNK Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.stnkNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>STNK Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.stnkNum" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Chasiss Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.chassisNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Chasiss Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.chassisNum" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Machine Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehMachineNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Machine Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehMachineNum" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Invoice Number"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehInvNum"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Invoice Number</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehInvNum" />
            </mat-form-field> -->
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card mt-3">
    <mat-card-title>Unit Information</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Used By"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehUsedBy"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Used By</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehUsedBy" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Brand"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehBrand"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Brand</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehBrand" />
              <span matSuffix><mat-icon>keyboard_arrow_down</mat-icon></span>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Type"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehType"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Type</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehType" />
              <span matSuffix><mat-icon>keyboard_arrow_down</mat-icon></span>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Category"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehCategory"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Category</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehCategory" />
              <span matSuffix><mat-icon>keyboard_arrow_down</mat-icon></span>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Model"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehModel"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Model</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehModel" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Cyclinder"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehCylinder"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cyclinder</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehCylinder" />
            </mat-form-field> -->
          </section>
        </div>
        <div class="col-6">
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Color"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehColour"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Color</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehColour" />
              <span matSuffix><mat-icon>keyboard_arrow_down</mat-icon></span>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Fuel"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehFuel"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Fuel</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehFuel" />
              <span matSuffix><mat-icon>keyboard_arrow_down</mat-icon></span>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Transmission"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehtransmission"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Transmission</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehtransmission" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Number of Wheels"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehWheelsTtl"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Number of Wheels</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehWheelsTtl" />
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Unit Condition"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehUnitCond"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Unit Condition</mat-label>
              <textarea matInput type="text" [(ngModel)]="collateralProp.vehUnitCond"></textarea>
            </mat-form-field> -->
          </section>
          <section class="form-group">
            <ejs-textbox
              cssClass="e-outline"
              type="text"
              placeholder="Description"
              floatLabelType="Always"
              [(ngModel)]="collateralProp.vehNotes"
              required
            ></ejs-textbox>
            <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Notes</mat-label>
              <input matInput type="text" [(ngModel)]="collateralProp.vehNotes" />
            </mat-form-field> -->
          </section>
        </div>
      </div>
    </mat-card-content>
    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button (click)="save()">Save</button>
    </mat-dialog-actions>
  </mat-card>
</mat-dialog-content>
