<div *ngIf="setActiveMenu === 'COVENANT'">
  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Standard Terms & Conditions</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
            <div class="card-content">
              <jhi-credit-proposal-tab-covenant-above-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
              </jhi-credit-proposal-tab-covenant-above-previous>
            </div>
          </div>

          <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
            <div class="card-content">
              <jhi-credit-proposal-tab-covenant-below-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
              </jhi-credit-proposal-tab-covenant-below-previous>
            </div>
          </div>
          <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'">
            <div class="card-content">
              <jhi-credit-proposal-tab-covenant-back-to-back-general-previous
                [isOffering]="isOffering"
                [creditProposalItem]="creditProposalItem"
              >
              </jhi-credit-proposal-tab-covenant-back-to-back-general-previous>
            </div>
            <div class="card-content">
              <jhi-credit-proposal-tab-covenant-back-to-back-deposit-previous
                [isOffering]="isOffering"
                [creditProposalItem]="creditProposalItem"
              >
              </jhi-credit-proposal-tab-covenant-back-to-back-deposit-previous>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Other Covenant</div>
              <div class="e-card-sub-title"></div>
              <div class="card-content">
                <jhi-other-covenant-previous
                  [isOtherDeviation]="false"
                  [isOffering]="isOffering"
                  [creditProposalItem]="creditProposalItem"
                ></jhi-other-covenant-previous>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="setActiveMenu === 'DEVIATION'">
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <div class="card-content">
      <jhi-credit-proposal-deviation-above-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-deviation-above-previous>
    </div>
  </div>
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <div class="card-content">
      <jhi-credit-proposal-deviation-below-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-deviation-below-previous>
    </div>
  </div>
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <div class="card-content">
      <jhi-credit-proposal-tab-deviation-back-to-back-general-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-tab-deviation-back-to-back-general-previous>
      <jhi-credit-proposal-tab-deviation-back-to-back-deposit-previous [isOffering]="isOffering" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-tab-deviation-back-to-back-deposit-previous>
    </div>
  </div>
  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Other Deviation</div>
              <div class="e-card-sub-title"></div>
              <div class="card-content">
                <jhi-other-covenant-previous
                  [isOtherDeviation]="true"
                  [isOffering]="isOffering"
                  [creditProposalItem]="creditProposalItem"
                ></jhi-other-covenant-previous>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
