.btn-info {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: white;
  border-radius: 10px;
  width: 204px;
  height: 52px;
  background-color: #44ae04;
}
.place-button {
  margin-top: 10%;
  display: flex;
  width: 100%;
  justify-content: right;
}
.card {
  background-color: #ffff;
  display: flex;
  border: none;
}
.card-body {
  padding-left: 30px;
  padding-right: 55px;
}

.footer-button {
  width: 100%;
  display: flex;
}
