.card {
  background-color: #ffff;
  display: flex;
  border: none;
}

.card-footer {
  background-color: #ffff;
}

.card-body {
  padding-left: 30px;
  padding-right: 55px;
}

.card-header {
  background-color: #666b73;
}
/* .combo-size {
  width: 500px;
  margin: 0 auto;
} */

/* .my-panel .ui-panel-titlebar {
  background: #000000;
} */

.span-icon {
  float: right;
  margin-right: 12px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}
.e-custom {
  border-radius: 10px;
  height: 52px;
  width: 204px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 18px;
  background-color: #44ae04;
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.btn-save {
  margin-top: 10%;
  display: flex;
  width: 100%;
  justify-content: right;
}
