<section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
  <button ejs-button class="btn-info" (click)="generate()">Generate</button>
</section>
<section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
  <button ejs-button class="btn-info" (click)="generate()" disabled>Generate</button>
</section>
<section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
  <button ejs-button class="btn-info" (click)="downloadExcel()">Download Excel</button>
</section>
<section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
  <button ejs-button class="btn-info" (click)="downloadExcel()">Download Excel</button>
</section>

<div class="table-responsive-material">
  <table mat-table [dataSource]="aplicationProducts" class="w-100">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="facilityType">
      <th mat-header-cell *matHeaderCellDef>Facility Type</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.facilityType }}</td>
    </ng-container>
    <ng-container matColumnDef="tenor">
      <th mat-header-cell *matHeaderCellDef>Tenor</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.maturity }}</td>
    </ng-container>
    <ng-container matColumnDef="sublimit">
      <th mat-header-cell *matHeaderCellDef>Sublimit</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.attributes.subLimit === 'true' || element.attributes.subLimit === true; else elseBlock">Yes</span
        ><ng-template #elseBlock>No</ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="ccy">
      <th mat-header-cell *matHeaderCellDef>CCY</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.currency }}</td>
    </ng-container>
    <ng-container matColumnDef="plafond">
      <th mat-header-cell *matHeaderCellDef>Plafond</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.totalPlafond | number }}</td>
    </ng-container>
    <ng-container matColumnDef="o/s">
      <th mat-header-cell *matHeaderCellDef>O/S</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.outstanding | number }}</td>
    </ng-container>
    <ng-container matColumnDef="availableLimit">
      <th mat-header-cell *matHeaderCellDef>Available Limit</th>
      <td mat-cell *matCellDef="let i = index">{{ setAvailableLimit(i) | number }}</td>
    </ng-container>
    <ng-container matColumnDef="currentInterestRate">
      <th mat-header-cell *matHeaderCellDef>Current Interest Rate</th>
      <td mat-cell *matCellDef="let i = index">{{ setInterestRate(i) }}</td>
    </ng-container>
    <ng-container matColumnDef="ftp">
      <th mat-header-cell *matHeaderCellDef>FTP</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.ftp }}</td>
    </ng-container>
    <ng-container matColumnDef="ckpn">
      <th mat-header-cell *matHeaderCellDef>CKPN</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.ckpn }}</td>
    </ng-container>
    <ng-container matColumnDef="expectedLoss">
      <th mat-header-cell *matHeaderCellDef>Expected Loss</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.expectedLoss }}</td>
    </ng-container>
    <ng-container matColumnDef="industrySpread">
      <th mat-header-cell *matHeaderCellDef>Industry Spread</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.industrySpread }}</td>
    </ng-container>
    <ng-container matColumnDef="targetMargin">
      <th mat-header-cell *matHeaderCellDef>Target Margin</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.targetMargin }}</td>
    </ng-container>
    <ng-container matColumnDef="normalRate">
      <th mat-header-cell *matHeaderCellDef>Normal Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.normalRate }}</td>
    </ng-container>

    <ng-container matColumnDef="discountProposal">
      <th mat-header-cell *matHeaderCellDef>Discount Proposal</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.discountProposal }}</td>
    </ng-container>

    <ng-container matColumnDef="proposedRate">
      <th mat-header-cell *matHeaderCellDef>Proposed Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.proposedRate }}</td>
    </ng-container>
    <ng-container matColumnDef="typeReferenceRate">
      <th mat-header-cell *matHeaderCellDef>type Reference Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.typeReferenceRateFun }}</td>
    </ng-container>
    <ng-container matColumnDef="referenceRate">
      <th mat-header-cell *matHeaderCellDef>Reference Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.referenceRate }}</td>
    </ng-container>
    <ng-container matColumnDef="requiredSpread">
      <th mat-header-cell *matHeaderCellDef>Required Spread</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.requiredSpread }}</td>
    </ng-container>
    <ng-container matColumnDef="maturityDate">
      <th mat-header-cell *matHeaderCellDef>Maturity Date</th>
      <td mat-cell *matCellDef="let element">{{ element.attributes.maturityDate | date: 'yyyy/MM/dd' }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>
</div>
