<div class="e-sample-resize-container e-card-resize-container mt-5">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">Remarks</div>
            <div class="e-card-sub-title"></div>
            <section *ngIf="parentSource === ''">
              <section *ngIf="isElement">
                <ejs-documenteditorcontainer
                  #document_editor_container
                  [headers]="customHeadersJWT"
                  [enableToolbar]="true"
                  [enableLocalPaste]="false"
                  height="100vh"
                  style="display: block"
                  [spellcheck]="false"
                  [enableSpellCheck]="false"
                  (keyDown)="onKeyDown($event)"
                  (created)="onCreate()"
                  [enableEditor]="true"
                  [isReadOnly]="false"
                ></ejs-documenteditorcontainer>
              </section>
              <section *ngIf="isLabel">
                <ejs-documenteditorcontainer
                  #document_editor_container
                  [headers]="customHeadersJWT"
                  [enableToolbar]="false"
                  [enableLocalPaste]="false"
                  height="100vh"
                  style="display: block"
                  (documentChange)="onDocumentChange()"
                  [enableEditor]="false"
                  [isReadOnly]="true"
                ></ejs-documenteditorcontainer>
              </section>
            </section>
            <section *ngIf="parentSource === 'loan-analys'">
              <ejs-documenteditorcontainer
                #document_editor_container
                [headers]="customHeadersJWT"
                [enableToolbar]="false"
                [enableLocalPaste]="false"
                height="100vh"
                style="display: block"
                (documentChange)="onDocumentChange()"
                [enableEditor]="false"
                [isReadOnly]="true"
              ></ejs-documenteditorcontainer>
            </section>
            <section *ngIf="parentSource === 'dec-offering'">
              <ejs-documenteditorcontainer
                #document_editor_container
                [headers]="customHeadersJWT"
                [enableToolbar]="parentPath === 'dar-revision' ? true : false"
                [isReadOnly]="parentPath === 'dar-revision' ? false : true"
                [disabled]="parentPath === 'dar-revision' ? false : true"
                [enableEditor]="parentPath === 'dar-revision' ? true : false"
                [enableLocalPaste]="false"
                height="100vh"
                style="display: block"
                [spellcheck]="false"
                [enableSpellCheck]="false"
                (keyDown)="onKeyDown($event)"
                (documentChange)="onDocumentChange()"
                (created)="onCreate()"
              ></ejs-documenteditorcontainer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
