<table mat-table *ngIf="creditProposal && !loading" [dataSource]="creditProposal.attributes['businessGroup']" class="w-100">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>No</th>
    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
  </ng-container>
  <ng-container matColumnDef="bank">
    <th mat-header-cell *matHeaderCellDef>Bank</th>
    <td mat-cell *matCellDef="let element">{{ element.bank }}</td>
  </ng-container>
  <ng-container matColumnDef="limit">
    <th mat-header-cell *matHeaderCellDef>Limit</th>
    <td mat-cell *matCellDef="let element">{{ element.limit | currency: ' ':'symbol':'1.0' }}</td>
  </ng-container>
  <ng-container matColumnDef="os">
    <th mat-header-cell *matHeaderCellDef>O/S</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes['os'] | currency: ' ':'symbol':'1.0' }}</td>
  </ng-container>
  <ng-container matColumnDef="facilityType">
    <th mat-header-cell *matHeaderCellDef>Facility Type</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes['facilityType'] }}</td>
  </ng-container>
  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Rate</th>
    <td mat-cell *matCellDef="let element">{{ element.rate | number: '1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="period">
    <th mat-header-cell *matHeaderCellDef>Period</th>
    <td mat-cell *matCellDef="let element">{{ element.period }}</td>
  </ng-container>
  <ng-container matColumnDef="collateralType">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.collateralType }}</td>
  </ng-container>
  <ng-container matColumnDef="collateralValue">
    <th mat-header-cell *matHeaderCellDef>IDR Mio</th>
    <td mat-cell *matCellDef="let element">{{ element.collateralIdrMio | currency: 'IDR ':'symbol':'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="tenor">
    <th mat-header-cell *matHeaderCellDef>Tenor</th>
    <td mat-cell *matCellDef="let element">{{ element.tenor | number: '1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="lastKol">
    <th mat-header-cell *matHeaderCellDef>Kol Terakhir</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes['lastCollectablility'] }}</td>
  </ng-container>
  <ng-container matColumnDef="worseKol">
    <th mat-header-cell *matHeaderCellDef>Kol Terburuk</th>
    <td mat-cell *matCellDef="let element">{{ element.worstCollectability }}</td>
  </ng-container>
  <ng-container matColumnDef="restructureWay">
    <th mat-header-cell *matHeaderCellDef>Cara Restrukturisasi</th>
    <td mat-cell *matCellDef="let element">{{ element.restructureType }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
  </tr>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
<mat-card *ngIf="loading" id="material-loading-bar">
  <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
</mat-card>
<div align="right" class="mt-5">
  <button mat-raised-button color="success" (click)="openDialog()">ADD GROUP USAHA</button>
</div>
