<link rel="nofollow" rel="nofollow" href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.collateral.home.title">Collaterals</span>
  </h5>

  <!-- [dataSource]="items" codingan aslinya -->
  <div class="d-flex justify-content-end">
    <a class="mb-3" ejs-button [routerLink]="['./new']" [queryParams]="queryParams()" cssClass="e-success">
      <span> <fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }} </span>
    </a>
  </div>

  <ejs-grid
    #grid
    [dataSource]="items | async"
    [allowPaging]="true"
    [pageSettings]="pageSettings"
    (dataStateChange)="dataStateChange($event)"
  >
    <e-columns>
      <e-column field="indexNum" headerText="No" textAlign="left" width="100"></e-column>
      <e-column field="collateralTypeId" headerText="Collateral Type" textAlign="center" width="200"></e-column>
      <e-column field="collateralTypeDetailId" headerText="Collateral Type Detail" textAlign="center" format="C2" width="200"></e-column>
      <e-column field="location" headerText="Collateral City" textAlign="center" width="180"></e-column>
      <ng-tempate> Rp. </ng-tempate>
      <e-column field="marketValue" headerText="Market Value" textAlign="center" width="180"></e-column>
      <e-column field="statusId" headerText="Status" textAlign="center" width="150"></e-column>
      <e-column headerText="Actions" textAlign="center" width="200">
        <ng-template #template let-data>
          <button ejs-button cssClass="e-info" type="submit" [routerLink]="['/collateral', data.id, 'view']" class="submit-button">
            <fa-icon icon="eye"></fa-icon>
          </button>

          <button ejs-button cssClass="e-success" type="submit" [routerLink]="['/collateral', data.id, 'edit']" class="edit-button">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>

          <button ejs-button cssClass="e-danger" type="button" (click)="deleteItem(data.id)">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>

  <!-- <div class="wrap">
      <div class="e-input-group">
      <input class="e-input" name='input' type="text" 
      placeholder = "Enter Date" >
      <span class="e-input-group-icon e-input-popup-date"></span>
      </div>
    </div> -->

  <!-- <p-table
    [value]="collaterals"
    dataKey="id"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="rowsPerPage"    
    [first]="first"
    [totalRecords]="totalItems"
    [loading]="loading"
    [rowHover]="true"
    [lazy]="true"
    [rowTrackBy]="trackId"
    [responsive]="true"
    [stateKey]="'collaterals_grid_state'"
    (onLazyLoad)="loadDataLazy($event)"
    (onPage)="pageSizeChanged($event)"
  >
    <ng-template pTemplate="caption">
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
          <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
            <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60px; text-align: center"><span jhiTranslate="global.field.sequence">No</span></th>
        <th style="width: 130px; text-align: center"><span jhiTranslate="global.field.id">ID</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.collateral.fromDate">From Date</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.collateral.thruDate">Thru Date</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateral.collateralType">Collateral Type</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateral.party">Party</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateral.application">Application</span></th>
        <th style="width: 140px; text-align: center"><span jhiTranslate="global.field.action">Action</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: right">{{ rowIndex + 1 }}</td>
        <td style="text-align: left; width: 120px">{{ rowData.id }}</td>
        <td style="text-align: center">{{ rowData.fromDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td style="text-align: center">{{ rowData.thruDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>
          <div *ngIf="rowData.collateralTypeId">
            <a [routerLink]="['../collateral-type', rowData.collateralTypeId, 'view']">{{ rowData.collateralTypeDescription }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="rowData.partyId">
            <a [routerLink]="['../party', rowData.partyId, 'view']">{{ rowData.partyName }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="rowData.applicationId">
            <a [routerLink]="['../application', rowData.applicationId, 'view']">{{ rowData.applicationId }}</a>
          </div>
        </td>
        <td style="text-align: center">
          <button pButton type="submit" [routerLink]="['/collateral', rowData.id, 'view']" class="flat-button">
            <fa-icon icon="eye"></fa-icon>
          </button>
          <button pButton type="submit" [routerLink]="['/collateral', rowData.id, 'edit']" class="flat-button">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button pButton type="button" (click)="deleteItem(rowData.id)" class="flat-button">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table> -->
</div>
