<div class="row">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card-border">
            <ejs-grid [dataSource]="items">
              <e-columns>
                <e-column field="indexNum" headerText="No" width="150" textAlign="center"></e-column>
                <e-column field="brand" headerText="Brand" width="150" textAlign="Center"></e-column>
                <e-column field="type" headerText="Type" width="150" textAlign="Center"></e-column>
                <e-column field="bidPrice" headerText="Bid Price (Rp)" width="150" textAlign="Center"></e-column>
                <e-column field="transactionPrice" headerText="Transaction Price (Rp)" width="200" textAlign="Center"></e-column>
                <e-column field="source" headerText="Source" width="150" textAlign="Center"></e-column>
                <e-column field="phone" headerText="Phone" width="150" textAlign="Center"></e-column>
                <e-column field="titleOfPerson" headerText="Title Of Person" width="150" textAlign="Center"></e-column>
                <e-column field="notes" headerText="Notes" width="150" textAlign="Center"></e-column>
                <e-column headerText="Action" width="150" textAlign="Center">
                  <ng-template #template let-data>
                    <button pButton type="button" (click)="onEdit(data)" class="flat-button">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button" (click)="onDelete(data)" class="flat-button">
                      <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
            <div class="d-flex justify-content-end mt-3">
              <button ejs-button class="btn-info" (click)="onAdd()">Add</button>
            </div>
          </div>
        </div>
        <div class="e-card-actions"></div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog Add -->
<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayAddClick()"
  [animationSettings]="animationSettings"
  [visible]="dialogAddVisible"
  [width]="width"
  [height]="height"
>
  <!--<ng-template #header> </ng-template>-->
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          <div class="form-space">
            <ejs-textbox [(ngModel)]="brand" placeholder="Brand" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="type" placeholder="Type" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="bidPrice" placeholder="Bid Price (Rp)" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="transactionPrice" placeholder="Transaction Price (Rp)" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <div class="form-space">
            <ejs-textbox [(ngModel)]="source" placeholder="Source" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="phone" placeholder="Phone" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="titleOfPerson" placeholder="Title Of Person" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="notes" placeholder="Notes" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="d-flex justify-content-end my-2">
      <button ejs-button class="btn-info" (click)="addToGrid($event)">Add</button>
    </div>
  </ng-template>
</ejs-dialog>

<!-- Dialog Edit -->
<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayEditClick()"
  [animationSettings]="animationSettings"
  [visible]="dialogEditVisible"
  [width]="width"
  [height]="height"
>
  <!--<ng-template #header> </ng-template>-->
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row">
        <div class="row card-layout">
          <div class="e-card">
            <div class="e-card-header">
              <div class="e-card-header-caption">
                <div class="e-card-header-title"></div>
                <div class="e-card-sub-title"></div>
              </div>
            </div>
            <div class="e-card-content">
              <div class="row justify-content-between">
                <div class="col-6">
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="brand" placeholder="Brand" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="type" placeholder="Type" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="bidPrice" placeholder="Bid Price (Rp)" cssClass="e-outline" floatLabelType="Auto">
                    </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox
                      [(ngModel)]="transactionPrice"
                      placeholder="Transaction Price (Rp)"
                      cssClass="e-outline"
                      floatLabelType="Auto"
                    >
                    </ejs-textbox>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="source" placeholder="Source" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="phone" placeholder="Phone" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="titleOfPerson" placeholder="Title Of Person" cssClass="e-outline" floatLabelType="Auto">
                    </ejs-textbox>
                  </div>
                  <div class="form-space">
                    <ejs-textbox [(ngModel)]="notes" placeholder="Notes" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="e-card-actions"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
