<div class="e-card mb-3">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row">
      <div class="card-layout row">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">GROUP & GUARANTOR ANALYSIS</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <div class="e-card-content">
            <ejs-richtexteditor [(ngModel)]="this.creditProposalItem.attributes['guaranturAnalysis'].remarks" [toolbarSettings]="tools">
            </ejs-richtexteditor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
