<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title>Opinion History</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <!-- <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'"> -->
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Position</mat-label>
          <input matInput type="text" [(ngModel)]="notes.positionUserId" [disabled]="true" />
        </mat-form-field>
      </div>
      <!-- </section>  -->

      <!-- <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'"> -->
      <div class="form-group">
        <p class="e-card-sub-title">Recomendation</p>
        <div class="d-flex justify-content-around">
          <div class="mx-2">
            <ejs-radiobutton disabled [(ngModel)]="notes.recomendation" value="Recommend as propose"
              label="Recommend as propose"></ejs-radiobutton>
          </div>
          <div class="mx-2">
            <ejs-radiobutton disabled [(ngModel)]="notes.recomendation" value="Recommend With Condition"
              label="Recommend With Condition"></ejs-radiobutton>
          </div>
          <div class="mx-2">
            <ejs-radiobutton disabled [(ngModel)]="notes.recomendation" value="Not Recommend" label="Not Recommend">
            </ejs-radiobutton>
          </div>
        </div>
      </div>
      <!-- </section> -->
      <!--
      <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
         <p class="lable-form-title">Opinion: {{ notes.message }}</p>
        <div class="fontsebled row">
          <div class="col-4">Condition</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-4">{{ creditProposalItem.attributes.tempLoggedInCondition }}</div>
        </div>
      </section> -->
    </div>

    <div class="col-6">
      <!-- <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'"> -->
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput type="text" [(ngModel)]="notes.createDate" [disabled]="true" />
        </mat-form-field>
      </div>
      <!-- </section> -->
    </div>

    <mat-card>
      <p class="mb-5">
        <mat-card-subtitle>Opinion</mat-card-subtitle>
        <ejs-documenteditorcontainer #document_editor_container [enableToolbar]="false" [enableLocalPaste]="false"
          height="30vh" style="display: block" (documentChange)="onDocumentChange()" [enableEditor]="false"
          [isReadOnly]="true">
        </ejs-documenteditorcontainer>
      </p>
    </mat-card>

    <mat-card>
      <p class="mb-5">
        <mat-card-subtitle>Condition </mat-card-subtitle>
        <ejs-documenteditorcontainer #document_editor_container_condition [enableToolbar]="false"
          [enableLocalPaste]="false" height="30vh" style="display: block" (documentChange)="onDocumentChanges()"
          [enableEditor]="false" [isReadOnly]="true">
        </ejs-documenteditorcontainer>
      </p>
    </mat-card>
  </div>
</mat-dialog-content>
