.grid-index {
  background: rgba(49, 158, 152, 1);
  color: #000000;
  font-size: 15px;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}
