.grid-index {
  background: rgba(49, 158, 152, 1);
  color: #000000;
  font-size: 15px;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black;
  font-family: 'Poppins', sans-serif !important;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}

.button-styling {
  background-color: rgba(49, 158, 152, 1);
  color: #ffffff;
}

.mat-column-no {
  width: 5%;
  border-top-left-radius: 15px;
}

.mat-header-cell:last-child {
  width: 5%;
  border-top-left-radius: 15px;
}

.mat-header-cell:last-child {
  width: 10%;
  border-top-right-radius: 15px;
}

.mat-header-cell {
  font-weight: 100 !important;
  font-size: 12px;
}
