<!--<div class="container-fluid">
  <jhi-navbar></jhi-navbar>
  <mat-sidenav-container autosize class="template-container">
    <mat-sidenav
      #sidebardrawer
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      mode="over"
      [fixedBottomGap]="0"
      [opened]="sideBarVisible"
      class="sidebar-container"
    >
      <jhi-sidebar></jhi-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <!-- <jhi-footer></jhi-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>-->

<div>
  <jhi-navbar></jhi-navbar>
  <mat-sidenav-container autosize class="template-container">
    <mat-sidenav
      #sidebardrawer
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      mode="over"
      [fixedBottomGap]="0"
      [opened]="sideBarVisible"
      class="sidebar-container"
      style="min-width: 60px; background: #f3f3f3"
    >
      <jhi-sidebar></jhi-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="content-container" [@onSideNavChange]="sidebarState">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
