<mat-card *ngIf="showFilter" id="dashboard-filters" class="w-100 mb-3">
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="multi-select-containers col-xl-5 col-lg-4">
        <p-multiSelect
          [options]="proposalTypeList"
          [(ngModel)]="proposalType"
          placeholder="Proposal Type"
          display="chip"
          [filter]="false"
        ></p-multiSelect>
      </div>
      <div class="multi-select-containers col-xl-5 col-lg-4">
        <p-multiSelect [options]="segmentList" [(ngModel)]="segment" placeholder="Segment" display="chip" [filter]="false"></p-multiSelect>
      </div>
      <div class="col-auto">
        <button mat-raised-button class="button-styling" [disabled]="isLoading" (click)="applyFilters()">
          {{ isLoading ? 'Loading...' : 'Apply Filter' }}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div *ngIf="mergedChartData.length > 0" class="control-section mt-3">
  <mat-card *ngFor="let item of mergedChartData" class="my-3">
    <mat-card-header>
      <mat-card-title>{{ item.chartsTitle }}</mat-card-title>
    </mat-card-header>

    <!-- status -->
    <div calss="status-container mb-3">
      <jhi-status-slides [chartsData]="item.groupByStatus"></jhi-status-slides>
    </div>

    <!-- Charts -->
    <div *ngIf="item.accessibleMenu.length > 0">
      <jhi-charts-layout
        [chartsAvailability]="item.accessibleMenu"
        [idPosition]="this.positionId"
        [positionType]="positionTypeId"
        [applyFilter]="filterApplied"
        [proposalTypes]="proposalType"
        [segments]="segment"
        (loading)="changeLoading($event)"
      ></jhi-charts-layout>
    </div>
  </mat-card>
</div>

<mat-card id="footer" class="w-100 my-2"
  ><label>Credit Approval System of Hana Bank <br />Version 2.2.11</label></mat-card
>
