<div *ngIf="mergedChartData.length > 0" class="control-section mt-3">
  <mat-card *ngFor="let item of mergedChartData" class="my-3">
    <mat-card-header>
      <mat-card-title>{{ item.chartsTitle }}</mat-card-title>
    </mat-card-header>

    <!-- status -->
    <div calss="status-container mb-3">
      <jhi-status-slides [chartsData]="item.groupByStatus"></jhi-status-slides>
    </div>

    <!-- Charts -->
    <div *ngIf="item.accessibleMenu.length > 1">
      <jhi-charts-layout
        [chartsAvailability]="item.accessibleMenu"
        [idPosition]="this.positionId"
        [positionType]="positionTypeId"
      ></jhi-charts-layout>
    </div>
  </mat-card>
</div>

<mat-card id="footer" class="w-100 my-2"
  ><label>Credit Approval System of Hana Bank <br />Version 2.1.1</label></mat-card
>
