<!-- Status -->
<div>
  <div calss="status-container mb-3">
    <jhi-status-slides></jhi-status-slides>
  </div>

  <!-- Charts -->
  <div class="control-section mt-3">
    <div class="col-lg-8 w-100" id="dashboard_container">
      <ejs-dashboardlayout
        id="predefine_dashboard"
        #predefine_dashboard
        columns="6"
        [cellSpacing]="cellSpacing"
        [cellAspectRatio]="aspectRatio"
        [allowDragging]="false"
        [allowPushing]="false"
        [allowResizing]="false"
        [allowFloating]="false"
      >
        <e-panels>
          <!-- bar chart -->
          <e-panel [sizeX]="columnSizeX" [sizeY]="columnSizeY" [row]="0" [col]="0">
            <ng-template #header>
              <div>Chart 1</div>
              <div style="flex: 1 1 auto !important"></div>
              <!-- filter -->
              <p-dropdown id="status" [options]="status" [(ngModel)]="selectedStatus" optionLabel="statusDesc"></p-dropdown>
              <p-dropdown id="date-range" [options]="dateRange" [(ngModel)]="selectedDateRange" optionLabel="rangeDesc"></p-dropdown>
            </ng-template>
            <ng-template #content>
              <jhi-bar-chart></jhi-bar-chart>
            </ng-template>
          </e-panel>
          <!-- pie chart -->
          <e-panel [sizeX]="pieSizeX" [sizeY]="pieSizeY" [row]="0" [col]="3">
            <ng-template #header>
              Chart 2
              <div style="flex: 1 1 auto !important"></div>
              <!-- filter -->
              <p-dropdown id="status" [options]="status" [(ngModel)]="selectedStatus" optionLabel="statusDesc"></p-dropdown>
              <p-dropdown id="date-range" [options]="dateRange" [(ngModel)]="selectedDateRange" optionLabel="rangeDesc"></p-dropdown>
            </ng-template>
            <ng-template #content>
              <jhi-pie-chart></jhi-pie-chart>
            </ng-template>
          </e-panel>
          <!-- line chart -->
          <e-panel [sizeX]="splineSizeX" [sizeY]="splineSizeY" [row]="2" [col]="0">
            <ng-template #header>
              Chart 3
              <div style="flex: 1 1 auto !important"></div>
              <!-- filter -->
              <p-dropdown id="status" [options]="status" [(ngModel)]="selectedStatus" optionLabel="statusDesc"></p-dropdown>
              <p-dropdown id="date-range" [options]="dateRange" [(ngModel)]="selectedDateRange" optionLabel="rangeDesc"></p-dropdown>
            </ng-template>
            <ng-template #content>
              <jhi-line-chart></jhi-line-chart>
            </ng-template>
          </e-panel>
        </e-panels>
      </ejs-dashboardlayout>
    </div>
  </div>
  <mat-card id="footer" class="w-100 my-2"
    ><label>Credit Approval System of Hana Bank <br />Version 2.0.15</label></mat-card
  >
</div>
