<div *ngIf="pariPasu !== 'pariPasu'">
  <h2 mat-dialog-title class="sub-header">Corporate/Personal Guarantee Detail</h2>
  <div class="row">
    <!-- LEFT SIDE -->
    <div class="col-6">
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Certificate Type</mat-label>
            <mat-select [(ngModel)]="collateralProperty.attributes['certificateType']" [disabled]="dataSource()">
              <mat-option value="">Please Select</mat-option>
              <!-- <mat-option *ngFor="let item of certypicateTypeLov" [value]="item.code"> {{ item.value }} </mat-option> -->
              <mat-option *ngFor="let item of collateralDetailType" [value]="item.collateralDetailTypeCode">
                {{ item.collateralDetailTypeDescription }}
              </mat-option>
            </mat-select>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Certificate Type</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              <!-- {{ filterNameValue(collateralProperty.attributes['certificateType']) }} -->
              {{ collateralDetailTypeValue }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Certificate No</mat-label>
            <input matInput type="text" [(ngModel)]="collateralProperty.certificateNumber" [disabled]="dataSource()" />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Certificate No</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralProperty.certificateNumber }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Expiry Date</mat-label>
            <input [matDatepicker]="expiry" matInput type="text" [(ngModel)]="collateralProperty.certificateExpiryDate" disabled />
            <mat-datepicker-toggle matSuffix [for]="expiry"></mat-datepicker-toggle>
            <mat-datepicker #expiry [disabled]="dataSource()"></mat-datepicker>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Expiry Date</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralProperty.certificateExpiryDate }}
            </div>
          </div>
        </section>
      </div>
      <div class="row form-group">
        <div class="col-8">
          <section *jhiMatrixDirIDD="'input'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Guarantee Amount</mat-label>
              <input
                currencyMask
                matInput
                type="text"
                [(ngModel)]="collateralProperty.marketValueOriginalAmt"
                (ngModelChange)="amountChange()"
                [options]="logoCcy"
                [disabled]="dataSource()"
              />
              <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
            </mat-form-field>
          </section>
          <section *jhiMatrixDirIDD="''">
            <div class="fontsebled row">
              <div class="col">Guarantee Amount</div>
              <div class="col-md-auto">:</div>
              <div class="col">
                {{ collateralProperty.marketValueOriginalAmt }}
              </div>
            </div>
          </section>
        </div>
        <div class="col-4">
          <section *jhiMatrixDirIDD="'input'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ccy</mat-label>
              <input
                type="text"
                matInput
                [formControl]="myControlMVOri"
                [matAutocomplete]="autoOri"
                [(ngModel)]="MVOriCcy"
                (ngModelChange)="getMVOriCcy()"
              />
              <mat-autocomplete #autoOri="matAutocomplete" [displayWith]="displayFnMVOri">
                <mat-option *ngFor="let option of filteredOptionsMVOri | async" [value]="option">
                  {{ option.abbreviation }} - {{ option.description }}
                </mat-option>
              </mat-autocomplete>
              <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
            </mat-form-field>
          </section>
          <section *jhiMatrixDirIDD="''">
            <div class="fontsebled row">
              <div class="col">Ccy</div>
              <div class="col-md-auto">:</div>
              <div class="col">
                {{ collateralProperty.marketValueOriginalCcy }}
              </div>
            </div>
          </section>
        </div>
      </div>
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Kurs</mat-label>
          <input currencyMask matInput type="text" [(ngModel)]="currency" [options]="logoCcy" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Kurs</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ currency }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value</mat-label>
          <input currencyMask matInput type="text" [(ngModel)]="collateralProperty.marketValue" [options]="logoCcy" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Market Value</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ collateralProperty.marketValue }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Liquidation Value</mat-label>
          <input currencyMask matInput type="text" [(ngModel)]="collateralProperty.liquidationValue" [options]="logoCcy" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Liquidation Value</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ collateralProperty.liquidationValue }}
          </div>
        </div>
      </section>

      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee Identification Type</mat-label>
            <mat-select [(ngModel)]="collateralProperty.guaranteeIdType" [disabled]="dataSource()">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of guaranteeIdentification" [value]="item.code"> {{ item.value }} </mat-option>
            </mat-select>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Guarantee Identification Type</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralProperty.guaranteeIdType }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee Clasification</mat-label>
            <!-- <input matInput type="text" [(ngModel)]="collateralProperty.attributes.branch" [disabled]="dataSource()" /> -->
            <mat-select [(ngModel)]="collateralProperty.guaranteeClass" [disabled]="dataSource()">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of guaranteeClasification" [value]="item.code"> {{ item.value }} </mat-option>
            </mat-select>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Guarantee Clasification</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralProperty.guaranteeClass }}
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- RIGHT SIDE -->
    <div class="col-6">
      <div class="row form-group">
        <div class="col-6">
          <div class="w-100">
            <section *jhiMatrixDirIDD="'input'">
              <mat-form-field appearance="outline" class="w-100 pl-1" floatLabel="always">
                <mat-label>Guarantor</mat-label>
                <input
                  matInput
                  placeholder="Search cif here..."
                  type="text"
                  [(ngModel)]="collateralProperty.guarantorCif"
                  [disabled]="dataSource()"
                />
                <button matSuffix mat-icon-button aria-label="Clear" (click)="findCif()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </section>
            <section *jhiMatrixDirIDD="''">
              <div class="fontsebled row">
                <div class="col">Guarantor</div>
                <div class="col-md-auto">:</div>
                <div class="col">
                  {{ collateralProperty.guarantorCif }}
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-6">
          <div class="w-100">
            <section *jhiMatrixDirIDD="'input'">
              <mat-form-field appearance="outline" class="w-100 pl-1" floatLabel="always">
                <input matInput type="text" [(ngModel)]="guarantorName" disabled />
              </mat-form-field>
            </section>
            <section *jhiMatrixDirIDD="''">
              <div class="fontsebled row">
                <div class="col"></div>
                <div class="col-md-auto"></div>
                <div class="col">
                  {{ guarantorName }}
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee ID</mat-label>
            <input matInput type="text" [(ngModel)]="guarantorCountryId" disabled />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Guarantee ID</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ guarantorCountryId }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Credit Rating</mat-label>
            <input matInput type="text" [value]="creditRating || 'N/A'" disabled />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>

        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Credit Rating</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ creditRating || 'N/A' }}
            </div>
          </div>
        </section>
      </div>

      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Credit Rating Date</mat-label>
            <input [matDatepicker]="dateRating" matInput type="text" [(ngModel)]="creditRatingDate" disabled />
            <mat-datepicker-toggle matSuffix [for]="dateRating" disabled></mat-datepicker-toggle>
            <mat-datepicker #dateRating disabled></mat-datepicker>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Credit Rating Date</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ creditRatingDate }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Branch</mat-label>
            <mat-select [(ngModel)]="collateralProperty.attributes.branch" [disabled]="dataSource()">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of branchs" [value]="item.id"> {{ item.name }} </mat-option>
            </mat-select>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Branch</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ filterBranch(collateralProperty.attributes.branch) }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Management Branch</mat-label>
            <mat-select
              (selectionChange)="onSelectionChange($event)"
              [(ngModel)]="collateralProperty.attributes['managementBranch']"
              [disabled]="dataSource()"
            >
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of managementBranchLov" [value]="item.code"> {{ item.value }} </mat-option>
            </mat-select>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Management Branch</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ param(collateralProperty.attributes['managementBranch']) }}
            </div>
          </div>
        </section>
      </div>
      <div class="form-group">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Relation With Loan Owner</mat-label>
            <input matInput type="text" [(ngModel)]="collateralProperty.attributes.relationLoanOwner" [disabled]="dataSource()" />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">Relation With Loan Owner</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralProperty.attributes.relationLoanOwner }}
            </div>
          </div>
        </section>
      </div>
    </div>

    <label style="font-size: large">Remark</label>
    <ejs-richtexteditor
      id="iframeRTE"
      [(ngModel)]="collateralProperty.attributes.remark"
      [toolbarSettings]="tools"
      [iframeSettings]="iframe"
      [height]="height"
    >
    </ejs-richtexteditor>
  </div>
  <h2 mat-dialog-title class="sub-header">Collateral Owner</h2>
  <div *ngIf="collateral.collateralTypeId === 'CORPORATEPERSONALGUARANTEE'">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee ID</mat-label>
            <input matInput type="text" [(ngModel)]="identityId" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>LBU Code</mat-label>
            <input matInput type="text" [(ngModel)]="lbuCode" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <ejs-textbox
            placeholder="address1"
            [(ngModel)]="adress1"
            cssClass="e-outline"
            rows="3"
            [multiline]="true"
            floatLabelType="Auto"
            [maxlength]="100"
            disabled
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput type="text" [(ngModel)]="country" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Province</mat-label>
            <input matInput type="text" [(ngModel)]="province" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput type="text" [(ngModel)]="city" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>District</mat-label>
            <input matInput type="text" [(ngModel)]="district" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Village</mat-label>
            <input matInput type="text" [(ngModel)]="village" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Kode Pos</mat-label>
            <input matInput type="text" [(ngModel)]="kodePos" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<!--pariPasu-->

<div *ngIf="pariPasu === 'pariPasu'">
  <h2 mat-dialog-title class="sub-header">Corporate/Personal Guarantee Detail</h2>
  <div class="row">
    <!-- LEFT SIDE -->
    <div class="col-6">
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Certificate Type</mat-label>
          <mat-select [(ngModel)]="collateralProperty.attributes['certificateType']" disabled>
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of certypicateTypeLov" [value]="item.code"> {{ item.value }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Certificate No</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.certificateNumber" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Expiry Date</mat-label>
          <input [matDatepicker]="expiry" matInput type="text" [(ngModel)]="collateralProperty.certificateExpiryDate" disabled />
          <mat-datepicker-toggle matSuffix [for]="expiry"></mat-datepicker-toggle>
          <mat-datepicker #expiry [disabled]="dataSource()"></mat-datepicker>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="row form-group">
        <div class="col-8">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee Amount</mat-label>
            <input
              currencyMask
              matInput
              type="text"
              [(ngModel)]="collateralProperty.marketValueOriginalAmt"
              (ngModelChange)="amountChange()"
              [options]="logoCcy"
              disabled
            />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ccy</mat-label>
            <input
              type="text"
              matInput
              [formControl]="myControlMVOri"
              [matAutocomplete]="autoOri"
              [(ngModel)]="MVOriCcy"
              (ngModelChange)="getMVOriCcy()"
              disabled
            />
            <mat-autocomplete #autoOri="matAutocomplete" [displayWith]="displayFnMVOri" disabled>
              <mat-option *ngFor="let option of filteredOptionsMVOri | async" [value]="option" disabled>
                {{ option.abbreviation }} - {{ option.description }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Kurs</mat-label>
        <input currencyMask matInput type="text" [(ngModel)]="currency" [options]="logoCcy" disabled />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Market Value</mat-label>
        <input currencyMask matInput type="text" [(ngModel)]="collateralProperty.marketValue" [options]="logoCcy" disabled />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Liquidation Value</mat-label>
        <input currencyMask matInput type="text" [(ngModel)]="collateralProperty.liquidationValue" [options]="logoCcy" disabled />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>

      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Guarantee Identification Type</mat-label>
          <mat-select [(ngModel)]="collateralProperty.guaranteeIdType" disabled>
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of guaranteeIdentification" [value]="item.code"> {{ item.value }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Guarantee Clasification</mat-label>
          <!-- <input matInput type="text" [(ngModel)]="collateralProperty.attributes.branch" [disabled]="dataSource()" /> -->
          <mat-select [(ngModel)]="collateralProperty.guaranteeClass" disabled>
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of guaranteeClasification" [value]="item.code"> {{ item.value }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <!-- RIGHT SIDE -->
    <div class="col-6">
      <div class="row form-group">
        <div class="col-6">
          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100 pl-1" floatLabel="always">
              <mat-label>Guarantor</mat-label>
              <input matInput placeholder="Search cif here..." type="text" [(ngModel)]="collateralProperty.guarantorCif" disabled />
              <button matSuffix mat-icon-button aria-label="Clear" (click)="findCif()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="w-100">
            <mat-form-field appearance="outline" class="w-100 pl-1" floatLabel="always">
              <input matInput type="text" [(ngModel)]="guarantorName" disabled />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Guarantee ID</mat-label>
          <input matInput type="text" [(ngModel)]="guarantorCountryId" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field *ngIf="creditRating === null" class="w-100" appearance="outline">
          <mat-label>Credit Rating</mat-label>
          <input matInput type="text" value="N/A" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="creditRating !== null" class="w-100" appearance="outline">
          <mat-label>Credit Rating</mat-label>
          <input matInput type="text" [(ngModel)]="creditRating" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Credit Rating Date</mat-label>
          <input [matDatepicker]="dateRating" matInput type="text" [(ngModel)]="creditRatingDate" disabled />
          <mat-datepicker-toggle matSuffix [for]="dateRating" disabled></mat-datepicker-toggle>
          <mat-datepicker #dateRating disabled></mat-datepicker>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Branch</mat-label>
          <mat-select [(ngModel)]="collateralProperty.attributes.branch" disabled>
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of branchs" [value]="item.id"> {{ item.name }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Management Branch</mat-label>
          <mat-select
            (selectionChange)="onSelectionChange($event)"
            [(ngModel)]="collateralProperty.attributes['managementBranch']"
            disabled
          >
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of managementBranchLov" [value]="item.code"> {{ item.value }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Relation With Loan Owner</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.attributes.relationLoanOwner" disabled />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <label style="font-size: large">Remark</label>
    <ejs-richtexteditor
      id="iframeRTE"
      [(ngModel)]="collateralProperty.attributes.remark"
      [toolbarSettings]="tools"
      [iframeSettings]="iframe"
      [height]="height"
      [disabled]="true"
    >
    </ejs-richtexteditor>
  </div>
  <h2 mat-dialog-title class="sub-header">Collateral Owner</h2>
  <div *ngIf="collateral.collateralTypeId === 'CORPORATEPERSONALGUARANTEE'">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Guarantee ID</mat-label>
            <input matInput type="text" [(ngModel)]="identityId" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>LBU Code</mat-label>
            <input matInput type="text" [(ngModel)]="lbuCode" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <ejs-textbox
            placeholder="address1"
            [(ngModel)]="adress1"
            cssClass="e-outline"
            rows="3"
            [multiline]="true"
            floatLabelType="Auto"
            [maxlength]="100"
            disabled
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput type="text" [(ngModel)]="country" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Province</mat-label>
            <input matInput type="text" [(ngModel)]="province" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput type="text" [(ngModel)]="city" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>District</mat-label>
            <input matInput type="text" [(ngModel)]="district" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Village</mat-label>
            <input matInput type="text" [(ngModel)]="village" disabled />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Kode Pos</mat-label>
            <input matInput type="text" [(ngModel)]="kodePos" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
