<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Collateral Detail Type</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.collateralDetailType" [disabled]="dataSource()">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of collateralDetailType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Quantity Size</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.total" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.quantitySizeUomId" [disabled]="dataSource()">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of areaMeasure" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Guarantee Amount</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.attributes.amount" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.amountUomId" [disabled]="dataSource()">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of currencies" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.marketValue" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.marketValueUomId" [disabled]="dataSource()">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of currencies" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Collateral Detail Type</mat-label>
          <mat-select [(ngModel)]="collateralProperty.attributes.guaranteeType">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of guaranteeType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Guarantee Coverage</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.guaranteeCoverage" [disabled]="dataSource()" />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Certificate No</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.guaranteeCertNumber" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Certificate Expiry Date</mat-label>
        <input
          [matDatepicker]="guaranteeCertDate"
          matInput
          type="text"
          [(ngModel)]="collateralProperty.attributes.certificateExpiryDate"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="guaranteeCertDate"></mat-datepicker-toggle>
        <mat-datepicker #guaranteeCertDate [disabled]="dataSource()"></mat-datepicker>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <!-- <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Certificate Expiry Date</mat-label>
          <input
            [matDatepicker]="guaranteeCertExpiry"
            matInput
            type="text"
            [(ngModel)]="collateralProperty.attributes.guaranteeCertExpiry"
            disabled
          />
          <mat-datepicker-toggle matSuffix [for]="guaranteeCertExpiry"></mat-datepicker-toggle>
          <mat-datepicker #guaranteeCertExpiry disabled="false"></mat-datepicker>
        </mat-form-field>
      </div> -->
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Requisition Expiry Date</mat-label>
        <input
          [matDatepicker]="guaranteeRequisitionExpiry"
          matInput
          type="text"
          [(ngModel)]="collateralProperty.attributes.requisitionExpiry"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="guaranteeRequisitionExpiry"></mat-datepicker-toggle>
        <mat-datepicker #guaranteeRequisitionExpiry [disabled]="dataSource()"></mat-datepicker>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Management Branch</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.managementBranch" [disabled]="dataSource()">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of managementBranch | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <div class="col-6">
    <!-- <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Country</mat-label>
          <mat-select [(ngModel)]="collateralProperty.attributes.guaranteeCountry">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of countries" [value]="item.id"> {{ item.abbreviation }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    <!-- <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.attributes.guaranteeAddress" />
        </mat-form-field>
      </div> -->
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issuer Customer</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issuerCustomer" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>BIS Col Detail Type</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.bisColDetailType" [disabled]="dataSource()">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of guaranteeBisColDetailType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issuing Instituion</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issuingInstitusi" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Iss Inst BIC Code</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issInstBic" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>L/G Applicant</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.lGApp" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Approved Credit Line</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.attributes.approvedCreditLine" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.approvedCreditLineCcy" [disabled]="dataSource()">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of currencies" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Account Officer</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.accountOfficer" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Characteristic Of Collateral</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.attributes.charCollateral" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.charCollateralUom" [disabled]="dataSource()">
            <mat-option value="">Please Select</mat-option>
            <mat-option value="eligible">Eligible</mat-option>
            <mat-option value="non_eligible">Non Eligible</mat-option>
          </mat-select>
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Branch</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.branch" [disabled]="dataSource()" />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
