<h2 mat-dialog-title class="sub-header">General</h2>
<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Collateral Detail Type</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.collateralDetailType">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of collateralDetailType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Collateral Address</mat-label>
        <textarea matInput [(ngModel)]="collateralProperty.attributes.collateralAddress"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Kode Pos</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.postalCode">
          <mat-option value="">Please Select</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Kelurahan</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.village">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of villages" [value]="item.id"> {{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Kecamatan</mat-label>
        <mat-select (selectionChange)="loadVillage($event)" [(ngModel)]="collateralProperty.attributes.district">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of districts" [value]="item.id"> {{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Kabupaten / Kotamadya</mat-label>
        <mat-select (selectionChange)="loadDistrict($event)" [(ngModel)]="collateralProperty.attributes.city">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of cities" [value]="item.id"> {{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Provinsi</mat-label>
        <mat-select (selectionChange)="loadCity($event)" [(ngModel)]="collateralProperty.attributes.province">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of provinces" [value]="item.id"> {{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Management Branch</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.managementBranch" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Branch</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.branch" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="collateralProperty.attributes.amount" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Approved Credit Line</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.approvedCreditLine" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Deposit BIC Code</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.depositBicCode" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>BIS Col Detail Type</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.guaranteeType">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of guaranteeType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Contract Amount</mat-label>
        <input matInput type="number" [(ngModel)]="collateralProperty.attributes.contractAmount" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Debit Block</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.debitBlock">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of debitBlock | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Custodian</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.custodian" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Installment Time</mat-label>
        <input matInput type="number" [(ngModel)]="collateralProperty.attributes.installMentTime" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issuer</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issuer" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issue Date</mat-label>
        <input [matDatepicker]="issueDate" matInput type="text" [(ngModel)]="collateralProperty.attributes.issueDate" disabled />
        <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
        <mat-datepicker #issueDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issuing Instituion</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issuingInstitusi" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Issuer Customer</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issuerCustomer" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Security Name</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.securityName" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Total Face Amount</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.totalFaceAmount" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Unit Face Amount</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.unitFaceAmount" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Adress</mat-label>
      <textarea matInput [(ngModel)]="collateralProperty.attributes.address" style="height: 50px"></textarea>
    </mat-form-field>
  </div>
  <!-- RIGHT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Account Customer</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.accountCustomer" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Account Number</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.certificateNumber" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Developer / Project Name</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.develover" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Developer Subsidy Status</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.developerSubsidyStatus">
          <mat-option value="">Please Select</mat-option>
          <mat-option value="yes">Yes</mat-option>
          <mat-option value="no">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-8">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Quantity Size</mat-label>
            <input matInput type="number" [(ngModel)]="collateralProperty.total" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="collateralProperty.attributes.quantitySizeUomId">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of areaMeasure" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Appraisal Date Internal</mat-label>
          <input
            [matDatepicker]="realestateAppraisalDateInternal"
            matInput
            type="text"
            [(ngModel)]="collateralProperty.appraisalDateInternal"
            disabled
          />
          <mat-datepicker-toggle matSuffix [for]="realestateAppraisalDateInternal"> </mat-datepicker-toggle>
          <mat-datepicker #realestateAppraisalDateInternal disabled="false"></mat-datepicker>
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- market value general -->
      <div class="form-group" *ngIf="detailType === 'general'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value Internal / External</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.propertyMarketValue" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- market value vehicle -->
      <div class="form-group" *ngIf="detailType === 'vehicle'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value Internal / External</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.vehicleMarketValue" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- market value machine -->
      <div class="form-group" *ngIf="detailType === 'machine'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value Internal / External</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.machineMarketValue" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value (IMB) Internal / External</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.propertyMarketValueIMB" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value (Tata Kota)</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.propertyMarketValueTataKota" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- percentage value general -->
      <div class="form-group" *ngIf="detailType === 'general'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Percentage</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.propertyPercentage" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- percentage value vehicle -->
      <div class="form-group" *ngIf="detailType === 'vehicle'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Percentage</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.vehiclePercentage" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <!-- percentage value machine -->
      <div class="form-group" *ngIf="detailType === 'machine'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Percentage</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.machinePercentage" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Appraisal Date Independent</mat-label>
          <input
            [matDatepicker]="realestateAppraisalDateIndependent"
            matInput
            type="text"
            [(ngModel)]="collateralProperty.appraisalDateExternal"
            disabled
          />
          <mat-datepicker-toggle matSuffix [for]="realestateAppraisalDateIndependent"> </mat-datepicker-toggle>
          <mat-datepicker #realestateAppraisalDateIndependent disabled="false"></mat-datepicker>
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Instituion of Independent</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.appraisalExternalPartner" disabled />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Market Value (Independent)</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.attributes.marketValueIndependent" disabled />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Appraisal Value (IMB) Independent</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.attributes.appraisalValueIMBIndependent" disabled />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Account Officer</mat-label>
          <input matInput type="text" [(ngModel)]="collateralProperty.attributes.accountOfficer" />
          <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
      <div class="row form-group">
        <div class="col-8">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Characteristic Of Collateral</mat-label>
            <input matInput type="text" [(ngModel)]="collateralProperty.attributes.charCollateral" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [(ngModel)]="collateralProperty.attributes.charCollateralUom">
              <mat-option value="">Please Select</mat-option>
              <mat-option value="eligible">Eligible</mat-option>
              <mat-option value="non_eligible">Non Eligible</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-8">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Guarantee Amount</mat-label>
          <input matInput type="number" [(ngModel)]="collateralProperty.attributes.guaranteeAmount" />
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select [(ngModel)]="collateralProperty.attributes.guaranteeAmountUomId">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of currencies" [value]="item.id"> {{ item.abbreviation }} - {{ item.description }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Guarantee Coverage</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.guaranteeCoverage" />
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Guarantee Type</mat-label>
        <mat-select [(ngModel)]="collateralProperty.attributes.guaranteeType">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of guaranteeType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Iss Inst BIC Code</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.issInstBic" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>L/G Applicant</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.lGApp" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Maturity Date</mat-label>
        <input [matDatepicker]="maturityDate" matInput type="text" [(ngModel)]="collateralProperty.attributes.maturityDate" disabled />
        <mat-datepicker-toggle matSuffix [for]="maturityDate"></mat-datepicker-toggle>
        <mat-datepicker #maturityDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Monthly Installment Amount</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.montlyInstallmentAmount" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Opening Date</mat-label>
        <input [matDatepicker]="certCreatedDate" matInput type="text" [(ngModel)]="collateralProperty.attributes.openingDate" disabled />
        <mat-datepicker-toggle matSuffix [for]="certCreatedDate"></mat-datepicker-toggle>
        <mat-datepicker #certCreatedDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Reference No</mat-label>
        <input matInput type="text" [(ngModel)]="collateralProperty.attributes.referenceNumber" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Requisition Expiry Date</mat-label>
        <input
          [matDatepicker]="guaranteeRequisitionExpiry"
          matInput
          type="text"
          [(ngModel)]="collateralProperty.attributes.requisitionExpiry"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="guaranteeRequisitionExpiry"></mat-datepicker-toggle>
        <mat-datepicker #guaranteeRequisitionExpiry disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Remark</mat-label>
      <textarea matInput [(ngModel)]="collateralProperty.attributes.remark" style="height: 100px"></textarea>
    </mat-form-field>
  </div>
</div>
