<section *ngIf="source === ''">
  <div class="row">
    <div *ngIf="creditProposal.attributes['proposalType'] === '' || creditProposal.attributes['proposalType'] === null">
      <h2 style="font-weight: 30px">- Please Select Proposal Type -</h2>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <ejs-menu
        [hidden]="view"
        *ngIf="isViewMode === false || customPath === true"
        [enableScrolling]="true"
        cssClass="e-rounded-menu e-custom-scroll"
        [items]="menuItems"
        (select)="selectMenuItem($event)"
      ></ejs-menu>
      <div *ngIf="selectedMenu === 'INFORMATION'">
        <jhi-above-grid
          [isViewMode]="isViewMode"
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [parentSource]="parentSource"
        ></jhi-above-grid>
        <div *ngIf="!textBoxHidden">
          <jhi-binding-value-information
            [creditProposal]="creditProposal"
            [collateralSummaryData]="collateralSummaryData"
          ></jhi-binding-value-information>
          <div class="form-group" *ngIf="hiddenField()">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Binding Value Note</mat-label>
              <textarea
                matInput
                style="height: 200px"
                [(ngModel)]="creditProposal.attributes['bindingValueNote']"
                [disabled]="field"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="takeOutCompare !== true">
          <jhi-credit-proposal-collateral-info-remarks-information
            #creditProposalCollateralInfoRemarksInfoComponentAbove
            [creditProposal]="creditProposal"
            [parentSource]="parentSource"
          >
          </jhi-credit-proposal-collateral-info-remarks-information>
        </div>
      </div>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <div *ngIf="selectedMenu === 'CHECKLIST'">
        <div class="card-content">
          <jhi-credit-proposal-collateral-info-checklist [isViewMode]="isViewMode" [creditProposal]="creditProposal">
          </jhi-credit-proposal-collateral-info-checklist>
          <div *ngIf="takeOutCompare !== true">
            <jhi-credit-proposal-collateral-info-remarks-checklist
              #creditProposalCollateralInfoRemarksCheckComponent
              [creditProposal]="creditProposal"
              [parentSource]="parentSource"
            >
            </jhi-credit-proposal-collateral-info-remarks-checklist>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <div *ngIf="selectedMenu === 'SUMMARY'">
        <div class="card-content">
          <jhi-summary-grid
            [creditProposal]="creditProposal"
            [collateralProperties]="collateralProperties"
            [group]="'group'"
          ></jhi-summary-grid>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <ejs-menu
      [hidden]="view"
      *ngIf="isViewMode === false || customPath === true"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItemx"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div *ngIf="selectedMenu === 'INFORMATION'">
      <jhi-bellow-grid
        [isViewMode]="isViewMode"
        [creditProposal]="creditProposal"
        [collateralProperties]="collateralProperties"
        [parentSource]="parentSource"
      ></jhi-bellow-grid>
      <div *ngIf="!textBoxHidden">
        <jhi-binding-value-information
          [creditProposal]="creditProposal"
          [collateralSummaryData]="collateralSummaryData"
        ></jhi-binding-value-information>
      </div>
      <div class="form-group" *ngIf="!hiddenField()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Binding Value Note</mat-label>
          <textarea
            matInput
            style="height: 200px"
            [(ngModel)]="creditProposal.attributes['bindingValueNote']"
            [disabled]="field"
          ></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="takeOutCompare !== true">
        <jhi-credit-proposal-collateral-info-remarks-information
          #creditProposalCollateralInfoRemarksInfoComponentBelow
          [creditProposal]="creditProposal"
          [parentSource]="parentSource"
        >
        </jhi-credit-proposal-collateral-info-remarks-information>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <div *ngIf="selectedMenu === 'CHECKLIST'">
      <div class="card-content">
        <jhi-credit-proposal-collateral-info-checklist [isViewMode]="isViewMode" [creditProposal]="creditProposal">
        </jhi-credit-proposal-collateral-info-checklist>
        <div *ngIf="takeOutCompare !== true">
          <jhi-credit-proposal-collateral-info-remarks-checklist #creditProposalCollateralInfoRemarksCheckComponent
            [creditProposal]="creditProposal" [parentSource]="parentSource">
          </jhi-credit-proposal-collateral-info-remarks-checklist>
        </div>
      </div>
    </div>
  </div> -->
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid>
      </div>
    </div>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <ejs-menu
      [hidden]="view"
      *ngIf="isViewMode === false || customPath === true"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItemx"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div *ngIf="selectedMenu === 'INFORMATION'">
      <jhi-credit-proposal-collateral-info-btb
        [isViewMode]="isViewMode"
        [creditProposal]="creditProposal"
        [collateralProperties]="collateralProperties"
        [parentSource]="parentSource"
      >
      </jhi-credit-proposal-collateral-info-btb>
      <div *ngIf="!textBoxHidden">
        <jhi-binding-value-information
          [creditProposal]="creditProposal"
          [collateralSummaryData]="collateralSummaryData"
        ></jhi-binding-value-information>
      </div>
      <div class="form-group" *ngIf="hiddenField()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Binding Value Note</mat-label>
          <textarea
            matInput
            style="height: 200px"
            [(ngModel)]="creditProposal.attributes['bindingValueNote']"
            [disabled]="field"
          ></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="takeOutCompare !== true">
        <jhi-credit-proposal-collateral-info-remarks-information
          #creditProposalCollateralInfoRemarksInfoComponentBtb
          [creditProposal]="creditProposal"
          [parentSource]="parentSource"
        >
        </jhi-credit-proposal-collateral-info-remarks-information>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <div *ngIf="selectedMenu === 'CHECKLIST'">
      <div class="card-content">
        <jhi-credit-proposal-collateral-info-checklist [isViewMode]="isViewMode" [creditProposal]="creditProposal">
        </jhi-credit-proposal-collateral-info-checklist>
        <div *ngIf="takeOutCompare !== true">
          <jhi-credit-proposal-collateral-info-remarks-checklist #creditProposalCollateralInfoRemarksCheckComponent
            [creditProposal]="creditProposal" [parentSource]="parentSource">
          </jhi-credit-proposal-collateral-info-remarks-checklist>
        </div>
      </div>
    </div>
  </div> -->
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid-btb
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid-btb>
      </div>
    </div>
  </div>
</section>

<section *ngIf="source === 'summaryAll'">
  <div class="row">
    <div *ngIf="creditProposal.attributes['proposalType'] === '' || creditProposal.attributes['proposalType'] === null">
      <h2 style="font-weight: 30px">- Please Select Proposal Type -</h2>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <ejs-menu
        [hidden]="view"
        *ngIf="isViewMode === false || customPath === true"
        [enableScrolling]="true"
        cssClass="e-rounded-menu e-custom-scroll"
        [items]="menuItems"
        (select)="selectMenuItem($event)"
      ></ejs-menu>
      <div *ngIf="selectedMenu === 'INFORMATION'">
        <jhi-above-grid
          [isViewMode]="isViewMode"
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [parentSource]="parentSource"
        ></jhi-above-grid>
        <div *ngIf="!textBoxHidden">
          <jhi-binding-value-information
            [creditProposal]="creditProposal"
            [collateralSummaryData]="collateralSummaryData"
          ></jhi-binding-value-information>
        </div>
      </div>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <div *ngIf="selectedMenu === 'CHECKLIST'">
        <div class="card-content">
          <jhi-credit-proposal-collateral-info-checklist
            #creditProposalCollateralInfoChecklistComponent
            [isViewMode]="isViewMode"
            [creditProposal]="creditProposal"
          >
          </jhi-credit-proposal-collateral-info-checklist>
        </div>
      </div>
    </div>
    <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
      <div *ngIf="selectedMenu === 'SUMMARY'">
        <div class="card-content">
          <jhi-summary-grid
            [creditProposal]="creditProposal"
            [collateralProperties]="collateralProperties"
            [group]="'group'"
          ></jhi-summary-grid>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <ejs-menu
      [hidden]="view"
      *ngIf="isViewMode === false || customPath === true"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItemx"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div *ngIf="selectedMenu === 'INFORMATION'">
      <jhi-bellow-grid
        [isViewMode]="isViewMode"
        [creditProposal]="creditProposal"
        [collateralProperties]="collateralProperties"
        [parentSource]="parentSource"
      ></jhi-bellow-grid>
      <div *ngIf="!textBoxHidden">
        <jhi-binding-value-information
          [creditProposal]="creditProposal"
          [collateralSummaryData]="collateralSummaryData"
        ></jhi-binding-value-information>
      </div>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid>
      </div>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <ejs-menu
      [hidden]="view"
      *ngIf="isViewMode === false || customPath === true"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItemx"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div *ngIf="selectedMenu === 'INFORMATION'">
      <jhi-credit-proposal-collateral-info-btb
        [isViewMode]="isViewMode"
        [creditProposal]="creditProposal"
        [collateralProperties]="collateralProperties"
        [parentSource]="parentSource"
      >
      </jhi-credit-proposal-collateral-info-btb>
      <div *ngIf="!textBoxHidden">
        <jhi-binding-value-information
          [creditProposal]="creditProposal"
          [collateralSummaryData]="collateralSummaryData"
        ></jhi-binding-value-information>
      </div>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid-btb
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid-btb>
      </div>
    </div>
  </div>
</section>
