<div class="row">
  <div *ngIf="creditProposal.attributes['proposalType'] === '' || creditProposal.attributes['proposalType'] === null">
    <h2 style="font-weight: 30px">- Please Select Proposal Type -</h2>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bn'">
    <ejs-menu
      [hidden]="view"
      *ngIf="isViewMode === false"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItems"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div [hidden]="selectedMenu === 'CHECKLIST'">
      <jhi-above-grid [isViewMode]="isViewMode" [creditProposal]="creditProposal"></jhi-above-grid>
      <jhi-credit-proposal-collateral-info-remarks-information
        #creditProposalCollateralInfoRemarksInfoComponent
        [saveWord]="saveWord"
        [creditProposal]="creditProposal"
      >
      </jhi-credit-proposal-collateral-info-remarks-information>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bn'">
    <div *ngIf="selectedMenu === 'CHECKLIST'">
      <div class="card-content">
        <jhi-credit-proposal-collateral-info-checklist [hidden]="isViewMode == true" [creditProposal]="creditProposal">
        </jhi-credit-proposal-collateral-info-checklist>
        <jhi-credit-proposal-collateral-info-remarks-checklist
          #creditProposalCollateralInfoRemarksCheckComponent
          [saveWord]="saveWord"
          [creditProposal]="creditProposal"
        >
        </jhi-credit-proposal-collateral-info-remarks-checklist>
      </div>
    </div>
  </div>
</div>

<div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bn'">
  <jhi-bellow-grid [isViewMode]="isViewMode" [creditProposal]="creditProposal"></jhi-bellow-grid>
  <jhi-credit-proposal-collateral-info-remarks-information
    #creditProposalCollateralInfoRemarksInfoComponent
    [saveWord]="saveWord"
    [creditProposal]="creditProposal"
  >
  </jhi-credit-proposal-collateral-info-remarks-information>
</div>

<div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
  <jhi-credit-proposal-collateral-info-btb
    [isViewMode]="isViewMode"
    [creditProposal]="creditProposal"
  ></jhi-credit-proposal-collateral-info-btb>
  <jhi-credit-proposal-collateral-info-remarks-information
    #creditProposalCollateralInfoRemarksInfoComponent
    [saveWord]="saveWord"
    [creditProposal]="creditProposal"
  >
  </jhi-credit-proposal-collateral-info-remarks-information>
</div>
