<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title">Facility Detail</h2>
<mat-dialog-content>
  <div class="row justify-content-between">
    <div class="col-6">
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Account</mat-label>
            <input [(ngModel)]="applicationProduct.attributes['loanAccount']" matInput type="text" disabled />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Loan Account</div>
          <div class="col-md-auto">:</div>
          <div class="col">{{ applicationProduct.attributes['loanAccount'] }}</div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Index Facility</mat-label>
            <input matInput type="text" [(ngModel)]="applicationProduct.attributes['nomorUrutFasilitas']" disabled />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Index Facility</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['nomorUrutFasilitas'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Application Type</mat-label>
            <mat-select
              [(ngModel)]="applicationProduct.attributes['applicationType']"
              name="facilityType"
              (selectionChange)="applicationTypeChange($event)"
            >
              <mat-option *ngFor="let item of listOfValue.applicationTypeList" [value]="item">{{ item }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Application Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['applicationType'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Facility Type</mat-label>
            <input
              type="text"
              placeholder="Pick One"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [(ngModel)]="applicationProduct.attributes['facilityType']"
              (ngModelChange)="berubah($event)"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <mat-select [(ngModel)]="applicationProduct.attributes['facilityType']" name="facilityType" (ngModelChange)="berubah($event)"> -->
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let option of listFacicility" [value]="option.label">
                {{ option.label }}
              </mat-option>
              <!-- </mat-select> -->
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Facility Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['facilityType'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Type</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['loanType']" [disabled]="statusFacilityDisabled">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of listLoanType" [value]="item.label">
                {{ item.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Loan Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['loanType'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div [hidden]="facilityType === 'OD'" class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Installment Method</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['installmentMethod']" name="facilityType">
              <mat-option *ngFor="let item of listOfValue.installmentMethodList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div [hidden]="facilityType === 'OD'" class="fontsebled row py-1">
          <div class="col-3">Installment Method</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['installmentMethod'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Tenor</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['maturity']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['maturityPeriodType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Tenor</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['maturity'] }}
          </div>
        </div>
        <div class="fontsebled row">
          <div class="col-3">Period Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['maturityPeriodType'] }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Maturity Date</mat-label>
            <input
              [matDatepicker]="bindingDate"
              [formControl]="date"
              matInput
              [(ngModel)]="applicationProduct.attributes['maturityDate']"
            />
            <mat-datepicker-toggle matSuffix [for]="bindingDate"></mat-datepicker-toggle>
            <mat-datepicker #bindingDate></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Maturity Date</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['maturityDate'] | date: 'yyyy/MM/dd' }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-3" style="padding: 1rem">
              <mat-checkbox
                [(ngModel)]="applicationProduct.attributes['subLimit']"
                (ngModelChange)="changeSublimitCheck()"
                [disabled]="disButtonSub"
                >Sub-Limit</mat-checkbox
              >
            </div>
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Sublimit From Existing Facility</mat-label>
                <mat-select
                  [(ngModel)]="applicationProduct.attributes['sublimitFromExistingFacility']"
                  [disabled]="applicationProduct.attributes['subLimit'] !== true"
                  (ngModelChange)="changeSublimit($event)"
                >
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of labelSublimit" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Index Facility Main</mat-label>
                <mat-select
                  [(ngModel)]="applicationProduct.attributes['indexFacilityMain']"
                  [disabled]="applicationProduct.attributes['sublimitFromExistingFacility'] === ''"
                >
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of lovIndex" [value]="item.index">
                    {{ item.index }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Sub-Limit</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ printElement(applicationProduct.attributes['subLimit']) }}
          </div>
        </div>
        <div class="fontsebled row">
          <div class="col-3">Sublimit From Existing Facility</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['sublimitFromExistingFacility'] }}
          </div>
        </div>
        <div class="fontsebled row">
          <div class="col-3">Index Facility Main</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['indexFacilityMain'] }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row mb-2">
            <label>Comitted Line:</label>
          </div>
          <div class="row">
            <!-- <div class="col-4">
              <ejs-radiobutton value="un-commited" name="commitedLine" label="Un-Comitted Line" [disabled]="detailStats"
                [checked]="unComitted"></ejs-radiobutton>
            </div>
            <div class="col-4">
              <ejs-radiobutton value="commited" [(ngModel)]="applicationProduct.attributes['commitedLine']"
                name="commitedLine" label="Comitted" [disabled]="detailStats"
                [checked]="applicationProduct.attributes['commitedLine']"></ejs-radiobutton>
            </div> -->
            <mat-radio-group aria-label="Comitted Line" [(ngModel)]="applicationProduct.attributes['commitedLine']">
              <mat-radio-button [value]="uncom">Un-Comitted Line</mat-radio-button>
              <mat-radio-button [value]="com" [checked]="applicationProduct.attributes['commitedLine']">Comitted </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Comitted Line</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ printElement(applicationProduct.attributes['commitedLine']) }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['currency']" (ngModelChange)="chnageCurrency($event)">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of listOfValue.currencyList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Currency</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['currency'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Kurs</mat-label>
            <input matInput type="number" [value]="currencyName" readonly />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Kurs</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['kurs'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Initial Limit</mat-label>
            <div *ngIf="conCcy; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock
              ><input
                currencyMask
                matInput
                type="text"
                [(ngModel)]="applicationProduct.attributes['initialLimit']"
                [options]="logoCcy"
                [disabled]="statusFacilityDisabled"
            /></ng-template>
            <ng-template #elseBlock>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['initialLimit']" [disabled]="statusFacilityDisabled" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Initial Limit</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['initialLimit'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Outstanding</mat-label>
            <div *ngIf="conCcy; then a; else b"></div>
            <ng-template #a>
              <input
                currencyMask
                matInput
                type="text"
                [(ngModel)]="applicationProduct.attributes['outstanding']"
                [options]="logoCcy"
                [disabled]="statusFacilityDisabled"
              />
            </ng-template>
            <ng-template #b>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['outstanding']" [disabled]="statusFacilityDisabled" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Outstanding</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['outstanding'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date O/S</mat-label>
            <input [matDatepicker]="piker" [formControl]="date" matInput [(ngModel)]="applicationProduct.attributes['dateOS']" disabled />
            <mat-datepicker-toggle matSuffix [for]="piker"></mat-datepicker-toggle>
            <mat-datepicker #piker></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Date O/S</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['dateOS'] | date: 'yyyy/MM/dd' }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Changes</mat-label>
            <div *ngIf="conCcy; then c; else d"></div>
            <ng-template #c>
              <input currencyMask matInput type="text" [(ngModel)]="applicationProduct.attributes['changes']" [options]="logoCcy" />
            </ng-template>
            <ng-template #d>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['changes']" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Changes</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['changes'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Total Plafond</mat-label>
            <div *ngIf="conCcy; then e; else f"></div>
            <ng-template #e>
              <input
                currencyMask
                matInput
                type="text"
                [(ngModel)]="applicationProduct.attributes['totalPlafond']"
                [options]="logoCcy"
                [value]="calTotalPlafond()"
              />
            </ng-template>
            <ng-template #f>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['totalPlafond']" [value]="calTotalPlafond()" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Total Plafond</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['totalPlafond'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="col-4" style="padding: 1rem">
            <mat-checkbox [(ngModel)]="applicationProduct.attributes['restructuredStatus']">Restruct Status </mat-checkbox>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Restruct Status</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ printElement(applicationProduct.attributes['restructuredStatus']) }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Restruct Method</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['restructMethod']">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of listOfValue.restructList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Restruct Method</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['restructMethod'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="applicationProduct.attributes['keterangan']" />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Description</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['keterangan'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div *ngIf="parentPath !== 'finalize'">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Disbursement Condition</mat-label>
            <textarea matInput style="height: 200px" [(ngModel)]="applicationProduct.attributes['disbursementCondition']"></textarea>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1" *ngIf="parentPath !== 'finalize'">
          <div class="col-3">Disbursement Condition</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['disbursementCondition'] }}
          </div>
        </div>
      </section>
      <!-- In Condition Offering letter -->
      <section *ngIf="parentPath === 'finalize'">
        <div class="fontsebled row py-1">
          <div class="col-3">Disbursement Condition</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <!-- <mat-label>Disbursement Condition</mat-label> -->
              <textarea matInput style="height: 200px" [(ngModel)]="applicationProduct.attributes['disbursementCondition']"></textarea>
            </mat-form-field>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>REMARKS</mat-label>
            <textarea matInput style="height: 200px" [(ngModel)]="applicationProduct.attributes['remark']"></textarea>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">REMARKS</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['remark'] }}
          </div>
        </div>
      </section>
    </div>

    <div class="col-6">
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Interest Rate Type</mat-label>
                <mat-select
                  [(ngModel)]="applicationProduct.attributes['interestRateType']"
                  (ngModelChange)="changeIntRateType($event)"
                  [disabled]="status"
                >
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.interestRateTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Current Interest Rate</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['currentInterestRate']" disabled />
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Interest Rate Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['interestRateType'] }}
          </div>
          <div class="col-3">Current Interest Rate</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['currentInterestRate'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Reference Rate Period</mat-label>
                <input
                  matInput
                  (ngModelChange)="periodeDate($event)"
                  type="number"
                  [(ngModel)]="applicationProduct.attributes['interestRatePeriod']"
                  [disabled]="status || statIntRate"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['interestRatePeriodType']" disabled>
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Reference Rate Period</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['interestRatePeriod'] }}
          </div>
          <div class="col-3">Period Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['interestRatePeriodType'] }}
          </div>
        </div>
      </section>

      <!-- <div class="mb-2">
              <ejs-textbox [(ngModel)]="applicationProduct.attributes['indexRate']" cssClass="e-outline"
                placeholder="Index Rate" floatLabelType="auto" [disabled]="status" [readonly]="detailStats"></ejs-textbox>
            </div>
            <div class="mb-2">
              <ejs-textbox [(ngModel)]="applicationProduct.attributes['spreadOfMargin']" cssClass="e-outline"
                placeholder="Spread Of Margin" floatLabelType="auto" [disabled]="status" [readonly]="detailStats"></ejs-textbox>
            </div>
            <div class="mb-2">
              <ejs-textbox [(ngModel)]="applicationProduct.attributes['totalRate']" cssClass="e-outline"
                placeholder="Total Rate" floatLabelType="auto" [disabled]="status" [readonly]="detailStats"></ejs-textbox>
            </div> -->
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Provision Fee</mat-label>
                <input
                  matInput
                  currencyMask
                  type="text"
                  [(ngModel)]="applicationProduct.attributes['provitionFee']"
                  [options]="{ prefix: ' ', thousands: ',', decimal: '.', precision: 0 }"
                  [disabled]="status"
                  id="fee"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rate / Amount Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['provitionFeeRateAmountType']" [disabled]="status">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.rateAmountTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Provision Fee</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['provitionFee'] | number }}
          </div>
          <div class="col-3">Rate / Amount Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['provitionFeeRateAmountType'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Admin Fee</mat-label>
                <input
                  matInput
                  currencyMask
                  type="text"
                  [(ngModel)]="applicationProduct.attributes['adminFee']"
                  [options]="{ prefix: ' ', thousands: ',', decimal: '.', precision: 0 }"
                  [disabled]="status"
                  id="fee"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rate / Amount Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['adminFeeRateAmountType']" [disabled]="status">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.rateAmountTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Admin Fee</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['adminFee'] }}
          </div>
          <div class="col-3">Rate / Amount Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['adminFeeRateAmountType'] | number }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Grace Period</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['gracePeriod']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['gracePeriodType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Grace Period</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['gracePeriod'] }}
          </div>
          <div class="col-3">Period Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['gracePeriodType'] }}
          </div>
        </div>
      </section>

      <!-- <div class="mb-2">
              <ejs-textbox [(ngModel)]="applicationProduct.attributes['availableLimit']" cssClass="e-outline"
                placeholder="Available Limit" floatLabelType="auto" readonly></ejs-textbox>
            </div> -->
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Available Period</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['availablePeriod']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['availablePeriodType']" [value]="">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>

      <div class="mb-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Index Rate</mat-label>
          <input matInput [(ngModel)]="indexRate" type="text" disabled />
        </mat-form-field>
      </div>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Available Period</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['availablePeriod'] }}
          </div>
          <div class="col-3">Period Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['availablePeriodType'] }}
          </div>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Purpose</mat-label>
            <textarea matInput type="multiline" style="height: 100px" [(ngModel)]="applicationProduct.attributes['loanPurpose']"></textarea>
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row py-1">
          <div class="col-3">Loan Purpose</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ applicationProduct.attributes['loanPurpose'] }}
          </div>
        </div>
      </section>
    </div>
    <!-- <div class="col-8">
              <ejs-textbox [(ngModel)]="applicationProduct.attributes.totalCreditLimit" cssClass="e-outline"
                placeholder="Total Product" floatLabelType="auto" [readonly]="detailStats" [value]="totalCreditLimit"></ejs-textbox>
            </div> -->
  </div>

  <!-- Offering Letter -->
  <div class="row mb-5">
    <!-- Left -->
    <div class="form-group" class="col-md-6">
      <div [hidden]="textBoxHidden">
        <div class="fontsebled row py-1">
          <div class="col-3">Late Payment Fee</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <!-- <mat-label>Late Payment Fee</mat-label> -->
              <input
                matInput
                type="number"
                class="example-right-align"
                [(ngModel)]="applicationProduct.attributes['latePaymentFee']"
                [disabled]="status"
              />
              <div matSuffix>&nbsp;%</div>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- thePrimeLandingRate -->
      <div class="form-group" [hidden]="textBoxHidden">
        <div class="fontsebled row py-1">
          <div class="col-3">The Prime Lending Rate</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <input
                matInput
                type="number"
                class="example-right-align"
                [(ngModel)]="applicationProduct.attributes['thePrimeLandingRate']"
                [disabled]="status"
              />
              <span matSuffix>&nbsp;%</span>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-group" [hidden]="textBoxHidden">
        <div class="fontsebled row py-1">
          <div class="col-3">Early Repayment Penalty</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <!-- <mat-label>Early Repayment Penalty</mat-label> -->
              <input
                matInput
                type="number"
                class="example-right-align"
                [(ngModel)]="applicationProduct.attributes['earlyRepaymentPenalty']"
                [disabled]="status"
              />
              <span matSuffix>&nbsp;%</span>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- End Left Form -->
    <!-- Right -->
    <div class="col-md-6">
      <div class="form-group" [hidden]="textBoxHidden">
        <div class="fontsebled row py-1">
          <div class="col-3">Payment Obligations</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Payment Obligations</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                [(ngModel)]="applicationProduct.attributes['paymentObligation']"
                [disabled]="status"
              ></textarea>
              <!-- <input matInput type="text" [(ngModel)]="applicationProduct.attributes['paymentObligation']"
            [disabled]="status" /> -->
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button mat-raised-button color="primary" (click)="print()">prim</button> -->
  <mat-label>Mapping to Collateral</mat-label>
  <jhi-mapping-collateral (outputCreditProposalMappingData)="getCreditProposalMappingData($event)"> </jhi-mapping-collateral>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <button mat-button (click)="save()">Save</button>
  </section>
  <section *jhiMatrixDir="dataItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <div class="mt-3 text-center">
      <button mat-raised-button color="primary" hidden (click)="save()">Save</button>
    </div>
  </section>
  <!-- Kondisi Button Ofering Letter Finalize -->
  <section *ngIf="parentPath === 'finalize'">
    <div class="mt-3 text-center">
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </section>
  <div class="mt-3 text-center py-3">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  </div>
</mat-dialog-actions>
