/* .mat-raised-button {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
} */

.confirm-button-yes {
  /* .mat-raised-button { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  /* } */
}

.confirm-button-no {
  /* .mat-raised-button { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  /* } */
}
.confirm-button-no:hover {
  /* .mat-raised-button:hover { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: #f44336;
  color: #ffff;
  font-weight: bold;
  /* } */
}
.confirm-button-yes:hover {
  /* .mat-raised-button:hover { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 1);
  color: #ffff;
  font-weight: bold;
  /* } */
}
label {
  font-weight: 1000;
}
.fa-icon {
  color: rgb(245, 76, 76);
  font-size: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-left: -2px !important;
  /* margin-left: 50%; */
}
.html * {
  font-family: 'Poppins', sans-serif !important;
}
.mat-raised-button-focus-overlay {
  background-color: transparent !important;
  outline: 0px solid transparent;
}
