<div class="e-card">
  <ejs-menu
    cssClass="e-rounded-menu e-custom-scroll"
    style="margin: 0px auto"
    [items]="menuItems"
    (select)="selectMenuItem($event)"
  ></ejs-menu>
  <!-- hai -->
  <jhi-collateral-appraisal-process-detail-land-certificates
    *ngIf="selectedMenuId === 'certificate-info'"
    [collateral]="collateral"
    [collateralAppraisal]="collateralAppraisal"
  ></jhi-collateral-appraisal-process-detail-land-certificates>

  <jhi-collateral-appraisal-process-detail-land
    *ngIf="selectedMenuId === 'land-condition'"
    [collateralAppraisal]="collateralAppraisal"
    [collateral]="collateral"
  ></jhi-collateral-appraisal-process-detail-land>

  <mat-card *ngIf="selectedMenuId === 'building-condition'">
    <mat-card-header>
      <mat-card-subtitle class="sub-header">Building Info</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-3">
        <p>Building Facility :</p>
        <div class="row">
          <div class="col">
            <mat-checkbox
              [checked]="collateral.attributes?.buildingFacElectricity === 'yes'"
              (change)="changeBuildingFacility($event, 'electricity')"
              [disabled]="gakbisa()"
              >Electricity
            </mat-checkbox>
          </div>
          <div class="col">
            <mat-checkbox
              [checked]="collateral.attributes?.buildingFacTelephone === 'yes'"
              (change)="changeBuildingFacility($event, 'telephone')"
              [disabled]="gakbisa()"
              >Telephone</mat-checkbox
            >
          </div>
          <div class="col">
            <mat-checkbox
              [checked]="collateral.attributes?.buildingFacAc === 'yes'"
              (change)="changeBuildingFacility($event, 'ac')"
              [disabled]="gakbisa()"
              >Air Conditioner</mat-checkbox
            >
          </div>
          <div class="col">
            <mat-checkbox
              [checked]="collateral.attributes?.buildingFacWaterHeater === 'yes'"
              (change)="changeBuildingFacility($event, 'wh')"
              [disabled]="gakbisa()"
              >Water Heater</mat-checkbox
            >
          </div>
          <div class="col">
            <mat-checkbox
              [checked]="collateral.attributes?.buildingFacCleanWater === 'yes'"
              (change)="changeBuildingFacility($event, 'pam')"
              [disabled]="gakbisa()"
              >Clean Water (PAM)</mat-checkbox
            >
          </div>
        </div>
      </div>
      <div class="e-card mb-3">
        <table mat-table [dataSource]="items" class="w-100">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="buildingSpec">
            <th mat-header-cell *matHeaderCellDef>Building Specification</th>
            <td mat-cell *matCellDef="let element">{{ element.buildingSpec }}</td>
          </ng-container>
          <ng-container matColumnDef="floors">
            <th mat-header-cell *matHeaderCellDef>Numbers of Floors of The Building</th>
            <td mat-cell *matCellDef="let element" align="center">
              {{ element.attributes['floors'] | arrayCount }}
              <a (click)="openDialogFloor(element)" [hidden]="gakbisa()">
                <mat-icon style="font-size: 1rem">edit</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="physicalArea">
            <th mat-header-cell *matHeaderCellDef>Physical Area</th>
            <td mat-cell *matCellDef="let element">{{ countTotalArea(element.attributes['floors']) }} M<sup>2</sup></td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="openDialogBuilding(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteBuilding(element)">
                <mat-icon [hidden]="gakbisa()">delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="d-flex justify-content-end mb-3 mt-3">
        <button [hidden]="gakbisa()" (click)="openDialogBuilding()">Add</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
