<div *ngIf="creditProposalItem !== undefined">
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <ejs-menu
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItems"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
  </div>

  <div
    *ngIf="
      creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio' ||
      creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'
    "
  >
    <ejs-menu
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItemsLainnya"
      (select)="selectMenuItemLainnya($event)"
    ></ejs-menu>
  </div>

  <div [hidden]="selectedMenu !== 'UPLOAD'">
    <div class="mb-5">
      <div class="e-sample-resize-container e-card-resize-container">
        <div class="row">
          <div class="card-layout">
            <div class="e-card">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title"></div>
                  <div class="e-card-sub-title"></div>
                </div>
              </div>
              <div class="e-card-content">
                <ejs-spreadsheet
                  [height]="700"
                  #spreadsheet
                  (created)="created()"
                  (beforeSave)="beforeSave($event)"
                  (openComplete)="protectSheet()"
                  [showFormulaBar]="false"
                  [showRibbon]="false"
                  [isProtected]="true"
                  [protectSettings]="{ selectCells: true }"
                  openUrl="/spreadsheet/open"
                  saveUrl="/spreadsheet/save"
                  allowSave="true"
                ></ejs-spreadsheet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedMenu === 'FINANCIAL ANALYSIS'">
    <jhi-financial-statement-remarks [saveWordMinio]="saveWord" [creditProposalItem]="creditProposalItem">
    </jhi-financial-statement-remarks>
  </div>
</div>
