<div class="mb-5">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row">
      <div class="card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">REPAYMENT CAPABILITY</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <div class="e-card-content">
            <ejs-spreadsheet
              #spreadsheet
              (created)="created()"
              (beforeOpen)="beforeOpen($event)"
              (beforeSave)="beforeSave($event)"
              openUrl="https://ej2services.syncfusion.com/production/web-services/api/spreadsheet/open"
              saveUrl="https://ej2services.syncfusion.com/production/web-services/api/spreadsheet/save"
              allowSave='true'
              [allowEditing]="false"
            >
            </ejs-spreadsheet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
