<div class="e-sample-resize-container e-card-resize-container mt-5">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">REMARKS</div>
            <div class="e-card-sub-title"></div>
            <ejs-richtexteditor [toolbarSettings]="tools" [(ngModel)]="creditProposal.attributes['collateralChecklist'].remarks">
            </ejs-richtexteditor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
