canvas {
  margin: auto auto auto auto !important;
  display: block !important;
  box-sizing: border-box !important;
  height: 95% !important;
  width: 95% !important;
}

/* @media only screen and (max-width: 1920px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 1536px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 1280px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
  }
} */
