<mat-sidenav-container [hasBackdrop]="true">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <ejs-breadcrumb cssClass="margin: 1rem;">
          <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="Loan Analysis" url="/loan-analys"></e-breadcrumb-item>
            <e-breadcrumb-item text="New" url=""></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
        <div class="header-container">
          <div class="header-content">
            <img class="back-image" src="../../../content/images/back-icon.svg" (click)="previousState()" />
            <span class="back-prefix" (click)="previousState()">Back | </span>
          </div>
          <p class="e-card-sub-title">Loan Analysis</p>
        </div>
      </div>
    </div>

    <div class="e-card-content">
      <div *ngIf="selectedMenu === 'credit-proposal-summary'" class="e-sample-resize-container e-card-resize-container">
        <!-- Credit proposal -->
        <mat-card class="mb-3">
          <mat-card-content>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <ejs-combobox
                    cssClass="e-outline"
                    placeholder="Proposal Type"
                    (change)="onProposalTypeChange($event)"
                    [(ngModel)]="creditProposal.attributes.proposalType"
                    [dataSource]="proposalType"
                  ></ejs-combobox>
                </div>
                <div class="form-group mb-3">
                  <ejs-textbox
                    required
                    disabled
                    [(ngModel)]="creditProposal.applicationNumber"
                    placeholder="Proposal Number"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  ></ejs-textbox>
                </div>
                <div class="form-group mb-3">
                  <ejs-textbox
                    required
                    disabled
                    [value]="creditProposal.createdDate | formatMediumDate"
                    placeholder="Proposal Date"
                    cssClass="e-outline"
                    floatLabelType="Always"
                  ></ejs-textbox>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <ejs-textbox
                    [(ngModel)]="creditProposal.attributes['basicInformation'].refferal"
                    placeholder="Referral"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  ></ejs-textbox>
                </div>
                <div class="form-group mb-3">
                  <ejs-textbox
                    [(ngModel)]="creditProposal.attributes['basicInformation'].bookingBranch"
                    placeholder="Booking Branch"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  ></ejs-textbox>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- RM -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-personal-info [creditProposal]="creditProposal"></jhi-credit-proposal-personal-info>
          </mat-card-content>
        </mat-card>

        <!-- cust info -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-person
              *ngIf="creditProposal.partyTypeId === 'PERSON'"
              [item]="creditProposal.prospectPerson"
              [deptorData]="creditProposal"
              mode="view"
            ></jhi-credit-proposal-person>
            <jhi-party-group-view
              [mode]="'view'"
              *ngIf="creditProposal.partyTypeId !== 'PERSON'"
              [item]="creditProposal"
            ></jhi-party-group-view>
          </mat-card-content>
        </mat-card>

        <!-- postal address -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-postal-address-view [item]="postalAdresss.address" mode="view"></jhi-postal-address-view>
          </mat-card-content>
        </mat-card>

        <!-- loan facility -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-tab-loan-facility-detail [creditProposal]="creditProposal"></jhi-credit-proposal-tab-loan-facility-detail>
          </mat-card-content>
        </mat-card>

        <!-- tab Exposure -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-tab-exposure [creditProposal]="creditProposal"></jhi-credit-proposal-tab-exposure>
          </mat-card-content>
        </mat-card>

        <!-- collaterla info -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-collateral-info [creditProposal]="creditProposal"> </jhi-credit-proposal-collateral-info>
          </mat-card-content>
        </mat-card>

        <!-- document: summary gabung -->
        <mat-card class="mb-3">
          <mat-card-content>
            <jhi-credit-proposal-tab-summary [item]="creditProposal"></jhi-credit-proposal-tab-summary>
          </mat-card-content>
        </mat-card>

        <!-- opinion -->
        <mat-card class="mb-3">
          <mat-card-content>
            <!-- <jhi-credit-proposal-opinion-history [creditProposalItem]="creditProposal"></jhi-credit-proposal-opinion-history> -->
          </mat-card-content>
        </mat-card>

        <!-- correspondence -->
        <mat-card>
          <mat-card-content>
            <jhi-credit-proposal-correspondence [creditProposal]="creditProposal"></jhi-credit-proposal-correspondence>
          </mat-card-content>
        </mat-card>
        <!-- assign to -->
        <mat-card class="mt-3">
          <mat-card-content>
            <div class="row">
              <div class="col-4">
                <p>Assign To</p>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Please Select</mat-label>
                  <mat-select [(ngModel)]="creditProposal.rm.partyName">
                    <mat-option *ngFor="let item of position" [value]="item.id">
                      {{ item.employeeFirstName }} {{ item.employeeLastName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div *ngIf="selectedMenu === 'slik-cheking'" class="e-sample-resize-container e-card-resize-container">
        <jhi-loan-analys-slik-main></jhi-loan-analys-slik-main>
      </div>

      <div *ngIf="selectedMenu === 'opinion'" class="e-sample-resize-container e-card-resize-container">
        <jhi-credit-proposal-opinion-history [creditProposalItem]="creditProposal"></jhi-credit-proposal-opinion-history>
      </div>

      <div *ngIf="selectedMenu === 'compare-data'" class="e-sample-resize-container e-card-resize-container">
        <!-- <jhi-loan-analys-previous-dar></jhi-loan-analys-previous-dar> -->
      </div>
    </div>
    <div class="e-card-actions mx-auto mb-5 mt-3">
      <button
        style="margin-right: 25px"
        mat-raised-button
        *ngFor="let task of tasks"
        (click)="processTask(task)"
        class="btn-lg text-uppercase"
      >
        {{ task.caption }}
      </button>
      <button mat-raised-button class="btn-lg text-uppercase" (clickEv)="onSave()">Save</button>
    </div>
  </div>
  <mat-sidenav position="end" style="position: fixed !important" #drawer class="example-sidenav" mode="over">
    <div class="p-3" style="padding-top: 90px !important">
      <div style="font-size: 1.5rem; font-weight: 600">Select your destination:</div>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a (click)="selectedMenu = 'credit-proposal-summary'; drawer.toggle()">Credit Proposal Summary</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a (click)="selectedMenu = 'slik-cheking'; drawer.toggle()">Slik Checking</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a (click)="selectedMenu = 'opinion'; drawer.toggle()">Opinion</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a (click)="selectedMenu = 'compare-data'; drawer.toggle()">Compare Data</a>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<button
  matTooltip="Click this for show sub menu of Loan Analys"
  style="z-index: 1"
  class="btn-menu-floating"
  (click)="drawer.toggle()"
  mat-fab
  color="warn"
  matTooltipPosition="before"
>
  <mat-icon>more_vert</mat-icon>
</button>
