.card {
  background-color: white;
  padding: 5%;
}

.form-group {
  margin-top: 20px;
}

.btn-info {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: white;
  border-radius: 4px;
  width: 100px;
  height: 34px;
  background-color: #44ae04;
}

.btn-danger {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: white;
  border-radius: 4px;
  width: 100px;
  height: 34px;
  background-color: #bd0302;
  margin-right: 10px;
}

.place-button {
  margin-top: 10%;
  display: flex;
  width: 100%;
  justify-content: right;
}
