<div class="row">
  <div class="col-md-6">
    <!--LEFT SIDE-->
    <div class="form-group">
      <ejs-textbox [(ngModel)]="item.companyName" name="companyName" placeholder="Company Name" cssClass="e-outline" floatLabelType="Auto">
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Company Adress"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.companyAddress"
        name="companyAdress"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox placeholder="Fax Number" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.faxOffice" name="faxOffice">
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-combobox
        [dataSource]="lineOfBusiness"
        id="comboelement"
        placeholder="Line of Bussines"
        cssClass="e-outline"
        [(ngModel)]="item.lineOfBusiness"
        name="lineOfBusiness"
        [fields]="lineOfBusinessField"
      ></ejs-combobox>
    </div>
    <div class="form-group">
      <ejs-combobox
        id="comboelement"
        placeholder="Position"
        cssClass="e-outline"
        [(ngModel)]="item.position"
        name="position"
        [fields]="positionField"
        [dataSource]="position"
      ></ejs-combobox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Grs Income/Slry per Year"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.slryYear"
        name="slryYear"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Gross Income (In 1 Year)"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.grossIncome"
        name="grossIncome"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-combobox
        id="comboelement"
        placeholder="Add Source of Income"
        cssClass="e-outline"
        [(ngModel)]="item.addSourceOfIncome"
        name="addSourceOfIncome"
      ></ejs-combobox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Contact Person Name"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.cntctPrsnName"
        name="cntctPrsnName"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Contact Person Phone No"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.cntctPrsnPhoneNo"
        name="cntctPrsnPhoneNo"
      >
      </ejs-textbox>
    </div>
  </div>
  <div class="col-md-6">
    <!--RIGHT SIDE-->
    <div class="form-group">
      <ejs-textbox placeholder="Dati II" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.dati" name="dati"> </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox placeholder="Kode Pos" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.postalCode" name="postalCode">
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox placeholder="Phone Number" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.officePhone" name="officePhone">
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Detail Line of Business"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.detailLineOfbusiness"
        name="detailLineOfBusiness"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Lengt of Work (Year)"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.lengtOfWork"
        name="lengtOfWork"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Hig Norm Tran Cash"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.highNormTransCash"
        name="slryYear"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Assumption Tran (In 1 Year)"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.assumptionTran"
        name="assumptionTran"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-textbox
        placeholder="Hig Norm Tran Non Cash"
        cssClass="e-outline"
        floatLabelType="Auto"
        [(ngModel)]="item.nonCash"
        name="highNormTransCash"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <ejs-combobox
        id="comboelement"
        placeholder="Source of Income"
        cssClass="e-outline"
        [(ngModel)]="item.sourceOfIncome"
        name="sourceOfIncome"
        [fields]="sourceIncomeField"
        [dataSource]="sourceIncome"
      ></ejs-combobox>
    </div>
    <div class="form-group">
      <ejs-combobox
        id="comboelement"
        placeholder="Purps Source of Income"
        cssClass="e-outline"
        [(ngModel)]="item.purpsSourceOfIncome"
        name="purpsSourceOfIncome"
        [fields]="purposeSourceIncomeField"
        [dataSource]="purposeSourceIncome"
      ></ejs-combobox>
    </div>
  </div>
</div>
