<h2 mat-dialog-title>ADD / EDIT LENDING PROGRAM PARAMETER</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Lending Program</mat-label>
          <input matInput type="text" [(ngModel)]="lendingProgramParameter.description" />
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Start Date</mat-label>
          <!-- <input matInput type="date" [(ngModel)]="lendingProgramParameter.createdDate" /> -->
          <input [matDatepicker]="fromDate" matInput type="text" [(ngModel)]="lendingProgramParameter.fromDate" />
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>End Date</mat-label>
          <!-- <input matInput type="date" [(ngModel)]="lendingProgramParameter.lastModifiedDate"/> -->
          <input [matDatepicker]="thruDate" matInput type="text" [(ngModel)]="lendingProgramParameter.thruDate" />
          <mat-datepicker-toggle matSuffix [for]="thruDate"></mat-datepicker-toggle>
          <mat-datepicker #thruDate></mat-datepicker>
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Status</mat-label>
          <!-- <input matInput type="text" [(ngModel)]="lendingProgramParameter.status" /> -->
          <mat-select name="status" [(ngModel)]="lendingProgramParameter.statusId">
            <mat-option *ngFor="let item of statusValue" [value]="item.id">
              {{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="save()">SAVE</button>
  <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
