<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Lending Program Parameters</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table class="w-100" [dataSource]="items">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="lending-program">
        <th mat-header-cell *matHeaderCellDef>Lending Program</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="start-date">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate | formatMediumDate }}</td>
      </ng-container>

      <ng-container matColumnDef="end-date">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">{{ element.lastModifiedDate | formatMediumDate }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.statusId }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="text-left text-capitalize">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      showFirstLastButtons
      ngClass="transparant"
      [length]="paginatorLength"
      [pageSize]="paginatorPageSize"
      [pageSizeOptions]="paginatorPageSizeOption"
      (page)="loadDataLazy($event)"
    >
    </mat-paginator>
  </mat-card-content>

  <mat-card-actions align="right">
    <button mat-raised-button (click)="openDialog()">ADD</button>
  </mat-card-actions>
</mat-card>
