<h2 mat-dialog-title>ADD / EDIT LENDING PROGRAM PARAMETER</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Lending Program</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput type="date" />
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>End Date</mat-label>
          <input matInput type="date" />
        </mat-form-field>
      </section>
      <section class="mt-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </section>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button>SAVE</button>
  <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
