<mat-card>
  <mat-card-content>
    <mat-card-subtitle>Largest Suppliers</mat-card-subtitle>
    <jhi-trade-checking-supplier [creditProposal]="creditProposal"></jhi-trade-checking-supplier>
    <mat-card-subtitle class="mt-2">Largest Buyers</mat-card-subtitle>
    <!-- <div class="mat-card-title mt-2">Buyers</div> -->
    <jhi-trade-checking-buyers [creditProposal]="creditProposal"></jhi-trade-checking-buyers>
   <mat-card-subtitle class="mt-2">Remarks</mat-card-subtitle>
    <jhi-credit-proposal-trade-checking-remarks [creditProposal]="creditProposal"></jhi-credit-proposal-trade-checking-remarks>
  </mat-card-content>
</mat-card>
