table#tblSuppliers {
  border: 1px solid #008881;
  border-bottom: 1px solid #008881 !important;
  width: 100%;
  th {
    background-color: #008881;
    border: 1px solid #008881;
    color: #ffff;
  }

  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}

table#tblBuyers {
  border: 1px solid #008881;
  border-bottom: 1px solid #008881 !important;
  width: 100%;
  th {
    background-color: #008881;
    border: 1px solid #008881;
    color: #ffff;
  }

  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}

.mat-success {
  color: white;
  background-color: #008881;
  width: 150px;
}

mat-card-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #008881;
}

// buttonclose

.close.mat-button {
  width: 10px;
}

.button-close {
  margin-left: auto;
  opacity: 0.5;
  width: 15px;
}
.button-close:hover {
  color: white;
  background-color: rgb(195, 35, 35);
  opacity: 1;
  width: 15px;
}
.style-close {
  text-align: right;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block !important;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px !important;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
