table#tblProforma {
  width: 100%;

  th {
    background-color: rgba(147, 201, 199, 1);
    color: black;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }

  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
  }
}

mat-card-subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #008881;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}

.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}

.wrapper-card e-card {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
}

.wrapper-card e-card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #b8b8b8 !important;
  background-color: #fff;
  border: 1px none #000;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}
.wrapper-card e-card {
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
  font-size: 15px;
  justify-content: center;
  line-height: 36px;
  min-height: 36px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
}
.header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  line-height: 35px;
  margin-left: 10px;
  padding-top: 13px;
}
