<div class="row">
  <div class="e-card">
    <div style="margin: 1rem">
      <div class="row">
        <!-- -======================================== -->
        <div class="col-6">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tujuan Penilaian</mat-label>
              <input matInput type="text" [disabled]="true" [(ngModel)]="mData.tujuanPenilaian" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Report No</mat-label>
              <input matInput type="text" [disabled]="true" [(ngModel)]="mData.appraisalNumber" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>No Laporan KJPP</mat-label>
              <input matInput type="text" [disabled]="true" [(ngModel)]="mData.kjppNo" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Quantity/Size</mat-label>
              <input matInput type="text" [disabled]="true" [(ngModel)]="mData.quantity" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Date</mat-label>
              <input matInput type="text" [matDatepicker]="dp" [formControl]="apprDate" [(ngModel)]="mData.apprDate" disabled />
              <mat-datepicker-toggle matSuffix [for]="dp" disabled="true"></mat-datepicker-toggle>
              <mat-datepicker #dp disabled="true"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <div class="w-100">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Report Date</mat-label>
                <input matInput type="text" [matDatepicker]="picker" [formControl]="reportDate" [(ngModel)]="mData.reportDate" disabled />
                <mat-datepicker-toggle matSuffix [for]="picker" disabled="true"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="true"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Review By</mat-label>
              <input matInput type="text" [disabled]="true" [(ngModel)]="mData.reviewedBy" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- -======================================== -->

      <!-- -======================================== -->
      <br />
      <div class="row">
        <div class="col-6">
          <mat-card-subtitle class="fw-bold" style="margin-left: 15px">TOTAL PENILAIAN TANAH</mat-card-subtitle>

          <!-- New Layout CR Phase 2 TANAH-->
          <!-- Physics -->
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Tanah (Physics)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasLandFisik" />
              <div matSuffix>m<sup>2</sup></div>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value Tanah (Physics) Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueLandPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value Tanah (Physics)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueLandFisik | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <!-- End Physics -->

          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Liquidation Value Tanah (Physics)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalLiquidationLand | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <!-- IMB -->
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Tanah (IMB)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasBangunanFisik" -->
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasLandImb" />
              <div matSuffix>m<sup>2</sup></div>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value Tanah (IMB) Tanah Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueImbLandPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value IMB (Tanah)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueLandImb | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <!-- End IMB Tanah -->

          <!-- TataKota Tanah -->
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Tata Kota (Tanah)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasBangunanFisik" -->
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasLandTataKota" />
              <div matSuffix>m<sup>2</sup></div>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value (Tata Kota) Tanah Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueTataKotaLandPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value Tata Kota (Tanah)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueLandTataKota | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Market Value (MV) Tanah & Bangunan</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalMarketValueLandBuilding | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Liquidation Value Tanah & Bangunan</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalLiquidationValueLandBuilding | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <mat-card-subtitle class="fw-bold" style="margin-left: 15px">TOTAL PENILAIAN BANGUNAN</mat-card-subtitle>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Bangunan (Physics)</mat-label>
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasBuildingFisik" />
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value Bangunan (Physics) Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueBuildingPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value Bangunan (Physics)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueBuildingFisik | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <!-- End Physics -->
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Liquidation Value Bangunan (Physics)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalLiquidationBuilding | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>

          <!-- IMB -->
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Bangunan (IMB)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasBangunanFisik" -->
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasBuildingImb" />
              <div matSuffix>m<sup>2</sup></div>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value (IMB) Bangunan Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueImbBuildingPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value IMB (Bangunan)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueBuildingImb | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <!-- End IMB Tanah -->

          <!-- TataKota Tanah -->
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Luas Tata Kota (Bangunan)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasBangunanFisik" -->
              <input matInput type="number" [disabled]="true" [(ngModel)]="mData.totalLuasBuildingTataKota" />
              <div matSuffix>m<sup>2</sup></div>
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Appraisal Value (Tata Kota) Bangunan Per Meter</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.appraisalValueTataKotaBuildingPerMeter | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Appraisal Value Tata Kota (Bangunan)</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalAppraisalValueBuildingTataKota | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Market Value (MV) IMB Tanah & Bangunan</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalMarketValueImbLandBuilding | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Market Value (MV) Tata Kota Tanah & Bangunan</mat-label>
              <!-- [(ngModel)]="mData.totalLuasTanahFisik" -->
              <input
                matInput
                type="text"
                [disabled]="true"
                [ngModel]="mData.totalMarketValueTataKotaLandBuilding | currency: 'IDR ':'symbol':'1.0-0'"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- -======================================== -->

      <!-- -======================================== -->
      <br />
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Remark</mat-label>
            <textarea matInput style="height: 100px" [disabled]="true" [(ngModel)]="mData.remark"></textarea>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Review Opinion</mat-label>
            <textarea matInput style="height: 170px" [(ngModel)]="surveyAppraisal.reviewedOpinion" [disabled]="status"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
