<div class="e-card">
  <div class="e-card-sub-title">
    <h5>Terms and condition for time deposit collateral</h5>
  </div>
  <ejs-grid [dataSource]="standardDataGridBackToBackDeposit" allowTextWrap="true">
    <e-columns>
      <e-column headerText="Covenant" width="250" textAlign="left" headerTextAlign="center">
        <ng-template #template let-data>
          <div [innerHTML]="addBRBeforeDash(data.covenant)"></div>
        </ng-template>
      </e-column>
      <e-column headerText="Status" width="100" textAlign="center">
        <ng-template #template let-data>
          <ejs-dropdownlist
            (change)="onKeyUpEvent('status', $event, data)"
            [(ngModel)]="statusValue[data.id]"
            [dataSource]="status"
            placeholder="Select a Status"
            cssClass="e-outline"
            [readonly]="true"
            [value]="statusValue[data.id]"
          >
          </ejs-dropdownlist>
        </ng-template>
      </e-column>
      <!-- <e-column field="deviation" headerText="Deviation" width="200" textAlign="left" headerTextAlign="center">
        <ng-template #template let-data>
          <ejs-textbox
            [multiline]="true"
            (keyup)="onKeyUpEvent('deviation', $event, data)"
            [(ngModel)]="deviation[data.id]"
            [disabled]="statusValue[data.id] == 'Applied'"
            cssClass="e-outline"
            [readonly]="statusValue[data.id] !== 'Applied'"
          >
          </ejs-textbox>
        </ng-template>
      </e-column>
      <e-column field="justification" headerText="Justification" width="130" textAlign="center">
        <ng-template #template let-data>
          <ejs-textbox
            [multiline]="true"
            (keyup)="onKeyUpEvent('justification', $event, data)"
            [(ngModel)]="justification[data.id]"
            [disabled]="statusValue[data.id] == 'Applied'"
            cssClass="e-outline"
            [readonly]="statusValue[data.id] !== 'Applied'"
          >
          </ejs-textbox>
        </ng-template>
      </e-column> -->
    </e-columns>
  </ejs-grid>
</div>
