<div *ngIf="isOtherDeviation === false">
  <div class="table-responsive-material">
    <table mat-table id="tblOtherCovenant" *ngIf="creditProposalItem && !loading" [dataSource]="data" class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="grid-index-left">Category</th>
        <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.categoryName }}</td>
      </ng-container>
      <ng-container matColumnDef="sub_category">
        <th mat-header-cell *matHeaderCellDef class="grid-index-left">Sub category</th>
        <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.sub_category }}</td>
      </ng-container>
      <ng-container matColumnDef="covenant">
        <th mat-header-cell *matHeaderCellDef>Covenant</th>
        <td mat-cell *matCellDef="let element">{{ element.covenant }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="deviation">
        <th mat-header-cell *matHeaderCellDef>Deviation</th>
        <td mat-cell *matCellDef="let element">{{ element.deviation }}</td>
      </ng-container>
      <ng-container matColumnDef="justification">
        <th mat-header-cell *matHeaderCellDef>Justification</th>
        <td mat-cell *matCellDef="let element">{{ element.justification }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button (click)="editDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>
  <mat-card *ngIf="loading" id="material-loading-bar">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </mat-card>
  <div align="right" class="mt-2 align-right" *ngIf="isViewMode === false">
    <button mat-raised-button class="button-styling" (click)="openDialog()">ADD DATA</button>
  </div>
</div>

<!-- is Other Deviation === true -->
<div *ngIf="isOtherDeviation === true">
  <div class="table-responsive-material">
    <table mat-table id="tblOtherCovenant" [dataSource]="filterStatus" class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>
      <ng-container matColumnDef="sub_category">
        <th mat-header-cell *matHeaderCellDef>Sub category</th>
        <td mat-cell *matCellDef="let element">{{ element.sub_category }}</td>
      </ng-container>
      <ng-container matColumnDef="covenant">
        <th mat-header-cell *matHeaderCellDef>Covenant</th>
        <td mat-cell *matCellDef="let element">{{ element.covenant }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="deviation">
        <th mat-header-cell *matHeaderCellDef>Deviation</th>
        <td mat-cell *matCellDef="let element">{{ element.deviation }}</td>
      </ng-container>
      <ng-container matColumnDef="justification">
        <th mat-header-cell *matHeaderCellDef>Justification</th>
        <td mat-cell *matCellDef="let element">{{ element.justification }}</td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>
  <mat-card *ngIf="loading" id="material-loading-bar">
    <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
  </mat-card>
</div>
