table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

/* .grid-index-label {
  text-align: center;
} */

th {
  text-align: left;
  background-color: rgba(147, 201, 199, 1);
  color: black;
  font-family: 'Poppins', sans-serif;
}
td {
  font-family: 'Poppins', sans-serif;
}
.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}
.button-styling {
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffffff;
}

.mat-column-no {
  width: 5%;
  text-align: right !important;
  padding-left: 24px !important;
}

.mat-column-dob {
  text-align: right !important;
}
.mat-column-ownership {
  text-align: right !important;
}

.mat-header-cell {
  min-height: auto !important;
  padding: 4px 36px 4px 0;
}

mat-cell,
.mat-cell {
  min-height: auto !important;
  padding: 5px 28px 5px 0 !important;
}
