/* table */
table {
  width: 100%;
}

table th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}
table td {
  font-family: 'Poppins', sans-serif !important;
}
table th:first-child {
  border-top-left-radius: 15px;
}
table th:last-child {
  border-top-right-radius: 15px;
}
table mat-header-cell {
  color: black;
  padding: 8px;
  text-align: left;
}

table mat-cell {
  padding: 8px;
  text-align: left;
}

/* table */
/* column */
.mat-column-no {
  text-align: right;
  width: 2% !important;
}
.mat-column-fullname {
  text-align: left;
}
.mat-column-position {
  text-align: left;
}
.mat-column-idCard {
  text-align: left;
}
.mat-column-dob {
  text-align: left;
}
.mat-column-address {
  text-align: left;
}
.mat-column-action {
  text-align: left;
  width: 10% !important;
}

.mat-column-ownership {
  text-align: right;
}
/* column */
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

.button-styling {
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffffff;
}
