<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.application.home.viewLabel">Applications</span>
  </h5>
  <p-panel>
    <p-header> <span jhiTranslate="losgwApp.application.detail.title">Application</span> {{ application.id }} </p-header>
    <jhi-application-view [item]="application" mode="item"> </jhi-application-view>
    <p-footer>
      <button type="submit" (click)="previousState()" class="btn-info flat-style-button">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
      </button>

      <button type="button" [routerLink]="['/application', application.id, 'edit']" class="btn-info flat-style-button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
      </button>
    </p-footer>
  </p-panel>
</div>
