<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title"></h2>
<mat-dialog-content style="overflow-y: auto">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Covenant</mat-label>
        <textarea class="txtHeight" matInput type="text" [(ngModel)]="otherCovenant.covenant"></textarea>
      </mat-form-field>

      <div class="row justify-content-between">
        <div class="row">
          <div class="col">
            <div class="mb-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Category</mat-label>
                <mat-select name="category" [(ngModel)]="otherCovenant.categoryId" (selectionChange)="onSelect($event.value)">
                  <mat-option value="">Please Select</mat-option>
                  <mat-option *ngFor="let category of categorys" [value]="category.parameterTypeId">
                    {{ category.parameterTypeDescription }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="mb-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sub category</mat-label>
                <mat-select name="category" [(ngModel)]="otherCovenant.sub_category">
                  <mat-option value="">Please Select</mat-option>
                  <mat-option *ngFor="let subCategory of categoryCovenant" [value]="subCategory.value">
                    {{ subCategory.value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- <mat-form-field class="w-100" appearance="outline"> -->
      <!-- <mat-label>Status</mat-label>
        <input matInput type="text" [(ngModel)]="otherCovenant.status" /> -->
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select placeholder="Status" [(ngModel)]="otherCovenant.status">
          <mat-option value="Applied">Applied</mat-option>
          <mat-option value="To Be Waived">To Be Waived</mat-option>
          <mat-option value="Waived">Waived</mat-option>
        </mat-select>
        <!-- <input matInput type="text" [(ngModel)]="otherCovenant.status" [disabled]="view" /> -->
      </mat-form-field>
      <!-- </mat-form-field> -->
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Deviation</mat-label>
        <textarea
          class="txtHeight"
          matInput
          type="text"
          [(ngModel)]="otherCovenant.deviation"
          [disabled]="otherCovenant.status === 'Applied'"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Justification</mat-label>
        <textarea
          class="txtHeight"
          matInput
          type="text"
          [(ngModel)]="otherCovenant.justification"
          [disabled]="otherCovenant.status === 'Applied'"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="openCancelDialog()" class="confirm-button-no">Close</button>
  <button mat-button (click)="save()" class="confirm-button-yes">Save</button>
</mat-dialog-actions>
