<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="'view'">
    <div class="row">
      <div class="col-md-6">
        <!--LEFT SIDE -->
        <div class="form-group">
          <ejs-textbox
            [value]="item.firstName"
            name="completeName"
            id="completeName"
            placeholder="Complete Name"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.aliasName"
            name="aliasName"
            id="aliasName"
            placeholder="Alias Name"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            class="mb-2 mt-2"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.identificationTypeId"
            placeholder="Identity Type"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.personalIdNumber"
            name="idCardNumber"
            id="idCardNumber"
            placeholder="ID Card Number"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-datepicker
            [(ngModel)]="item.thruDate"
            cssClass="e-outline"
            placeholder="ID Expire Date"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-datepicker>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.pob"
            name="placeOfBirth"
            id="placeOfBirth"
            placeholder="Place of Birth"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.personalEmail"
            name="email"
            id="email"
            placeholder="Email"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            [(ngModel)]="item.relationWithHana"
            class="mb-2 mt-2"
            placeholder="Relations With Keb Hana Bank"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            [(ngModel)]="item.lineOfBusiness"
            class="mb-2 mt-2"
            placeholder="Line Of Business"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.custInfoSystemCode"
            name="sidCode"
            id="sidCode"
            placeholder="SID Code"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.custInfoSystemName"
            name="sidName"
            id="sidName"
            placeholder="SID Name"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.gnrlBankReportCode"
            name="lbu"
            id="lbu"
            placeholder="LBU Code"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            [(ngModel)]="item.gnrlBankReport"
            name="lbuRemark"
            id="lbuRemark"
            [multiline]="true"
            placeholder="LBU Remark"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            class="mb-2 mt-2"
            [dataSource]="collectabilityStatusData"
            [(ngModel)]="item.collectabilityStatus"
            placeholder="Collectability Status"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            class="mb-2 mt-2"
            [(ngModel)]="item.callReportCategory"
            placeholder="Call Report Category"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist class="mb-2 mt-2" placeholder="PEP" cssClass="e-outline" floatLabelType="Auto"> </ejs-dropdownlist>
        </div>
      </div>
      <div class="col-6">
        <!-- RIGHT SIDE -->
        <div class="form-group">
          <ejs-datepicker
            cssClass="e-outline"
            [(ngModel)]="item.dob"
            placeholder="Date Of Birth"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-datepicker>
        </div>
        <div class="row">
          <div class="col-5">
            <div class="form-group">
              <ejs-textbox [(ngModel)]="item.age" placeholder="Age" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
            </div>
          </div>
          <div class="col-7">
            <div class="form-group">
              <ejs-textbox placeholder="Month" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
            </div>
          </div>
        </div>
        <div class="form-group">
          <ejs-textbox [(ngModel)]="item.taxIdNumber" placeholder="NPWP" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            class="mb-2 mt-2"
            [(ngModel)]="item.maritalStatus"
            placeholder="Marital Status"
            cssClass="e-outline"
            floatLabelType="Auto"
          ></ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            class="mb-2 mt-2"
            [(ngModel)]="item.gender"
            name="gender"
            [value]="item.id"
            placeholder="Gender"
            cssClass="e-outline"
            floatLabelType="Auto"
          >
          </ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-textbox [(ngModel)]="item.mothersName" placeholder="Mother Maiden Name" cssClass="e-outline" floatLabelType="Auto">
          </ejs-textbox>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <ejs-textbox [(ngModel)]="item.cellPhone1" placeholder="Handphone Number 1" cssClass="e-outline" floatLabelType="Auto">
              </ejs-textbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <ejs-textbox [(ngModel)]="item.cellPhone2" placeholder="Handphone Number 2" cssClass="e-outline" floatLabelType="Auto">
              </ejs-textbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <ejs-textbox [(ngModel)]="item.cellPhone3" placeholder="Handphone Number 3" cssClass="e-outline" floatLabelType="Auto">
              </ejs-textbox>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  [multiline]="true"
                  [(ngModel)]="item.createdDate"
                  placeholder="Existing Customer Since"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                >
                </ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  [multiline]="true"
                  [(ngModel)]="item.createdDate"
                  placeholder="Existing Debtor Since"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                >
                </ejs-textbox>
              </div>
            </div>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="item.abbreviation" placeholder="Account Number (IDR)" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="item.abbreviation" placeholder="Account Number (USD)" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="item.depositCapital" placeholder="Modal Disetor" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="item.annualSales" placeholder="Penjualan Tahunan" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox placeholder="Category Debitur" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox placeholder="Klasifikiasi UMKM" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="item.creditRating" placeholder="Credit Scoring" cssClass="e-outline" floatLabelType="Auto">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [dataSource]="ifcRiskCategoryData"
              [(ngModel)]="item.ifcRiskCategory"
              placeholder="IFC & Risk Category"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
