<jhi-cp-memo-banding-loan-facility [creditProposal]="creditProposal"></jhi-cp-memo-banding-loan-facility>
<jhi-cp-memo-banding-collateral
  [creditProposal]="creditProposal"
  [collateralProperties]="collateralProperties"
></jhi-cp-memo-banding-collateral>
<jhi-cp-memo-banding-standard-covenant [creditProposal]="creditProposal"></jhi-cp-memo-banding-standard-covenant>
<jhi-credit-proposal-document-checklist [creditProposal]="creditProposal" [isOnMemoBanding]="true"></jhi-credit-proposal-document-checklist>
<jhi-cp-memo-banding-remark #cpMemoBandingRemarkComponent [isViewMode]="isViewMode"></jhi-cp-memo-banding-remark>
