<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="triggerToggle()">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <ejs-breadcrumb cssClass="margin: 1rem;">
          <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="Menu Access" url=""></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
        <div class="header-container">
          <div class="header-content">
            <img class="back-image" src="../../../content/images/back-icon.svg" (click)="previousState()" />
            <span class="back-prefix" (click)="previousState()">Back | </span>
          </div>
          <p class="e-card-sub-title">Status</p>
        </div>
      </div>
    </div>
    <mat-card style="margin: 1rem" class="table-responsive-material">
      <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8 w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a href="javascript:void();" [routerLink]="[element.id, 'menu-access-view']" mat-icon-button (click)="$event.stopPropagation()">
              <fa-icon icon="eye"></fa-icon>
            </a>
            <a href="javascript:void();" [routerLink]="[element.id, 'menu-access-edit']" mat-icon-button (click)="$event.stopPropagation()">
              <fa-icon icon="pencil-alt"></fa-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card>
  </div>
  <mat-sidenav
    position="end"
    style="position: fixed !important; max-height: 20rem"
    #drawer
    class="example-sidenav subroute-background"
    mode="over"
  >
    <div class="header-sub-menu"><label style="margin-top: 1rem">Menu Access: </label></div>

    <ul class="side-menu list-styling">
      <li *ngFor="let item of subMenu">
        <!--SUBMENU DOESNT HAS A CHILD-->
        <a
          *ngIf="!item.hasOwnProperty('child')"
          href="javascript:void(0)"
          class="text-capitalize"
          (click)="routeSubMenu(item); drawer.toggle(); triggerToggle()"
          >{{ item.label }}</a
        >
        <!--SUBMENU HAS A CHILD-->
        <span class="text-capitalize" *ngIf="item.hasOwnProperty('child')" style="font-weight: 400 !important">{{ item.text }}</span>
        <ul *ngIf="item.hasOwnProperty('child')">
          <li *ngFor="let itemChild of item.child">
            <a href="javascript:void(0)" (click)="routeSubMenu(itemChild); drawer.toggle(); triggerToggle()" class="text-capitalize">{{
              itemChild.label
            }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
  <button
    matTooltip="Click this for show sub menu of initial debtor data"
    [ngClass]="{ 'sidebar-state-true': isOpen === true, 'sidebar-state-false': isOpen === false }"
    class="btn-menu-floating button-float-color btn-float-styling"
    (click)="drawer.toggle(); triggerToggle()"
    matTooltipPosition="after"
  >
    <mat-icon class="settings-icon rotating">settings</mat-icon>
  </button>
</mat-sidenav-container>
