<mat-card>
  <mat-card-header>
    <mat-card-subtitle>OPINION HISTORY</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="notes" class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="reviewerName">
        <th mat-header-cell *matHeaderCellDef>Reviewer Name</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.positionUserId }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createDate }}</td>
      </ng-container>
      <!-- <ng-container matColumnDef="opinion">
        <th mat-header-cell *matHeaderCellDef>Opinion</th>
        <td mat-cell *matCellDef="let element">{{ element.message }}</td>
      </ng-container> -->
      <ng-container matColumnDef="recomendation">
        <th mat-header-cell *matHeaderCellDef>Recomendation</th>
        <td mat-cell *matCellDef="let element">{{ element.recomendation }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action'].length">
          No records found.
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
    </table>

    <div class="e-card-content mt-5">
      <div class="form-group">
        <p class="e-card-sub-title">Opinion</p>
        <ejs-documenteditorcontainer
          #document_editor_container
          [enableToolbar]="true"
          [enableLocalPaste]="false"
          height="100vh"
          style="display: block"
          [spellcheck]="false"
          [enableSpellCheck]="false"
          (keyDown)="onKeyDown($event)"
          (created)="onCreate()"
        >
        </ejs-documenteditorcontainer>
      </div>
    </div>

    <div class="form-group">
      <p class="e-card-sub-title">Recomendation</p>
      <div class="d-flex justify-content-around">
     
          <mat-radio-group>
            <mat-radio-button [checked]="recomendasi === 'Recommend as propose'" value="Recommend as propose" (change)="change('Recommend as propose')">Recommend as propose</mat-radio-button>
            <mat-radio-button [checked]="recomendasi === 'Recommend With Condition'" value="Recommend With Condition" (change)="change('Recommend With Condition')">Recommend With Condition</mat-radio-button>
            <mat-radio-button [checked]="recomendasi === 'Not Recommend'" value="Not Recommend" (change)="change('Not Recommend')">Not Recommend</mat-radio-button>
          </mat-radio-group>
    
      </div>
    </div>

    <div class="form-group">
      <p class="e-card-sub-title">Condition</p>
      <ejs-documenteditorcontainer
        #document_editor_container_condition
        [enableToolbar]="true"
        [enableLocalPaste]="false"
        height="100vh"
        style="display: block"
        [spellcheck]="false"
        [enableSpellCheck]="false"
        (keyDown)="onKeyDownCondition($event)"
        (created)="onCreateCondition()"
      >
      </ejs-documenteditorcontainer>
    </div>
    <!-- <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'"> -->

    <!-- <div class="e-card-content">
      <ejs-richtexteditor [(ngModel)]="creditProposalItem.attributes.tempLoggedInNotes" id="rteTool"
        [toolbarSettings]="tools"></ejs-richtexteditor>
    </div> -->

    <!-- </section> -->
    <!-- <section *jhiMatrixDir="creditProposalItem.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''"> -->
    <!-- <p class="lable-form-title">{{ creditProposalItem.attributes.tempLoggedInNotes }}</p> -->
    <!-- <div class="fontsebled row">
      <div class="col-3">&nbsp;</div>
      <div class="col-md-auto">:</div>
      <div class="col col-lg-3">
        {{ creditProposalItem.attributes.tempLoggedInNotes }}
      </div>
    </div> -->
    <!-- </section> -->
  </mat-card-content>
</mat-card>
