<ng-container [ngSwitch]="mode">

  <ng-container *ngSwitchCase="'item'">

    <div class="row">

      <div class="col">
        <div class="form-group">
          <ejs-datepicker placeholder="From Date" name="input_fromDate" type="date" cssClass="e-outline"
            floatLabelType="Always" format='dd MMMM yyyy' [enabled]="false" [value]="item.fromDate">
          </ejs-datepicker>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <ejs-datepicker placeholder="From Date" name="input_thruDate" type="date" cssClass="e-outline"
            floatLabelType="Always" format='dd MMMM yyyy' [enabled]="false" [value]="item.thruDate">
          </ejs-datepicker>
        </div>
      </div>

    </div>
  </ng-container>

</ng-container>