.flex-container {
  display: flex;
  div {
    margin: 5px;
    padding: 10px;
  }
}
.nominal {
  text-align: left !important;
}
.close.mat-button {
  width: 10px;
}

.button-close {
  margin-left: auto;
  opacity: 0.5;
  width: 15px;
}

.button-close:hover {
  color: white;
  background-color: rgb(195, 35, 35);
  opacity: 1;
  width: 15px;
}

.style-close {
  text-align: right;
}

.grid-index {
  background: rgba(49, 158, 152, 1);
  color: #000000;
  text-align: center;
  font-size: 15px;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

.grid-index-left {
  justify-content: flex-start;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.grid-index-center {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

table {
  th {
    background-color: rgba(147, 201, 199, 1);
    color: black;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
  td {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
}

.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}
.button-styling {
  background-color: rgba(49, 158, 152, 1);
  color: #ffffff;
}
