<div class="page-view" *ngIf="item$ | async as item">

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h3 class="card-title">
        <span jhiTranslate="losgwApp.organizationManagement.home.createOrEditLabel">Organization Managements</span>
      </h3>
      <div>
        <a class="btn" (click)="save()" href="javascript:void(0)" style="cursor: pointer" aria-disabled="isSaving"
          tooltip="Back and save current data" *ngIf="!readOnly()">
          <span>
            <fa-icon icon="save"></fa-icon> &nbsp;{{ 'entity.action.save' | translate }}
          </span>
        </a>
        <a class="btn" (click)="previousState()" style="cursor: pointer" aria-disabled="isSaving"
          tooltip="Back, cancel save">
          <span>
            <fa-icon icon="arrow-left"></fa-icon> &nbsp;{{ 'entity.action.back' | translate }}
          </span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="page-view" *ngIf="item$ | async as item">

        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px">

          <div class="row">

            <div class="col">
              <div class="form-group">
                <ejs-textbox placeholder="From Date" name="input_fromDate" type="date"
                  [(ngModel)]="organizationManagement.fromDate" cssClass="e-outline" floatLabelType="Always">
                </ejs-textbox>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <ejs-textbox placeholder="Thru Date" name="input_thruDate" cssClass="e-outline" type="date"
                  [(ngModel)]="organizationManagement.thruDate" floatLabelType="Always"></ejs-textbox>
              </div>
            </div>

          </div>

        </form>

      </div>

    </div>
  </div>
</div>



<!-- 
<div class="page-view" *ngIf="item$ | async as item">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px">
    <p-panel>
      <ng-template pTemplate="header">
        <h5><span jhiTranslate="losgwApp.organizationManagement.home.createOrEditLabel">Organization Managements</span>
        </h5>
      </ng-template>
      <ng-template pTemplate="icons">
        {{'global.field.id' | translate}} : {{organizationManagement.id}} 
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="btn" (click)="save()" href="javascript:void(0)" style="cursor: pointer" aria-disabled="isSaving"
              tooltip="Back and save current data" *ngIf="!readOnly()">
              <span>
                <fa-icon icon="save"></fa-icon> &nbsp;{{ 'entity.action.save' | translate }}
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="previousState()" style="cursor: pointer" aria-disabled="isSaving"
              tooltip="Back, cancel save">
              <span>
                <fa-icon icon="arrow-left"></fa-icon> &nbsp;{{ 'entity.action.back' | translate }}
              </span>
            </a>
          </li>
        </ul>
      </ng-template>
      <div class="card-deck" style="margin-bottom: 15px">
        <div class="card">
          <div class="card-block">
            <div>
              <div class="form-group" [hidden]="!item.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.organizationManagement.fromDate"
                  for="field_fromDate">From Date</label>
                <div class="input-group">
                  <p-calendar inputId="field_fromDate" name="input_fromDate" [(ngModel)]="item.fromDate"
                    dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true" [showIcon]="true"
                    [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.organizationManagement.thruDate"
                  for="field_thruDate">Thru Date</label>
                <div class="input-group">
                  <p-calendar inputId="field_thruDate" name="input_thruDate" [(ngModel)]="item.thruDate"
                    dateFormat="dd-mm-yy" [showTime]="false" hourFormat="24" [showSeconds]="true" [showIcon]="true"
                    [hideOnDateTimeSelect]="true" [disabled]="readOnly()"></p-calendar>
                </div>
              </div>


              <div class="form-group">
                <label jhiTranslate="losgwApp.organizationManagement.organization"
                  for="field_organization">Organization</label>
                <select class="form-control" id="field_organization" name="organization"
                  [(ngModel)]="item.organizationId" [disabled]="organizationId !== undefined" [disabled]="readOnly()">
                  <option [ngValue]="null"></option>
                  <option [ngValue]="partyGroupOption.id"
                    *ngFor="let partyGroupOption of partygroups; trackBy: trackPartyGroupById">
                    {{ partyGroupOption.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col">
          <div class="form-group">
            <ejs-textbox placeholder="ID" type="text" name="id" [(ngModel)]="item.id" cssClass="e-outline"
              floatLabelType="Auto">
            </ejs-textbox>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <ejs-textbox placeholder="From Date" name="input_fromDate" type="date" [(ngModel)]="item.fromDate"
              cssClass="e-outline" floatLabelType="Always"></ejs-textbox>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <ejs-textbox placeholder="Thru Date" name="input_thruDate" cssClass="e-outline" type="date"
              [(ngModel)]="item.thruDate" floatLabelType="Always"></ejs-textbox>
          </div>
        </div>

      </div>
    </p-panel>

  </form>
</div> -->