#table-propose-pricing {
  width: 100%;
}

#table-propose-pricing tr td {
  padding: 10px;
  color: black;
}

#table-propose-pricing tr th:nth-child(odd) {
  padding-top: 10px;
}

#table-propose-pricing tr {
  /* transparent border */
  border-bottom: 1px solid rgba(71, 66, 66, 0.229);
}

#table-propose-pricing tr th {
  font-size: 16px;
}

.e-card {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  /* margin-top: 30px; */
}

.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-family: 'Poppins', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: inline-start;
}

.e-card-header-title {
  font-family: 'Poppins', sans-serif !important;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: inline-start;
}

.form-group {
  margin-top: 12px;
}

.e-card-resize-container {
  margin-left: 20px;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
}

.card-control-section.basic_card_layout .e-card .e-card-header-caption .e-card-header-title,
.card-control-section.basic_card_layout .e-card .e-card-header-caption .e-card-sub-title {
  color: white;
}

.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}

.e-radio + label .e-label {
  font-family: 'Poppins', sans-serif !important;
}

.btn-info {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #008881;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  height: 43px;
  border-radius: 6px;
}

.e-card-content {
  margin-top: 12px;
}

.text-area-input {
  width: 100%;
  height: 100px;
}

.e-card-sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: red;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 9px;
}

span.e-icons.e-check:before {
  background-color: #008881;
}

span.e-icons.e-check:after {
  background-color: #008881;
}

span.e-icons.e-check {
  background-color: #008881;
}

.back {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgba(136, 136, 136, 1);
  margin-left: 10px;
}

/* .e-grid {
  border-color: #008881;
  border-radius: 5px;
} */

.e-grid .e-headercell {
  background-color: #008881;
  font-weight: bolder;
  color: black;
  vertical-align: middle;
  border: none !important;
}

.span-icon {
  float: right;
  margin-right: 12px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}

.search-border {
  background-color: #ebebeb;
  padding: 10px;
  margin-top: 15px;
}

/* buttonclose */

.close.mat-button {
  width: 10px;
}

.button-close {
  margin-left: auto;
  opacity: 0.5;
  width: 15px;
}

.button-close:hover {
  color: white;
  background-color: rgb(195, 35, 35);
  opacity: 1;
  width: 15px;
}

.style-close {
  text-align: right;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block !important;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px !important;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

.style-close {
  text-align: right;
}

.e-dialog[_ngcontent-skh-c750] .e-dlg-header-content[_ngcontent-skh-c750] .e-btn.e-dlg-closeicon-btn[_ngcontent-skh-c750] {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0;
  bottom: 0;
  float: right;
  height: 30px;
  left: 6px;
  position: relative;
  width: 30px;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover,
.e-dialog .e-btn.e-dlg-closeicon-btn:focus,
.e-dialog .e-btn.e-dlg-closeicon-btn:active {
  background-color: #f44336 !important;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.lable-form-title {
  font-weight: 500;
  font-size: 15px;
}

.dropzone .dz-preview .dz-image {
  width: 250px;
  height: 250px;
}

@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

.wording {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  color: #0000008a;
}
.html * {
  font-family: 'Poppins', sans-serif !important;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}

th:first-child {
  border-top-left-radius: 15px !important;
}
th:last-child {
  border-top-right-radius: 15px !important;
}

td {
  font-family: 'Poppins', sans-serif !important;
}
.rounding-table-left {
  border-top-left-radius: 15px !important;
}
.rounding-table-right {
  border-top-right-radius: 15px !important;
}

.grid-index-left {
  justify-content: flex-start !important;
  text-align: left !important;
  font-family: 'Poppins', sans-serif !important;
}

.grid-index-right {
  justify-content: flex-end !important;
  text-align: right !important;
  padding-right: 45px !important;
  font-family: 'Poppins', sans-serif !important;
}

.button-styling {
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffffff !important;
}

.mat-column:first-child {
  border-top-left-radius: 15px !important;
  width: 5% !important;
}

.mat-column:last-child {
  border-top-right-radius: 15px !important;
  width: 10% !important;
}

table {
  border-color: #ffffff !important;
}

.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}

.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.mat-card {
  font-family: 'Poppins', sans-serif !important;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  line-height: 35px;
  margin-left: 10px;
  padding-top: 13px;
}

/* table styling */
th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
th:first-child {
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}
/* table styling */
/* button */
.button-styling:enabled {
  color: white;
  background-color: rgba(49, 158, 152, 1) !important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
/* button */
/* wrapping e-card */
.wrapper-card e-card {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
}

.wrapper-card e-card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #b8b8b8 !important;
  background-color: #fff;
  border: 1px none #000;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}
.wrapper-card e-card {
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
  font-size: 15px;
  justify-content: center;
  line-height: 36px;
  min-height: 36px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
}
/* remove arrow from ej2 numeric texbox */
div ejs-numerictextbox div span {
  display: none;
}
