.e-card {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: inline-start;
}

.e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: inline-start;
}

.form-group {
  margin-top: 12px;
}

.e-card-resize-container {
  margin-left: 20px;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  background-color: #008881 !important;
  color: white;
  font-weight: 600;
}

.card-control-section.basic_card_layout .e-card .e-card-header-caption .e-card-header-title,
.card-control-section.basic_card_layout .e-card .e-card-header-caption .e-card-sub-title {
  color: white;
}

.btn-info {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #008881;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  height: 43px;
  border-radius: 6px;
}

.e-card-content {
  margin-top: 12px;
}

.text-area-input {
  width: 100%;
  height: 100px;
}

.e-card-sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: red;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 9px;
}

span.e-icons.e-check:before {
  background-color: #008881;
}

span.e-icons.e-check:after {
  background-color: #008881;
}

span.e-icons.e-check {
  background-color: #008881;
}

.back {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgba(136, 136, 136, 1);
  margin-left: 10px;
}

.e-grid {
  border-color: #008881;
  border-radius: 5px;
}

.e-grid .e-headercell {
  background-color: #008881;
  font-weight: bolder;
  color: white;
  vertical-align: middle;
  border: none !important;
}

.span-icon {
  float: right;
  margin-right: 12px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}

.search-border {
  background-color: #ebebeb;
  padding: 10px;
  margin-top: 15px;
}

/* buttonclose */

.close.mat-button {
  width: 10px;
}

.button-close {
  margin-left: auto;
  opacity: 0.5;
  width: 15px;
}

.button-close:hover {
  color: white;
  background-color: rgb(195, 35, 35);
  opacity: 1;
  width: 15px;
}

.style-close {
  text-align: right;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block !important;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px !important;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

.style-close {
  text-align: right;
}

.e-dialog[_ngcontent-skh-c750] .e-dlg-header-content[_ngcontent-skh-c750] .e-btn.e-dlg-closeicon-btn[_ngcontent-skh-c750] {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0;
  bottom: 0;
  float: right;
  height: 30px;
  left: 6px;
  position: relative;
  width: 30px;
}

.e-dialog .e-btn.e-dlg-closeicon-btn:hover,
.e-dialog .e-btn.e-dlg-closeicon-btn:focus,
.e-dialog .e-btn.e-dlg-closeicon-btn:active {
  background-color: #f44336 !important;
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.lable-form-title {
  font-weight: 500;
  font-size: 15px;
}

.dropzone .dz-preview .dz-image {
  width: 250px;
  height: 250px;
}

@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

.wording {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  color: #0000008a;
}
