table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 84px;
}

.mat-header-cell:first-child {
  width: 5%;
  border-top-left-radius: 15px;
}

.mat-header-cell:last-child {
  width: 10%;
  border-top-right-radius: 15px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0px 30px 0px 100px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

element.style {
  height: 0px;
  min-height: 0px;
}

.example-element-detail[_ngcontent-nos-c976] {
  overflow: hidden;
  display: block;
}

.grid-index {
  background: rgba(49, 158, 152, 1);
  color: #000000;
  font-size: 15px;
}

.html * {
  font-family: 'Poppins', sans-serif !important;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}
td {
  font-family: 'Poppins', sans-serif !important;
}

.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}

.grid-index-left {
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif !important;
}

.grid-index-center {
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}
.button-styling {
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffffff;
}

.mat-column-facilityCategory {
  text-align: left !important;
}

.mat-column-mainPlafond {
  text-align: rigth !important;
}

.mat-column-outstanding {
  text-align: rigth !important;
}

::ng-deep .custom-dialog-container-cancel {
  .mat-dialog-container {
    background: linear-gradient(150deg, rgba(196, 223, 222, 1) 62%, rgba(147, 201, 199, 1) 68%);
    background-color: rgba(225, 225, 225, 1);
    background-position: bottom;
    background-position-y: -67px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
}

.confirm-button-yes {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.confirm-button-no {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.confirm-button-no:hover {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: #f44336;
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
.confirm-button-yes:active:hover:not([disabled]) {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.confirm-button-yes:enabled:hover {
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(49, 158, 152, 1) !important;
  color: #ffff;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}
.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.mat-card {
  font-family: 'Poppins', sans-serif !important;
}
