<div class="e-sample-resize-container e-card-resize-container">
  <div class="row">
    <div class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title"></div>
          <div class="e-card-sub-title"></div>
        </div>
      </div>
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'view'">
          <div class="e-card-content">
            <div class="form-space">
              <div class="row my-3">
                <div class="col-2">
                  <!-- <div class="form-space"> -->
                  <div color="#A3A3A3" class="e-headertext">Customer Type</div>
                </div>
                <div class="col-2">
                  <ejs-radiobutton disabled label="Individu" [(ngModel)]="item.customerType"></ejs-radiobutton>
                  <!-- </div> -->
                </div>
                <div class="col-2">
                  <ejs-radiobutton disabled label="Badan Usaha" [(ngModel)]="item.customerType" checked="true"> </ejs-radiobutton>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <!-- Lefth Side -->
                <div class="col-sm-6">
                  <div class="my-3">
                    <ejs-textbox disabled placeholder="CIF" [(ngModel)]="item.cif.customerId" floatLabelType="Auto" cssClass="e-outline">
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <!-- <div class="form-space"> -->
                    <ejs-textbox
                      disabled
                      placeholder="Complate Name"
                      [(ngModel)]="item.prospectOrganization.name"
                      floatLabelType="Auto"
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      disabled
                      [(ngModel)]="item.prospectOrganization.pic"
                      placeholder="PIC"
                      floatLabelType="Auto"
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      [(ngModel)]="item.prospectOrganization.companyType"
                      placeholder="Company Type"
                      floatLabelType="Auto"
                      disabled
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      [(ngModel)]="item.collaterals.picName"
                      placeholder="Contact Person Name"
                      floatLabelType="Auto"
                      disabled
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      [(ngModel)]="item.deedEstablishNum"
                      placeholder="Deed Of Established No"
                      disabled
                      floatLabelType="Auto"
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                </div>
                <!-- Right Side -->
                <div class="col-sm-6">
                  <div class="my-3">
                    <ejs-textbox
                      disabled
                      placeholder="Identity Type"
                      [(ngModel)]="item.prospectOrganization.organizationIdType"
                      floatLabelType="Auto"
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      placeholder="Identity Number"
                      [(ngModel)]="item.prospectOrganization.organizationIdNumber"
                      floatLabelType="Auto"
                      disabled
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      placeholder="NPWP"
                      [(ngModel)]="item.prospectOrganization.taxIdNumber"
                      floatLabelType="Auto"
                      disabled
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="my-3">
                    <ejs-textbox
                      [value]="item.legal.deedEstablishDate | date: 'yyyy/MM/dd'"
                      placeholder="Deed Of Established Date"
                      floatLabelType="Auto"
                      disabled
                      cssClass="e-outline"
                    >
                    </ejs-textbox>
                  </div>
                  <div class="row my-3">
                    <div class="col-sm-6">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.officePhone"
                        placeholder="Phone Number"
                        floatLabelType="Auto"
                        disabled
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                    <div class="col-sm-6">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.otherPhone1"
                        placeholder="Phone Number 1"
                        floatLabelType="Auto"
                        disabled
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col-sm-6">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.otherPhone2"
                        placeholder="Phone Number 2"
                        disabled
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                    <div class="col-sm-6">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.faxOffice"
                        placeholder="FAX"
                        floatLabelType="Auto"
                        disabled
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.prospectOrganization.officeMail"
                    placeholder="Email"
                    disabled
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.establishNotary"
                    placeholder="Deed Of Established Nota"
                    disabled
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <!-- <div class="col">
                  <ejs-textbox
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    placeholder="Factory Warehouse Address"
                    [multiline]="true"
                    disabled
                  ></ejs-textbox>
                </div> -->
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.establishPlace"
                    placeholder="Deed Of Established Place"
                    disabled
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.relationWithHana"
                    placeholder="Relation With Keb Hana Bank"
                    disabled
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox [(ngModel)]="item.legal.siupNumber" disabled placeholder="SIUP" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.attributes['lobName']"
                    disabled
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    placeholder="Line Of Business"
                  ></ejs-textbox>
                </div>
                <div class="col-6">
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.attributes['lobCode']"
                    placeholder="Line of Business Code"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  >
                  </ejs-textbox>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.custInfoSystemName"
                    placeholder="SID"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                    disabled
                  >
                  </ejs-textbox>
                </div>
                <div class="col-6">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.customerSince"
                    disabled
                    placeholder="Existing Customer Since"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.custInfoSystemCode"
                    disabled
                    placeholder="SID Code"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Existing Debtor Since</mat-label>
                    <input
                      [matDatepicker]="debtorSince"
                      matInput
                      type="text"
                      [formControl]="date"
                      [(ngModel)]="item.debtorData.debtorSince"
                      [disabled]="true"
                    />
                    <mat-datepicker-toggle matSuffix [for]="debtorSince" [disabled]="true"></mat-datepicker-toggle>
                    <mat-datepicker #debtorSince></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.gnrlBankReportCode"
                    placeholder="Kode LBU"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.accountNumberIDR"
                    disabled
                    placeholder="Account Number (IDR)"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.gnrlBankReport"
                    disabled
                    [multiline]="true"
                    placeholder="LBU Remark"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.accountNumberUSD"
                    disabled
                    placeholder="Account Number (USD)"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-dropdownlist
                    disabled
                    [(ngModel)]="item.debtorData.collectabilityStatus"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    id="ddlelement"
                    [dataSource]="collectabilityStatusData"
                    placeholder="collectability Status"
                  >
                  </ejs-dropdownlist>
                </div>
                <div class="col-2">
                  <!-- <div class="form-space"> -->
                  <div color="#A3A3A3" class="e-headertext">Customer Status</div>
                </div>
                <div class="col-2">
                  <ejs-radiobutton
                    [(ngModel)]="item.attributes['basicInformation'].customerStatus"
                    [value]="'New'"
                    name="customer"
                    label="New"
                  ></ejs-radiobutton>
                  <!-- </div> -->
                </div>
                <div class="col-2">
                  <ejs-radiobutton
                    [(ngModel)]="item.attributes['basicInformation'].customerStatus"
                    [value]="'Existing'"
                    name="customer"
                    label="Existing"
                  ></ejs-radiobutton>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col-6">
                  <!-- <div class="form-space"> -->
                  <ejs-dropdownlist
                    [dataSource]="callReportCategoryData"
                    [(ngModel)]="item.debtorData.callReportCategory"
                    placeholder="Call Report Category"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  ></ejs-dropdownlist>
                </div>
                <div class="col-6">
                  <ejs-dropdownlist
                    [dataSource]="ifcRiskCategoryData"
                    [(ngModel)]="item.debtorData.ifcRiskCategory"
                    placeholder="IFC & Risk Category"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  >
                  </ejs-dropdownlist>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-6">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox disabled [(ngModel)]="item.debtorData.pep" placeholder="PEP" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                </div>
                <div class="col-6">
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.correspondenceAddressDesc"
                    placeholder="Correspondence Address"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-numerictextbox
                    disabled
                    [(ngModel)]="item.debtorData.depositCapital"
                    placeholder="Modal Disetor"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                    format="IDR 0,"
                    min="0"
                  >
                  </ejs-numerictextbox>
                </div>
                <div class="col">
                  <ejs-numerictextbox
                    disabled
                    [(ngModel)]="item.debtorData.annualSales"
                    placeholder="Penjualan Tahunan"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                    format="IDR 0,"
                    min="0"
                  >
                  </ejs-numerictextbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.umkmCategory"
                    placeholder="Category Debitur"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.umkmClassification"
                    placeholder="Klasifikasi UMKM"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'edit'">
          <div class="e-card-content">
            <div class="form-space">
              <div class="row my-3">
                <div class="col-2">
                  <!-- <div class="form-space"> -->
                  <div color="#A3A3A3" class="e-headertext">Customer Type</div>
                </div>
                <div class="col-2">
                  <ejs-radiobutton label="Individu" name="{{ data }}"></ejs-radiobutton>
                  <!-- </div> -->
                </div>
                <div class="col-2">
                  <ejs-radiobutton label="Badan Usaha" name="{{ data }}"></ejs-radiobutton>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox placeholder="CIF" [(ngModel)]="item.prospectOrganization.cif" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    placeholder="Identity Type"
                    [(ngModel)]="item['identifications'].length < 1 ? null : item['identifications'][0]['identificationTypeId']"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox placeholder="Complate Name" [(ngModel)]="item.name" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    placeholder="Identity Number"
                    [(ngModel)]="item['identifications'].length < 1 ? null : item['identifications'][0]['value']"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.prospectOrganization.companyType"
                    placeholder="Company Type"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    placeholder="NPWP"
                    [(ngModel)]="item.prospectOrganization.taxIdNumber"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.collaterals.picName"
                    placeholder="Contact Person Name"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.deedEstablishDate"
                    placeholder="Deed Of Established Date"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.officePhone"
                        placeholder="Phone Number Office"
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                  <!-- <div class="form-space"> -->
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.otherPhone1"
                        placeholder="Phone Number 1"
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                  <!-- <div class="form-space"> -->
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <ejs-textbox
                        [(ngModel)]="item.prospectOrganization.otherPhone2"
                        placeholder="Phone Number 2"
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                  <!-- <div class="form-space"> -->
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.deedEstablishNum"
                    placeholder="Deed Of Established No"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.prospectOrganization.officeMail"
                    placeholder="Email"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.establishNotary"
                    placeholder="Deed Of Established Nota"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.relationWithHana"
                    placeholder="Relantions With Keb Hana Bank"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.legal.establishPlace"
                    placeholder="Deed Of Established Place"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-dropdownlist
                    [(ngModel)]="item.prospectOrganization.lineOfBusinessId"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    id="ddlelement"
                    [dataSource]="data"
                    placeholder="Line Of Business"
                    disabled
                  >
                  </ejs-dropdownlist>
                </div>
                <div class="col">
                  <ejs-textbox [(ngModel)]="item.legal.siupNumber" placeholder="SIUP" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>

              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.custInfoSystemName"
                    placeholder="SID"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.accountNumberIDR"
                    placeholder="Account Number (IDR)"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.gnrlBankReport"
                    [multiline]="true"
                    placeholder="LBU Remark"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.accountNumberUSD"
                    placeholder="Account Number (USD)"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-dropdownlist
                    [(ngModel)]="item.debtorData.collectabilityStatus"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    id="ddlelement"
                    [dataSource]="data"
                    placeholder="Collectibility Status"
                  >
                  </ejs-dropdownlist>
                </div>
                <div class="col-6">
                  <ejs-dropdownlist
                    [dataSource]="ifcRiskCategoryData"
                    [(ngModel)]="item.debtorData.ifcRiskCategory"
                    placeholder="IFC & Risk Category"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    disabled
                  >
                  </ejs-dropdownlist>
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.callReportCategory"
                    placeholder="Call Category Report"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox [(ngModel)]="item.debtorData.pep" placeholder="PEP" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col-6">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    disabled
                    [(ngModel)]="item.debtorData.correspondenceAddressDesc"
                    placeholder="Correspondence Address"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col-2">
                  <ejs-radiobutton label="Sesuai Kantor" name="{{ data }}"></ejs-radiobutton>
                  <!-- </div> -->
                </div>
                <div class="col-2">
                  <ejs-radiobutton label="Sesuai Pabrik" name="{{ data }}"></ejs-radiobutton>
                  <!-- </div> -->
                </div>
              </div>
              <hr />
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-numerictextbox
                    [(ngModel)]="item.debtorData.depositCapital"
                    placeholder="Modal Disetor"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                    format="IDR 0,"
                    min="0"
                  >
                  </ejs-numerictextbox>
                </div>
                <div class="col">
                  <ejs-numerictextbox
                    [(ngModel)]="item.debtorData.annualSales"
                    placeholder="Penjualan Tahunan"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                    format="IDR 0,"
                    min="0"
                  >
                  </ejs-numerictextbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col">
                  <!-- <div class="form-space"> -->
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.umkmCategory"
                    placeholder="Category Debitur"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
                <div class="col">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.umkmClassification"
                    placeholder="Klasifikasi UMKM"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                  <!-- </div> -->
                </div>
              </div>
              <div class="row my-3">
                <div class="col-6">
                  <ejs-textbox
                    [(ngModel)]="item.debtorData.ifcRiskCategory"
                    placeholder="IFC & Risk Category"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  >
                  </ejs-textbox>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-6">
                  <div class="form-group">
                    <ejs-dropdownlist
                      class="mb-2 mt-2"
                      [dataSource]="collectabilityStatusData"
                      [(ngModel)]="item.debtorData.collectabilityStatus"
                      placeholder="Collectability Status"
                      cssClass="e-outline"
                      floatLabelType="Auto"
                    ></ejs-dropdownlist>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="e-card-actions"></div>
    </div>
  </div>
</div>
