<h2 mat-dialog-title>ADD / EDIT ORGANIZATION LEGAL</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed Of Establishment No</mat-label>
          <input matInput type="text" [(ngModel)]="organizationLegal.deedEstablishNum" [disabled]="dataSource()" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed Of Establishment Date</mat-label>
          <input
            [matDatepicker]="deedEstablishDate"
            [(ngModel)]="organizationLegal.deedEstablishDate"
            matInput
            [formControl]="date"
            type="text"
            disabled
          />
          <mat-datepicker-toggle matSuffix [for]="deedEstablishDate"></mat-datepicker-toggle>
          <mat-datepicker #deedEstablishDate [disabled]="dataSource()"></mat-datepicker>
          <mat-hint align="end" [hidden]="!dataSource()"></mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed Of RCNT No</mat-label>
          <input matInput type="text" [(ngModel)]="organizationLegal.deedRecentChangeNumber" disabled="false" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed Of RCNT Date</mat-label>
          <input
            [matDatepicker]="deedRecentChangeDate"
            [(ngModel)]="organizationLegal.deedRecentChangeDate"
            matInput
            type="text"
            [disabled]="dataSource()"
          />
          <mat-datepicker-toggle matSuffix [for]="deedRecentChangeDate"></mat-datepicker-toggle>
          <mat-datepicker #deedRecentChangeDate disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>SIUP</mat-label>
          <input matInput type="text" [(ngModel)]="organizationLegal.siupNumber" [disabled]="true" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed of Establish Place</mat-label>
          <input matInput type="text" [(ngModel)]="organizationLegal.establishPlace" [disabled]="true" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Deed of Establish Nota</mat-label>
          <input matInput type="text" [(ngModel)]="organizationLegal.establishNotary" [disabled]="true" />
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button (click)="save()">SAVE</button>
  <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
