<table mat-table [dataSource]="dataSource" class="w-100">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
    <td mat-cell *matCellDef="let i = index" class="text-center">{{ i + 1 + paginator.pageIndex * paginator.pageSize }}.</td>
  </ng-container>
  <ng-container matColumnDef="deedEstablishNo">
    <th mat-header-cell *matHeaderCellDef class="text-center text-capitalize">deed of establishment</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.deedEstablishNum }}
    </td>
  </ng-container>
  <ng-container matColumnDef="deedEstablishDate">
    <th mat-header-cell *matHeaderCellDef class="text-center text-capitalize">deed of establishment date</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.deedEstablishDate | formatMediumDate }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDialogDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
  </tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
</table>
<mat-card *ngIf="loading" id="material-loading-bar">
  <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
</mat-card>
<mat-paginator
  showFirstLastButtons
  ngClass="transparant"
  [length]="paginatorLength"
  [pageSize]="paginatorPageSize"
  [pageSizeOptions]="paginatorPageSizeOption"
  (page)="loadDataLazy($event)"
>
</mat-paginator>
<div class="text-end my-3">
  <button mat-raised-button class="text-uppercase" (click)="openDialog()">add new organization legal</button>
</div>
