/* Table Styling */
th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
th:first-child {
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}

.mat-header-cell {
  font-family: 'Poppins', sans-serif;
  background: #008881;
  color: #ffff;
  font-weight: 500;
  font-style: normal;
}

.mat-column-no {
  text-align: right;
  width: 5% !important;
}
.mat-column-name {
  text-align: left;
}
.mat-column-cif {
  text-align: left;
}
/* Table Styling */

/* Font Override */
.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}
/* Font Override */

.button-styling:enabled {
  color: white;
  background-color: rgba(49, 158, 152, 1) !important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}

/* Table */
/* table reponsive */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive .mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}
.table-responsive .mat-row,
.mat-header-row {
  display: table-row;
}
.table-responsive .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
/* table responsive */

.mat-header-cell {
  min-height: auto !important;
  padding: 0 36px 0 0;
  font-weight: 500;
}

mat-cell,
.mat-cell {
  min-height: auto !important;
  padding: 5px 28px 5px 0 !important;
}

table {
  width: 100%;
}
.mat-card {
  padding-top: 25px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}
