<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employment-heading" data-cy="EmploymentCreateUpdateHeading" jhiTranslate="losgwApp.employment.home.createOrEditLabel">
        Create or edit a Employment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.fromDate" for="field_fromDate">From Date</label>
          <div class="d-flex">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="datetime-local"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.thruDate" for="field_thruDate">Thru Date</label>
          <div class="d-flex">
            <input
              id="field_thruDate"
              data-cy="thruDate"
              type="datetime-local"
              class="form-control"
              name="thruDate"
              formControlName="thruDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.relationTypeId" for="field_relationTypeId">Relation Type Id</label>
          <input
            type="text"
            class="form-control"
            name="relationTypeId"
            id="field_relationTypeId"
            data-cy="relationTypeId"
            formControlName="relationTypeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.relationTypeDescription" for="field_relationTypeDescription"
            >Relation Type Description</label
          >
          <input
            type="text"
            class="form-control"
            name="relationTypeDescription"
            id="field_relationTypeDescription"
            data-cy="relationTypeDescription"
            formControlName="relationTypeDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.partyToId" for="field_partyToId">Party To Id</label>
          <input type="text" class="form-control" name="partyToId" id="field_partyToId" data-cy="partyToId" formControlName="partyToId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.partyToName" for="field_partyToName">Party To Name</label>
          <input
            type="text"
            class="form-control"
            name="partyToName"
            id="field_partyToName"
            data-cy="partyToName"
            formControlName="partyToName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.partyFromId" for="field_partyFromId">Party From Id</label>
          <input
            type="text"
            class="form-control"
            name="partyFromId"
            id="field_partyFromId"
            data-cy="partyFromId"
            formControlName="partyFromId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.employment.partyFromName" for="field_partyFromName">Party From Name</label>
          <input
            type="text"
            class="form-control"
            name="partyFromName"
            id="field_partyFromName"
            data-cy="partyFromName"
            formControlName="partyFromName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
