<mat-sidenav-container [hasBackdrop]="true">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Debtor Data Detail</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <jhi-party-cif-customer-info *ngIf="clickedMenu === 'customer-info'" [partyCif]="partyCif"> </jhi-party-cif-customer-info>
        <jhi-party-cif-organization-legal [partyCif]="partyCif" *ngIf="clickedMenu === 'organization-legal'">
        </jhi-party-cif-organization-legal>
        <jhi-party-cif-document-checklist [partyCif]="partyCif" *ngIf="clickedMenu === 'document-checklist'">
        </jhi-party-cif-document-checklist>
        <jhi-party-cif-financial-info [partyCif]="partyCif" *ngIf="clickedMenu === 'financial-info'"> </jhi-party-cif-financial-info>
        <jhi-party-cif-retrive-info [partyCif]="partyCif" *ngIf="clickedMenu === 'retrive-info'"></jhi-party-cif-retrive-info>
        <jhi-party-cif-management-data [partyCif]="partyCif" *ngIf="clickedMenu === 'management-data'"> </jhi-party-cif-management-data>
        <jhi-party-cif-business-group [debtorData]="partyCif.debtorData" *ngIf="clickedMenu === 'business-group'">
        </jhi-party-cif-business-group>
        <jhi-party-cif-collateral-info
          [collateralAppraisal]="collateralAppraisal"
          [partyCif]="partyCif"
          [partyId]="partyCif.partyId"
          *ngIf="clickedMenu === 'collateral-info'"
        >
        </jhi-party-cif-collateral-info>
        <jhi-facility-info-cif *ngIf="clickedMenu === 'facility-info'" [partyCif]="partyCif"></jhi-facility-info-cif>
        <jhi-credit-rating-view [mode]="'edit'" [partyCif]="partyCif" *ngIf="clickedMenu === 'credit-rating'"> </jhi-credit-rating-view>

        <jhi-debtor-data-slik-summary [mode]="'edit'" [partyCif]="partyCif" *ngIf="clickedMenu === 'slik'"> </jhi-debtor-data-slik-summary>
        <jhi-party-cif-decision-approval-report [mode]="'edit'" [partyCif]="partyCif" *ngIf="clickedMenu === 'decision-approval-report'"> </jhi-party-cif-decision-approval-report>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button
        mat-raised-button
        matTooltip="Click this for back to list of initial debtor data"
        class="btn-lg"
        matTooltipPosition="above"
        (click)="previousState()"
      >
        BACK
      </button>
      <button
        mat-raised-button
        matTooltip="SAVE"
        class="btn-lg"
        matTooltipPosition="above"
        (click)="save()"
        *ngIf="clickedMenu !== 'credit-rating'"
      >
        SAVE
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-sidenav position="end" style="position: fixed !important" #drawer class="example-sidenav" mode="over">
    <div class="p-3" style="padding-top: 90px !important">
      <div style="font-size: 1.5rem; font-weight: 600">Select your destination:</div>

      <ul class="side-menu">
        <li *ngFor="let item of subMenu">
          <!--SUBMENU DOESNT HAS A CHILD-->
          <a
            *ngIf="!item.hasOwnProperty('child')"
            href="javascript:void(0)"
            class="text-capitalize"
            (click)="routeSubMenu(item); drawer.toggle()"
            >{{ item.text }}</a
          >
          <!--SUBMENU HAS A CHILD-->
          <span class="text-capitalize" *ngIf="item.hasOwnProperty('child')">{{ item.text }}</span>
          <ul *ngIf="item.hasOwnProperty('child')">
            <li *ngFor="let itemChild of item.child">
              <a href="javascript:void(0)" (click)="routeSubMenu(itemChild); drawer.toggle()" class="text-capitalize">{{
                itemChild.text
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<button
  matTooltip="Click this for show sub menu of initial debtor data"
  style="z-index: 1"
  class="btn-menu-floating"
  (click)="drawer.toggle()"
  mat-fab
  color="warn"
  matTooltipPosition="before"
>
  <mat-icon>more_vert</mat-icon>
</button>
