<mat-card>
  <mat-card-header>
    <mat-card-title>Initial Debtor Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <input placeholder="search in here ......." matInput type="text" [(ngModel)]="currentSearch" />
          <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="mt-3">
          <button mat-raised-button color="primary" (click)="rebuildIndex()" class="btn-lg w-100" *jhiHasAnyAuthority="['ROLE_ADMIN']">
            REBUILD INDEX
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table mat-table [dataSource]="partyCifs" class="mat-table-expand" multiTemplateDataRows>
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
            <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
              {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
            </td>
          </ng-container>
          <ng-container matColumnDef="cif">
            <th mat-header-cell *matHeaderCellDef class="text-center">CIF</th>
            <td mat-cell *matCellDef="let element">{{ element.customerNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef class="text-center">Debtor Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.customerPerson ? element.customerPerson.afiks : '' }}
              {{ element.customerOrganization ? element.customerOrganization.groupName : element.customerPerson.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="customerType">
            <th mat-header-cell *matHeaderCellDef class="text-center">Customer Type</th>
            <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
              {{ element.customerType.toLowerCase() }}
            </td>
          </ng-container>
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef class="text-center">Created Date</th>
            <td mat-cell *matCellDef="let element" class="text-center">
              {{ element.createdDate | formatMediumDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
            <td mat-cell *matCellDef="let element" class="text-center text-lowercase">
              <a
                href="javascript:void();"
                [routerLink]="['/party-cif', element.id, 'detail']"
                mat-icon-button
                (click)="$event.stopPropagation()"
              >
                <mat-icon>remove_red_eye</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="hobis">
            <th mat-header-cell *matHeaderCellDef class="text-center">SYNC Update Hobis</th>
            <td mat-cell *matCellDef="let element" class="text-center">
              <button mat-icon-button (click)="updateFromHobis()">
                <mat-icon>refresh</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()"
              >
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
              <div class="mat-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="p-3 w-100">
                  <mat-card class="w-50 mx-auto" *ngIf="element.customerPerson">
                    <mat-card-header class="w-100">
                      <mat-card-subtitle class="fw-bold black text-uppercase">Personal Detail</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="clearfix">
                        <div class="float-start fw-bolder">Place, Date of Birth</div>
                        <div class="float-end">{{ element.customerPerson.pob }}, {{ element.customerPerson.dob | formatMediumDate }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Marital Status</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.maritalStatus | lowercase }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">KTP</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.personalIdNumber }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">KK</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.familyIdNumber }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">NPWP</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.taxIdNumber }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Email</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.personalEmail }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Home Phone</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.homePhone }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">CellPhone</div>
                        <div class="float-end text-capitalize">{{ element.customerPerson.cellPhone1 }}</div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="w-50 mx-auto" *ngIf="element.customerOrganization">
                    <mat-card-header>
                      <mat-card-subtitle class="fw-bold black text-uppercase text-center">Corporate Detail </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="clearfix">
                        <div class="float-start fw-bolder">NPWP</div>
                        <div class="float-end">{{ element.customerOrganization.taxIdNumber }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Office Phone</div>
                        <div class="float-end">{{ element.customerOrganization.officePhone }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Phone 1</div>
                        <div class="float-end">{{ element.customerOrganization.otherPhone1 }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Phone 2</div>
                        <div class="float-end">{{ element.customerOrganization.otherPhone2 }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Email</div>
                        <div class="float-end">{{ element.customerOrganization.officeMail }}</div>
                      </div>
                      <div class="clearfix mt-3">
                        <div class="float-start fw-bolder">Fax</div>
                        <div class="float-end">{{ element.customerOrganization.faxOffice }}</div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </td>
          </ng-container>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">No records found.</td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumnsExpand"
            [class.mat-expanded-row]="expandedElement === element"
            class="mat-element-row"
            (click)="expandedElement = expandedElement === element ? null : element"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mat-detail-row"></tr>
        </table>
        <mat-card *ngIf="loading" id="material-loading-bar">
          <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
        </mat-card>
        <mat-paginator
          showFirstLastButtons
          ngClass="transparant"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOption"
          (page)="loadDataLazy($event)"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button mat-raised-button (click)="openDialogFindCif()"><mat-icon>search</mat-icon> FIND CIF</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
