ul.side-menu {
  margin-top: 10px;
  list-style: none;
  padding-left: 0.5rem;
  li {
    margin: 20px 0px;
    span {
      font-size: 1.2rem;
      font-weight: 600;
    }
    a {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  ul {
    margin-top: 5px;
    padding-left: 2.3rem;
  }
}
