<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.organizationFinancial.home.viewLabel">Organization Financials</span>
  </h5>
  <p-panel>
    <p-header>
      <span jhiTranslate="losgwApp.organizationFinancial.detail.title">Organization Financial</span> {{ organizationFinancial.id }}
    </p-header>
    <jhi-organization-financial-view [item]="organizationFinancial" mode="item"> </jhi-organization-financial-view>
    <p-footer>
      <button type="submit" (click)="previousState()" class="btn-info flat-style-button">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
      </button>

      <button type="button" [routerLink]="['/organization-financial', organizationFinancial.id, 'edit']" class="btn-info flat-style-button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
      </button>
    </p-footer>
  </p-panel>
</div>
