<div class="page-view">
  <div class="card">
    <h5 class="page-heading">
      <span jhiTranslate="losgwApp.organizationFinancial.home.title">Initial Debitor Data</span>
    </h5>
    <div class="gy-5">
      <div class="col-6 mt-3">
        <ejs-dropdownlist
          cssClass="e-outline"
          floatLabelType="Auto"
          id="ddlelement"
          [dataSource]="BlodType"
          placeholder="Segmentation"
        ></ejs-dropdownlist>
      </div>
    </div>
    <div class="middle">
      <span><button (click)="back()" ejs-button>ASSUMTION</button></span>
      <span><button [routerLink]="['new']" ejs-button>PROJECTION</button></span>
      <span><button ejs-button>FINANCIAL STATEMENT</button></span>
      <p class="title">FINANCIAL STATEMENT</p>
    </div>

    <div class="row">
      <div class="col">
        <ejs-uploader
          #defaultupload
          [autoUpload]="false"
          [asyncSettings]="path"
          (success)="onUploadSuccess($event)"
          (failure)="onUploadFailure($event)"
        ></ejs-uploader>
      </div>
      <div class="col">
        <button class="download" ejs-button>DOWNLOAD</button>
      </div>
    </div>
  </div>
</div>
