<div class="page-view">
  <div class="card">
    <div class="middle">
      <p class="title">FINANCIAL DATA</p>
    </div>
    <div class="grid">
      <div>
        <div class="form-group">
          <ejs-textbox
            name="fromDate"
            placeholder="* Hight Norm Trans Cash"
            cssClass="e-outline"
            type="text"
            floatLabelType="Auto"
          ></ejs-textbox>
        </div>

        <div class="form-group">
          <ejs-textbox name="fromDate" placeholder="* Non Cash RP." cssClass="e-outline" type="text" floatLabelType="Auto"></ejs-textbox>
        </div>

        <ejs-combobox
          id="comboelement"
          name="bloodType"
          placeholder="* Source Income"
          cssClass="e-outline"
          [dataSource]="data"
          floatLabelType="Auto"
        ></ejs-combobox>

        <ejs-combobox
          id="comboelement"
          placeholder="* Source Income"
          cssClass="e-outline"
          [dataSource]="data"
          floatLabelType="Auto"
        ></ejs-combobox>
      </div>
      <div>
        <div class="form-group">
          <ejs-textbox name="fromDate" placeholder="* Sales IDR" cssClass="e-outline" type="text" floatLabelType="Auto"></ejs-textbox>
        </div>

        <div class="form-group">
          <ejs-textbox
            name="fromDate"
            placeholder="* Hight Norm Trans Cash"
            cssClass="e-outline"
            type="text"
            floatLabelType="Auto"
          ></ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox
            name="fromDate"
            placeholder="* Net Profiy After Tax IDR"
            cssClass="e-outline"
            type="text"
            floatLabelType="Auto"
          ></ejs-textbox>
        </div>
        <div class="form-group">
          <ejs-textbox name="fromDate" placeholder="* Capital IDR" cssClass="e-outline" type="text" floatLabelType="Auto"></ejs-textbox>
        </div>
      </div>
    </div>

    <h5 class="page-heading">
      <span jhiTranslate="losgwApp.organizationFinancial.home.title">Initial Debitor Data</span>
    </h5>
    <div class="gy-5">
      <div class="col-6 mt-3">
        <ejs-dropdownlist
          (select)="fa($event)"
          cssClass="e-outline"
          floatLabelType="Auto"
          id="ddlelement"
          [dataSource]="BlodType"
          placeholder="Segmentation"
        ></ejs-dropdownlist>
      </div>
    </div>

    <div *ngIf="!selected">
      <div class="middle">
        <p class="title">FINANCIAL STATEMENT</p>
      </div>

      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <span>
            <a class="btn" href="javascript:void(0)" style="cursor: pointer" tooltip="Upload File">
              <fa-icon icon="upload"></fa-icon>
              <label for="fileInput" style="cursor: pointer"> &nbsp;&nbsp;{{ 'entity.action.loadFile' | translate }}</label>
              <input
                id="fileInput"
                type="file"
                (change)="onUploadFile($event)"
                multiple="false"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                style="display: none"
                #inputFile
              />
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <a class="btn" (click)="downloadFile('partySlik.xls')" href="javascript:void(0)" style="cursor: pointer" tooltip="Download File">
            <span><fa-icon icon="download"></fa-icon> &nbsp;{{ 'entity.action.downloadFile' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="selected">
      <div class="middle">
        <span><button (click)="back()" ejs-button>ASSUMTION</button></span>
        <span><button [routerLink]="['new']" ejs-button>PROJECTION</button></span>
        <span><button [routerLink]="['view']" ejs-button>FINANCIAL STATEMENT</button></span>
        <p class="title">ASSUMTION</p>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <span>
            <a class="btn" href="javascript:void(0)" style="cursor: pointer" tooltip="Upload File">
              <fa-icon icon="upload"></fa-icon>
              <label for="fileInput" style="cursor: pointer"> &nbsp;&nbsp;{{ 'entity.action.loadFile' | translate }}</label>
              <input
                id="fileInput"
                type="file"
                (change)="onUploadFile($event)"
                multiple="false"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                style="display: none"
                #inputFile
              />
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <a class="btn" (click)="downloadFile('partySlik.xls')" href="javascript:void(0)" style="cursor: pointer" tooltip="Download File">
            <span><fa-icon icon="download"></fa-icon> &nbsp;{{ 'entity.action.downloadFile' | translate }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <p-table
    [value]="organizationFinancials"
    dataKey="id"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="rowsPerPage"
    [first]="first"
    [totalRecords]="totalItems"
    [loading]="loading"
    [rowHover]="true"
    [lazy]="true"
    [rowTrackBy]="trackId"
    [responsive]="true"
    [stateKey]="'organizationFinancials_grid_state'"
    (onLazyLoad)="loadDataLazy($event)"
    (onPage)="pageSizeChanged($event)"
  >
    <ng-template pTemplate="caption">
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
          <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
            <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60px; text-align: center"><span jhiTranslate="global.field.sequence">No</span></th>
        <th style="width: 130px; text-align: center"><span jhiTranslate="global.field.id">ID</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.organizationFinancial.fromDate">From Date</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.organizationFinancial.thruDate">Thru Date</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.organizationFinancial.organization">Organization</span></th>
        <th style="width: 140px; text-align: center"><span jhiTranslate="global.field.action">Action</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: right">{{ rowIndex + 1 }}</td>
        <td style="text-align: left; width: 120px">{{ rowData.id }}</td>
        <td style="text-align: center">{{ rowData.fromDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td style="text-align: center">{{ rowData.thruDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>
          <div *ngIf="rowData.organizationId">
            <a [routerLink]="['../party-group', rowData.organizationId, 'view']">{{ rowData.organizationName }}</a>
          </div>
        </td>
        <td style="text-align: center">
          <button pButton type="submit" [routerLink]="['/organization-financial', rowData.id, 'view']" class="flat-button">
            <fa-icon icon="eye"></fa-icon>
          </button>
          <button pButton type="submit" [routerLink]="['/organization-financial', rowData.id, 'edit']" class="flat-button">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button pButton type="button" (click)="deleteItem(rowData.id)" class="flat-button">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table> -->
</div>
