<div class="">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.customerInfo.home.title">Customer Infos</span>
  </h5>

  <div class="card-body">
    <form>
      <div class="card-header">
        <p class="text-header">Personal Info</p>
      </div>

      <jhi-person-view [item]="customerInfoModel"></jhi-person-view>

      <div class="card-header">
        <p class="text-header">Address Info</p>
      </div>

      <jhi-postal-address-view></jhi-postal-address-view>
      <div>
        <div class="place-button">
          <button class="btn-danger" ejs-button>Cancel</button>
          <button class="btn-info" ejs-button (click)="saveData()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
