<div *ngIf="type === 'dueDate'">
  <p-calendar
    style="text-align: center"
    appendTo="body"
    [(ngModel)]="dueDateDates"
    (ngModelChange)="sendOutDate()"
    placeholder="Select Dates"
    [numberOfMonths]="1"
    dateFormat="yy/mm/dd"
    [readonlyInput]="true"
    [disable]="disableCalendar"
  >
  </p-calendar>
</div>

<div *ngIf="type === 'progress'">
  <p-calendar
    *ngIf="mode === 'DAILY'"
    appendTo="body"
    [(ngModel)]="filterRange"
    (ngModelChange)="emitStartEndDate('DAILY')"
    placeholder="Select Dates Range"
    inputId="mltimonths"
    [numberOfMonths]="1"
    [maxDate]="maxDateVal"
    selectionMode="range"
    dateFormat="yy/mm/dd"
    [disable]="disableCalendar"
    [readonlyInput]="true"
  >
  </p-calendar>
  <p-calendar
    style="text-align: center"
    *ngIf="mode === 'WEEKLY'"
    appendTo="body"
    [yearNavigator]="true"
    [(ngModel)]="progressWeekly"
    (ngModelChange)="emitStartEndDate('WEEKLY')"
    placeholder="Select Dates"
    selectionMode="range"
    [numberOfMonths]="1"
    dateFormat="yy/mm/dd"
    [disable]="disableCalendar"
    [readonlyInput]="true"
  >
  </p-calendar>
  <p-calendar
    style="text-align: center"
    *ngIf="mode === 'MONTHLY'"
    appendTo="body"
    view="year"
    [(ngModel)]="progressDates"
    (ngModelChange)="emitStartEndDate('MONTHLY')"
    placeholder="Select Dates"
    [numberOfMonths]="1"
    dateFormat="yy/mm/dd"
    [disable]="disableCalendar"
    [readonlyInput]="true"
  >
  </p-calendar>
</div>
