<div class="row remove-row-scroll">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <ejs-breadcrumb cssClass="margin: 1rem;">
          <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="Position Type" url="/position-type"></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
        <div class="header-container">
          <div class="header-content">
            <img class="back-image" src="../../../content/images/back-icon.svg" (click)="previousState()" />
            <span class="back-prefix" (click)="previousState()">Back | </span>
          </div>
          <p class="e-card-sub-title">Position Type</p>
        </div>
      </div>
    </div>

    <mat-card style="margin: 1rem">
      <mat-card-content>
        <div class="col-12">
          <div class="mt-3">
            <mat-form-field appearance="outline" class="w-100">
              <input (keyup.enter)="search()" matInput placeholder="Search in here..." type="text" [(ngModel)]="currentSearch" />
              <button *ngIf="positionSearch === false" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                <mat-icon>search</mat-icon>
              </button>

              <button *ngIf="positionSearch === true" matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <!-- <button mat-raised-button color="primary" (click)="rebuildIndex()" class="btn-lg w-100" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                REBUILD INDEX
              </button> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin: 1rem">
      <table mat-table [dataSource]="items" class="mat-table-expand" multiTemplateDataRows>
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef width="5%" class="rounding-table-left grid-index-right">No</th>
          <td mat-cell *matCellDef="let element; let i = dataIndex" class="grid-index-right">
            {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="grid-index-left">Position Type Id</th>
          <td mat-cell *matCellDef="let element" class="grid-index-left">
            {{ element.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="grid-index-left">Position Name</th>
          <td mat-cell *matCellDef="let element" class="string-output grid-index-left">{{ element.description }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="text-center">Title</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.title }}
          </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="numOfPosition">
          <th mat-header-cell *matHeaderCellDef class="grid-index-right">Num Of Position</th>
          <td mat-cell *matCellDef="let element" class="number-output grid-index-right">
            {{ element.numOfPosition }}
          </td>
        </ng-container> -->
        <!-- <ng-container matColumnDef="parentDescription">
          <th mat-header-cell *matHeaderCellDef class="text-center">Parents</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.parentDescription }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="internalTypeDescription">
          <th mat-header-cell *matHeaderCellDef class="grid-index-left">Internal</th>
          <td mat-cell *matCellDef="let element" class="grid-index-left">
            {{ element.internalTypeDescription }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="grid-index-left">Action</th>
          <td mat-cell *matCellDef="let element" class="grid-index-left">
            <a
              href="javascript:void();"
              [routerLink]="['/position-type', element.id, 'view']"
              mat-icon-button
              (click)="$event.stopPropagation()"
            >
              <mat-icon>remove_red_eye</mat-icon>
            </a>

            <a
              href="javascript:void();"
              [routerLink]="['/position-type', element.id, 'edit']"
              mat-icon-button
              (click)="$event.stopPropagation()"
            >
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="rounding-table-right grid-index-right">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <!-- <button
                  mat-icon-button
                  aria-label="expand row"
                  (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()"
                >
                  <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button> -->
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumnsExpand"
          [class.mat-expanded-row]="expandedElement === element"
          class="mat-element-row"
          (click)="expandedElement = expandedElement === element ? null : element"
        ></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mat-detail-row"></tr> -->
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <mat-paginator
        showFirstLastButtons
        ngClass="transparant"
        [length]="paginatorLength"
        [pageSize]="paginatorPageSize"
        [pageSizeOptions]="paginatorPageSizeOption"
        (page)="loadDataLazy($event)"
      >
      </mat-paginator>
    </mat-card>
    <div class="e-card-actions">
      <div class="d-flex justify-content-center mb-3 mt-3">
        <!-- <button mat-raised-button [routerLink]="['./new']">ADD BRANCH</button>
          <button mat-raised-button style="margin-left: 5px">UPLOAD</button>
          <button mat-raised-button style="margin-left: 5px" (click)="generate()">DOWNLOAD</button> -->
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.positionType.home.title">Position Types</span>
  </h5>
  <p-table
    [value]="positionTypes"
    dataKey="id"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="rowsPerPage"
    [first]="first"
    [totalRecords]="totalItems"
    [loading]="loading"
    [rowHover]="true"
    [lazy]="true"
    [rowTrackBy]="trackId"
    [responsive]="true"
    [stateKey]="'positionTypes_grid_state'"
    (onLazyLoad)="loadDataLazy($event)"
    (onPage)="pageSizeChanged($event)"
  >
    <ng-template pTemplate="caption">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="btn" (click)="print()" style="cursor: pointer" tooltip="Print current data">
            <span><fa-icon icon="print"></fa-icon> &nbsp;{{ 'entity.action.print' | translate }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <span>
            <a class="btn" href="javascript:void(0)" style="cursor: pointer" tooltip="Upload File">
              <fa-icon icon="upload"></fa-icon>
              <label for="fileInput" style="cursor: pointer"> &nbsp;&nbsp;{{ 'entity.action.loadFile' | translate }}</label>
              <input
                id="fileInput"
                type="file"
                (change)="onUploadFile($event)"
                multiple="false"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                style="display: none"
                #inputFile
              />
            </a>
          </span>
        </li>
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])">
          <a
            class="btn"
            (click)="downloadFile('positionType.xls')"
            href="javascript:void(0)"
            style="cursor: pointer"
            tooltip="Download File"
          >
            <span><fa-icon icon="download"></fa-icon> &nbsp;{{ 'entity.action.downloadFile' | translate }}</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
          <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
            <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60px; text-align: center"><span jhiTranslate="global.field.sequence">No</span></th>
        <th style="width: 130px; text-align: center"><span jhiTranslate="global.field.id">ID</span></th>
        <th><span jhiTranslate="losgwApp.positionType.description">Description</span></th>
        <th><span jhiTranslate="losgwApp.positionType.title">Title</span></th>
        <th style="text-align: right; width: 100px"><span jhiTranslate="losgwApp.positionType.numOfPosition">Num Of Position</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.positionType.parent">Parent</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.positionType.internalType">Internal Type</span></th>
        <th style="width: 140px; text-align: center"><span jhiTranslate="global.field.action">Action</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: right">{{ rowIndex + 1 }}</td>
        <td style="text-align: left; width: 120px">{{ rowData.id }}</td>
        <td>{{ rowData.description }}</td>
        <td>{{ rowData.title }}</td>
        <td style="text-align: right">{{ rowData.numOfPosition | number }}</td>
        <td>
          <div *ngIf="rowData.parentId">
            <a [routerLink]="['../position-type', rowData.parentId, 'view']">{{ rowData.parentDescription }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="rowData.internalTypeId">
            <a [routerLink]="['../internal-type', rowData.internalTypeId, 'view']">{{ rowData.internalTypeDescription }}</a>
          </div>
        </td>
        <td style="text-align: center">
          <button pButton type="submit" [routerLink]="['/position-type', rowData.id, 'view']" class="flat-button">
            <fa-icon icon="eye"></fa-icon>
          </button>
          <button pButton type="submit" [routerLink]="['/position-type', rowData.id, 'edit']" class="flat-button">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button pButton type="button" (click)="deleteItem(rowData.id)" class="flat-button">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div> -->
