.card-bg {
  background-color: white;
  padding: 10px;
}

.search-bar {
  padding: 20px;
}

.table-grid {
  padding-top: 20px;
}

.header {
  background-color: rgb(95, 92, 92);
  color: black;
  text-size-adjust: 20px;
  padding: 10px;
  margin: 10px;
}

.mat-card-title {
  margin-top: 10px;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
