<div class="e-sample-resize-container e-card-resize-container">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title"></div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <div class="card">
            <div class="mx-3 mt-3 mb-3">
              <div class="card-border">
                <div class="e-card-sub-title">Business Activity</div>
                <div class="form-space">
                  <div class="row my-3">
                    <div class="col">
                      <!-- <div class="form-space"> -->
                      <ejs-textbox [(ngModel)]="visitBy" placeholder="Visit By" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                    </div>
                    <div class="col">
                      <ejs-textbox [(ngModel)]="visitWith" placeholder="Visit With" floatLabelType="Auto" cssClass="e-outline">
                      </ejs-textbox>
                      <!-- </div> -->
                    </div>
                  </div>

                  <div class="row my-3">
                    <div class="col">
                      <!-- <div class="form-space"> -->
                      <ejs-textbox [(ngModel)]="visitDate" placeholder="Visit Date" floatLabelType="Auto" cssClass="e-outline">
                      </ejs-textbox>
                    </div>
                    <div class="col">
                      <ejs-textbox
                        [(ngModel)]="positionInCompany"
                        placeholder="Posisition in Company"
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      >
                      </ejs-textbox>
                      <!-- </div> -->
                    </div>
                  </div>

                  <div class="row my-3">
                    <div class="col-6">
                      <!-- <div class="form-space"> -->
                      <ejs-textbox [(ngModel)]="venue" placeholder="Venue" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
                <ejs-richtexteditor [(value)]="richText" [toolbarSettings]="tools"> </ejs-richtexteditor>
              </div>
            </div>
          </div>
        </div>
        <div class="e-card-actions">
          <div class="d-flex justify-content-end">
            <button (click)="save()" class="btn-info" style="margin-top: 20px; margin-right: 15px">SAVE</button>
            <!-- <button class="btn-info" style="margin-top: 20px; margin-bottom: 20px; margin-right: 15px">BACK</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
