<mat-dialog-content style="overflow-y: auto">
  <div class="row my-3">
    <div class="col">
      <ejs-textbox
        placeholder="Based on Notarial Deed No"
        floatLabelType="Auto"
        cssClass="e-outline"
        [(ngModel)]="deeedDataNumber"
        disabled
      >
      </ejs-textbox>
    </div>
    <div class="col">
      <ejs-datepicker placeholder="Date" floatLabelType="Auto" cssClass="e-outline" [(ngModel)]="deedDataDate" disabled> </ejs-datepicker>
    </div>
  </div>
  <div class="my-5"></div>
  <div class="row my-3">
    <jhi-organization-management-list [cif]="data.item.customerNumber" managementType="MANAGEMENT_DATA"> </jhi-organization-management-list>
    <div class="my-5"></div>
    <jhi-organization-management-list [cif]="data.item.customerNumber" managementType="SHAREHOLDER"> </jhi-organization-management-list>
    <div class="my-5"></div>
    <jhi-organization-management-list [cif]="data.item.customerNumber" managementType="CONTROL_PERSON"> </jhi-organization-management-list>
  </div>
</mat-dialog-content>
