<mat-card t-card class="mat-card mat-focus-indicator">
  <div class="row" style="margin-bottom: 1rem">
    <div class="title">
      <h4>TRADE CHECKING</h4>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row" style="margin-bottom: 1rem" md>
      <div class="sub-title">
        <h4>Largest Suppliers</h4>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card-border">
            <ejs-grid #grid [dataSource]="datasup" [allowPaging]="true" [pageSettings]="pageSettings">
              <e-columns>
                <e-column field="indexNum" headerText="No" textAlign="center" width="150"></e-column>
                <e-column field="suppliersName" headerText="Suppliers Name" textAlign="center" width="200"> </e-column>
                <e-column field="termsOfPayment" headerText="Terms of Payment" textAlign="center" width="250"> </e-column>
                <e-column field="relationshipSince" headerText="Relationship Since" textAlign="center" width="150"> </e-column>
                <e-column field="purchase" headerText="Purchase(%)" textAlign="center" width="250"> </e-column>
                <e-column field="reflection" headerText="(%)Reflection in Bank Account" textAlign="center" width="250"> </e-column>
                <e-column field="contact" headerText="Contact Person & Telephone" textAlign="center" width="250"> </e-column>
                <e-column field="explanation" headerText="Explanation" textAlign="center" width="150"></e-column>
                <e-column headerText="Action" width="150" textAlign="Center">
                  <ng-template #template let-data>
                    <button pButton type="button" (click)="onEdit(data)" class="flat-button">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button" (click)="onDelete(data)" class="flat-button">
                      <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
        <div class="e-card-actions"></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 mt-3">
    <button ejs-button class="btn-info" (click)="onAddSup($event)">Add</button>
  </div>

  <div class="col-sm-6">
    <div class="row" style="margin-bottom: 1rem" md>
      <div class="sub-title">
        <h4>Largest Buyers</h4>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card-border">
            <ejs-grid #grid [dataSource]="databuy" [allowPaging]="true" [pageSettings]="pageSettings">
              <e-columns>
                <e-column field="indexNum" headerText="No" textAlign="center" width="150"></e-column>
                <e-column field="buyersName" headerText="Buyers Name" textAlign="center" width="200"> </e-column>
                <e-column field="termsOfPayment1" headerText="Terms of Payment" textAlign="center" width="250"> </e-column>
                <e-column field="relationshipSince1" headerText="Relationship Since" textAlign="center" width="150"> </e-column>
                <e-column field="purchase1" headerText="Purchase(%)" textAlign="center" width="250"> </e-column>
                <e-column field="reflection1" headerText="(%)Reflection in Bank Account" textAlign="center" width="250"> </e-column>
                <e-column field="contact1" headerText="Contact Person & Telephone" textAlign="center" width="250"> </e-column>
                <e-column field="explanation1" headerText="Explanation" textAlign="center" width="150"></e-column>
                <e-column headerText="Action" width="150" textAlign="Center">
                  <ng-template #template let-data>
                    <button pButton type="button" (click)="onEdit1(data)" class="flat-button">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button" (click)="onDelete1(data)" class="flat-button">
                      <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
        <div class="e-card-actions"></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-3 mt-3">
    <button ejs-button class="btn-info" (click)="onAddBuy($event)">Add</button>
  </div>
</mat-card>

<!-- Dialog Add -->
<ejs-dialog id="dialog" #ejDialogAdd isModal="true" (overlayClick)="onOverlayAddClick()" [visible]="dialogVisible">
  <ng-template #header> </ng-template>
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].buyersName"
              placeholder="Buyers Name"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].termsOfPayment1"
              placeholder="Terms of Payment"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].relationshipSince1"
              placeholder="Relationship Since"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].purchase1"
              placeholder="Purchase(%)"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].reflection1"
              placeholder="(%)Reflection in Bank Account"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].contact1"
              placeholder="Contact Person & Telephone"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].explanation1"
              placeholder="Explanation"
              cssClass="e-outline"
              floatLabelType="Auto"
              [multiline]="true"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="d-flex justify-content-end my-2">
      <button ejs-button class="btn-info" (click)="addToGrid($event)">Save</button>
    </div>
  </ng-template>
</ejs-dialog>

<!-- Dialog Add -->
<ejs-dialog id="dialog" #ejDialogAdd1 isModal="true" (overlayClick)="onOverlayAddClick1()" [visible]="dialogAddVisible">
  <ng-template #header> </ng-template>
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].suppliersName"
              placeholder="Suppliers Name"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].termsOfPayment"
              placeholder="Terms of Payment"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].relationshipSince"
              placeholder="Relationship Since"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].purchase"
              placeholder="Purchase(%)"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].reflection"
              placeholder="(%)Reflection in Bank Account"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].contact"
              placeholder="Contact Person & Telephone"
              cssClass="e-outline"
              floatLabelType="Auto"
            >
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox
              [(ngModel)]="creditProposalItem.attributes['tradeChecking'].explanation"
              placeholder="Explanation"
              cssClass="e-outline"
              floatLabelType="Auto"
              [multiline]="true"
            >
            </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="d-flex justify-content-end my-2">
      <button ejs-button class="btn-info" (click)="addToGrid1($event)">Save</button>
    </div>
  </ng-template>
</ejs-dialog>
