<div class="e-sample-resize-container e-card-resize-container">
  <div class="row">
    <div class="card-layout row mb-3">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">EXPOSURE DEBTOR</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <ejs-grid
            allowTextWrap="true"
            #grid
            [dataSource]="_creditProposal.products"
            [allowPaging]="true"
            [pageSettings]=""
            gridLines="both"
          >
            <e-columns>
              <e-column field="indexNum" headerText="No" textAlign="center"></e-column>
              <e-column
                field="attributes.facilityType"
                headerText="Facility Type"
                headerTextAlign="center"
                width="140"
                textAlign="left"
              ></e-column>
              <!-- <e-column
                  field="attributes.availableLimit"
                  headerText="Available Limit "
                  headerTextAlign="center"
                  width="140"
                  textAlign="right"
                ></e-column> -->

              <e-column
                field="attributes.initialLimit"
                headerText="Initial Limit"
                headerTextAlign="center"
                width="140"
                textAlign="right"
              ></e-column>

              <e-column field="attributes.changes" headerText="Change" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="attributes.outstanding" headerText="O/S" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column
                field="attributes.totalPlafond"
                headerText="Total Plafond"
                headerTextAlign="center"
                width="140"
                textAlign="right"
              ></e-column>
              <!-- <e-column
                  field="attributes.rate"
                  headerText="Interest Rate (%)"
                  headerTextAlign="center"
                  width="140"
                  textAlign="right"
                ></e-column> -->
              <e-column
                field="attributes.provitionFee"
                headerText="Provition"
                headerTextAlign="center"
                width="140"
                textAlign="right"
              ></e-column>
              <e-column
                field="attributes.adminFee"
                headerText="Admin Fee"
                headerTextAlign="center"
                width="140"
                textAlign="right"
              ></e-column>
              <!-- <e-column field="frist" headerText="First Disburse Date" headerTextAlign="center" width="140" textAlign="right"></e-column> -->
              <e-column field="attributes.maturity" headerText="Tenor" headerTextAlign="center" width="140" textAlign="left"></e-column>
            </e-columns>
          </ejs-grid>
          <div class="e-card-actions"></div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  field="initialLimit"
                  placeholder="Sub Total Initial LImit (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="init"
                  readonly="true"
                ></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Sub Total Change (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="change"
                  readonly="true"
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="SubTotal O/S (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="os"
                  readonly="true"
                ></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Sub Total Plafond  (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="totalcredit"
                  readonly="true"
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox
                    placeholder="Sub Total Available Limit (IDR)"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    [value]="available"
                    readonly="true"
                  ></ejs-textbox>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </div>

    <div class="card-layout row mb-3">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">EXPOSURE GROUP</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <ejs-grid allowTextWrap="true" #grid [dataSource]="" [allowPaging]="true" [pageSettings]="" gridLines="both">
            <e-columns>
              <e-column field="indexNum" headerText="No" textAlign="center"></e-column>
              <e-column field="namegroup" headerText="Group name" headerTextAlign="center" width="140" textAlign="left"></e-column>
              <e-column
                field="applicationNumber"
                headerText="Facility Type"
                headerTextAlign="center"
                width="140"
                textAlign="left"
              ></e-column>
              <e-column field="cifnumber" headerText="Available Limit " headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="InitialLimit2" headerText="Initial Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Change" headerText="Change" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="OS" headerText="O/S" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="credit" headerText="Credit Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="interet" headerText="Interest Rate (%)" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Providion" headerText="Provition" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="admin" headerText="Admin Fee" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="frist" headerText="First Disburst Date" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Maturity" headerText="Tenor" headerTextAlign="center" width="140" textAlign="left"></e-column>
            </e-columns>
          </ejs-grid>
          <div class="e-card-actions"></div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Sub Total Initial LImit (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]=""
                ></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Sub Total Change (IDR)" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="SubTotal O/S (IDR)" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Sub Total Plafond (IDR)" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox placeholder="Sub Total Available Limit (IDR)" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
                </div>
              </div>
            </div> -->
        </div>
      </div>
    </div>

    <div class="card-layout row mb-5">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">TOTAL EXPOSURE</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Total Debitur Cash Loan" cssClass="e-outline" floatLabelType="Auto" readonly> </ejs-textbox>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Total Exposure Initial Limit (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="init"
                  readonly
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Total Debitur Non cash Loan" cssClass="e-outline" floatLabelType="Auto" readonly></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Total Exposure Change (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="change"
                  readonly
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Total Group Cash Loan" cssClass="e-outline" floatLabelType="Auto" readonly></ejs-textbox>
              </div>
            </div>
            <div class="col -6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Total Exposure O/S (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="os"
                  readonly
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Total Group Cash Loan" cssClass="e-outline" floatLabelType="Auto" readonly></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox
                  placeholder="Grand Total Plafond (IDR)"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]="totalcredit"
                  readonly
                ></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Grand Total Debtor" cssClass="e-outline" floatLabelType="Auto" readonly></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <ejs-textbox placeholder="Grand Total Group" cssClass="e-outline" floatLabelType="Auto" readonly></ejs-textbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
