<div class="card">
  <div class="header">Detail FasilitY</div>
  <div class="mx-3">
    <div class="row">
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Entry Facilility Number" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Interest Rest Type" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Application Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Interest Rest Periode" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Facility Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Index Rate" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Maturity" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Spread Of Margin" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Maturity Date" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Total Rate" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-1">
        <div class="form">
          <ejs-checkbox label="Sub-Limit"></ejs-checkbox>
        </div>
      </div>
      <div class="col-5">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Sub Limit From Exiting Facility" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Provition Fee" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Rate / Amount Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <label for="">Comitted Line:</label>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-radiobutton label="Comitted" name="comittedLine" class="button-check"></ejs-radiobutton>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-radiobutton label="Un-Comitted Line" name="comittedLine"></ejs-radiobutton>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Admin Fee" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Rate / Amount Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Currency" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Grace Periode" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Kurs" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Available Limit" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Initial Limit" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Available Periode" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Outstanding" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Installment Estimation" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Date of O/S" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-4">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Principal Frequency" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-2">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox multiline="true" cssClass="e-outline" placeholder="Loan Purpose" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form"></div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Changes" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Total Plafond" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Memo No" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="NPL Due" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Memo Date" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-combobox cssClass="e-outline" placeholder="Restructe Methode" floatLabelType="auto"> </ejs-combobox>
        </div>
      </div>
      <div class="col-6">
        <div class="form">
          <ejs-textbox cssClass="e-outline" placeholder="Keterangan" floatLabelType="auto"> </ejs-textbox>
        </div>
      </div>
    </div>
    <ejs-richtexteditor id="rteTool" [toolbarSettings]="tools">
      <!-- [fileManagerSettings]='filemanager'> -->
    </ejs-richtexteditor>
  </div>
  <div class="display-button">
    <button ejs-button cssClass="e-succes" content="Save" class="button-save-apr"></button>
    <button ejs-button cssClass="e-succes" content="Back" class="button-back-apr"></button>
  </div>
</div>
