<div class="e-card">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row">
      <div class="card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">GROUP & GUARANTOR ANALYSIS</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <div class="e-card-content">
            <ejs-richtexteditor [(ngModel)]="item.attributes.guarantor.remarks" [toolbarSettings]="tools"> </ejs-richtexteditor>
          </div>
        </div>
      </div>

      <div class="e-card-actions">
        <div class="d-flex justify-content-end">
          <button (click)="save()" class="btn-info" style="margin-top: 20px; margin-right: 15px">SAVE</button>
          <!-- <button (click)="save()" class="btn-info" style="margin-top: 20px; margin-right: 15px">SAVE</button> -->
          <!-- <button class="btn-info" style="margin-top: 20px; margin-bottom: 20px; margin-right: 15px">BACK</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
