/* c05_tab_business_activity */

.mat-green {
  color: white;
  background-color: forestgreen;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.mat-red {
  color: white;
  background-color: rgb(253, 5, 5);
  margin-top: 20px;
  margin-bottom: 20px;
}
