<div class="sticky-top subnav-anchor">
  <mat-card>
    <mat-card-content>
      <mat-list *ngIf="partyType === 'individual'">
        <mat-list-item><a [routerLink]="'.'" fragment="personalinfo">Personal Info</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a [routerLink]="'.'" fragment="spouse">Spouse</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a [routerLink]="'.'" fragment="address">Address</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a [routerLink]="'.'" fragment="employment">Employment Data</a></mat-list-item>
      </mat-list>
      <mat-list *ngIf="partyType === 'corporate'">
        <mat-list-item></mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
