<table mat-table [dataSource]="creditProposal.products" class="w-100">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>No</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>
  <ng-container matColumnDef="applicationType">
    <th mat-header-cell *matHeaderCellDef>Application Type</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.applicationType }}</td>
  </ng-container>
  <ng-container matColumnDef="facilityType">
    <th mat-header-cell *matHeaderCellDef>Facility Type</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.facilityType }}</td>
  </ng-container>
  <ng-container matColumnDef="subLimit">
    <th mat-header-cell *matHeaderCellDef>Sub Limit</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.subLimit }}</td>
  </ng-container>
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef>CCY</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.currency }}</td>
  </ng-container>
  <ng-container matColumnDef="initialLimit">
    <th mat-header-cell *matHeaderCellDef>Initial Limit</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.initialLimit | currency: 'IDR ':'symbol':'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="outstanding">
    <th mat-header-cell *matHeaderCellDef>O/S</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.outstanding | currency: 'IDR ':'symbol':'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="changes">
    <th mat-header-cell *matHeaderCellDef>Changes</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.changes | currency: 'IDR ':'symbol':'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="totalCreditLimit">
    <th mat-header-cell *matHeaderCellDef>Total Plafond</th>
    <td mat-cell *matCellDef="let element">
      {{
        parseStringToInt(element.attributes.initialLimit) + parseStringToInt(element.attributes.changes) | currency: 'IDR ':'symbol':'1.0-0'
      }}
    </td>
  </ng-container>
  <ng-container matColumnDef="provitionFee">
    <th mat-header-cell *matHeaderCellDef>Provition</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.provitionFee | currency: 'IDR ':'symbol':'1.0-0' }}</td>
  </ng-container>
  <ng-container matColumnDef="tenor">
    <th mat-header-cell *matHeaderCellDef>Tenor</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.maturity }}</td>
  </ng-container>
  <ng-container matColumnDef="maturityDate">
    <th mat-header-cell *matHeaderCellDef>Tenor Date</th>
    <td mat-cell *matCellDef="let element">{{ element.attributes.maturityDate | date: 'dd-MM-yyyy' }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button (click)="onEdit('edit', element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
  </tr>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
<mat-card *ngIf="loading" id="material-loading-bar">
  <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
</mat-card>
<div align="right" class="mt-5">
  <button mat-raised-button color="success" (click)="onAdd()">ADD</button>
</div>

<ejs-dialog
  #ejDialogLoanFacilityDetail
  [visible]="visibleDialog"
  isModal="true"
  (overlayClick)="ejDialog.hide()"
  animationSettings="{ effect: 'Zoom', duration: 400, delay: 0 }"
  width="90%"
  height="90%"
>
  <ng-template #content>
    <jhi-credit-proposal-loan-facility-detail
      [stateOfAction]="stateOfAction"
      [creditProposal]="creditProposal"
      [dataEdit]="dataEdit"
      [applicationProduct]="applicationProduct"
      (outApplicationProduct)="onGetApplicationProduct($event)"
    ></jhi-credit-proposal-loan-facility-detail>
  </ng-template>
  <ng-template #footerTemplate>
    <button class="button-info" (click)="onSave()">Save</button>
  </ng-template>
</ejs-dialog>
