@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
.e-card {
  padding: 15px;
  background-color: white;
  border: 1px solid #b8b8b8;
  /* border-radius: 10px; */
  width: 100%;
  height: 100%;
}

.e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.e-grid .e-gridheader {
  background-color: #008881;
  border-radius: 3px;
}

.e-headercell {
  background-color: #008881;
}

.e-headertext {
  font-size: 13px;
  font-weight: bold;
  font-family: 'Poppins';
  color: white;
}

.e-grid .e-headercelldiv {
  display: flex;
}

span.e-label {
  text-align: left;
}

td.e-rowcell {
  text-align: left;
}

.e-grid .e-rowcell:last-child,
.e-grid .e-summarycell:last-child {
  display: flex;
  justify-content: center;
}

.e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd) {
  background-color: #ffffff;
}

.mat-icon {
  position: absolute;
  padding-left: 5px;
}

.grid-table {
  border: 1px solid rgba(136, 136, 136, 0.4);
  border-radius: 5px;
  margin: 5px 5px;
}

.e-grid.e-gridhover tr.e-row:hover .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
  background-color: #0fc9bf !important;
}

.e-grid td.e-active {
  background-color: #0fc9bf;
}

.e-icons {
  color: #00ffff;
  font-size: 20px;
}

.card-input {
  border: 2px solid #a3a6ab;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 0 10px;
  width: 100%;
}

.btn-info {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #008881;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  height: 43px;
  border-radius: 6px;
}

.btn-danger {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d11919;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: inherit;
  height: 43px;
  border-radius: 6px;
}

.form-space {
  margin-top: 10px;
}
