<div class="card-bg">
  <div class="header">
    <mat-card-title>Credit Proposal Approval List</mat-card-title>
  </div>

  <div class="search-bar">
    <div class="container-body">
      <ejs-textbox name="Search" placeholder="Search" cssClass="e-outline" floatLabelType="Auto">[value]="searchValue" </ejs-textbox>
      <button (click)="search(searchValue)">button</button>
    </div>

    <div class="table-grid">
      <ejs-grid #grid [dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings">
        <!-- COMMIT -->
        <e-columns>
          <e-column field="noId" headerText="No" textAlign="left" width="100"></e-column>
          <e-column field="creditId" headerText="Credit Proposal Number/Proposal Date" textAlign="left" width="300"></e-column>
          <e-column field="proposalDate" headerText="Proposal Date" textAlign="left" format="C2" width="200"></e-column>
          <e-column field="debtorNameId" headerText="Debtor Name" textAlign="left" width="180"></e-column>
          <e-column field="customerTypeId" headerText="Customer Type" textAlign="left" width="180"></e-column>
          <e-column field="proposalTypeId" headerText="Proposal Type" textAlign="left" width="150"></e-column>
          <e-column field="locationId" headerText="Location" textAlign="left" width="150"></e-column>
          <e-column field="nikId" headerText="NIK/Akte" textAlign="left" width="150"></e-column>
          <e-column field="picId" headerText="PIC" textAlign="left" width="200"></e-column>
          <e-column field="submitDate" headerText="Submit Date" textAlign="left" width="150"></e-column>
          <e-column field="maturityDate" headerText="Maturity Date" textAlign="left" width="150"></e-column>
          <e-column field="agingId" headerText="Aging" textAlign="left" width="150"></e-column>

          <e-column headerText="Actions" textAlign="center" width="100">
            <ng-template #template let-data>
              <fa-icon icon="eye"></fa-icon>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
