<div class="e-card">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Business Activity</div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="form-space">
      <div class="row my-3">
        <div class="col">
          <!-- <div class="form-space"> -->
          <ejs-textbox [(ngModel)]="visitBy" placeholder="Visit By" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
        </div>
        <div class="col">
          <ejs-textbox [(ngModel)]="visitWith" placeholder="Visit With" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <!-- </div> -->
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <!-- <div class="form-space"> -->
          <ejs-textbox [(ngModel)]="visitDate" placeholder="Visit Date" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
        </div>
        <div class="col">
          <ejs-textbox [(ngModel)]="positionInCompany" placeholder="Posisition in Company" floatLabelType="Auto" cssClass="e-outline">
          </ejs-textbox>
          <!-- </div> -->
        </div>
      </div>

      <div class="row my-3">
        <div class="col-6">
          <!-- <div class="form-space"> -->
          <ejs-textbox [(ngModel)]="venue" placeholder="Venue" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <ejs-richtexteditor [(ngModel)]="notes" [toolbarSettings]="tools"></ejs-richtexteditor>
  </div>
  <button ejs-button (click)="save()" class="btn-info">Save</button>
</div>
