<div class="e-sample-resize-container e-card-resize-container">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">Application Info</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content" style="padding-left: 35px">
          <div class="row justify-content-between">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Entry Facilility Number" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Interest Rest Type" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Application Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Interest Rest Periode" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Facility Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Index Rate" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Maturity" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Spread Of Margin" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Maturity Date" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Total Rate" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-1">
                <div class="form-group">
                  <ejs-checkbox label="Sub-Limit"></ejs-checkbox>
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Sub Limit From Exiting Facility" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Provition Fee" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Rate / Amount Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <label for="">Comitted Line:</label>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-radiobutton label="Comitted" name="comittedLine" class="button-check"></ejs-radiobutton>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-radiobutton label="Un-Comitted Line" name="comittedLine"></ejs-radiobutton>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Admin Fee" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Rate / Amount Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Currency" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Grace Periode" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Kurs" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Available Limit" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Initial Limit" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Available Periode" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Outstanding" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Installment Estimation" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Date of O/S" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Principal Frequency" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Periode Type" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox multiline="true" cssClass="e-outline" placeholder="Loan Purpose" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group"></div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Changes" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Total Plafond" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Memo No" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="NPL Due" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Memo Date" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-combobox cssClass="e-outline" placeholder="Restructe Methode" floatLabelType="auto"> </ejs-combobox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ejs-textbox cssClass="e-outline" placeholder="Keterangan" floatLabelType="auto"> </ejs-textbox>
                </div>
              </div>
              <ejs-richtexteditor id="rteTool" [toolbarSettings]="tools" class="form-group" height="400px">
                <!-- [fileManagerSettings]='filemanager'> -->
              </ejs-richtexteditor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button style="margin: 10px" ejs-button cssClass="e-succes" content="Save" class="btn-info" (click)="printData()"></button>
      <button style="margin: 10px" ejs-button cssClass="e-succes" content="Back" class="btn-info"></button>
    </div>
  </div>
</div>
