<mat-card>
  <mat-card-header>
    <mat-card-title>Initial Debtor Data</mat-card-title>
    <mat-card-subtitle>This is Initial Debtor Data page</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ejs-menu [items]="menuItems" (select)="selectMenuItem($event)"></ejs-menu>
    <div style="margin-top: 20px" *ngIf="!changeForm">
      <div class="" [hidden]="selectedMenuId !== 'credit-rating'">
        <jhi-credit-rating-view mode="edit" [item]="creditProposal.creditRatings[0]"></jhi-credit-rating-view>
      </div>
      <div class="" [hidden]="selectedMenuId !== 'customer-info'">
        <ejs-radiobutton
          (change)="selectPartyType($event)"
          *ngFor="let item of partyTypes"
          name="customerType"
          [label]="item"
          [(ngModel)]="selectedPartyType"
          [value]="item"
        ></ejs-radiobutton>
        <div *ngIf="selectedPartyType === 'Individual'">
          <jhi-cif-view-custom
            [selectedPartyType]="selectedPartyType"
            [prospectPerson]="creditProposal.prospectPerson"
            [spouse]="creditProposal.spouse"
            [primaryAddress]="creditProposal.addresses[0].address"
          ></jhi-cif-view-custom>
        </div>
        <div *ngIf="selectedPartyType === 'Corporate'">
          <jhi-cif-view-custom
            [selectedPartyType]="selectedPartyType"
            [prospectOrganization]="creditProposal.prospectOrganization"
            [primaryAddress]="creditProposal.addresses[0].address"
          ></jhi-cif-view-custom>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button ejs-button cssClass="e-info" (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>
