<div class="mb-5">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Management Info</div>
              <!-- <div class="e-card-sub-title"></div> -->
            </div>
          </div>
          <div class="e-card-content">
            <div class="row my-3">
              <div class="col">
                <ejs-textbox placeholder="Based on Notarial Deed No" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
              </div>
              <div class="col">
                <ejs-datepicker placeholder="Date" floatLabelType="Auto" cssClass="e-outline"> </ejs-datepicker>
              </div>
            </div>
            <ejs-grid [dataSource]="data1" allowTextWrap="true">
              <e-columns>
                <e-column field="no" headerText="No" width="80" textAlign="Center"></e-column>
                <e-column field="shareholder" headerText="Shareholder, BOD & BOC" width="180" textAlign="Center"></e-column>
                <e-column field="kepemilikan" headerText="% Kepemilikan" width="130" textAlign="Center"> </e-column>
                <e-column field="title" headerText="Title" width="80" textAlign="Center"></e-column>
                <e-column field="relationship" headerText="Relationship" width="130" textAlign="Center"> </e-column>
                <e-column field="cif" headerText="CIF" width="130" textAlign="Center"></e-column>
                <e-column field="nik" headerText="NIK" width="180" textAlign="Center"></e-column>
                <e-column field="npwp" headerText="NPWP" width="180" textAlign="Center"></e-column>
                <e-column field="date" headerText="Date of deed / Date Of Birth" width="180" textAlign="Center"> </e-column>
                <e-column field="age" headerText="Age" width="100" textAlign="Center"></e-column>
                <e-column field="join" headerText="Join Company Since" width="180" textAlign="Center"> </e-column>
              </e-columns>
            </ejs-grid>
            <!-- <div class="multiline mt-3">
                    <ejs-textbox [multiline]='true' loatLabelType="Always"
                      placeholder="Describe relationship between BOC/BOD with shareholders" cssClass="e-outline">
                    </ejs-textbox>
                  </div> -->
            <!-- <div class="d-flex justify-content-end mt-3">
                    <button class="group" ejs-button cssClass="e-success">Save</button>
                    <button class="group" ejs-button cssClass="e-danger">Back</button>
                  </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
