<div class="e-sample-resize-container e-card-resize-container">
  <div class="row">
    <div class="card-layout py-2">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">EXPOSURE DEBTOR</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <ejs-grid
            allowTextWrap="true"
            #grid
            [dataSource]="product"
            [allowPaging]="true"
            [pageSettings]="pageSettings"
            (dataStateChange)="dataStateChange($event)"
            gridLines="both"
          >
            <e-columns>
              <e-column field="NO" headerText="No" textAlign="center"></e-column>
              <e-column field="product.curen" headerText="Faciliti Detail" headerTextAlign="center" width="140" textAlign="left"></e-column>
              <e-column field="name" headerText="Available Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="name" headerText="Initial Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="name" headerText="Change" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="name" headerText="O/S" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="credit" headerText="Credit Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="interet" headerText="Interest Rete (%)" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Providion" headerText="Providion (%)" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="admin" headerText="Admin Fee" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="frist" headerText="Frist Disburse" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Maturity" headerText="Maturity" headerTextAlign="center" width="140" textAlign="left"></e-column>
            </e-columns>
          </ejs-grid>
          <div class="e-card-actions"></div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox
                  field="initialLimit"
                  placeholder="Sub Total Initial LImit"
                  cssClass="e-outline"
                  floatLabelType="Auto"
                  [value]=""
                ></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="sub Total Change" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Sub Total O/S" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="sub Total Credit Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Sub Total Available Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-layout py-2">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">EXPOSURE GROUP</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <ejs-grid
            allowTextWrap="true"
            #grid
            [dataSource]="data"
            [allowPaging]="true"
            [pageSettings]="pageSettings"
            (dataStateChange)="dataStateChange($event)"
            gridLines="both"
          >
            <e-columns>
              <e-column field="No" headerText="No" textAlign="center"></e-column>
              <e-column field="namegroup" headerText="Group name" headerTextAlign="center" width="140" textAlign="left"></e-column>
              <e-column field="name" headerText="Faciliti Detail" headerTextAlign="center" width="140" textAlign="left"></e-column>
              <e-column field="name" headerText="Availabel Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="InitialLimit2" headerText="Initial Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Change" headerText="Change" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="OS" headerText="O/S" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="credit" headerText="Credit Limit" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="interet" headerText="Interest Rete (%)" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Providion" headerText="Providion (%)" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="admin" headerText="Admin Fee" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="frist" headerText="Frist Disburse" headerTextAlign="center" width="140" textAlign="right"></e-column>
              <e-column field="Maturity" headerText="Maturity" headerTextAlign="center" width="140" textAlign="left"></e-column>
            </e-columns>
          </ejs-grid>
          <div class="e-card-actions"></div>

          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Sub Total Initial LImit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="sub Total Change" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="SubTotal O/S" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="sub Total Credit Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Sub Total Available Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-layout py-2">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">TOTAL EXPOSURE</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Debtitur Cash Loan" cssClass="e-outline" floatLabelType="Auto"> </ejs-textbox>
              </div>
            </div>

            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Exposure Initial Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Debitur Non cash Loan" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="sub Total exposure Change" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Group Cash Loan" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
            </div>
            <div class="col -6">
              <div class="form-space">
                <ejs-textbox placeholder="Total exposure O/S" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Group cash Loan" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Total Exposure Credit Limit" cssClass="e-outline" floatLabelType="Auto" [value]=""></ejs-textbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Grand Total Debtor" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
            </div>
            <div class="col-6">
              <div class="form-space">
                <ejs-textbox placeholder="Grand Total Group" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
            </div>
          </div>

          <div class="e-card-actions"></div>
        </div>
      </div>
    </div>
  </div>
</div>
