html,
body,
#dialog-container {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* B30. Appraisal Process (Detail) - Detail Mesin */

.ejs-table {
  margin-bottom: 100px;
}

.table-bg {
  background-color: white;
  margin-bottom: 50px;
}

.form-input {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bg-form {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

.textbox-bar {
  padding-left: 20px;
}

.block-title {
  background-color: rgb(133, 125, 118);
  font-weight: bold;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 2px;
}

/* For Round Button*/
.e-plus-icon::before {
  content: '\e823';
}

.button-save {
  background-color: rgb(99, 228, 99);
  padding: 20px;
  height: 75px;
  width: 150px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 20px;
  margin-left: 1300px;
  position: relative;
}

.container-block {
  padding: 10px;
}

/* Unit Condition */

.form-group {
  padding-left: 20px;
  width: 720px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-input-big {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-button {
  margin-top: 12px;
  margin-left: 90%;
}

.card {
  background-color: white;
  width: 100%;
  height: 100%;
}

.text-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.body-form {
  margin-top: 10px;
}

.bg-title {
  margin-bottom: 20px;
}

.button-search {
  background-color: #44ae04;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

.e-tab .e-tab-header .e-toolbar-item.e-active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #29aae2;
}

.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

.e-tab .e-tab-header .e-indicator {
  background: transparent !important;
}

ejs-checkbox .checkbox-large {
  width: 100x !important;
  height: 100px !important;
}

.text-area-input {
  width: 100%;
  height: 100px;
}

.text-area-form {
  height: 90px;
}

.body {
  width: 100%;
}
.button-create {
  background-color: #44ae04;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
  margin-left: auto;
}

.body-footer {
  width: 100%;
  display: flex;

  margin-right: 10px;
}
@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
