<mat-card t-card class="mat-card mat-focus-indicator mb-3">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">OPINION HISTORY</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div class="e-card-content">
          <div class="card-border">
            <ejs-grid #grid [dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings">
              <e-columns>
                <e-column field="indexNum" headerText="No" textAlign="center" width="150"></e-column>
                <e-column field="reviewerName" headerText="Reviewer Name" textAlign="center" width="200"> </e-column>
                <e-column field="position" headerText="Position" textAlign="center" width="250"> </e-column>
                <e-column field="date" headerText="Date" textAlign="center" width="150"> </e-column>
                <e-column field="opini" headerText="Opini" textAlign="center" width="250"> </e-column>
                <e-column headerText="Action" width="150" textAlign="Center">
                  <ng-template #template let-data>
                    <button pButton type="button" (click)="onView(data)" class="flat-button">
                      <fa-icon icon="eye-alt"></fa-icon>
                    </button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
          <div class="e-card mb-3">
            <div class="e-card-header mb-1">
              <div class="e-card-header-caption">
                <div class="e-card-header-title">Remarks</div>
              </div>
            </div>
            <div class="e-card-content">
              <ejs-richtexteditor [(ngModel)]="creditProposalItem.attributes['opinionHistory'].remarks"
              id="rteTool" [toolbarSettings]="tools"></ejs-richtexteditor>
            </div>
          </div>
        </div>
        <div class="e-card-actions"></div>
      </div>
    </div>
  </div>
</mat-card>

<!-- Dialog Add -->
<ejs-dialog id="dialog" #ejDialog isModal="true" (overlayClick)="onOverlayClick()" [visible]="dialogVisible">
  <ng-template #header> </ng-template>
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          {{creditProposalItem | json}}
          <div class="form-group">
            <ejs-textbox [(ngModel)]="creditProposalItem.attributes['opinionHistory'].reviewerName"
              placeholder="Reviewer Name" cssClass="e-outline" floatLabelType="Auto" [readonly] = "true">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="creditProposalItem.attributes['opinionHistory'].position"
              placeholder="Position" cssClass="e-outline" floatLabelType="Auto" [readonly] = "true">
            </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <ejs-textbox [(ngModel)]="creditProposalItem.attributes['opinionHistory'].date"
              placeholder="Date" cssClass="e-outline" floatLabelType="Auto" [readonly] = "true">
            </ejs-textbox>
          </div>
          <div class="form-group">
            <ejs-textbox [(ngModel)]="creditProposalItem.attributes['opinionHistory'].opini" placeholder="Opini"
              cssClass="e-outline" floatLabelType="Auto" [readonly] = "true">
            </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>