<div class="e-sample-resize-container e-card-resize-container mb-5">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card">
            <div class="mx-3 mt-3">
              <div class="card-border">
                <div class="e-card-header-title">Bank Account Analysis</div>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group">
                      <ejs-dropdownlist
                        #sample
                        [dataSource]="dataDropdown"
                        #ddbank
                        floatLabelType="Auto"
                        cssClass="e-outline"
                        placeholder="Bank"
                        popupHeight="220px"
                      ></ejs-dropdownlist>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <ejs-numerictextbox
                        placeholder="Loan limit (if any)"
                        format="0,"
                        min="0"
                        floatLabelType="Auto"
                        cssClass="e-outline"
                      ></ejs-numerictextbox>
                    </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col">
                    <div class="form-group">
                      <ejs-textbox placeholder="Account No" floatLabelType="Auto" cssClass="e-outline"></ejs-textbox>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <ejs-textbox placeholder="CCY" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                    </div>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col"></div>
                  <div class="col">
                    <div class="form-group">
                      <ejs-textbox placeholder="Eq. To IDR" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="e-sample-resize-container e-card-resize-container mb-5">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card">
            <div class="mx-3 mt-3">
              <div class="card-border">
                <ejs-grid #gridRow [dataSource]="gridData" [editSettings]="editSettings" [allowTextWrap]="true">
                  <e-columns>
                    <e-column headerText="Month - Year" headerTextAlign="Center"></e-column>
                    <e-column headerText="Debit" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Fq.Db" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Credit" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Fq.Cr" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Lowest" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Highest" headerTextAlign="Center" [format]="numericFormatOptions"></e-column>
                    <e-column headerText="Average Balance (Debit/Credit)" headerTextAlign="Center" [format]="numericFormatOptions">
                    </e-column>
                    <e-column headerText="Actions" width="100" headerTextAlign="Center"></e-column>
                  </e-columns>
                  <ng-template #rowTemplate>
                    <tr>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td>
                        <ejs-textbox cssClass="e-outline"> </ejs-textbox>
                      </td>
                      <td align="center">
                        <button type="button" class="flat-button">
                          <fa-icon icon="trash-alt"></fa-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </ejs-grid>
                <div class="d-flex justify-content-end my-3">
                  <button class="btn-info" (click)="addRow($event)">ADD DATA ROW</button>
                </div>

                <ejs-grid [dataSource]="totalGridData" class="grid-no-header">
                  <e-columns>
                    <e-column>
                      <ng-template #template let-data>
                        <div>
                          <span>{{ data.name }}</span>
                        </div>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                    <e-column>
                      <ng-template #template let-data>
                        <ejs-textbox cssClass="e-outline"></ejs-textbox>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn-info m-3">ADD ACCOUNT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="e-sample-resize-container e-card-resize-container mb-5">
  <div class="row">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card">
            <div class="mx-3 mt-3">
              <div class="card-border">
                <p class="e-card-header-title">Ringkasan Mutasi Rekening</p>
                <div class="row my-3">
                  <div class="col">
                    <ejs-grid [dataSource]="mutationData" [allowPaging]="true"></ejs-grid>
                  </div>
                </div>
                <div class="row my-3">
                  <ejs-textbox
                    rows="5"
                    placeholder="Must explain the following things are:"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    [multiline]="true"
                  >
                  </ejs-textbox>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
