<div class="card">
  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-6">
        <ejs-textbox placeholder="Slik Checking Name" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Relationship" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Bank" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>

      <div class="col-md-6">
        <ejs-textbox placeholder="Facility Type" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Limit" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-numerictextbox placeholder="Rate" format="0," min="0" cssClass="e-outline" floatLabelType="Always" class="icon-group">
        </ejs-numerictextbox>
      </div>
      <div class="col-md-6">
        <ejs-numerictextbox placeholder="Outstanding" format="0," min="0" cssClass="e-outline" floatLabelType="Always" class="icon-group">
        </ejs-numerictextbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Period" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Collateral Type" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-numerictextbox placeholder="Tenor" format="IDR 0," min="0" cssClass="e-outline" floatLabelType="Always" class="icon-group">
        </ejs-numerictextbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Collateral IDR Mio" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Keterangan" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-numerictextbox placeholder="Denda" format="IDR 0," min="0" cssClass="e-outline" floatLabelType="Always" class="icon-group">
        </ejs-numerictextbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Sebab Macet" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Frekuensi Restrukturasi" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Tanggal Macet" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Tanggal Restrukturasi Akhir" cssClass="e-outline" floatLabelType="Always" class="icon-group">
        </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Tunggakan Pokok" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Kolektabilitas Terakhir" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-numerictextbox
          placeholder="Tunggakan Bunga"
          format="0,"
          min="0"
          cssClass="e-outline"
          floatLabelType="Always"
          class="icon-group"
        >
        </ejs-numerictextbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Kolektabilitas Terburuk" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Frekuensi Tunggakan" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
      <div class="col-md-6">
        <ejs-textbox placeholder="Cara Restrukturasi" cssClass="e-outline" floatLabelType="Always" class="icon-group"> </ejs-textbox>
      </div>
    </div>
  </div>
</div>
