.card {
  background-color: #ffff;
  display: flex;
  margin: 2%;
}
.card-columns {
  background-color: #ffff;
  padding: 30px;
}
.content-header {
  background-color: #ffff;
}
h5 {
  font-size: x-large;
  padding-left: 10px;
}

h5 {
  display: block;
  color: #000;
}
