<!-- <div class="e-sample-resize-container e-card-resize-container mt-3">
    <div class="row">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">Summary</div>
            <div class="e-card-sub-title">Credit Proposal Summary</div>
          </div>
        </div>

      </div>
    </div>

  </div> -->

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Summary</div>
      <div class="e-card-sub-title">Credit Proposal Summary</div>
    </div>
  </div>
  <div class="e-card-content">
    <ejs-documenteditorcontainer
      #document_editor_container
      [enableToolbar]="true"
      [enableLocalPaste]="false"
      height="100vh"
      style="display: block"
      [spellcheck]="false"
      [enableSpellCheck]="false"
      (keyDown)="onKeyDown($event)"
      (created)="onCreate()"
    >
    </ejs-documenteditorcontainer>
    <!-- <ejs-richtexteditor
        [(ngModel)]="item.attributes['tabSummaryMessage'].message"
        value="{{ _item.attributes['tabSummaryMessage'].message }}"
      ></ejs-richtexteditor> -->
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Generate Document</div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content">
    <div *ngIf="viewButton === 'cp'">
      <div class="form-space" id="viewButton" style="display: flex">
        <ejs-dropdownlist
          [dataSource]="fileTypeList"
          [(value)]="fileTypeSelected"
          cssClass="e-outline"
          floatLabelType="Auto"
          placeholder="file template"
        ></ejs-dropdownlist>
        <button ejs-button class="btn-info" (click)="generate($event)">Generate</button>
      </div>
    </div>
    <div class="form-group">
      <ejs-grid #grid [dataSource]="data" [allowPaging]="true">
        <e-columns>
          <e-column field="indexNum" headerText="No" headerTextAlign="center" width="90" textAlign="center" weight="bold"></e-column>
          <e-column field="fileName" headerText="File Name" headerTextAlign="center" width="140" textAlign="left"> </e-column>
          <e-column field="tags.createDate" headerText="Date" headerTextAlign="center" width="120" textAlign="left"> </e-column>
          <e-column field="tags.createBy" headerText="Created By" headerTextAlign="center" width="120" textAlign="right"> </e-column>
          <e-column field="sizeFile" headerText="Size File" headerTextAlign="center" width="90" textAlign="left"> </e-column>
          <e-column headerText="Action" width="100" headerTextAlign="center" textAlign="center">
            <ng-template #template let-data>
              <button pButton type="button" (click)="onEdit(data)" class="flat-button">
                <fa-icon icon="eye"></fa-icon>
              </button>
              <button pButton type="button" (click)="onDelete(data)" class="flat-button">
                <fa-icon icon="trash-alt"></fa-icon>
              </button>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
