<div class="e-card">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <ejs-breadcrumb cssClass="margin: 1rem;">
        <e-breadcrumb-items>
          <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
          <e-breadcrumb-item text="Credit Proposal" url="/credit-proposal"></e-breadcrumb-item>
          <e-breadcrumb-item text="New" url=""></e-breadcrumb-item>
        </e-breadcrumb-items>
      </ejs-breadcrumb>
      <div class="header-container">
        <div class="header-content">
          <img class="back-image" src="../../../content/images/back-icon.svg" (click)="previousState()" />
          <span class="back-prefix" (click)="previousState()">Back | </span>
        </div>
        <p class="e-card-sub-title">Credit Proposal</p>
      </div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="e-card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <p class="e-card-header-title">CREDIT PROPOSAL</p>
          </div>
        </div>
        <div class="e-card-content">
          <div class="row">
            <div class="col-md-6" style="padding: 10px">
              <ejs-combobox cssClass="e-outline" placeholder="Proposal Type"></ejs-combobox>
            </div>
            <div class="col-md-6 row">
              <div class="col-md-10" style="padding: 10px">
                <ejs-textbox placeholder="CIF" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
              </div>
              <div class="col-md-2" style="padding: 10px">
                <button class="button-info">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row">
        <div class="row card-layout">
          <div class="e-card">
            <div class="e-card-header">
              <div class="e-card-header-caption">
                <div class="e-card-header-title">Total Exposure < IDR 15 Bln</div>
                    <!-- <div class="e-card-sub-title">
                </div> -->
                </div>
              </div>
              <div class="e-card-content">
                <div class="mx-3">
                  <ejs-menu [enableScrolling]="true" cssClass="e-rounded-menu e-custom-scroll" [items]="menuItems"
                    (select)="selectMenuItem($event)"></ejs-menu>
                  <div [hidden]="selectedMenu !== 'BASIC INFORMATION'">
                    <jhi-credit-proposal-basic-information [creditProposalItem]="creditProposalList">
                    </jhi-credit-proposal-basic-information>

                    <div [hidden]="selectedMenu !== 'GROUP & GUARANTOR ANALYSIS'">
                      <jhi-credit-proposal-group-guarantor-analysis [item]="creditProposalList">
                      </jhi-credit-proposal-group-guarantor-analysis>
                    </div>
                    <div>
                      <div [hidden]="selectedMenu !== 'BUSINES ACTIVITY'">
                        <div>
                          <jhi-credit-proposal-busines-activity [creditProposalItem]="creditProposalList">
                          </jhi-credit-proposal-busines-activity>
                        </div>
                      </div>
                      <div [hidden]="selectedMenu !== 'MANAGEMENT INFO'">
                        <jhi-credit-proposal-management-info [creditProposalItem]="creditProposalList">
                        </jhi-credit-proposal-management-info>
                      </div>
                      <div *ngIf="selectedMenu === 'LOAN FACILITY DETAIL'"
                        class="e-sample-resize-container e-card-resize-container">
                        <jhi-credit-proposal-tab-loan-facility-detail [creditProposal]="creditProposal"
                          (outCreditProposal)="onGetCreditProposal($event)">
                        </jhi-credit-proposal-tab-loan-facility-detail>
                      </div>
                      <div [hidden]="selectedMenu !== 'CORRESPONDENCE'">
                        <jhi-credit-proposal-correspondence [item]="creditProposalList">
                        </jhi-credit-proposal-correspondence>
                      </div>
                      <div [hidden]="selectedMenu !== 'SLIK SUMMARY'">
                        <jhi-credit-proposal-slik-summary-list></jhi-credit-proposal-slik-summary-list>
                      </div>
                      <jhi-credit-proposal-bank-account-analyst *ngIf="selectedMenu === 'BANK ACCOUNT ANALYSIS'"
                        [creditProposal]="creditProposal">
                      </jhi-credit-proposal-bank-account-analyst>
                      <jhi-credit-proposal-financial-statement *ngIf="selectedMenu === 'FINANCIAL STATEMENT'"
                        [creditProposal]="creditProposal"></jhi-credit-proposal-financial-statement>
                    </div>
                  </div>
                </div>

                <div style="display: flex; justify-content: center">
                  <button ejs-button (click)="save()" class="btn-info">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- test -->