<div class="card-layout row mb-5">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">LEGAL LENDING LIMIT</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>
    <div class="e-card-content">
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <!-- <ejs-textbox dataSource="data" cssClass="e-outline" floatLabelType="Auto" disabled> </ejs-textbox> -->
              <ejs-combobox
                placeholder="Legal Lending Limit Type"
                id="comboelement"
                #samples
                [dataSource]="data"
                [autofill]="true"
                cssClass="e-outline"
              ></ejs-combobox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Legal Lending Limit Type</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ '' }}
              </div>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-textbox placeholder="Legal Lending Limit Value" cssClass="e-outline" floatLabelType="Auto" disabled> </ejs-textbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Legal Lending Limit Value</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ '' }}
              </div>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-textbox placeholder="Total Exposure (Debtor & Group)" cssClass="e-outline" floatLabelType="Auto" disabled></ejs-textbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Exposure (Debtor & Group)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ '' }}
              </div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-textbox placeholder="Buffer" cssClass="e-outline" floatLabelType="Auto" disabled> </ejs-textbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Buffer</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ '' }}
              </div>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-textbox placeholder="Status" cssClass="e-outline" floatLabelType="Auto" disabled> </ejs-textbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Status</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ '' }}
              </div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <div class="col -6">
            <div class="form-group">
              <!-- <ejs-textbox
                      placeholder="Base Lending Rate USD"
                      cssClass="e-outline"
                      floatLabelType="Auto"
                      [value]="totalos"
                      disabled
                    ></ejs-textbox> -->
            </div>
            <div class="form-group">
              <!-- <ejs-textbox
                      placeholder="Exchange Rate (USD to IDR)"
                      cssClass="e-outline"
                      floatLabelType="Auto"
                      [value]="totalos"
                      disabled
                    ></ejs-textbox> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
