<div class="page-view" *ngIf="item$ | async as item">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" style="margin-bottom: 30px">
    <p-panel>
      <ng-template pTemplate="header">
        <h5><span jhiTranslate="losgwApp.statusItem.home.createOrEditLabel">Status Items</span></h5>
      </ng-template>
      <ng-template pTemplate="icons">
        <!-- {{'global.field.id' | translate}} : {{statusItem.id}} -->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a
              class="btn"
              (click)="save()"
              href="javascript:void(0)"
              style="cursor: pointer"
              aria-disabled="isSaving"
              tooltip="Back and save current data"
              *ngIf="!readOnly()"
            >
              <span><fa-icon icon="save"></fa-icon> &nbsp;{{ 'entity.action.save' | translate }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="previousState()" style="cursor: pointer" aria-disabled="isSaving" tooltip="Back, cancel save">
              <span><fa-icon icon="arrow-left"></fa-icon> &nbsp;{{ 'entity.action.back' | translate }}</span>
            </a>
          </li>
        </ul>
      </ng-template>
      <div class="card-deck" style="margin-bottom: 15px">
        <div class="card">
          <div class="card-block">
            <div>
              <div class="form-group" [hidden]="!item.id">
                <label for="id" jhiTranslate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="item.id" readonly />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.statusName" for="field_statusName">Status Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="statusName"
                  id="field_statusName"
                  [(ngModel)]="item.statusName"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.sequence" for="field_sequence">Sequence</label>
                <input
                  currencyMask
                  class="form-control"
                  name="sequence"
                  id="field_sequence"
                  [(ngModel)]="item.sequence"
                  [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 0 }"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.statusCode" for="field_statusCode">Status Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="statusCode"
                  id="field_statusCode"
                  [(ngModel)]="item.statusCode"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.description" for="field_description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="field_description"
                  [(ngModel)]="item.description"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.statusTypeId" for="field_statusTypeId"
                  >Status Type Id</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="statusTypeId"
                  id="field_statusTypeId"
                  [(ngModel)]="item.statusTypeId"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.statusTypeDescription" for="field_statusTypeDescription"
                  >Status Type Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="statusTypeDescription"
                  id="field_statusTypeDescription"
                  [(ngModel)]="item.statusTypeDescription"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.caption" for="field_caption">Caption</label>
                <input
                  type="text"
                  class="form-control"
                  name="caption"
                  id="field_caption"
                  [(ngModel)]="item.caption"
                  [disabled]="readOnly()"
                />
              </div>
              <div class="form-group">
                <label class="form-control-label" jhiTranslate="losgwApp.statusItem.icon" for="field_icon">Icon</label>
                <input type="text" class="form-control" name="icon" id="field_icon" [(ngModel)]="item.icon" [disabled]="readOnly()" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </form>
</div>
