<div class="e-card">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <div class="e-card-content">
      <ejs-richtexteditor [(ngModel)]="creditProposal.attributes['tradeCheckingRemarks'].remarks" [toolbarSettings]="tools">
      </ejs-richtexteditor>
    </div>
  </section>
  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <div class="fontsebled row">
      <div class="col-4">Remarks</div>
      <div class="col-md-auto">:</div>
      <div class="col">
        {{ '' }}
      </div>
    </div>
  </section>
</div>
