table {
  border-bottom: 1px solid #008881 !important;
  width: 100%;
  th {
    background-color: #008881;
    border: 1px solid #008881;
    color: black;
    padding: 8px;
  }

  td {
    padding: 8px;
  }
}
