<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title">Collateral Detail</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Collateral</mat-label>
              <input matInput type="text" [value]="collateral.collateralTypeId" disabled />
            </mat-form-field>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="fontsebled row">
            <div class="col-1">Collateral</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ collateralPrevious.collateralTypeId }}
            </div>
          </div>
        </section>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>MV Internal in IDR</mat-label>
                <input matInput type="text" [value]="internalMV | currency: 'IDR ':'symbol':'1.0-0'" disabled />
              </mat-form-field>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row">
              <div class="col-2">MV Internal in IDR</div>
              <div class="col-md-auto">:</div>
              <div class="col">
                {{ internalMV | currency: 'IDR ':'symbol':'1.0-0' }}
              </div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>LV Internal in IDR</mat-label>
                <input matInput type="text" [value]="internalLV | currency: 'IDR ':'symbol':'1.0-0'" disabled />
              </mat-form-field>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row">
              <div class="col-2">LV Internal in IDR</div>
              <div class="col-md-auto">:</div>
              <div class="col">
                {{ internalLV | currency: 'IDR ':'symbol':'1.0-0' }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions align="center ">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
