<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Collateral Info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive-material">
      <table mat-table [dataSource]="dataItem" class="w-100">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
        </ng-container>
        <ng-container matColumnDef="collateralType">
          <th mat-header-cell *matHeaderCellDef>Collateral Type</th>
          <td mat-cell *matCellDef="let element">{{ element.collateralTypeId }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="marketValue">
          <th mat-header-cell *matHeaderCellDef style="padding: 0px 50px">MV (internal)</th>
          <td mat-cell *matCellDef="let element">{{ countMV(element) | currency: 'IDR ':'symbol':'1.0-0' }}</td>
          <td mat-footer-cell *matFooterCellDef>{{ countTotalMV() | currency: 'IDR ':'symbol':'1.0-0' }}</td>
        </ng-container>
        <ng-container matColumnDef="liquidValue">
          <th mat-header-cell *matHeaderCellDef style="padding: 0px 50px">LV (internal)</th>
          <td mat-cell *matCellDef="let element">{{ countLV(element) | currency: 'IDR ':'symbol':'1.0-0' }}</td>
          <td mat-footer-cell *matFooterCellDef>
            {{ countTotalLV() | currency: 'IDR ':'symbol':'1.0-0' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
              <button mat-icon-button (click)="openDialog(element)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </section>

            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
              <button mat-icon-button hidden (click)="openDialog(element)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </section>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
