<ejs-menu [enableScrolling]="true" cssClass="e-rounded-menu e-custom-scroll" [items]="menuItemsAll" (select)="setMenu($event)"> </ejs-menu>

<div *ngIf="selectedMenu === 'PREVIOUS DAR'">
  <!-- Loan Facility Detail -->
  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">PREVIOUS DAR</div>
  </div>
  <div>
    <!-- <jhi-loan-facility-detail-previous [creditProposal]="creditProposal"> </jhi-loan-facility-detail-previous> -->
    <jhi-loan-facility-detail-history
      *ngIf="isDataToCompareExist"
      [isOnCompareData]="true"
      [isCompareDar]="true"
      [isViewMode]="true"
      [takeOutCompare]="true"
      [creditProposal]="dataToCompare"
    ></jhi-loan-facility-detail-history>
    <div class="e-card" *ngIf="!isDataToCompareExist">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">Facility Details</div>
        </div>
      </div>
      <div class="alert alert-warning m-3" role="alert">
        <span style="font-weight: bold">No previous data was found!</span>
      </div>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">CURRENT PROPOSAL</div>
  </div>
  <div>
    <jhi-credit-proposal-tab-loan-facility-detail [takeOutCompare]="true" [isViewMode]="true" [creditProposal]="creditProposal">
    </jhi-credit-proposal-tab-loan-facility-detail>
  </div>

  <!-- Collateral Info -->
  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">PREVIOUS DAR</div>
  </div>
  <div>
    <!-- <jhi-credit-proposal-collateral-info-previous [creditProposal]="creditProposal"> </jhi-credit-proposal-collateral-info-previous> -->
    <jhi-collateral-info-history
      *ngIf="isDataToCompareExist"
      [isOnCompareData]="true"
      [isCompareDar]="true"
      [isViewMode]="true"
      [creditProposal]="dataToCompare"
    ></jhi-collateral-info-history>
    <div class="e-card" *ngIf="!isDataToCompareExist">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">Collateral Info</div>
        </div>
      </div>
      <div class="alert alert-warning m-3" role="alert">
        <span style="font-weight: bold">No previous data was found!</span>
      </div>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">CURRENT PROPOSAL</div>
  </div>
  <div>
    <jhi-credit-proposal-collateral-info [takeOutCompare]="true" [isViewMode]="true" [creditProposal]="creditProposal">
    </jhi-credit-proposal-collateral-info>
  </div>

  <div class="e-card-actions"></div>

  <!-- Covenant -->
  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">PREVIOUS DAR</div>
  </div>
  <div>
    <jhi-credit-proposal-tab-covenant-previous [isViewMode]="true" [setActiveMenu]="menuCovenant" [creditProposalItem]="creditProposal">
    </jhi-credit-proposal-tab-covenant-previous>
  </div>
  <div class="e-card-actions"></div>

  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">CURRENT PROPOSAL</div>
  </div>
  <div>
    <jhi-credit-proposal-tab-covenant [isViewMode]="true" [setActiveMenu]="menuCovenant" [creditProposalItem]="creditProposal">
    </jhi-credit-proposal-tab-covenant>
  </div>

  <div class="e-card-actions"></div>

  <!-- Deviation -->
  <div class="e-card-content mt-3">
    <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
      <div class="e-card-header-title">PREVIOUS DAR</div>
    </div>
    <div>
      <jhi-credit-proposal-tab-covenant-previous [isViewMode]="true" [setActiveMenu]="menuDeviation" [creditProposalItem]="creditProposal">
      </jhi-credit-proposal-tab-covenant-previous>
    </div>
  </div>
  <div class="e-card-actions"></div>

  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">CURRENT PROPOSAL</div>
  </div>
  <div>
    <jhi-credit-proposal-tab-covenant [isViewMode]="true" [setActiveMenu]="menuDeviation" [creditProposalItem]="creditProposal">
    </jhi-credit-proposal-tab-covenant>
  </div>

  <div class="e-card-actions"></div>
</div>

<div *ngIf="selectedMenu === 'PREVIOUS PROPOSAL'">
  <jhi-loan-analys-previous-proposal [creditProposal]="creditProposal"> </jhi-loan-analys-previous-proposal>
</div>
