<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Booking Branchs</mat-label>
          <mat-select [value]="partyCif.debtorData.bookingBranch" (selectionChange)="select($event)" disabled>
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of branchs" [value]="item.id">
              {{ item.organizationName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Booking Branchs</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ organizationName }}
          </div>
        </div>
      </section>
    </div>

    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Account Number (IDR)</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.strAccountNumberIDR" [minlength]="11" [maxlength]="15" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Account Number (IDR)</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.strAccountNumberIDR }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Account Number (USD)</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.strAccountNumberUSD" [minlength]="11" [maxlength]="15" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Account Number (USD)</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.strAccountNumberUSD }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>SID</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.custInfoSystemName" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">SID</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.custInfoSystemName }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>SID Code</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.custInfoSystemCode" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">SID Code</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.custInfoSystemCode }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Relationship with Keb Hana Bank</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.relationWithHana" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Relationship with Keb Hana Bank</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.relationWithHana }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Line of Business Code</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.attributes['lobCode']" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Relationship with Keb Hana Bank</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.attributes['lobCode'] }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Line of Business</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.attributes['lobName']" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Line of Business</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.attributes['lobName'] }}
          </div>
        </div>
      </section>
    </div>
    <!-- <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Existing Customer Since</mat-label>
          <input matInput type="text" [value]="partyCif.debtorData.customerSince | date: 'yyyy/MM/dd'" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Existing Customer Since</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.attributes['lobName'] }}
          </div>
        </div>
      </section>
    </div> -->
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Existing Debtor Since</mat-label>
          <input [matDatepicker]="debtorSince" matInput type="text" [formControl]="date" [(ngModel)]="partyCif.debtorData.debtorSince" />
          <mat-datepicker-toggle matSuffix [for]="debtorSince"></mat-datepicker-toggle>
          <mat-datepicker #debtorSince></mat-datepicker>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Existing Customer Since</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.debtorSince | date: 'yyyy/MM/dd' }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>LBU Code</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.gnrlBankReportCode" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">LBU Code</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.gnrlBankReportCode }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>LBU Remark</mat-label>
          <textarea matInput type="text" rows="6" [(ngModel)]="partyCif.debtorData.gnrlBankReport" [disabled]="true"></textarea>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">LBU Remark</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.gnrlBankReport }}
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Collectability Status</mat-label>
          <mat-select [(ngModel)]="partyCif.debtorData.collectabilityStatus" [disabled]="true">
            <mat-option [value]="partyCif.debtorData.collectabilityStatus">
              {{ partyCif.debtorData.collectabilityStatus }}

              <!-- [disabled]="item.attributes['cpRacBelow'].Ca !== 'Yes' ? true : false" -->
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Collectability Status</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.collectabilityStatus }}
          </div>
        </div>
      </section>
    </div>

    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Call Report Category</mat-label>
          <mat-select name="callReportCategoryData" [(ngModel)]="partyCif.debtorData.callReportCategory">
            <mat-option value="">- Please Select -</mat-option>
            <mat-option *ngFor="let item of callReportCategoryData" [value]="item.value">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Call Report Category</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.callReportCategory }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Modal Disetor</mat-label>
          <input
            matInput
            type="text"
            [ngModel]="partyCif.debtorData.depositCapital | currency: 'IDR ':'symbol':'1.0-0'"
            [disabled]="true"
          />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Modal Disetor</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.equityName }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Penjualan Tahunan</mat-label>
          <input matInput type="text" [ngModel]="partyCif.debtorData.annualSalesName" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Penjualan Tahunan</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.annualSalesName }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Category Debitur</mat-label>
          <input matInput [(ngModel)]="partyCif.debtorData.categoryDebtorCode" [disabled]="true" />
          <!-- <mat-option *ngFor="let item of umkmClassification | keyvalue" [value]="item.key">{{ item.value }} </mat-option> -->
        </mat-form-field>
        <!-- <mat-form-field class="w-100" appearance="outline">
          <mat-label>Category Debitur</mat-label>
          <mat-select [(ngModel)]="partyCif.debtorData.umkmCategory" [disabled]="true">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of categoryDebtor | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Category Debitur</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.categoryDebtorCode }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Klasifikasi UMKM</mat-label>
          <input matInput [(ngModel)]="partyCif.debtorData.umkmClassification" [disabled]="true" />
          <!-- <mat-option *ngFor="let item of umkmClassification | keyvalue" [value]="item.key">{{ item.value }} </mat-option> -->
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Klasifikasi UMKM</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.umkmClassification }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section class="mt-2">
        <section *jhiMatrixDirIDD="'input'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>IFC & Risk Category</mat-label>
            <mat-select name="riskCategory" [(ngModel)]="partyCif.debtorData.ifcRiskCategory">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of ifcRiskCategoryData" [value]="item.value">
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </section>
        <section *jhiMatrixDirIDD="''">
          <div class="fontsebled row">
            <div class="col">IFC & Risk Category</div>
            <div class="col-md-auto">:</div>
            <div class="col">
              {{ partyCif.debtorData.ifcRiskCategory }}
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>PEP</mat-label>
          <mat-select name="pep" [(ngModel)]="partyCif.debtorData['pep']" [disabled]="true">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of pep" [value]="item.value">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">pep</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData['pep'] }}
          </div>
        </div>
      </section>
    </div>

    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Correspondence Address</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.correspondenceAddressDesc" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Correspondence Address</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.correspondenceAddressDesc }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group" [style.display]="individu">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Occupied Since</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.occupiedSince" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Occupied Since</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.occupiedSince }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Economic Sector Code</mat-label>
          <input matInput type="text" [(ngModel)]="partyCif.debtorData.econSectorCode" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Economic Sector Code</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.econSectorCode }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Economic Sector Desc</mat-label>
          <input matInput type="text" rows="6" [(ngModel)]="partyCif.debtorData.econSectorName" [disabled]="true" />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Economic Sector Desc</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.econSectorName }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Credit Type</mat-label>
          <mat-select [(ngModel)]="partyCif.debtorData.creditType" name="creditType" [disabled]="true">
            <mat-option value="">- Please Select -</mat-option>
            <mat-option *ngFor="let item of creditType" [value]="item.id" [disabled]="true">
              {{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Credit Type</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.creditType }}
          </div>
        </div>
      </section>
    </div>
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Golongan Debitur</mat-label>
          <mat-select [(ngModel)]="partyCif.debtorData.golongan" name="golongan" [disabled]="true">
            <mat-option value="">- Please Select -</mat-option>
            <mat-option *ngFor="let item of golongan" [value]="item.id" [disabled]="true">
              {{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Golongan Debitur</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ partyCif.debtorData.golongan }}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
