<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold"> RM Info </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-rm-info [partyCif]="partyCif"></jhi-party-cif-customer-info-rm-info>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold"> Customer Info </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      This customer type is <span class="fw-bold">{{ partyCif.customerPerson ? 'Individu' : 'Badan Usaha' }}</span>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Cif</mat-label>
            <input matInput type="text" [value]="partyCif.customerNumber" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
    <jhi-party-cif-customer-info-person *ngIf="partyCif.customerPerson" [person]="partyCif.customerPerson" mode="edit">
    </jhi-party-cif-customer-info-person>
    <jhi-party-cif-customer-info-party-group
      *ngIf="partyCif.customerOrganization"
      [partyGroup]="partyCif.customerOrganization"
    ></jhi-party-cif-customer-info-party-group>
    <jhi-party-cif-customer-info-debtor-data [customerType]="partyCif.customerType" [partyCif]="partyCif" mode="edit">
    </jhi-party-cif-customer-info-debtor-data>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold"> Address Info </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-postal-address [disabled]="true" [partyPostalAddress]="primaryLocation">
    </jhi-party-cif-customer-info-postal-address>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold"> Domicilie Address </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-postal-address [disabled]="true" [partyPostalAddress]="domicileLocation">
    </jhi-party-cif-customer-info-postal-address>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="partyCif.customerType === 'CORPORATE'" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="fw-bold"> Warehouse Address </mat-panel-title>
    </mat-expansion-panel-header>
    <!--<jhi-party-cif-customer-info-postal-address-warehouse [partyCif]="partyCif" [disabled]="false" [partyPostalAddress]="warehouseLocation">
    </jhi-party-cif-customer-info-postal-address-warehouse>-->
    <jhi-party-cif-customer-info-postal-address-en-cif [partyCif]="partyCif"></jhi-party-cif-customer-info-postal-address-en-cif>
  </mat-expansion-panel>
</mat-accordion>

<mat-card class="mt-4" *ngIf="partyCif.customerPerson">
  <mat-card-header>
    <mat-card-subtitle class="fw-bold">Spouse Info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <jhi-party-cif-customer-info-person
      [spouse]="'spouse'"
      [debtorData]="partyCif.debtorData"
      [person]="partyCif.spouse"
      mode="edit"
    ></jhi-party-cif-customer-info-person>
  </mat-card-content>
</mat-card>
