<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Complete Name</mat-label>
        <input matInput type="text" [(ngModel)]="person.firstName" disabled />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput type="text" [(ngModel)]="person.personalIdNumber" disabled />
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Identity Type</mat-label>
          <input matInput type="text" [(ngModel)]="person.personalIdType" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="person.gender" disabled>
          <mat-option *ngFor="let item of genders | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <!-- [(ngModel)]="person.dob" -->
  <div class="col-6">
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input [matDatepicker]="dob" matInput type="text" [formControl]="date" [(ngModel)]="person.dob" />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-hint align="start"
          ><strong>{{ countAge() }} years old</strong>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Expiry Date</mat-label>
        <input [matDatepicker]="idExpiryDate" matInput type="text" [(ngModel)]="person.idExpiryDate" disabled [disabled]="spouseData()" />
        <mat-datepicker-toggle matSuffix [for]="idExpiryDate"></mat-datepicker-toggle>
        <mat-datepicker #idExpiryDate disabled="true"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>NPWP</mat-label>
        <input matInput type="text" [(ngModel)]="person.taxIdNumber" disabled />
      </mat-form-field>
    </div>
  </div>
</div>
