<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="label-font-detail"> RM Info </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-rm-info [partyCif]="partyCif"></jhi-party-cif-customer-info-rm-info>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="label-font-detail"> Customer Info </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      This customer type is<span class="fw-bold"> {{ partyCif.customerPerson ? 'Individu' : 'Badan Usaha' }}</span>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <div class="form-group">
          <section *jhiMatrixDirIDD="'input'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cif</mat-label>
              <input matInput type="text" [value]="partyCif.customerNumber" disabled />
            </mat-form-field>
          </section>
          <section *jhiMatrixDirIDD="''">
            <div class="fontsebled row">
              <div class="col">Cif</div>
              <div class="col-md-auto">:</div>
              <div class="col">
                {{ partyCif.customerNumber }}
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <section *jhiMatrixDirIDD="''">
            <div class="fontsebled row">
              <div class="col"></div>
              <div class="col-md-auto"></div>
              <div class="col"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <jhi-party-cif-customer-info-person *ngIf="partyCif.customerPerson" [person]="partyCif.customerPerson" mode="edit">
    </jhi-party-cif-customer-info-person>
    <jhi-party-cif-customer-info-party-group
      *ngIf="partyCif.customerOrganization"
      [partyGroup]="partyCif.customerOrganization"
      [source]="'customerInfo'"
    ></jhi-party-cif-customer-info-party-group>
    <jhi-party-cif-customer-info-debtor-data [customerType]="partyCif.customerType" [partyCif]="partyCif" mode="edit">
    </jhi-party-cif-customer-info-debtor-data>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="label-font-detail"> Address Info </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-postal-address [disabled]="true" [creditProposal]="creditProposal" [partyPostalAddress]="primaryLocation">
    </jhi-party-cif-customer-info-postal-address>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="label-font-detail"> Domicilie Address </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-postal-address [disabled]="true" [creditProposal]="creditProposal" [partyPostalAddress]="domicileLocation">
    </jhi-party-cif-customer-info-postal-address>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="partyCif.customerType === 'CORPORATE'" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="label-font-detail"> Business Location </mat-panel-title>
    </mat-expansion-panel-header>
    <jhi-party-cif-customer-info-postal-address-en-cif-wh [partyCif]="partyCif"></jhi-party-cif-customer-info-postal-address-en-cif-wh>
  </mat-expansion-panel>
</mat-accordion>

<mat-card class="mt-4" *ngIf="partyCif.customerPerson">
  <mat-card-header>
    <mat-card-subtitle class="label-font-detail">Spouse Info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <jhi-party-cif-customer-info-person
      [spouse]="'spouse'"
      [debtorData]="partyCif.debtorData"
      [person]="partyCif.spouse"
      mode="edit"
    ></jhi-party-cif-customer-info-person>
  </mat-card-content>
</mat-card>
