<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group" *ngIf="managementType === 'SHAREHOLDER'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>CIF Number</mat-label>
        <input matInput type="text" [(ngModel)]="organization.cifNumber" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" [(ngModel)]="person.firstName" [disabled]="dataSource()" />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" [(ngModel)]="person.lastName" [disabled]="dataSource()" />
            <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput type="text" [(ngModel)]="person.personalIdNumber" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Identity Type</mat-label>
          <input matInput type="text" [(ngModel)]="person.personalIdType" [disabled]="dataSource()" />
          <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="person.gender" [disabled]="dataSource()">
          <mat-option *ngFor="let item of genders | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <!-- [(ngModel)]="person.dob" -->
  <div class="col-6">
    <div class="form-group" *ngIf="managementType === 'CONTROL_PERSON'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Place of Birth</mat-label>
        <input matInput type="text" [(ngModel)]="person.pob" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input [matDatepicker]="dob" matInput type="text" [formControl]="date" [(ngModel)]="person.dob" />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-hint align="start"
          ><strong>{{ countAge() }} years old</strong>
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Expiry Date</mat-label>
        <input [matDatepicker]="idExpiryDate" matInput type="text" [(ngModel)]="person.idExpiryDate" [disabled]="dataSource()" />
        <mat-datepicker-toggle matSuffix [for]="idExpiryDate" [disabled]="dataSource()"></mat-datepicker-toggle>
        <mat-datepicker #idExpiryDate [disabled]="dataSource()"></mat-datepicker>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>NPWP</mat-label>
        <input matInput type="text" [(ngModel)]="person.taxIdNumber" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
