<div class="row mt-3">
  <div class="col-12">
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Purpose Type</mat-label>
        <mat-select [(ngModel)]="purposeType" [disabled]="!isWarehouse" (ngModelChange)="changePurpose()">
          <mat-option *ngFor="let item of purposeTypes" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" [(ngModel)]="address1" (ngModelChange)="addressChange()" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlCountry"
          [matAutocomplete]="auto"
          [(ngModel)]="country"
          (ngModelChange)="getValueCountry()"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnCounrtry">
          <mat-option *ngFor="let option of filteredOptionsCountry | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- <div *ngIf="warehouseAddress === 'warehouseAddress'"> -->
    <!-- <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select [(ngModel)]="partyPostalAddress.address.countryName">
            <mat-option [value]="item.address.countryName">{{ item.address.countryName }}</mat-option>
            <mat-option *ngFor="let item of country" [value]="item.code">{{ item.description }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    <!-- </div> -->

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Province</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlProvince"
          [matAutocomplete]="autoP"
          [(ngModel)]="province"
          (ngModelChange)="getValueProvince()"
        />
        <mat-autocomplete #autoP="matAutocomplete" [displayWith]="displayFnProvince">
          <mat-option *ngFor="let option of filteredOptionsProvince | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Province</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.provinceId" (ngModelChange)="getValueProvince()" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of provinces" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>City</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlCity"
          [matAutocomplete]="autoC"
          [(ngModel)]="cities"
          (ngModelChange)="getValueCity()"
        />
        <mat-autocomplete #autoC="matAutocomplete" [displayWith]="displayFnCity">
          <mat-option *ngFor="let option of filteredOptionsCity | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.cityId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of cities" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>District</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlDistrict"
          [matAutocomplete]="autoD"
          [(ngModel)]="districts"
          (ngModelChange)="getValueDistrict()"
        />
        <mat-autocomplete #autoD="matAutocomplete" [displayWith]="displayFnDistrict">
          <mat-option *ngFor="let option of filteredOptionsDistrict | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.districtId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of districts" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Village</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControlVillage"
          [matAutocomplete]="autoE"
          [(ngModel)]="villages"
          (ngModelChange)="getIdVillage()"
        />
        <mat-autocomplete #autoE="matAutocomplete" [displayWith]="displayFnVillage">
          <mat-option *ngFor="let option of filteredOptionsVillage | async" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Village</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.villageId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of villages" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RT</mat-label>
            <input matInput type="text" [(ngModel)]="partyPostalAddress.address.rt" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RW</mat-label>
            <input matInput type="text" [(ngModel)]="partyPostalAddress.address.rw" />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Kode Pos</mat-label>
          <input matInput type="text" [(ngModel)]="partyPostalAddress.address.postalCode" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <button (click)="print()">print</button>
</div> -->
