<div class="row">
  <!-- LEFT SIDE -->
  <div class="col-6">
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Complete Name</mat-label>
        <input matInput type="text" [value]="person.firstName" disabled />
      </mat-form-field>
    </div>
    <div *ngIf="spouse === 'spouse'">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Complete Name</mat-label>
          <input matInput type="text" [(ngModel)]="person.firstName + ' ' + person.lastName" disabled />
        </mat-form-field>
      </div>
    </div>
    <!-- <div *ngIf="spouse === 'spouse'">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [(ngModel)]="person.lastName" />
        </mat-form-field>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Alias Name</mat-label>
        <input matInput type="text" [(ngModel)]="person.aliasName" [disabled]="true" />
      </mat-form-field>
    </div> -->
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput type="text" [(ngModel)]="person.personalIdNumber" disabled />
      </mat-form-field>
    </div>
    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Identity Type</mat-label>
        <mat-select [disabled]="true">
          <mat-option value="">Please Select</mat-option>
          [(ngModel)]="person.personalIdType"
        </mat-select>
      </mat-form-field>
    </div> -->
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Identity Type</mat-label>
          <input matInput type="text" [(ngModel)]="person.personalIdType" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Marital Status</mat-label>
        <mat-select [(ngModel)]="person.maritalStatus" disabled>
          <mat-option *ngFor="let item of maritalStatuses | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="person.gender" disabled>
          <mat-option *ngFor="let item of genders | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone1" [maxlength]="50" [disabled]="true" />
      </mat-form-field>
    </div>
    <!-- <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Handphone Number 3</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone3" [maxlength]="50" [disabled]="true" />
      </mat-form-field>
    </div> -->
  </div>
  <!-- RIGHT SIDE -->
  <!-- [(ngModel)]="person.dob" -->
  <div class="col-6">
    <div class="form-group" *ngIf="spouse === 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input [matDatepicker]="dob" matInput type="text" [formControl]="date" [(ngModel)]="person.dob" />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
        <mat-hint align="start"
          ><strong>{{ countAge() }} years old</strong>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input [matDatepicker]="dob" matInput type="text" [formControl]="date" [(ngModel)]="person.dob" disabled />
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker disabled #dob></mat-datepicker>
        <mat-hint align="start"
          ><strong>{{ countAge() }} years old</strong>
        </mat-hint>
      </mat-form-field>
    </div>
    <!-- <div class="form-group">
      <mat-form-field class="w-100" appearan ce="outline">
        <mat-label>Place of Birth</mat-label>
        <input matInput type="text" [(ngModel)]="person.pob" [disabled]="spouseData()" />
      </mat-form-field>
    </div> -->

    <!-- <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="person.personalEmail" [disabled]="true" />
      </mat-form-field>
    </div> -->
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ID Expiry Date</mat-label>
        <input [matDatepicker]="idExpiryDate" matInput type="text" [(ngModel)]="person.idExpiryDate" disabled [disabled]="spouseData()" />
        <mat-datepicker-toggle matSuffix [for]="idExpiryDate"></mat-datepicker-toggle>
        <mat-datepicker #idExpiryDate disabled="true"></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Blood Type</mat-label>
        <mat-select [(ngModel)]="person.bloodType" [disabled]="true">
          <mat-option *ngFor="let item of bloodTypes | keyvalue" [value]="item.key">{{ item.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>NPWP</mat-label>
        <input matInput type="text" [(ngModel)]="person.taxIdNumber" disabled />
      </mat-form-field>
    </div>

    <!-- <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Mother Maiden Name</mat-label>
        <input matInput type="text" [(ngModel)]="person.mothersName" [disabled]="true" />
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Handphone Number 2</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone2" [maxlength]="50" [disabled]="true" />
      </mat-form-field>
    </div> -->

    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone Number 1</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone2" [maxlength]="50" [disabled]="true" />
      </mat-form-field>
    </div>

    <div class="form-group" *ngIf="spouse !== 'spouse'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Phone Number 2</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone3" [maxlength]="50" [disabled]="true" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <!-- <mat-form-field class="w-100" appearance="outline">
        <mat-label>Handphone Number 3</mat-label>
        <input matInput type="text" [(ngModel)]="person.cellPhone3" [maxlength]="50" [disabled]="true" />
      </mat-form-field> -->
      <div class="form-group">
        <div *ngIf="spouseCustomer()">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Separate Asset Agreement</mat-label>
            <input matInput type="text" [value]="separate" disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
