<div class="row mt-3">
  <div class="col-12">
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Purpose Type</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.purposeTypeId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of purposeTypes" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" [(ngModel)]="partyPostalAddress.address.address1" [disabled]="!isWarehouse" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.countryId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of country" [value]="item.code">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Province</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.provinceId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of provinces" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.cityId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of cities" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.districtId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of districts" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Village</mat-label>
        <mat-select [(ngModel)]="partyPostalAddress.address.villageId" [disabled]="!isWarehouse">
          <mat-option *ngFor="let item of villages" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RT</mat-label>
            <input matInput type="text" [(ngModel)]="partyPostalAddress.address.rt" [disabled]="!isWarehouse" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RW</mat-label>
            <input matInput type="text" [(ngModel)]="partyPostalAddress.address.rw" [disabled]="!isWarehouse" />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Kode Pos</mat-label>
          <input matInput type="text" [(ngModel)]="partyPostalAddress.address.postalCode" [disabled]="!isWarehouse" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
