<ejs-tab id="element" #tab [animation]="animation">
  <e-tabitems>
    <e-tabitem [header]="{ text: 'Tab 1' }">
      <ng-template #content>
        <ejs-tab id="element" #subtabone [animation]="animation">
          <e-tabitems>
            <e-tabitem [header]="{ text: 'Sub Tab 1.1' }">
              <ng-template #content> Content Sub Tab 1 </ng-template>
            </e-tabitem>
            <e-tabitem [header]="{ text: 'Sub Tab 1.2' }">
              <ng-template #content> Content Sub Tab 2 </ng-template>
            </e-tabitem>
          </e-tabitems>
        </ejs-tab>
      </ng-template>
    </e-tabitem>
    <e-tabitem [header]="{ text: 'Tab 2' }">
      <ng-template #content>
        <jhi-sample-form-content-one></jhi-sample-form-content-one>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
