<div *ngIf="dialogSection === 'cif'">
  <div *ngIf="customerType === 'PERSONAL'">
    <jhi-collateral-appraisal-person-view [id]="partyId"> </jhi-collateral-appraisal-person-view>
  </div>
  <div *ngIf="customerType !== 'PERSONAL'">
    <jhi-collateral-appraisal-party-group-view [id]="partyId"> </jhi-collateral-appraisal-party-group-view>
  </div>
  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-subtitle>Customer Address</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <jhi-postal-address-view mode="view" [item]="postalAddress"></jhi-postal-address-view> -->
      <jhi-party-cif-customer-info-postal-address [disabled]="true" [partyPostalAddress]="postalAddress">
      </jhi-party-cif-customer-info-postal-address>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="dialogSection === 'collateral'">
  <jhi-collateral-appraisal-info-new [collateral]="collateral"></jhi-collateral-appraisal-info-new>
</div>
