.e-card {
  padding: 15px;
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  line-height: 35px;
}
@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}


.title {
  background: rgba(102, 107, 115, 0.6);
  height: 60px;
  display: flex;
  align-items: center;

  h4 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0px !important;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.96);
  }
}

.box {
  margin-top: 10px;
  border: 3px dotted #ccc;
  padding: 5px 10px;
  background: #efe;
}

.border-radius-shadow {
  border: 1px solid #a3a6ab !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;

  &.padding {
    padding: 10px !important;
  }

  &.card-img {
    margin: 10px;
    background: #f2f2f2;
    padding: 16px;

    .parent {
      width: 31rem; /* I took the width from your post and placed it in css */
      height: 32rem;
      border-radius: 20px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #44ae04;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #44ae04;
}

.mat-icon-button.mat-success {
  color: #44ae04;
}

.mat-raised-button.mat-success:disabled,
.mat-flat-button.mat-success:disabled,
.mat-fab.mat-success:disabled,
.mat-mini-fab.mat-success:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

:host ::ng-deep img {
  max-height: 400px !important;
  max-width: 400px !important;
}

ngx-dropzone-preview {
  height: 400px !important;
  min-height: 400px !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
