<mat-card>
  <mat-card-header>
    <mat-card-header-subtitle class="text-capitalize">Debitur</mat-card-header-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive-material">
      <table mat-table class="w-100" [dataSource]="dataSource">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.namaDebitur }}</td>
        </ng-container>
        <ng-container matColumnDef="nikNpwp">
          <th mat-header-cell *matHeaderCellDef>NIK NPWP</th>
          <td mat-cell *matCellDef="let element">{{ element.nikNpwp }}</td>
        </ng-container>
        <ng-container matColumnDef="noIdentitas">
          <th mat-header-cell *matHeaderCellDef>No. Identitas</th>
          <td mat-cell *matCellDef="let element">{{ element.noIdentitas }}</td>
        </ng-container>
        <ng-container matColumnDef="alamat">
          <th mat-header-cell *matHeaderCellDef>Alamat</th>
          <td mat-cell *matCellDef="let element">{{ element.alamat }}</td>
        </ng-container>
        <ng-container matColumnDef="jenisKelamin">
          <th mat-header-cell *matHeaderCellDef>Jenis Kelamin</th>
          <td mat-cell *matCellDef="let element">{{ element.jenisKelaminKet }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox
              #checkboxRow
              (click)="$event.stopPropagation()"
              *ngIf="requestSlik.status === reqSlikStatus.VERIFY"
              [checked]="isVerifySelected(element)"
              (change)="selectCheckRow(element, checkboxRow)"
            ></mat-checkbox>

            <button
              mat-icon-button
              matTooltip="Slik File"
              [matTooltipPosition]="'right'"
              (click)="openDialogSlikFile(dataSource[0].requestReffId, element.nikNpwp)"
            >
              <mat-icon>insert_drive_file</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumnsDetail.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetail"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetail"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
