table {
  width: 100%;
  th {
    background-color: rgba(147, 201, 199, 1) !important;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px;
  }
  td {
    font-family: 'Poppins', sans-serif !important;
    padding: 8px;
  }
  th:first-child {
    border-top-left-radius: 15px;
  }
  th:last-child {
    border-top-right-radius: 15px;
  }
}

.grid-index-string {
  justify-content: flex-start;
  font-size: 15px;
}

.grid-index-string-action {
  justify-content: flex-end;
  font-size: 15px;
}

.grid-index-number {
  justify-content: flex-end;
  font-size: 15px;
}

.grid-index-label-string {
  text-align: left;
}

.grid-index-label-number {
  text-align: right;
}
