table {
  border-bottom: 1px solid #008881 !important;
  width: 100%;
  th {
    color: black;
    padding: 8px;
  }
  td {
    font-family: 'Poppins', sans-serif !important;
  }
  th:first-child {
    border-top-left-radius: 15px;
  }
  th:last-child {
    border-top-right-radius: 15px;
  }

  mat-header-cell {
    color: black;
    padding: 8px;
    text-align: left;
  }

  mat-cell {
    padding: 8px;
    text-align: left;
  }
}
.expanded-column {
  mat-table {
    mat-header-row {
      mat-header-cell {
        background-color: rgba(147, 201, 199, 1) !important;
        color: black !important;
        font-family: 'Poppins', sans-serif !important;
      }
      mat-header-cell:first-child {
        border-top-left-radius: 15px;
      }
      mat-header-cell:last-child {
        border-top-right-radius: 15px;
      }
    }
  }
}

.header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  line-height: 35px;
  margin-left: 10px;
  padding-top: 13px;
}
// table column
.mat-column-no {
  text-align: right;
  width: 3% !important;
}
.mat-column-fullname {
  text-align: left;
}
.mat-column-position {
  text-align: left;
}
.mat-column-idCard {
  text-align: left;
}
.mat-column-dob {
  text-align: left;
}

.mat-column-address {
  text-align: left;
}
.mat-column-npwp {
  text-align: left;
}
.mat-column-pep {
  text-align: left;
}
.mat-column-action {
  text-align: left;
  width: 10% !important;
}
// table column
