.e-card {
  padding: 10px;
  margin-bottom: 1rem;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.e-card .e-card-header .e-card-header-caption .e-card-sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 1000;
  color: red;
  line-height: 35px;
  margin-left: 10px;
  padding-top: 13px;
}

.e-card-content {
  border: none;
  /* border: 1px solid #008881; */
  margin: 1rem;
}

.remarks {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.e-grid .e-gridheader tr:first-child th {
  background-color: rgba(0, 136, 129, 0.8);
}

.e-outline.e-input-group,
.e-outline.e-input-group.e-control-wrapper,
.e-outline.e-float-input,
.e-outline.e-float-input.e-input-group,
.e-outline.e-float-input.e-control-wrapper,
.e-outline.e-float-input.e-input-group.e-control-wrapper {
  margin-bottom: 1rem;
}

.button-info {
  color: white;
  padding: 10px;
  background-color: #008881;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  border-radius: 6px;
}
@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
