.control-container {
  padding: 0px !important;
}

#line-chart stop {
  stop-color: #2981d7 !important;
}

#line-chart1 stop {
  stop-color: #003c7c !important;
}

#line-chart2 stop {
  stop-color: #93d9d9 !important;
}
