<ejs-menu [enableScrolling]="true" cssClass="e-rounded-menu e-custom-scroll" [items]="menuItems"
  (select)="selectMenuItem($event)"></ejs-menu>
<div *ngIf="selectedMenu === 'COVENANT'">
  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Standard Covenant</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <ejs-grid *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bn'"
            [dataSource]="standardDataGridAbove" allowTextWrap="true">
            <e-columns>
              <e-column field="covenant" headerText="Covenant" width="200" textAlign="left" headerTextAlign="center">
              </e-column>
              <e-column headerText="Status" width="150" textAlign="center">
                <ng-template #template let-data>
                  <ejs-dropdownlist (change)="onKeyUpEvent('status', $event, data)" [(ngModel)]="statusValue[data.id]"
                    [dataSource]="status" placeholder="Select a Status" cssClass="e-outline">
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field="deviation" headerText="Deviation" width="200" textAlign="left" headerTextAlign="center">
                <ng-template #template let-data>
                  <ejs-textbox (keyup)="onKeyUpEvent('deviation', $event, data)" [(ngModel)]="deviation[data.id]"
                    [disabled]="statusValue[data.id] == 'Applied'" cssClass="e-outline">
                  </ejs-textbox>
                </ng-template>
              </e-column>
              <e-column field="justification" headerText="Justification" width="130" textAlign="center">
                <ng-template #template let-data>
                  <ejs-textbox (keyup)="onKeyUpEvent('justification', $event, data)"
                    [(ngModel)]="justification[data.id]" [disabled]="statusValue[data.id] == 'Applied'"
                    cssClass="e-outline">
                  </ejs-textbox>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
          <ejs-grid *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bn'"
            [dataSource]="standardDataGrid" allowTextWrap="true">
            <e-columns>
              <e-column field="covenant" headerText="Covenant" width="200" textAlign="left" headerTextAlign="center">
              </e-column>
              <e-column headerText="Status" width="150" textAlign="center">
                <ng-template #template let-data>
                  <ejs-dropdownlist (change)="onKeyUpEvent('status', $event, data)" [(ngModel)]="statusValue[data.id]"
                    [dataSource]="status" placeholder="Select a Status" cssClass="e-outline">
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field="deviation" headerText="Deviation" width="200" textAlign="left" headerTextAlign="center">
                <ng-template #template let-data>
                  <ejs-textbox (keyup)="onKeyUpEvent('deviation', $event, data)" [(ngModel)]="deviation[data.id]"
                    [disabled]="statusValue[data.id] == 'Applied'" cssClass="e-outline">
                  </ejs-textbox>
                </ng-template>
              </e-column>
              <e-column field="justification" headerText="Justification" width="130" textAlign="center">
                <ng-template #template let-data>
                  <ejs-textbox (keyup)="onKeyUpEvent('justification', $event, data)"
                    [(ngModel)]="justification[data.id]" [disabled]="statusValue[data.id] == 'Applied'"
                    cssClass="e-outline">
                  </ejs-textbox>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
          <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'">
            <div class="e-card-sub-title">General Times Condition</div>
            <ejs-grid [dataSource]="standardDataGridBackToBackGeneral" allowTextWrap="true">
              <e-columns>
                <e-column field="covenant" headerText="Covenant" width="200" textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column headerText="Status" width="150" textAlign="center">
                  <ng-template #template let-data>
                    <ejs-dropdownlist (change)="onKeyUpEvent('status', $event, data)" [(ngModel)]="statusValue[data.id]"
                      [dataSource]="status" placeholder="Select a Status" cssClass="e-outline">
                    </ejs-dropdownlist>
                  </ng-template>
                </e-column>
                <e-column field="deviation" headerText="Deviation" width="200" textAlign="left"
                  headerTextAlign="center">
                  <ng-template #template let-data>
                    <ejs-textbox (keyup)="onKeyUpEvent('deviation', $event, data)" [(ngModel)]="deviation[data.id]"
                      [disabled]="statusValue[data.id] == 'Applied'" cssClass="e-outline">
                    </ejs-textbox>
                  </ng-template>
                </e-column>
                <e-column field="justification" headerText="Justification" width="130" textAlign="center">
                  <ng-template #template let-data>
                    <ejs-textbox (keyup)="onKeyUpEvent('justification', $event, data)"
                      [(ngModel)]="justification[data.id]" [disabled]="statusValue[data.id] == 'Applied'"
                      cssClass="e-outline">
                    </ejs-textbox>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
            <div class="e-card-sub-title">Terms and condition for time deposit collateral</div>
            <ejs-grid [dataSource]="standardDataGridBackToBackDeposit" allowTextWrap="true">
              <e-columns>
                <e-column field="covenant" headerText="Covenant" width="200" textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column headerText="Status" width="150" textAlign="center">
                  <ng-template #template let-data>
                    <ejs-dropdownlist (change)="onKeyUpEvent('status', $event, data)" [(ngModel)]="statusValue[data.id]"
                      [dataSource]="status" placeholder="Select a Status" cssClass="e-outline">
                    </ejs-dropdownlist>
                  </ng-template>
                </e-column>
                <e-column field="deviation" headerText="Deviation" width="200" textAlign="left"
                  headerTextAlign="center">
                  <ng-template #template let-data>
                    <ejs-textbox (keyup)="onKeyUpEvent('deviation', $event, data)" [(ngModel)]="deviation[data.id]"
                      [disabled]="statusValue[data.id] == 'Applied'" cssClass="e-outline">
                    </ejs-textbox>
                  </ng-template>
                </e-column>
                <e-column field="justification" headerText="Justification" width="130" textAlign="center">
                  <ng-template #template let-data>
                    <ejs-textbox (keyup)="onKeyUpEvent('justification', $event, data)"
                      [(ngModel)]="justification[data.id]" [disabled]="statusValue[data.id] == 'Applied'"
                      cssClass="e-outline">
                    </ejs-textbox>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Other Covenant</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <ejs-grid allowPaging="true" [dataSource]="otherDataGrid">
            <e-columns>
              <e-column field="id" headerText="No" width="70" textAlign="center"></e-column>
              <e-column field="otherCovenant" headerText="Covenant" width="200" textAlign="center"></e-column>
              <e-column field="otherStatus" headerText="Status" width="200" textAlign="center"> </e-column>
              <e-column field="otherDeviation" headerText="Deviation" width="100" textAlign="center"></e-column>
              <e-column field="otherJustification" headerText="Justification" width="100" textAlign="center"></e-column>
              <e-column headerText="Action" width="100" headerTextAlign="center" textAlign="center">
                <ng-template #template let-data>
                  <div class="d-flex justify-content-around">
                    <button (click)="deleteData(data.id)" class="e-icons e-delete"></button>
                  </div>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>

          <div class="d-flex justify-content-end">
            <button ejs-button content="ADD" (click)="onDetail()" class="btn-info" style="margin: 10px"></button>
          </div>
        </div>
      </div>
      <ejs-dialog id="dialog" #ejDialog isModal="true" (overlayClick)="onOverlayAddClick()"
        [animationSettings]="animationSettings" [visible]="dialogAddVisible" [width]="width" [height]="height">
        <ng-template #header> </ng-template>
        <ng-template #content>
          <div class="e-sample-resize-container e-card-resize-container">
            <div class="row card-layout">
              <div class="e-card">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-header-title"></div>
                    <div class="e-card-sub-title"></div>
                    <div class="col-12" style="margin-top: 20px">
                      <div class="form-space">
                        <ejs-textbox [(ngModel)]="otherCovenant" cssClass="e-outline" placeholder="Covenant"
                          floatLabelType="auto">
                        </ejs-textbox>
                      </div>
                    </div>

                    <div class="col-12" style="margin-top: 20px">
                      <div class="form-space">
                        <ejs-textbox [(ngModel)]="otherStatus" cssClass="e-outline" placeholder="Status"
                          floatLabelType="auto">
                        </ejs-textbox>
                      </div>
                    </div>

                    <div class="col-12" style="margin-top: 20px">
                      <div class="form-space">
                        <ejs-textbox [(ngModel)]="otherDeviation" cssClass="e-outline" placeholder="Deviation"
                          floatLabelType="auto">
                        </ejs-textbox>
                      </div>
                    </div>

                    <div class="col-12" style="margin-top: 20px">
                      <div class="form-space">
                        <ejs-textbox [(ngModel)]="otherJustification" cssClass="e-outline" placeholder="Justification"
                          floatLabelType="auto">
                        </ejs-textbox>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button ejs-button content="Save" (click)="addToGrid()" class="btn-info"
                        style="margin: 10px"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ejs-dialog>
    </div>
  </div>
</div>

<div *ngIf="selectedMenu === 'DEVIATION'">
  <div class="card-content">
    <jhi-credit-proposal-tab-deviation [creditProposalItem]="creditProposalItem"> </jhi-credit-proposal-tab-deviation>
  </div>
</div>
