<ejs-menu
  [enableScrolling]="true"
  cssClass="e-rounded-menu e-custom-scroll"
  [items]="menuItems"
  (select)="selectMenuItem($event)"
  *ngIf="!compareData"
  [hidden]="isOnOffering"
></ejs-menu>
<div *ngIf="setActiveMenu === 'COVENANT' || selectedMenu === 'COVENANT'">
  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="header-title">Standard Terms & Conditions</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>
        <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
          <div class="card-content">
            <jhi-credit-proposal-tab-covenant-above [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
            </jhi-credit-proposal-tab-covenant-above>
          </div>
        </div>

        <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
          <div class="card-content">
            <jhi-credit-proposal-tab-covenant-below [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
            </jhi-credit-proposal-tab-covenant-below>
          </div>
        </div>
        <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'">
          <div class="card-content">
            <jhi-credit-proposal-tab-covenant-back-to-back-general [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
            </jhi-credit-proposal-tab-covenant-back-to-back-general>
          </div>
          <div class="card-content">
            <jhi-credit-proposal-tab-covenant-back-to-back-deposit [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
            </jhi-credit-proposal-tab-covenant-back-to-back-deposit>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="header-title">Other Covenant</div>
            <div class="e-card-sub-title"></div>
            <div class="card-content">
              <jhi-other-covenant [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem"> </jhi-other-covenant>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="setActiveMenu === 'DEVIATION' || selectedMenu === 'DEVIATION'">
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <div class="card-content">
      <jhi-credit-proposal-deviation-above [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-deviation-above>
    </div>
  </div>
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <div class="card-content">
      <jhi-credit-proposal-deviation-below [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-deviation-below>
    </div>
  </div>
  <div *ngIf="creditProposalItem.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <div class="card-content">
      <jhi-credit-proposal-tab-deviation-back-to-back-general [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-tab-deviation-back-to-back-general>
      <jhi-credit-proposal-tab-deviation-back-to-back-deposit [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem">
      </jhi-credit-proposal-tab-deviation-back-to-back-deposit>
    </div>
  </div>
  <div class="e-sample-resize-container e-card-resize-container mb-5">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="header-title">Other Deviation</div>
            <div class="e-card-sub-title"></div>
            <div class="card-content">
              <jhi-other-deviation [isViewMode]="isViewMode" [creditProposalItem]="creditProposalItem"> </jhi-other-deviation>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedMenu === 'DOCUMENT CHECKLIST'">
  <div>
    <jhi-credit-proposal-document-checklist [isViewMode]="isViewMode" [creditProposal]="creditProposalItem">
    </jhi-credit-proposal-document-checklist>
  </div>
</div>
