<h2 mat-dialog-title>EDIT FACILITY INFO</h2>
<mat-dialog-content>
  <div class="row">
    <div class="form-group">
      <section *jhiMatrixDirIDD="'input'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Available Limit</mat-label>
          <input
            matInput
            currencyMask
            [(ngModel)]="debtorData.availableLimit"
            [options]="{ prefix: '', thousands: ',', decimal: ',', precision: 0 }"
          />
        </mat-form-field>
      </section>
      <section *jhiMatrixDirIDD="''">
        <div class="fontsebled row">
          <div class="col">Available Limit</div>
          <div class="col-md-auto">:</div>
          <div class="col">
            {{ debtorData.availableLimit }}
          </div>
        </div>
      </section>
    </div>
  </div>
</mat-dialog-content>
<section *jhiMatrixDirIDD="'input'">
  <mat-dialog-actions align="center">
    <button mat-button (click)="save()" style="background: rgba(0, 136, 129, 1); color: #ffffff">SAVE</button>
    <button mat-button (click)="cancel()" style="background: rgb(228, 39, 39); color: #ffffff">CLOSE</button>
  </mat-dialog-actions>
</section>
<section *jhiMatrixDirIDD="''" align="center">
  <button mat-button (click)="cancel()">CLOSE</button>
</section>
