<section *ngIf="source === ''">
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <ejs-menu
      [hidden]="view"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItems"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div [hidden]="selectedMenu === 'CHECKLIST' || selectedMenu === 'SUMMARY'">
      <jhi-above-grid-history
        [creditProposal]="creditProposal"
        [isOnCompareData]="isOnCompareData"
        [collateralProperties]="collateralProperties"
        [isCompareDar]="isCompareDar"
      ></jhi-above-grid-history>

      <div *ngIf="takeOutCompare !== true">
        <jhi-credit-proposal-collateral-info-remarks-information
          #creditProposalCollateralInfoRemarksInfoComponentAbove
          [creditProposal]="creditProposal"
          [parentSource]="parentSource"
        >
        </jhi-credit-proposal-collateral-info-remarks-information>
      </div>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <div *ngIf="selectedMenu === 'CHECKLIST'">
      <div class="card-content">
        <jhi-collateral-info-checklist-history [creditProposal]="creditProposal" [isViewMode]="isViewMode">
        </jhi-collateral-info-checklist-history>

        <div *ngIf="takeOutCompare !== true">
          <jhi-credit-proposal-collateral-info-remarks-checklist
            #creditProposalCollateralInfoRemarksCheckComponent
            [creditProposal]="creditProposal"
            [parentSource]="parentSource"
          >
          </jhi-credit-proposal-collateral-info-remarks-checklist>
        </div>
      </div>
    </div>
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid>
      </div>
    </div>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <jhi-bellow-grid-history
      [isOnCompareData]="isOnCompareData"
      [isCompareDar]="isCompareDar"
      [creditProposal]="creditProposal"
      [collateralProperties]="collateralProperties"
    ></jhi-bellow-grid-history>

    <div *ngIf="takeOutCompare !== true">
      <jhi-credit-proposal-collateral-info-remarks-information
        #creditProposalCollateralInfoRemarksInfoComponentBelow
        [creditProposal]="creditProposal"
        [parentSource]="parentSource"
      >
      </jhi-credit-proposal-collateral-info-remarks-information>
    </div>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <jhi-collateral-info-btb-history
      [isOnCompareData]="isOnCompareData"
      [isCompareDar]="isCompareDar"
      [creditProposal]="creditProposal"
      [collateralProperties]="collateralProperties"
    ></jhi-collateral-info-btb-history>

    <div *ngIf="takeOutCompare !== true">
      <jhi-credit-proposal-collateral-info-remarks-information
        #creditProposalCollateralInfoRemarksInfoComponentBtb
        [creditProposal]="creditProposal"
        [parentSource]="parentSource"
      >
      </jhi-credit-proposal-collateral-info-remarks-information>
    </div>
  </div>
</section>

<section *ngIf="source === 'summaryAll'">
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <ejs-menu
      [hidden]="view"
      [enableScrolling]="true"
      cssClass="e-rounded-menu e-custom-scroll"
      [items]="menuItems"
      (select)="selectMenuItem($event)"
    ></ejs-menu>
    <div [hidden]="selectedMenu === 'CHECKLIST' || selectedMenu === 'SUMMARY'">
      <jhi-above-grid-history
        [isOnCompareData]="isOnCompareData"
        [isCompareDar]="isCompareDar"
        [creditProposal]="creditProposal"
        [collateralProperties]="collateralProperties"
      ></jhi-above-grid-history>
    </div>
  </div>
  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure > IDR 15 Bio'">
    <div *ngIf="selectedMenu === 'CHECKLIST'">
      <div class="card-content">
        <jhi-collateral-info-checklist-history
          [isOnCompareData]="isOnCompareData"
          [isCompareDar]="isCompareDar"
          [creditProposal]="creditProposal"
          [isViewMode]="isViewMode"
        >
        </jhi-collateral-info-checklist-history>
      </div>
    </div>
    <div *ngIf="selectedMenu === 'SUMMARY'">
      <div class="card-content">
        <jhi-summary-grid
          [creditProposal]="creditProposal"
          [collateralProperties]="collateralProperties"
          [group]="'group'"
        ></jhi-summary-grid>
      </div>
    </div>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure <= IDR 15 Bio'">
    <jhi-bellow-grid-history
      [isOnCompareData]="isOnCompareData"
      [isCompareDar]="isCompareDar"
      [creditProposal]="creditProposal"
      [collateralProperties]="collateralProperties"
    ></jhi-bellow-grid-history>
  </div>

  <div *ngIf="creditProposal.attributes['proposalType'] === 'Total Exposure Back to Back'">
    <jhi-collateral-info-btb-history
      [isOnCompareData]="isOnCompareData"
      [isCompareDar]="isCompareDar"
      [creditProposal]="creditProposal"
      [collateralProperties]="collateralProperties"
    ></jhi-collateral-info-btb-history>
  </div>
</section>
