<h2 mat-dialog-title>{{ mode === 'add' ? 'ADD' : 'VIEW' }} DOCUMENT INSURANCE</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-6">
      <ngx-dropzone (change)="onSelect($event)" accept="*" multiple="true" *ngIf="mode !== 'view'">
        <ngx-dropzone-label>Drop file here or choose your file</ngx-dropzone-label>
      </ngx-dropzone>
      <div class="row mt-3 px-5">
        <ngx-dropzone-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
          class="view"
        >
          <ngx-dropzone-label class="w-100">
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-image-preview" [file]="f">
              <ngx-dropzone-label
                style="
                  width: 120%;
                  top: 60%;
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 1;
                  background-color: rgba(0, 0, 0, 0.7);
                  padding: 2px;
                  font-size: 12px;
                  color: white;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                "
                >{{ f.name }}</ngx-dropzone-label
              >
            </ngx-dropzone-image-preview>
          </ngx-dropzone-label>
        </ngx-dropzone-preview>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="form-group" *ngIf="mode !== 'view'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Document Policy</mat-label>
              <mat-select name="documentPolicy" [(ngModel)]="documentInsurance.documentType">
                <mat-option value="">- Please Select -</mat-option>
                <mat-option *ngFor="let item of documentPolicye" [value]="item.value">
                  {{ item.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group" *ngIf="mode !== 'view'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="documentInsurance.status" name="status" [disabled]="insurance.insuranceCategoryId === 34107">
                <mat-option value="">- Please Select -</mat-option>
                <mat-option *ngFor="let item of ['Available', 'TBO', 'Waived']" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" *ngIf="mode !== 'view'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Date</mat-label>
              <input
                [matDatepicker]="date"
                matInput
                type="text"
                [(ngModel)]="documentInsurance.dueDate"
                [disabled]="insurance.insuranceCategoryId === 34107"
              />
              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- Row -->

      <div class="row">
        <div class="col-6">
          <div class="form-group" *ngIf="mode !== 'view'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Category</mat-label>
              <mat-select [(ngModel)]="documentInsurance.category" name="category" [disabled]="insurance.insuranceCategoryId === 34107">
                <mat-option value="">- Please Select -</mat-option>
                <mat-option *ngFor="let item of ['A', 'B', 'C']" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" *ngIf="mode !== 'view'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Remarks</mat-label>
              <input matInput type="text" [(ngModel)]="documentInsurance.remarks" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" *ngIf="mode !== 'view'">
  <button mat-button (click)="save()">Save</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

<mat-dialog-content align="center" *ngIf="documentInsurance && mode === 'view'">
  <table class="table w-100">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Document Policy</th>
        <th>Category</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ documentInsurance.name }}</td>
        <td>{{ documentInsurance.tags['document'] }}</td>
        <td>{{ documentInsurance.tags['category'] }}</td>
        <td>{{ documentInsurance.tags['dueDate'] | date: 'YYYY-MM-dd' }}</td>
        <td>{{ documentInsurance.tags['status'] }}</td>
        <td>{{ documentInsurance.tags['remarks'] }}</td>
      </tr>
    </tbody>
  </table>

  <ul class="list-image">
    <li>
      <div
        *ngIf="
          documentInsurance.name.split('.').indexOf('png') > -1 ||
          documentInsurance.name.split('.').indexOf('jpg') > -1 ||
          documentInsurance.name.split('.').indexOf('jpeg') > -1 ||
          documentInsurance.name.split('.').indexOf('gif') > -1
        "
      >
        <img style="width: 300px; border-radius: 20px" [src]="documentInsurance.url" />
        <div style="width: 580px; position: sticky; margin-top: -110px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div
        *ngIf="documentInsurance.name.split('.').indexOf('xlsx') > -1 || documentInsurance.name.split('.').indexOf('xls') > -1"
        style="width: 300px"
      >
        <img width="300px" src="../../../../content/images/excel.png" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('doc') > -1 || documentInsurance.name.split('.').indexOf('docx') > -1">
        <img width="300px" src="../../../../content/images/word.png" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('mp4') > -1">
        <img width="300px" src="../../../../content/images/mp4.png" />

        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('txt') > -1">
        <img width="300px" src="../../../../content/images/Txt.jpg" />

        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('aac') > -1">
        <img width="300px" src="../../../../content/images/acc.jpg" />

        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('pdf') > -1">
        <img width="300px" src="../../../../content/images/pdf.png" />

        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('mp3') > -1" style="width: 300px">
        <img width="300px" src="../../../../content/images/mp3.png" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('csv') > -1" style="width: 300px">
        <img width="300px" src="../../../../content/images/csv.png" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('svg') > -1" style="width: 300px">
        <img width="300px" src="../../../../content/images/svg.jpg" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('tiff') > -1" style="width: 300px">
        <img width="300px" src="../../../../content/images/tiff.png" />
        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="documentInsurance.name.split('.').indexOf('pptx') > -1">
        <img width="300px" src="../../../../content/images/power-point.jpg" />

        <div style="width: 580px; position: sticky; margin-top: -160px; margin-bottom: 140px">
          <button mat-raised-button (click)="donwload(documentInsurance.url, documentInsurance)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>

      <div style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center; align-items: center">
        <p style="font-weight: 400; font-size: 15px; width: 50%">
          {{ documentInsurance.name }}
        </p>
      </div>
    </li>
  </ul>
  <mat-dialog-actions align="center">
    <!-- <button mat-button [hidden]="mode === 'view'" (click)="save()">Save</button> -->
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</mat-dialog-content>
