<div class="row">
  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row card-layout">
      <div class="e-card">
        <div class="e-card-content">
          <div class="card-border">
            <ejs-grid [dataSource]="items">
              <e-columns>
                <e-column field="indexNum" headerText="No" width="50" textAlign="center"></e-column>
                <e-column field="collObj" headerText="Collateral Object" width="140" textAlign="center"></e-column>
                <e-column field="brand" headerText="Brand" width="170" textAlign="center"></e-column>
                <e-column field="madeBy" headerText="Made By" width="170" textAlign="center"></e-column>
                <e-column field="mfgDate" headerText="MFG Date" width="140" textAlign="center"></e-column>
                <e-column field="marketValue" headerText="Market Value" width="170" textAlign="center"></e-column>
                <e-column
                  field="ttlLandLiqValIndication"
                  headerText="Liquidation Value Indication"
                  width="170"
                  textAlign="center"
                ></e-column>
                <e-column field="percentage" headerText="Percentage" width="170" textAlign="center"></e-column>
                <e-column headerText="Action" width="150" textAlign="Center">
                  <ng-template #template let-data>
                    <button pButton type="button" (click)="onEdit(data)" class="flat-button">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </button>
                    <button pButton type="button" (click)="onDelete(data)" class="flat-button">
                      <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
            <div class="d-flex justify-content-end mt-3">
              <button ejs-button class="btn-info" (click)="onAdd()">Add</button>
            </div>
          </div>
          <div class="card-border">
            <div class="row justify-content-between">
              <div class="col-6">
                <div class="form-space">
                  <ejs-textbox placeholder="Total Market Value (MV)" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                </div>
                <div class="form-space">
                  <ejs-textbox placeholder="Total Market Value Rounding" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                </div>
              </div>
              <div class="col-6">
                <div class="form-space">
                  <ejs-textbox placeholder="Total Liquidation Value Indication" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
                </div>
                <div class="form-space">
                  <ejs-textbox
                    placeholder="Total Liquidation Value Indication Rounding"
                    floatLabelType="Auto"
                    cssClass="e-outline"
                  ></ejs-textbox>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="e-card-actions"></div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog Add -->
<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayAddClick()"
  [animationSettings]="animationSettings"
  [visible]="dialogAddVisible"
  [width]="width"
  [height]="height"
>
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          <ejs-textbox [(ngModel)]="collObj" placeholder="Collateral Object" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="brand" placeholder="Brand" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="madeBy" placeholder="Made By" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <ejs-textbox [(ngModel)]="mfgDate" placeholder="MFG Date" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="marketValue" placeholder="Market Value" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="percentage" placeholder="Precentage" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="d-flex justify-content-end my-2">
      <button ejs-button class="btn-info" (click)="addToGrid()">Add</button>
    </div>
  </ng-template>
</ejs-dialog>

<!-- Dialog Edit -->
<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayEditClick()"
  [animationSettings]="animationSettings"
  [visible]="dialogEditVisible"
  [width]="width"
  [height]="height"
>
  <ng-template #content>
    <div class="e-sample-resize-container e-card-resize-container">
      <div class="row p-3">
        <div class="col-6">
          <ejs-textbox [(ngModel)]="collObj" placeholder="Collateral Object" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="brand" placeholder="Brand" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="madeBy" placeholder="Made By" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
        </div>
        <div class="col-6">
          <ejs-textbox [(ngModel)]="mfgDate" placeholder="MFG Date" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="marketValue" placeholder="Market Value" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
          <div class="form-space">
            <ejs-textbox [(ngModel)]="percentage" placeholder="Precentage" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>
