<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Paripasu Collateral</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive-material">
      <table mat-table [dataSource]="" class="w-100">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>No</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
        </ng-container>
      </table>
    </div>
  </mat-card-content>
</mat-card>
