<div class="row">
  <div class="col-12">
    <div class="form-group">
      <ejs-textbox
        placeholder="address1"
        [(ngModel)]="postalAddress.address1"
        cssClass="e-outline"
        rows="3"
        [multiline]="true"
        floatLabelType="Auto"
        [maxlength]="100"
        [disabled]="dataSource()"
      >
      </ejs-textbox>
      <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select (selectionChange)="selectCountry($event)" [(ngModel)]="postalAddress.countryId" [disabled]="dataSource()">
          <mat-option *ngFor="let item of country" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Province</mat-label>
        <mat-select (selectionChange)="selectProvince($event)" [(ngModel)]="postalAddress.provinceId" [disabled]="dataSource()">
          <mat-option *ngFor="let item of province" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>City</mat-label>
        <mat-select (selectionChange)="selectCity($event)" [(ngModel)]="postalAddress.cityId" [disabled]="dataSource()">
          <mat-option *ngFor="let item of cities" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>District</mat-label>
        <mat-select (selectionChange)="selectDistrict($event)" [(ngModel)]="postalAddress.districtId" [disabled]="dataSource()">
          <mat-option *ngFor="let item of districts" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Village</mat-label>
        <mat-select [(ngModel)]="postalAddress.villageId" [disabled]="dataSource()">
          <mat-option *ngFor="let item of villages" [value]="item.id">{{ item.description }} </mat-option>
        </mat-select>
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Kode Pos</mat-label>
        <input matInput type="text" [(ngModel)]="postalAddress.postalCode" [disabled]="dataSource()" />
        <mat-hint align="end" [hidden]="!dataSource()">*) Disabled, Data From HOBIS</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
