<div class="row">
  <div class="col-12">
    <div class="form-group">
      <ejs-textbox
        placeholder="address1"
        [(ngModel)]="postalAddress.address1"
        cssClass="e-outline"
        rows="3"
        [multiline]="true"
        floatLabelType="Auto"
      >
      </ejs-textbox>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country</mat-label>
        <mat-select (selectionChange)="selectCountry($event)" [(ngModel)]="postalAddress.countryId">
          <mat-option *ngFor="let item of country" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Province</mat-label>
        <mat-select (selectionChange)="selectProvince($event)" [(ngModel)]="postalAddress.provinceId">
          <mat-option *ngFor="let item of province" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>City</mat-label>
        <mat-select (selectionChange)="selectCity($event)" [(ngModel)]="postalAddress.cityId">
          <mat-option *ngFor="let item of cities" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>District</mat-label>
        <mat-select (selectionChange)="selectDistrict($event)" [(ngModel)]="postalAddress.districtId">
          <mat-option *ngFor="let item of districts" [value]="item.id">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
