<div class="wrapper-card">
  <e-card class="mb-3">
    <mat-card-subtitle class="mat-card-header-text">Add Clausal (PK {{ agreementClausal.category }})</mat-card-subtitle>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Category</mat-label>
      <mat-select disabled [(ngModel)]="agreementClausal.category">
        <mat-option value="">Please Select</mat-option>
        <mat-option *ngFor="let item of ['NEW', 'ADDENDUM']" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label>Clausal Agreement</mat-label>

    <div *ngIf="agreementClausal.category === 'ADDENDUM'">
      <mat-form-field appearance="outline" class="w-50">
        <mat-select [(ngModel)]="valueParentClausalAgreements">
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of agreementsClausalChildList" [value]="item">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="valueParentClausalAgreements?.description === 'Pasal Addendum 1'">
        <mat-form-field
          style="margin-left: 30px"
          *ngFor="let item2 of countChildFormAgreements; let i = index"
          appearance="outline"
          class="w-50"
        >
          <mat-select (selectionChange)="changeClildAgreements($event, i)" [(ngModel)]="valueChildAgreeements[i]">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let item of optionChildAgrementAddedum(i)" [value]="item">
              {{ item.agreementClausalParameterCode }} - {{ item.agreementClausalParameterDescription }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon *ngIf="countChildFormAgreements.length > 0" (click)="addCountCildAgreementsForm()">add</mat-icon>
        <mat-icon *ngIf="countChildFormAgreements.length > 1" (click)="deleteCountCildAgreementsForm(i)">delete</mat-icon>
      </div>
    </div>
    <table
      *ngIf="agreementClausal.category === 'NEW' || agreementClausal.category === 'Perubahan dan Pernyataan Kembali'"
      mat-table
      [dataSource]="clausalAgreement"
      class="w-100"
    >
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef class="text-center">Code</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.code }}
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="text-center">Category</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.parameterCategoryDescription }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="text-center">Description</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          Select All <mat-checkbox (change)="selectAll($event)"> </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <section class="mt-2">
            <mat-checkbox [checked]="allSelect" (change)="onCheckboxChange($event, element)"> </mat-checkbox>
          </section>
        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayColumnsCreditAgreementClausal.length">No records found.</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayColumnsCreditAgreementClausal"></tr>
      <tr mat-row *matRowDef="let element; columns: displayColumnsCreditAgreementClausal"></tr>
    </table>
    <mat-card *ngIf="loading" id="material-loading-bar">
      <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
    </mat-card>

    <div style="display: flex; justify-content: center; align-items: center">
      <button class="btn-lg text-uppercase button-styling mt-2" (click)="onNoClick()" mat-raised-button>Close</button>
      <button class="btn-lg text-uppercase button-styling mt-2" mat-button (click)="saveClausal()">Save</button>
    </div>
  </e-card>
</div>
