<div class="style-close" [hidden]="insurances !== null">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title" [hidden]="insurances !== null">ADD / EDIT INSURANCE DETAIL</h2>
<mat-dialog-content>
  <mat-card [hidden]="insurances !== null">
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Collateral Ref No</mat-label>
              <input matInput type="text" [(ngModel)]="collateral.collateralNumber" disabled />
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Collateral Type</mat-label>
              <mat-select [(ngModel)]="collateral.collateralTypeId" name="facilityType" disabled>
                <mat-option value="">- Please Select -</mat-option>
                <mat-option *ngFor="let item of collateralTypes" [value]="item.id">
                  {{ item.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput style="height: 50px" [(ngModel)]="collateral.collateralAddress.address1" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <jhi-grid-detail-insurance
      [insurance]="insurance"
      [collateral]="collateral"
      [creditProposal]="creditProposal"
      [isViewMode]="isViewMode"
      (dataInsurance)="getDataInsurances($event)"
    ></jhi-grid-detail-insurance>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center" class="align-center">
  <div>
    <div class="form-group">
      <button mat-raised-button class="confirm-button-no" (click)="openCancelDialog()">Cancel</button>
      <!-- <button mat-raised-button class="confirm-button-yes" (click)="save()">Save</button> -->
    </div>
  </div>
</mat-dialog-actions>
