<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employment">
      <h2 data-cy="employmentDetailsHeading"><span jhiTranslate="losgwApp.employment.detail.title">Employment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employment.id }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.fromDate">From Date</span></dt>
        <dd>
          <span>{{ employment.fromDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.thruDate">Thru Date</span></dt>
        <dd>
          <span>{{ employment.thruDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.relationTypeId">Relation Type Id</span></dt>
        <dd>
          <span>{{ employment.relationTypeId }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.relationTypeDescription">Relation Type Description</span></dt>
        <dd>
          <span>{{ employment.relationTypeDescription }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.partyToId">Party To Id</span></dt>
        <dd>
          <span>{{ employment.partyToId }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.partyToName">Party To Name</span></dt>
        <dd>
          <span>{{ employment.partyToName }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.partyFromId">Party From Id</span></dt>
        <dd>
          <span>{{ employment.partyFromId }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.employment.partyFromName">Party From Name</span></dt>
        <dd>
          <span>{{ employment.partyFromName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employment', employment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
