<div mat-dialog-content align="center" class="py-3">
  <div class="row">
    <div class="col-5" align="right">Upload your file:</div>
    <div class="col-7" align="left">
      <input type="file" (change)="fileChanged($event)" accept=".xlsx, .xls" />
    </div>
  </div>
  <div *ngIf="listOfData.length > 0" style="max-height: 500px; margin-top: 10px" class="w-100 table-responsive row">
    <table class="w-100 table table-striped" id="tableUploadValidate">
      <thead>
        <tr>
          <th scope="col" align="center">Relation Type Id</th>
          <th scope="col" align="center">Position From Id</th>
          <th scope="col" align="center">Position To Id</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOfData; let idx = index">
          <td>{{ item.relationTypeId }}</td>
          <td>{{ item.positionFromId }}</td>
          <td>{{ item.positionToId }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<mat-dialog-actions align="center">
  <button mat-raised-button class="confirm-button-no" mat-dialog-close>Cancel</button>
  <button mat-raised-button class="confirm-button-yes" [disabled]="listOfData.length === 0" (click)="upload()" cdkFocusInitial>
    Submit
  </button>
</mat-dialog-actions>
