<div class="e-sample-resize-container e-card-resize-container mb-5">
  <div class="card-layout mb-3">
    <div class="mb-3 mt-3">
      <!-- tetle -->
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="header-title mb-3 mt-3">Customer Profitability</div>
          <div class="e-card-sub-title"></div>
        </div>
      </div>
      <!--dalam card-->
      <mat-card-content>
        <div class="row">
          <div class="col 12 table-responsive">
            <table class="w-100" id="tblPorforma" cellpadding="10">
              <thead>
                <tr>
                  <th colspan="1" align="left" class="rounding-table-left" style="vertical-align: middle; text-align: center">Revenue</th>
                  <th colspan="1" align="right" class="align-right" style="vertical-align: middle; text-align: center">Current Year</th>
                  <th colspan="1" align="right" class="align-right" style="vertical-align: middle; text-align: center">
                    Avarage Loan Ballance 1 Year
                  </th>
                  <th colspan="1" align="right" class="rounding-table-right align-right" style="vertical-align: middle; text-align: center">
                    ROA (%)
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
              <tr>
                <td style="vertical-align: middle; text-align: left">Interest Income From Loan</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].loan"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].loan }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col-lg-2">
                      {{ item.attributes['tabCustomer'].loan | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>

                <td>
                  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                    <td style="vertical-align: middle; text-align: center">
                      <input
                        [(ngModel)]="item.attributes['tabCustomer'].avarage"
                        type="text"
                        currencyMask
                        [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                      />
                    </td>
                  </section>
                  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                    <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].avarage }}</p> -->
                    <div class="fontsebled row">
                      <div class="col-3">&nbsp;</div>
                      <div class="col-md-auto">:</div>
                      <div class="col col-lg-2">
                        {{ item.attributes['tabCustomer'].avarage | currency: 'IDR ':'symbol':'1.0-0' }}
                      </div>
                    </div>
                  </section>
                </td>
                <td>
                  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                    <td style="vertical-align: middle; text-align: center">
                      <input [(ngModel)]="item.attributes['tabCustomer'].roa" [value]="totalRoa()" [disabled]="true" type="number" />
                    </td>
                  </section>
                  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                    <!-- <p class="lable-form-title">&nbsp; :{{ roa }}</p> -->
                    <div class="fontsebled row">
                      <div class="col-3">&nbsp;</div>
                      <div class="col-md-auto">:</div>
                      <div class="col col-lg-2">{{ item.attributes['tabCustomer'].roa }}%</div>
                    </div>
                  </section>
                </td>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Loan Provision .</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].loanProvision"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].loanProvision }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].loanProvision | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Total(Interest income from loan - loan provision)</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].totalLoanProvision"
                      [value]="totalLoan()"
                      [disabled]="true"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ totalLoanProvision }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].totalLoanProvision | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Interest Income From Deposit</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].casa"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].casa }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].casa | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Insurance Premium</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].insurancePremium"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].insurancePremium }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].insurancePremium | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Total (Interest Income from deposit - Insurance Premium)</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].totalDepositInsurancePremium"
                      [value]="totalLoanDeposit()"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                      [disabled]="true"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ totalDepositInsurancePremium }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].totalDepositInsurancePremium | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Other Income</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].Other"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].Other }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].Other | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left">Other Fee</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].Provision"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ item.attributes['tabCustomer'].Provision }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].Provision | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>

              <tr>
                <td style="vertical-align: middle; text-align: left; border-bottom: none">Profit 1 Year</td>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <td style="vertical-align: middle; text-align: center; border-bottom: none">
                    <input
                      [(ngModel)]="item.attributes['tabCustomer'].profit"
                      [value]="totalProfit()"
                      type="text"
                      currencyMask
                      [options]="{ prefix: 'IDR ', thousands: ',', decimal: '.', precision: 0 }"
                      [disabled]="true"
                    />
                  </td>
                </section>
                <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <!-- <p class="lable-form-title">&nbsp; :{{ profit }}</p> -->
                  <div class="fontsebled row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-md-auto">:</div>
                    <div class="col col-lg-2">
                      {{ item.attributes['tabCustomer'].profit | currency: 'IDR ':'symbol':'1.0-0' }}
                    </div>
                  </div>
                </section>
              </tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</div>

<!-- select ye no -->
<div class="e-sample-resize-container e-card-resize-container mb-5">
  <div class="row">
    <div class="card-layout mb-3">
      <div class="mb-3 mt-3">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="header-title mb-3 mt-3">Cross Selling Factor</div>
            <div class="e-card-sub-title"></div>
          </div>
        </div>

        <div class="e-card-content">
          <div class="row">
            <div class="col md-6 sm-12 d-flex justify-content-center">
              <div class="grid-table">
                <ejs-grid [dataSource]="dataAttrPass">
                  <e-columns>
                    <e-column field="No" headerText="No" textAlign="left" width="10" class="rounding-table-left"></e-column>
                    <e-column field="Parameter" headerText="Parameter" headerTextAlign="center" textAlign="left" width="30"></e-column>
                    <e-column headerText="Yes" textAlign="Center" width="10">
                      <div class="select">
                        <ng-template #template let-data>
                          <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                            <div class="d-flex justify-content-around">
                              <div class="mx-2">
                                <ejs-radiobutton
                                  label="Yes"
                                  value="Yes"
                                  (change)="onSelect('Yes', data)"
                                  [checked]="data.value === 'Yes'"
                                  name="{{ data.No }}"
                                ></ejs-radiobutton>
                              </div>
                            </div>
                          </section>
                          <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                            <div class="d-flex justify-content-around">
                              <div class="mx-2">
                                <ejs-radiobutton
                                  label="Yes"
                                  value="Yes"
                                  (change)="onSelect('Yes', data)"
                                  [checked]="data.value === 'Yes'"
                                  name="{{ data.No }}"
                                  disabled
                                ></ejs-radiobutton>
                              </div>
                            </div>
                          </section>
                        </ng-template>
                      </div>
                    </e-column>
                    <e-column headerText="NO" textAlign="Center" width="10">
                      <div class="select">
                        <ng-template #template let-data>
                          <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                            <div class="d-flex justify-content-around">
                              <div class="mx-2">
                                <ejs-radiobutton
                                  label="No"
                                  value="No"
                                  (change)="onSelect('No', data)"
                                  [checked]="data.value === 'No'"
                                  name="{{ data.No }}"
                                ></ejs-radiobutton>
                              </div>
                            </div>
                          </section>
                          <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                            <div class="d-flex justify-content-around">
                              <div class="mx-2">
                                <ejs-radiobutton
                                  label="No"
                                  value="No"
                                  (change)="onSelect('No', data)"
                                  [checked]="data.value === 'No'"
                                  name="{{ data.No }}"
                                  disabled
                                ></ejs-radiobutton>
                              </div>
                            </div>
                          </section>
                        </ng-template>
                      </div>
                    </e-column>
                    <e-column headerText="Remarks" textAlign="Center" width="50" class="rounding-table-right">
                      <!-- <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'"> -->
                      <ng-template #template let-data>
                        <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                          <ejs-textbox
                            (keyup)="onKeyUpEvent()"
                            [(ngModel)]="remarks1[data.No - 1]"
                            cssClass="e-outline"
                            floatLabelType="auto"
                          >
                          </ejs-textbox>
                        </section>
                        <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                          <!-- <p class="lable-form-title">Remarks&nbsp; :{{ remarks1[data.No - 1] }}</p> -->
                          <div class="fontsebled row">
                            <div class="col-3">&nbsp;</div>
                            <div class="col-md-auto">:</div>
                            <div class="col col-lg-2">
                              {{ remarks1[data.No - 1] }}
                            </div>
                          </div>
                        </section>
                      </ng-template>
                      <!-- </section>
                      <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                        <p class="lable-form-title">&nbsp; :{{ remarks1 }}</p>
                      </section> -->
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-sample-resize-container e-card-resize-container">
    <div class="row">
      <div class="card-layout mb-3">
        <div class="mb-3 mt-3">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="header-title mb-2">Remarks</div>
              <div class="e-card-sub-title"></div>
            </div>
          </div>
          <div class="e-card-content">
            <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
              <ejs-documenteditorcontainer
                #document_editor_container
                [headers]="customHeadersJWT"
                [enableToolbar]="true"
                [enableLocalPaste]="false"
                height="100vh"
                style="display: block"
                [spellcheck]="false"
                [enableSpellCheck]="false"
                (keyDown)="onKeyDown($event)"
                (created)="onCreate()"
              >
              </ejs-documenteditorcontainer>
            </section>
            <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
              <ejs-documenteditorcontainer
                #document_editor_container
                [headers]="customHeadersJWT"
                [enableToolbar]="false"
                [enableLocalPaste]="false"
                height="100vh"
                style="display: block"
                (documentChange)="onDocumentChange()"
                [enableEditor]="false"
                [isReadOnly]="true"
              >
              </ejs-documenteditorcontainer>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
