<div class="card">
  <ejs-tab id="element">
    <e-tabitems>
      <e-tabitem>
        <ng-template #headerText>
          <div>Data Nasabah</div>
        </ng-template>
        <ng-template #content>
          <jhi-appraisal-data-nasabah></jhi-appraisal-data-nasabah>
        </ng-template>
      </e-tabitem>
      <e-tabitem>
        <ng-template #headerText>
          <div>Data Jaminan</div>
        </ng-template>
        <ng-template #content> </ng-template>
      </e-tabitem>
    </e-tabitems>
  </ejs-tab>
</div>
