<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.collateralAppraisal.home.title">Collateral Appraisals Unit Condition</span>
  </h5>

  <!-- UNTUK TABLE DAN BUTTON ADD -->

  <!-- <div class="table-bg">
    <div class="container-block">
      <div class="block-title">Unit Ownership</div>
    </div>

    <ejs-grid class="ejs-table" #grid [dataSource]="data" [allowPaging]="true" [pageSettings]="pageSettings">
      <e-columns>
        <e-column field="noId" headerText="No" textAlign="left" width="100"></e-column>
        <e-column field="mesinId" headerText="BPKB Num" textAlign="center" width="200"></e-column>
        <e-column field="nameId" headerText="In the Name Of" textAlign="center" format="C2" width="200"></e-column>
        <e-column field="venichleId" headerText="Venichle Num" textAlign="center" width="180"></e-column>
        <e-column field="stnkId" headerText="STNK Num" textAlign="center" width="180"></e-column>
        <e-column field="chassisId" headerText="Chassis Num" textAlign="center" width="150"></e-column>
        <e-column field="machineId" headerText="Machine Num" textAlign="center" width="180"></e-column>
        <e-column field="invoiceId" headerText="Invoice Num" textAlign="center" width="180"></e-column>
        <e-column field="dateId" headerText="Year" textAlign="center" width="150"></e-column>

        <e-column headerText="Actions" textAlign="center" width="200">
          <ng-template #template let-data>
            <button ejs-button type="submit" [routerLink]="['/collateral', data.id, 'view']" class="submit-button">
              <fa-icon icon="eye"></fa-icon>
            </button>

            <button ejs-button type="submit" [routerLink]="['/collateral', data.id, 'edit']" class="edit-button">
              <fa-icon icon="pencil-alt"></fa-icon>
            </button>

            <button ejs-button type="button" (click)="deleteItem(data.id)">
              <fa-icon icon="trash-alt"></fa-icon>
            </button>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>

    <button ejs-button class="button-save" (click)="detailClick()">ADD</button> -->

  <!-- UNTUK POP UP -->

  <!-- <ejs-dialog
      id="dialog"
      #ejDialog
      isModal="true"
      (overlayClick)="onOverlayClick()"
      [animationSettings]="animationSettings"
      [visible]="dialogVisible"
      [width]="width"
      [height]="height"
    >
      <ng-template #header> </ng-template>
      <ng-template #content>
        <div class="dialogContent">
          
        </div>
      </ng-template>
    </ejs-dialog> -->

  <div class="bg-form">
    <div class="container-block">
      <div class="block-title">Unit Ownership Right</div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="BPKB Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.bpkbNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="In The Name Of"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.bpkbName"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Vehicle Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Year"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehYear"
          ></ejs-textbox>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="STNK Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.stnkNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Chassis"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.chassisNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Machine Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehMachineNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Invoice Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehInvNum"
          ></ejs-textbox>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="bg-form">
      <div class="container-block">
        <div class="block-title">Unit Information</div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Used By"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehUsedBy"
            ></ejs-textbox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Brand" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Type" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Category" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Model"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehModel"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Cylinder"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehCylinder"
            ></ejs-textbox>
          </div>

          <!--Dari Wa2n??? Start-->
          <!--<div class="form-input">
            <ejs-textbox class="textbox-bar" placeholder="Tahun" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox class="textbox-bar" placeholder="Type Model" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
          </div>-->
        </div>
        <!--Dari Wa2n??? Start-->

        <div class="col-sm">
          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Color" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Fuel" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Transmission"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehtransmission"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Number Of Wheels"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehWheelsTtl"
            ></ejs-textbox>
          </div>

          <!--Kenapa beda sediri required??? Start-->
          <div class="form-input-big">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Unit Condition"
              cssClass="e-outline"
              floatLabelType="Auto"
              [multiline]="true"
              required
              [(ngModel)]="item.vehUnitCond"
            >
            </ejs-textbox>
          </div>
          <!--Kenapa beda sediri required??? End-->

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Keterangan"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehNotes"
            ></ejs-textbox>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
    <button ejs-button class="button-save">Save</button>
  </div>

  <!-- <ng-template pTemplate="caption">
      <ul class="nav justify-content-end">
        <li class="nav-item" *ngIf="accountService.hasAnyAuthority(['ROLE_USER'])">
          <a class="btn" [routerLink]="['./new']" [queryParams]="queryParams()" tooltip="Add new Data">
            <span><fa-icon icon="plus"></fa-icon> &nbsp;{{ 'entity.action.add' | translate }}</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 60px; text-align: center"><span jhiTranslate="global.field.sequence">No</span></th>
        <th style="width: 130px; text-align: center"><span jhiTranslate="global.field.id">ID</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.collateralAppraisal.fromDate">From Date</span></th>
        <th style="text-align: center; width: 150px"><span jhiTranslate="losgwApp.collateralAppraisal.thruDate">Thru Date</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateralAppraisal.application">Application</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateralAppraisal.collateral">Collateral</span></th>
        <th style="text-align: left"><span jhiTranslate="losgwApp.collateralAppraisal.party">Party</span></th>
        <th style="width: 140px; text-align: center"><span jhiTranslate="losgwApp.collateralAppraisal.statusId">Status</span></th>
        <th style="width: 140px; text-align: center"><span jhiTranslate="global.field.action">Action</span></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: right">{{ rowIndex + 1 }}</td>
        <td style="text-align: left; width: 120px">{{ rowData.id }}</td>
        <td style="text-align: center">{{ rowData.fromDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td style="text-align: center">{{ rowData.thruDate | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>
          <div *ngIf="rowData.applicationId">
            <a [routerLink]="['../base-application', rowData.applicationId, 'view']">{{ rowData.applicationId }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="rowData.collateralId">
            <a [routerLink]="['../collateral', rowData.collateralId, 'view']">{{ rowData.collateralId }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="rowData.partyId">
            <a [routerLink]="['../party', rowData.partyId, 'view']">{{ rowData.partyId }}</a>
          </div>
        </td>
        <td style="text-align: center">
          <span [ngClass]="badge(rowData.statusCode)">{{ rowData.statusDescription }}</span>
        </td>
        <td style="text-align: center">
          <button pButton type="button" [routerLink]="['/collateral-appraisal', 'jaminan']" class="flat-button">
            <fa-icon icon="eye"></fa-icon>
          </button>
          <button pButton type="submit" [routerLink]="['/collateral-appraisal', rowData.id, 'view']" class="flat-button">
            <fa-icon icon="eye"></fa-icon>
          </button>
          <button pButton type="submit" [routerLink]="['/collateral-appraisal', rowData.id, 'edit']" class="flat-button">
            <fa-icon icon="pencil-alt"></fa-icon>
          </button>
          <button pButton type="button" (click)="deleteItem(rowData.id)" class="flat-button">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template> -->
  <!-- </p-table>
  <button pButton type="button" [routerLink]="['/collateral-appraisal', 'main']" class="flat-button">
    <fa-icon icon="eye"></fa-icon> -->
  <!-- </button> -->
</div>
