<div class="e-card mb-3">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Customer Info</div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <div class="col-6">
        <section class="mt-2">
          <section>Tipe Nasabah</section>
          <section class="mt-3 mb-3">
            <mat-radio-group [(ngModel)]="tipeNasabah">
              <mat-radio-button checked disabled value="individu">Individu</mat-radio-button>
              <mat-radio-button disabled value="corporate">Badan Usaha</mat-radio-button>
            </mat-radio-group>
          </section>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" [value]="item.firstName" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" [value]="item.lastName" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Account No</mat-label>
            <input matInput type="text" [value]="itemCP[0].attributes.bankAnalyst[0].accNo" disabled />
          </mat-form-field>
        </section>
      </div>
      <div class="col-6">
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tempat Lahir</mat-label>
            <input matInput type="text" [value]="item.pob" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tanggal Lahir</mat-label>
            <input matInput type="text" [value]="item.dob | formatMediumDate" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>NIK</mat-label>
            <input matInput type="text" [value]="item.personalIdNumber" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>NPWP</mat-label>
            <input matInput type="text" [value]="item.taxIdNumber" disabled />
          </mat-form-field>
        </section>
      </div>
    </div>
  </div>
</div>
