<ejs-grid #grid [dataSource]="data">
  <e-columns>
    <e-column field="no" headerText="No" textAlign="center"></e-column>
    <e-column field="jenisDetailJamian" headerText="Jenis Detail Jaminan" textAlign="center"></e-column>
    <e-column field="alamat" headerText="Alamat Jaminan" textAlign="center"></e-column>
    <e-column field="kota" headerText="Kota" textAlign="center"></e-column>
    <e-column field="jenisObject" headerText="Jenis Object" textAlign="center"></e-column>
    <e-column field="jenisPermohon" headerText="Jenis Permohonan" textAlign="center"></e-column>
    <e-column field="tipeOfficeApprisal" headerText="Tipe Office Appraisal" textAlign="center"></e-column>
    <e-column headerText="Action" width="150" textAlign="Center">
      <ng-template #template let-data>
        <button pButton type="button" class="flat-button" (click)="onOpenDialog($event)">
          <fa-icon icon="eye"></fa-icon>
        </button>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>

<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayClick()"
  [animationSettings]="animationSettings"
  [visible]="dialogVisible"
  [width]="width"
  [height]="height"
>
  <ng-template #header> </ng-template>
  <ng-template #content>
    <div class="dialogContent">
      <span class="dialogText">Test Dialog</span>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <jhi-button typeB="info" (clickEv)="goToSave($event)"></jhi-button>
  </ng-template>
</ejs-dialog>
