<div class="row remove-row-scroll">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <ejs-breadcrumb cssClass="margin: 1rem;">
          <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <!-- <e-breadcrumb-item text="Request Appraisal" url="/collateral-appraisal"></e-breadcrumb-item> -->
            <e-breadcrumb-item *ngIf="urlRequestAppraisal" text="Request Appraisal"></e-breadcrumb-item>
            <e-breadcrumb-item *ngIf="urlAppraisalInternal" text="Appraisal Distribution Internal"></e-breadcrumb-item>
            <e-breadcrumb-item *ngIf="urlAppraisalProcess" text="Appraisal Process"></e-breadcrumb-item>
            <e-breadcrumb-item *ngIf="urlReportApproval" text="Appraisal Report Approval"></e-breadcrumb-item>
            <e-breadcrumb-item *ngIf="urlReportInqury" text="Appraisal Result Inqury"></e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
        <div class="header-container">
          <div class="header-content">
            <img class="back-image" src="../../../content/images/back-icon.svg" (click)="previousState()" />
            <span class="back-prefix" (click)="previousState()">Back | </span>
          </div>
          <p *ngIf="urlRequestAppraisal" class="e-card-sub-title">Request Appraisal</p>
          <p *ngIf="urlAppraisalInternal" class="e-card-sub-title">Appraisal Distribution Internal</p>
          <p *ngIf="urlAppraisalProcess" class="e-card-sub-title">Appraisal Process</p>
          <p *ngIf="urlReportApproval" class="e-card-sub-title">Appraisal Report Approval</p>
          <p *ngIf="urlReportInqury" class="e-card-sub-title">Appraisal Result Inqury</p>
        </div>
      </div>
    </div>
    <div style="margin: 1.2rem">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Status Options</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <mat-chip
              class="example-box text-capitalize"
              id="statusOption"
              (click)="chipClick(item)"
              cdkDrag
              *ngFor="let item of collateralAppraisalStatusCodes"
            >
              {{ item.statusDescription }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-3">
        <mat-card-content>
          <div style="display: flex; justify-content: space-between">
            <div class="w-100">
              <mat-form-field appearance="outline" class="w-100 pr-1">
                <mat-select (selectionChange)="onSelectTown($event)" [(ngModel)]="globalSearchValModel">
                  <mat-option value="">Select city in here</mat-option>
                  <mat-option *ngFor="let item of filterData" [value]="item.description">
                    {{ item.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="width: 50px"></div>
            <div class="w-100">
              <mat-form-field appearance="outline" class="w-100">
                <input (keyup.enter)="doSearch()" matInput placeholder="Search in here..." type="text" [(ngModel)]="currentSearch" />
                <button *ngIf="statusSearch === false" matSuffix mat-icon-button aria-label="Clear" (click)="doSearch()">
                  <mat-icon>search</mat-icon>
                </button>

                <button *ngIf="statusSearch === true" matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>

        <div class="mt-3" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <button mat-raised-button color="primary" (click)="rebuildIndex()" class="btn-lg w-100" style="margin-bottom: 15px">
            REBUILD INDEX
          </button>
        </div>
      </mat-card>
    </div>
    <div class="text-end w-100 mt-3" *ngIf="clickedChip !== ''">
      You search data with status <span class="text-capitalize fw-bold">{{ clickedChip | lowercase }}</span>
    </div>
    <div style="margin: 1rem">
      <mat-card>
        <section *ngIf="urlAppraisalInternal">
          <div class="table-responsive">
            <table mat-table [dataSource]="items" class="mat-table-expand" multiTemplateDataRows>
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex" class="text-center">
                  {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
                </td>
              </ng-container>
              <ng-container matColumnDef="appraisalNumber">
                <th mat-header-cell *matHeaderCellDef class="text-center">Appraisal Number</th>
                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">{{ element.appraisalNumber }}</td>
              </ng-container>
              <ng-container matColumnDef="cif">
                <th mat-header-cell *matHeaderCellDef class="text-center">CIF</th>
                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">{{ element.cif.customerId }}</td>
              </ng-container>
              <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef class="text-center">Debtor Name</th>
                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                  {{ element.cif.name | lowercase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="customerType">
                <th mat-header-cell *matHeaderCellDef class="text-center">Customer Type</th>
                <td mat-cell *matCellDef="let element" class="text-center text-capitalize">
                  {{ element.cif.customerType | lowercase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef class="text-center">Appraisal Date</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.createdDate | formatMediumDate }}
                </td>
              </ng-container>
              <ng-container matColumnDef="collateralType">
                <th mat-header-cell *matHeaderCellDef class="text-center">Collateral Type</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.collateral.collateralTypeDescription }}
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <mat-chip class="status-chip"
                    ><span class="category-chip__text">{{ element.statusDescription }}</span>
                  </mat-chip>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <a
                    href="javascript:void();"
                    [routerLink]="['/collateral-appraisal/', element.id, 'edit']"
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                  </a>
                  <button mat-icon-button (click)="$event.stopPropagation(); showTimeLine(element)">
                    <fa-icon [icon]="iconTimeline"></fa-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-icon-button
                    aria-label="expand row"
                    (click)="
                      findCreditProposalBySurveyAppraisal(element);
                      expandedElement = expandedElement === element ? null : element;
                      $event.stopPropagation()
                    "
                  >
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
                  <div class="mat-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="p-3 w-100">
                      <mat-card class="w-75 mx-auto">
                        <mat-card-header class="w-100">
                          <mat-card-subtitle class="fw-bold black text-uppercase">Collateral Detail</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="clearfix">
                            <div class="float-start fw-bolder">Collateral Type</div>
                            <div class="float-end">
                              {{ element.collateral.collateralTypeDescription }}
                            </div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Collateral Address</div>
                            <div class="float-end text-capitalize">
                              {{ element.collateral.collateralAddress?.address1 }}
                            </div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">City</div>
                            <div class="float-end text-capitalize">
                              {{ element.collateralCityName }}
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                      <mat-card class="w-75 mx-auto" *ngIf="creditProposal.prospectPerson">
                        <mat-card-header class="w-100">
                          <mat-card-subtitle class="fw-bold black text-uppercase">Personal Detail</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="clearfix">
                            <div class="float-start fw-bolder">Place, Date of Birth</div>
                            <div class="float-end">
                              {{ creditProposal.prospectPerson.pob }},
                              {{ creditProposal.prospectPerson.dob | formatMediumDate }}
                            </div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Marital Status</div>
                            <div class="float-end text-capitalize">
                              {{ creditProposal.prospectPerson.maritalStatus | lowercase }}
                            </div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">KTP</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.personalIdNumber }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">KK</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.familyIdNumber }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">NPWP</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.taxIdNumber }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Email</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.personalEmail }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Home Phone</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.homePhone }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">CellPhone</div>
                            <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.cellPhone1 }}</div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                      <mat-card class="w-75 mx-auto" *ngIf="creditProposal.prospectOrganization">
                        <mat-card-header>
                          <mat-card-subtitle class="fw-bold black text-uppercase text-center">Corporate Detail </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="clearfix">
                            <div class="float-start fw-bolder">NPWP</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.taxIdNumber }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Office Phone</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.officePhone }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Phone 1</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.otherPhone1 }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Phone 2</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.otherPhone2 }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Email</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.officeMail }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Fax</div>
                            <div class="float-end">{{ creditProposal.prospectOrganization.faxOffice }}</div>
                          </div>
                        </mat-card-content>
                      </mat-card>

                      <mat-card class="w-75 mx-auto" *ngIf="element.pic !== null">
                        <mat-card-header>
                          <mat-card-subtitle class="fw-bold black text-uppercase text-center">RM INFO </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="clearfix">
                            <div class="float-start fw-bolder">PIC Name</div>
                            <div class="float-end">{{ element.pic.partyName }}</div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">RM Name</div>
                            <div class="float-end">
                              {{ element.ownerPosition?.employeeFirstName + ' ' + element.ownerPosition?.employeeLastName }}
                            </div>
                          </div>
                          <div class="clearfix mt-3">
                            <div class="float-start fw-bolder">Date PIC</div>
                            <div class="float-end">{{ element.pic.fromDate | date: 'yyyy-MM-dd' }}</div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">
                  <jhi-no-record-found moduleName="Request Appraisal"></jhi-no-record-found>
                </td>
              </tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: displayedColumnsExpand"
                [class.mat-expanded-row]="expandedElement === element"
                class="mat-element-row"
                (click)="findCreditProposalBySurveyAppraisal(element); expandedElement = expandedElement === element ? null : element"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mat-detail-row"></tr>
            </table>
          </div>
        </section>

        <section *ngIf="urlRequestAppraisal || urlReportApproval || urlReportInqury">
          <div class="table-responsive">
            <mat-card>
              <table mat-table [dataSource]="items" class="mat-table-expand" multiTemplateDataRows>
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef>No</th>
                  <td mat-cell *matCellDef="let element; let i = dataIndex">{{ i + 1 + paginator.pageIndex * paginator.pageSize }}.</td>
                </ng-container>
                <ng-container matColumnDef="appraisalNumber">
                  <th mat-header-cell *matHeaderCellDef>Appraisal Number</th>
                  <td mat-cell *matCellDef="let element" class="text-capitalize">{{ element.appraisalNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="cif">
                  <th mat-header-cell *matHeaderCellDef>CIF</th>
                  <td mat-cell *matCellDef="let element" class="text-capitalize">{{ element.cif.customerId }}</td>
                </ng-container>
                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef>Debtor Name</th>
                  <td mat-cell *matCellDef="let element" class="text-capitalize">
                    {{ element.cif.name | lowercase }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="customerType">
                  <th mat-header-cell *matHeaderCellDef>Customer Type</th>
                  <td mat-cell *matCellDef="let element" class="text-capitalize">
                    {{ element.cif.customerType | lowercase }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef>Appraisal Date</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.createdDate | formatMediumDate }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="appraisalType">
                  <th mat-header-cell *matHeaderCellDef>Appraisal Type</th>
                  <td mat-cell *matCellDef="let element" class="text-capitalize">{{ element.apprOfficer }}</td>
                </ng-container>
                <ng-container matColumnDef="collateralType">
                  <th mat-header-cell *matHeaderCellDef>Collateral Type</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.collateral.collateralTypeDescription }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-chip>{{ element.statusDescription }}</mat-chip>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                    <a
                      href="javascript:void();"
                      [routerLink]="['/collateral-appraisal/', element.id, 'edit']"
                      mat-icon-button
                      (click)="$event.stopPropagation()"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </a>
                    <button mat-icon-button (click)="$event.stopPropagation(); showTimeLine(element)">
                      <fa-icon [icon]="iconTimeline"></fa-icon>
                    </button>
                    <jhi-developer-area-show-diagram-state-multiple [elementData]="element">
                    </jhi-developer-area-show-diagram-state-multiple>
                  </td>
                </ng-container>
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      mat-icon-button
                      aria-label="expand row"
                      (click)="
                        findCreditProposalBySurveyAppraisal(element);
                        expandedElement = expandedElement === element ? null : element;
                        $event.stopPropagation()
                      "
                    >
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
                    <div class="mat-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="p-3 w-100">
                        <mat-card class="w-75 mx-auto">
                          <mat-card-header class="w-100">
                            <mat-card-subtitle class="fw-bold black text-uppercase">Collateral Detail </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div class="clearfix">
                              <div class="float-start fw-bolder">Collateral Type</div>
                              <div class="float-end">
                                {{ element.collateral.collateralTypeDescription }}
                              </div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Collateral Address</div>
                              <div class="float-end text-capitalize">
                                {{ element.collateral.collateralAddress?.address1 }}
                              </div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">City</div>
                              <div class="float-end text-capitalize">
                                {{ element.collateralCityName }}
                              </div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                        <mat-card class="w-75 mx-auto" *ngIf="creditProposal.prospectPerson">
                          <mat-card-header class="w-100">
                            <mat-card-subtitle class="fw-bold black text-uppercase">Personal Detail</mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div class="clearfix">
                              <div class="float-start fw-bolder">Place, Date of Birth</div>
                              <div class="float-end">
                                {{ creditProposal.prospectPerson.pob }},
                                {{ creditProposal.prospectPerson.dob | formatMediumDate }}
                              </div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Marital Status</div>
                              <div class="float-end text-capitalize">
                                {{ creditProposal.prospectPerson.maritalStatus | lowercase }}
                              </div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">KTP</div>
                              <div class="float-end text-capitalize">
                                {{ creditProposal.prospectPerson.personalIdNumber }}
                              </div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">KK</div>
                              <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.familyIdNumber }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">NPWP</div>
                              <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.taxIdNumber }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Email</div>
                              <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.personalEmail }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Home Phone</div>
                              <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.homePhone }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">CellPhone</div>
                              <div class="float-end text-capitalize">{{ creditProposal.prospectPerson.cellPhone1 }}</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                        <mat-card class="w-75 mx-auto" *ngIf="creditProposal.prospectOrganization">
                          <mat-card-header>
                            <mat-card-subtitle class="fw-bold black text-uppercase text-center">Corporate Detail </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div class="clearfix">
                              <div class="float-start fw-bolder">NPWP</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.taxIdNumber }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Office Phone</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.officePhone }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Phone 1</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.otherPhone1 }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Phone 2</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.otherPhone2 }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Email</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.officeMail }}</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">Fax</div>
                              <div class="float-end">{{ creditProposal.prospectOrganization.faxOffice }}</div>
                            </div>
                          </mat-card-content>
                        </mat-card>

                        <mat-card class="w-75 mx-auto" *ngIf="element.pic !== null">
                          <mat-card-header>
                            <mat-card-subtitle class="fw-bold black text-uppercase text-center">RM Info </mat-card-subtitle>
                          </mat-card-header>
                          <mat-card-content>
                            <div class="clearfix">
                              <div class="float-start fw-bolder">PIC Name</div>
                              <div class="float-end" *ngFor="let item of element.listOfPic">{{ item.partyName }} |</div>
                            </div>
                            <div class="clearfix mt-3">
                              <div class="float-start fw-bolder">RM Name</div>
                              <div class="float-end">
                                {{ element.ownerPosition?.employeeFirstName + ' ' + element.ownerPosition?.employeeLastName }}
                              </div>
                            </div>
                            <div class="clearfix">
                              <div class="float-start fw-bolder">PIC Date</div>
                              <div class="float-end" *ngFor="let item of element.listOfPic">{{ item.fromDate | date: 'yyyy-MM-dd' }} |</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">
                    <jhi-no-record-found moduleName="Request Appraisal"></jhi-no-record-found>
                  </td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: displayedColumnsExpand"
                  [class.mat-expanded-row]="expandedElement === element"
                  class="mat-element-row"
                  (click)="findCreditProposalBySurveyAppraisal(element); expandedElement = expandedElement === element ? null : element"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mat-detail-row"></tr>
              </table>
            </mat-card>
          </div>
        </section>

        <mat-card *ngIf="loading" id="material-loading-bar">
          <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
        </mat-card>
        <mat-paginator
          showFirstLastButtons
          ngClass="transparant"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOption"
          (page)="loadDataLazy($event)"
        >
        </mat-paginator>
      </mat-card>
    </div>

    <!-- <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RM']" class="e-card-actions"> -->
    <div class="e-card-actions" [hidden]="showButton()">
      <!-- <section *jhiMatrixDir="1; menu: router.url; subMenu: ''; elementType: 'available'"> -->
      <div class="d-flex justify-content-center mb-3 mt-3">
        <button mat-raised-button class="button-styling" (click)="goToEdit()">Add Request Appraisal</button>
      </div>
      <!-- </section> -->
    </div>
  </div>
</div>
