<div class="e-card mb-3">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Customer Info</div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <!-- LEFT SIDE -->
      <div class="col-6">
        <section class="mt-2">
          <div style="font-size: 12px">Tipe Nasabah</div>
          <mat-radio-group [(ngModel)]="tipeNasabah">
            <mat-radio-button disabled value="individu">Individu</mat-radio-button>
            <mat-radio-button checked disabled value="corporate">Badan Usaha</mat-radio-button>
          </mat-radio-group>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Bentuk Badan Usaha</mat-label>
            <input matInput type="text" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nama</mat-label>
            <input matInput type="text" [value]="item.groupName" disabled />
          </mat-form-field>
        </section>
      </div>
      <!-- RIGHT SIDE -->
      <div class="col-6">
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>NPWP</mat-label>
            <input matInput type="text" [value]="item.npwp" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>No Akta Pendirian</mat-label>
            <input matInput type="text" [value]="item.deedOfEstablishNo" disabled />
          </mat-form-field>
        </section>
        <section class="mt-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Tanggal Akta</mat-label>
            <input matInput type="text" [value]="item.fiscalDate | formatMediumDate" disabled />
          </mat-form-field>
        </section>
      </div>
    </div>
  </div>
</div>
