<div class="page-content">
  <ejs-grid [dataSource]="data">
    <e-columns>
      <e-column field="No" headerText="No" textAlign="left" width="10"></e-column>
      <e-column field="Criteria" headerText="Criteria" width="70"></e-column>
      <e-column headerText="Tipe Konsumen" textAlign="Center" width="20">
        <ng-template #template let-data>
          <ejs-radiobutton label="Iya" name="data.value"></ejs-radiobutton>
          <ejs-radiobutton label="Tidak" name="data.value"></ejs-radiobutton>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>

  <div class="row my-2">
    <div class="col-6">
      <div class="form-group">
        <div>
          <ejs-textbox placeholder="Criteria" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group">
        <div>
          <!-- <ejs-textbox placeholder="Identity Type" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox> -->
          <ejs-dropdownlist
            cssClass="e-outline"
            floatLabelType="Auto"
            id="ddlelement"
            [dataSource]="data"
            placeholder="Tipe Konsumen"
          ></ejs-dropdownlist>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn-info" ejs-button (click)="saveData()">Save</button> -->
</div>
