<div class="head">
  <div class="card">
    <span class="title">FOTO OBJECT JAMINAN</span>
    <div class="row px-3">
      <div class="col-6 mt-3">
        <ejs-dropdownlist cssClass="e-outline" floatLabelType="Auto" id="ddlelement" [dataSource]="BlodType" placeholder="Kategori">
        </ejs-dropdownlist>
      </div>
      <div class="col-6 mt-3">
        <div class="d-flex">
          <button class="add" ejs-button cssClass="e-success">ADD PHOTO</button>
        </div>
      </div>
    </div>

    <div class="e-card-frame mt-3">
      <div class="row">
        <div class="col">
          <div class="e-card-frame-image">
            <div class="e-card">
              <div class="e-card-image">
                <span>
                  <img src="" alt="" width="500px" />
                  image 1
                </span>
              </div>
              <div class="row">
                <div class="col-8">
                  <span class="e-card-content">Tampak Akses Jalan didepan Objek.img</span>
                </div>
                <div class="col-4 d-flex justify-content-end">
                  <!--<span class="detail" ejs-dropdownbutton #dropdownbutton [items]="data" (open)="onOpen($event)"></span>-->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="e-card-frame-image">
            <div class="e-card">
              <div class="e-card-image">
                <div>
                  <img [src]="'https://tse3.mm.bing.net/th?id=OIP.Iu9hj-LfwrjZYMDpznzGJAHaFj&pid=Api&P=0'" alt="image" />
                </div>
                <div class="row">
                  <div class="col-8">
                    <span class="e-card-content">Tampak Akses Jalan didepan Objek.img</span>
                  </div>
                  <div class="col-4 d-flex justify-content-end">
                    <!--<span class="dropdown" ejs-dropdownbutton #dropdownbutton [items]="data" (open)="onOpen($event)"></span>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5 mb-5">
        <button class="see-more" ejs-button cssClass="e-info">See More</button>
      </div>
    </div>

    <div class="section-maps mt-5">
      <span class="title"> MAPS GEO-TAGGING </span>
      <div class="card">
        <div class="e-card">
          <div class="d-flex justify-content-center mt-5">
            <button class="view" ejs-button cssClass="e-info">VIEW GEO-TAGGING</button>
          </div>

          <div class="d-flex justify-content-end">
            <button class="add" ejs-button cssClass="e-success ">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
