<div class="control-section">
  <div class="card-deck" style="margin-bottom: 15px">
    <ejs-grid #Grid id="Grid" [dataSource]="items | async" [childGrid]="childGrid" [pageSettings]="pageSettings" [allowPaging]="true">
      <e-columns>
        <e-column field="indexNum" headerText="No" width="50" textAlign="center"></e-column>
        <e-column field="cif.number" headerText="NO CIF" width="140" textAlign="center"></e-column>
        <e-column field="cif.customerName" headerText="Nama Debitur" width="170" textAlign="center"></e-column>
        <e-column field="cif.customerType" headerText="Tipe Debitur" width="170" textAlign="center"></e-column>
      </e-columns>
    </ejs-grid>
    <ng-template #childtemplate let-data>
      <button pButton type="button" [routerLink]="['/collateral-appraisal', data.id, 'edit']" class="flat-button">
        <fa-icon icon="pencil-alt"></fa-icon>
      </button>
    </ng-template>
  </div>
  <div class="d-flex justify-content-end">
    <jhi-button typeB="secondary" (clickEv)="goToEdit($event)"></jhi-button>
  </div>
</div>
