html,
body,
#dialog-container {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* B30. Appraisal Process (Detail) - Detail Mesin */

.ejs-table {
  margin-bottom: 100px;
}

.table-bg {
  background-color: white;
  margin-bottom: 50px;
}

.form-input {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.bg-form {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
}

<<<<<<< HEAD
.see-more {
  min-width: 175px;
  height: 40px;
}

.e-card-frame-maps {
  border: 2px solid #a3a6ab;
  border-radius: 12px;
  margin: 0 10px 0 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
=======
.textbox-bar {
  padding-left: 20px;
>>>>>>> 75a8bcf81b4600880cbeef4104392181c179ef6a
}

.block-title {
  background-color: rgb(133, 125, 118);
  font-weight: bold;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 2px;
}

/* For Round Button*/
.e-plus-icon::before {
  content: '\e823';
}

<<<<<<< HEAD
/* #container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
} */
.box img {
  width: 100%;
=======
.button-save {
  background-color: rgb(99, 228, 99);
  padding: 20px;
  height: 75px;
  width: 150px;
  color: rgb(255, 255, 255);
>>>>>>> 75a8bcf81b4600880cbeef4104392181c179ef6a
  border-radius: 10px;
  margin: 20px;
  margin-left: 1300px;
  position: relative;
}

.container-block {
  padding: 10px;
}

/* Unit Condition */

.form-group {
  padding-left: 20px;
  width: 720px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-input-big {
  background-color: white;
  width: 700px;
  border-radius: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-button {
  margin-top: 12px;
  margin-left: 90%;
}
