<div class="card">
  <div class="mx-3 py-3">
    <div class="row justify-content-between mb-1">
      <div class="col-8">
        <div class="e-sample-resize-container e-card-resize-container">
          <div class="card-layout">
            <div class="e-card box">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title mt-3 mb-3">RM Info</div>
                  <div class="e-card-sub-title"></div>
                </div>
              </div>
              <div class="e-card-content">
                <!--<jhi-textbox nameP="Branch" dataTypeP="string" dataFormatP="empty" [valSP]="branch"></jhi-textbox>-->
                <ejs-textbox cssClass="e-outline" placeholder="Branch" floatLabelType="auto" [(ngModel)]="branch"></ejs-textbox>
                <!--<jhi-textbox nameP="Relationship Manager Name" dataTypeP="string" dataFormatP="empty" [valSP]="bmRm"></jhi-textbox>-->
                <ejs-textbox cssClass="e-outline" placeholder="Branch" floatLabelType="auto" [(ngModel)]="bmRm"></ejs-textbox>
                <ejs-dropdownlist
                  class="mb-2 mt-2"
                  cssClass="e-outline"
                  floatLabelType="auto"
                  [dataSource]="segmentProduct"
                  [fields]="segmentProductFields"
                  placeholder="Select Segment Product"
                  [value]="segmentProductValue"
                ></ejs-dropdownlist>
              </div>
              <div class="e-card-actions"></div>
            </div>
          </div>
        </div>

        <div class="e-sample-resize-container e-card-resize-container">
          <div class="card-layout">
            <div class="e-card box mb-3 mt-3">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title mt-3 mb-3">Proposal/Appraisal Info</div>
                  <div class="e-card-sub-title"></div>
                </div>
              </div>
              <div class="e-card-content">
                <!--<jhi-textbox nameP="No Request Appraisal" dataTypeP="string" dataFormatP="empty" [valSP]="noRequestAppraisal"></jhi-textbox>-->
                <ejs-textbox cssClass="e-outline" placeholder="Branch" floatLabelType="auto" [(ngModel)]="noRequestAppraisal"></ejs-textbox>
                <div class="e-card-sub-title mb-2 mt-3">Jenis Permohonan</div>
                <div class="form-group">
                  <ejs-checkbox label="Renewal" value="renewal" [(ngModel)]="renewalVal"></ejs-checkbox>
                  <ejs-checkbox label="New" value="new" [(ngModel)]="newVal"></ejs-checkbox>
                  <ejs-checkbox label="Additional" value="additional" [(ngModel)]="additionalVal"></ejs-checkbox>
                  <ejs-checkbox label="Progress" value="progress" [(ngModel)]="progressVal"></ejs-checkbox>
                  <ejs-checkbox label="Reapraisal" value="reappraisal" [(ngModel)]="reappraisalVal"></ejs-checkbox>
                  <ejs-checkbox label="Other" value="other" [(ngModel)]="otherVal"></ejs-checkbox>
                </div>
                <div class="e-card-sub-title mb-2 mt-3">Jenis Object</div>
                <div class="form-group mb-3">
                  <ejs-radiobutton label="Object Lama" value="objectLama" [(ngModel)]="jenisObject"></ejs-radiobutton>
                  <ejs-radiobutton label="Object Baru" value="objectBaru" [(ngModel)]="jenisObject"></ejs-radiobutton>
                </div>
              </div>
              <div class="e-card-actions"></div>
            </div>
          </div>
        </div>

        <div class="e-sample-resize-container e-card-resize-container">
          <div class="card-layout">
            <div class="e-card box mb-3 mt-3">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title mt-3 mb-3">Khusus Perpanjangan</div>
                  <div class="e-card-sub-title"></div>
                </div>
              </div>
              <div class="e-card-content mb-3">
                <jhi-textbox nameP="Total Plafond" dataTypeP="number" dataFormatP="empty" [valNP]="totalPlafond"></jhi-textbox>
                <div class="e-card-sub-title mb-2 mt-3">Tanggal Jatuh Tempo</div>
                <ejs-datepicker cssClass="e-outline"></ejs-datepicker>
              </div>
              <div class="e-card-actions"></div>
            </div>
          </div>
        </div>

        <div class="e-sample-resize-container e-card-resize-container">
          <div class="card-layout">
            <div class="e-card box">
              <div class="e-card-header">
                <div class="e-card-header-caption">
                  <div class="e-card-header-title mt-3 mb-3">Tipe Officer Appraisal</div>
                  <div class="e-card-sub-title"></div>
                </div>
              </div>
              <div class="e-card-content mb-3">
                <div class="form-group">
                  <ejs-radiobutton
                    label="External"
                    value="external"
                    [(ngModel)]="tipeOfficerAppraisal"
                    (change)="selectTipeOfficerAppraisal($event)"
                  ></ejs-radiobutton>
                  <ejs-radiobutton
                    label="Internal"
                    value="internal"
                    [(ngModel)]="tipeOfficerAppraisal"
                    (change)="selectTipeOfficerAppraisal($event)"
                  ></ejs-radiobutton>
                </div>
                <div class="e-card-sub-title mb-3 mt-3">Assign To:</div>
                <div [hidden]="tipeOfficerAppraisal !== 'external'" class="form-group">
                  <ejs-dropdownlist
                    floatLabelType="auto"
                    [dataSource]="kjppIndependentAppraisal"
                    [fields]="kjppIndependentAppraisalFields"
                    placeholder="KJPP / Independent Appraisal"
                  ></ejs-dropdownlist>
                  <ejs-dropdownlist
                    floatLabelType="auto"
                    [dataSource]="wilayahKota"
                    [fields]="wilayahKotaFields"
                    placeholder="Wilayah / Kota"
                  ></ejs-dropdownlist>
                  <ejs-dropdownlist
                    floatLabelType="auto"
                    [dataSource]="teamReviewer"
                    [fields]="teamReviewerFields"
                    placeholder="Team Reviewer"
                  ></ejs-dropdownlist>
                </div>
                <div [hidden]="tipeOfficerAppraisal !== 'internal'" class="form-group">
                  <ejs-dropdownlist
                    floatLabelType="auto"
                    [dataSource]="wilayahKota"
                    [fields]="wilayahKotaFields"
                    placeholder="Wilayah / Kota"
                  ></ejs-dropdownlist>
                  <ejs-dropdownlist
                    floatLabelType="auto"
                    [dataSource]="officerAppraisal"
                    [fields]="officerAppraisalFields"
                    placeholder="Officer Appraisal"
                  ></ejs-dropdownlist>
                </div>
              </div>
              <div class="e-card-actions"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card-border">
          <ul class="nav sidebar-nav">
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-file"></i>
                <span class="e-text"> Customer Info</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-starred"></i>
                <span class="e-text"> Detail Facility</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-recent"></i>
                <span class="e-text">Snoozed</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-important"></i>
                <span class="e-text">Collateral Info</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-offline"></i>
                <span class="e-text"> Credit Rating </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-backup"></i>
                <span class="e-text"> Slik </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-backup"></i>
                <span class="e-text"> Financial Statement </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="sf-icon-sidebar sf-icon-backup"></i>
                <span class="e-text"> Dar </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
