<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.collateralAppraisal.home.title">Collateral Appraisals Unit Condition</span>
  </h5>

  <div class="bg-form">
    <div class="container-block">
      <div class="block-title">Unit Ownership Right</div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="BPKB Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.bpkbNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="In The Name Of"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.bpkbName"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Vehicle Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Year"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehYear"
          ></ejs-textbox>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="STNK Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.stnkNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Chassis"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.chassisNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Machine Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehMachineNum"
          ></ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Invoice Number"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.vehInvNum"
          ></ejs-textbox>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="bg-form">
      <div class="container-block">
        <div class="block-title">Unit Information</div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Used By"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehUsedBy"
            ></ejs-textbox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Brand" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Type" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Category" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Model"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehModel"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Cylinder"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehCylinder"
            ></ejs-textbox>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Color" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-group">
            <ejs-combobox id="comboelement" placeholder="Fuel" cssClass="e-outline"></ejs-combobox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Transmission"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehtransmission"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Number Of Wheels"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehWheelsTtl"
            ></ejs-textbox>
          </div>

          <div class="form-input-big">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Unit Condition"
              cssClass="e-outline"
              floatLabelType="Auto"
              [multiline]="true"
              [(ngModel)]="item.vehUnitCond"
            >
            </ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Keterangan"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.vehNotes"
            ></ejs-textbox>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
    <button ejs-button class="button-save">Save</button>
  </div>
</div>
