<div class="page-view">
  <h5 class="page-heading">
    <span jhiTranslate="losgwApp.collateralAppraisal.home.title">Collateral Appraisals</span>
  </h5>

  <div class="bg-form">
    <div class="container-block">
      <div class="block-title">Unit Ownership Right</div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Nama Mesin"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.machineName"
          >
          </ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="Tipe Dokumen"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.machineDocType"
          >
          </ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox
            class="textbox-bar"
            placeholder="No Dokumen"
            cssClass="e-outline"
            floatLabelType="Auto"
            [(ngModel)]="item.machineDocNum"
          >
          </ejs-textbox>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-input">
          <ejs-textbox class="textbox-bar" placeholder="Tanggal" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.machineDate">
          </ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox class="textbox-bar" placeholder="From" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.machineDateFrom">
          </ejs-textbox>
        </div>

        <div class="form-input">
          <ejs-textbox class="textbox-bar" placeholder="Amount" cssClass="e-outline" floatLabelType="Auto" [(ngModel)]="item.machineAmount">
          </ejs-textbox>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>

    <div class="bg-form">
      <div class="container-block">
        <div class="block-title">Unit Information</div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Merk Mesin"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineMerk"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Buatan"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineMadeBy"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Tahun"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineYear"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Type Model"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineModelType"
            ></ejs-textbox>
          </div>
        </div>

        <div class="col-sm">
          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Jenis"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineType"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="MFG Date"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineMfgDate"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Spesifikasi"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineSpec"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Kondisi"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineCondition"
            ></ejs-textbox>
          </div>

          <div class="form-input">
            <ejs-textbox
              class="textbox-bar"
              placeholder="Keterangan"
              cssClass="e-outline"
              floatLabelType="Auto"
              [(ngModel)]="item.machineNotes"
            ></ejs-textbox>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    <button ejs-button class="button-save" (click)="saveCollateral()">Save</button>
  </div>
</div>
