<div class="page-content">
  <div class="block-title">
    <p class="text-header">NEGATIVE COLLATERAL</p>
  </div>

  <ejs-grid [dataSource]="data" allowTextWrap="true">
    <e-columns>
      <e-column field="No" headerText="No" textAlign="left" width="10"></e-column>
      <e-column field="Criteria" headerText="Criteria" width="70"></e-column>
      <e-column headerText="Tipe Konsumen" textAlign="Center" width="20">
        <ng-template #template let-data>
          <div class="d-flex radio-btn justify-content-around">
            <ejs-radiobutton label="Iya" name="{{ data.value }}"></ejs-radiobutton>
            <ejs-radiobutton label="Tidak" name="{{ data.value }}" checked="true"></ejs-radiobutton>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>

<div class="d-flex justify-content-end">
  <button mat-raised-button color="primary">Add Criteria</button>
</div>

<div class="row my-3">
  <div class="col-6">
    <div class="form-group">
      <div>
        <ejs-textbox placeholder="Criteria" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-6">
    <div class="form-group">
      <div>
        <ejs-dropdownlist
          cssClass="e-outline"
          floatLabelType="Auto"
          id="ddlelement"
          [dataSource]="data"
          placeholder="Tipe Konsumen"
        ></ejs-dropdownlist>
      </div>
    </div>
  </div>
</div>

<!--<div class="d-flex justify-content-end">
  <button class="btn-add" ejs-button>SAVE</button>
</div>-->
