<mat-card>
  <mat-card-content>
    <ejs-breadcrumb [enableNavigation]="false">
      <e-breadcrumb-items>
        <e-breadcrumb-item text="Credit Proposal" url="#"> </e-breadcrumb-item>
        <e-breadcrumb-item text="Proposal" url="#"></e-breadcrumb-item>
        <e-breadcrumb-item text="Credit Proposal" url="#"></e-breadcrumb-item>
      </e-breadcrumb-items>
    </ejs-breadcrumb>
    <div class="page-header">
      <a (click)="previousState()"> <fa-icon icon="arrow-circle-left"></fa-icon> back </a>
      <span class="separate"> | </span>
      <span class="header">Collateral Appraisal</span>
    </div>
    <ejs-toolbar width="100%" height="85px" class="my-4">
      <e-items>
        <e-item *ngFor="let item of appraisalMenuToolbar">
          <ng-template #template>
            <button class="button-menu">
              <div class="text-center">
                <div>{{ item.count }}</div>
                <div>{{ item.label }}</div>
              </div>
            </button>
          </ng-template>
        </e-item>
      </e-items>
    </ejs-toolbar>
    <hr />
    <div class="search-border">
      <div class="row">
        <div class="col-sm-3">
          <ejs-combobox cssClass="e-outline" placeholder="Collateral Adress" floatLabelType="auto" style="background: white">
          </ejs-combobox>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
          <ejs-textbox cssClass="e-outline" placeholder="Search" floatLabelType="auto" style="background: white"> </ejs-textbox>
        </div>
      </div>
    </div>
    <div>
      <ejs-grid
        #Grid
        id="Grid"
        [dataSource]="items | async"
        [childGrid]="childGrid"
        [pageSettings]="pageSettings"
        [allowPaging]="true"
        (dataStateChange)="dataStateChange($event)"
      >
        <e-columns>
          <e-column field="indexNum" headerText="Index" width="50" headerStyle="font-weight:20px;" textAlign="center"> </e-column>
          <e-column field="cif.number" headerText="CIF Numb" width="140" textAlign="center"></e-column>
          <e-column field="cif.customerName" headerText="Debitur Name" width="170" textAlign="center"></e-column>
          <e-column field="cif.customerType" headerText="Debitur Type" width="170" textAlign="center"></e-column>
        </e-columns>
      </ejs-grid>
      <ng-template #childtemplate let-data>
        <button pButton type="button" [routerLink]="['/collateral-appraisal', data.id, 'edit']" class="flat-button">
          <fa-icon icon="pencil-alt"></fa-icon>
        </button>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions align="center" class="my-3">
    <jhi-button typeB="secondary" (clickEv)="goToEdit($event)"></jhi-button>
  </mat-card-actions>
</mat-card>
