<mat-card>
  <mat-card-header>
    <mat-card-title>{{ label.title }}</mat-card-title>
    <mat-card-subtitle>{{ label.subTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ejs-grid
      #grid
      [dataSource]="items | async"
      allowPaging="true"
      (dataStateChange)="dataStateChange($event)"
      [pageSettings]="pageSettings"
    >
      <e-columns>
        <e-column field="indexNum" headerText="No" textAlign="center"></e-column>
        <e-column field="employeeCode" textAlign="left">
          <ng-template #headerTemplate let-data>
            <div class="text-capitalize">{{ label.employeeCode }}</div>
          </ng-template>
        </e-column>
        <e-column field="registrationDate" textAlign="center">
          <ng-template #headerTemplate let-data>
            <div class="text-capitalize">{{ label.registrationDate }}</div>
          </ng-template>
          <ng-template #template let-data>
            {{ data.registrationDate | date: 'dd-MM-yyyy' }}
          </ng-template>
        </e-column>
        <e-column field="internalName" textAlign="left">
          <ng-template #headerTemplate let-data>
            <div class="text-capitalize">{{ label.internalName }}</div>
          </ng-template>
        </e-column>
        <e-column field="employmentTypeDescription" textAlign="left">
          <ng-template #headerTemplate let-data>
            <div class="text-capitalize">{{ label.employmentType }}</div>
          </ng-template>
        </e-column>
        <e-column textAlign="center">
          <ng-template #headerTemplate let-data>
            <div class="text-capitalize">{{ label.action }}</div>
          </ng-template>
          <ng-template #template let-data>
            <a [routerLink]="['/employee', data.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </a>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </mat-card-content>
  <mat-card-actions align="center" class="my-3">
    <a mat-raised-button [routerLink]="['/employee', 'new']" class="btn-lg text-uppercase" color="primary">{{ button.add }}</a>
  </mat-card-actions>
</mat-card>
