<div #container class="root-container">
  <ejs-dialog
    id="dialog"
    #ejDialog
    isModal="true"
    (overlayClick)="onOverlayClick()"
    showCloseIcon="true"
    [visible]="dialogVisibility"
    width="90%"
  >
    <jhi-credit-proposal-coborower (Emiter)="addItem($event)"></jhi-credit-proposal-coborower>
  </ejs-dialog>
</div>
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">RM Info</div>
    </div>
  </div>
  <div class="e-card-content">
    <jhi-credit-proposal-personal-info [creditProposal]="creditProposal"></jhi-credit-proposal-personal-info>
  </div>
</div>

<!-- <div class="e-card mb-5"> -->
<!-- <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Customer Info</div>
    </div>
  </div> -->
<div class="wrapper-card">
  <e-card *ngIf="creditProposal.partyTypeId === 'PERSON'" class="mb-3">
    <jhi-credit-proposal-person
      [item]="creditProposal.prospectPerson"
      [deptorData]="creditProposal"
      [partyCif]="partyCif"
      mode="view"
    ></jhi-credit-proposal-person>
  </e-card>
  <e-card *ngIf="creditProposal.partyTypeId !== 'PERSON'" class="mb-3">
    <jhi-party-group-view [mode]="'view'" [item]="creditProposal"> </jhi-party-group-view
  ></e-card>
</div>
<!-- </div> -->

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Address</div>
    </div>
  </div>
  <div class="e-card-content">
    <jhi-party-cif-customer-info-postal-address [disabled]="true" [creditProposal]="creditProposal" [partyPostalAddress]="postalAdresss">
    </jhi-party-cif-customer-info-postal-address>
  </div>
</div>
<!-- <div [hidden]="view"> -->
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Domicile Address</div>
    </div>
  </div>
  <div class="e-card-content">
    <!-- <jhi-postal-address-view [item]="postalAdresss.address" mode="view"></jhi-postal-address-view> -->
    <jhi-party-cif-customer-info-postal-address
      [disabled]="true"
      [partyPostalAddress]="generalLocation"
      [creditProposal]="creditProposal"
    ></jhi-party-cif-customer-info-postal-address>
  </div>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div *ngIf="creditProposal.partyTypeId !== 'PERSON'">
  <div class="e-card mb-5">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Warehouse Address</div>
      </div>
    </div>
    <div class="e-card-content">
      <jhi-party-cif-customer-info-postal-address
        [disabled]="true"
        [creditProposal]="creditProposal"
        [partyPostalAddress]="warehouseLocation"
      >
      </jhi-party-cif-customer-info-postal-address>
      <!-- <jhi-party-cif-customer-info-postal-address-warehouse
          [disabled]="true"
          [partyPostalAddress]="warehouseLocation"
          [partyCif]="partyCif"
        >
        </jhi-party-cif-customer-info-postal-address-warehouse> -->
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Account Status</div>
      <div class="wording">
        <div>Kosongkan jika status Akun adalah Current</div>
        <div>Leave uncheck if account status is Current</div>
      </div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <!-- matrik watch list -->
      <div class="col-4">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="col-md-4">
            <ejs-checkbox
              [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.watchList"
              label="Watch List"
              (ngModelChange)="watchListChange()"
            ></ejs-checkbox>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="col-md-4">
            <ejs-checkbox
              disabled
              [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.watchList"
              label="Watch List"
              (ngModelChange)="watchListChange()"
            ></ejs-checkbox>
          </div>
        </section>
      </div>

      <!-- matrik Restructured -->
      <div class="col-4">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="col-md-4">
            <ejs-checkbox
              [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.restructured"
              label="Restructured"
              (ngModelChange)="watchListChange()"
            ></ejs-checkbox>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="col-md-4">
            <ejs-checkbox
              disabled
              [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.restructured"
              label="Restructured"
              (ngModelChange)="watchListChange()"
            ></ejs-checkbox>
          </div>
        </section>
      </div>

      <!-- matrik Related Party -->
      <div class="col-4">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="col-md-4">
            <ejs-checkbox [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.relatedParty" label="Related Party">
            </ejs-checkbox>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="col-md-4">
            <ejs-checkbox
              disabled
              [(ngModel)]="creditProposal.attributes['basicInformation'].accountStatus.relatedParty"
              label="Related Party"
            >
            </ejs-checkbox>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Watchlist Debtors</div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <div class="col-6"><h6>Is Debtor Listed on Watchlist or Resturing ?</h6></div>
      <div class="col-6">
        <h6>
          Are the classification based on International Finance Corporation (IFC) Environmental and social (e&s) not Classified as high risk
          category
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="col-md-12">
            <textarea
              [(ngModel)]="creditProposal.attributes['basicInformation'].watchlistDebtors.isDebtor"
              cssClass="e-outline"
              class="text-area-input"
              id="multiline-always"
              name="typeAlways"
              [disabled]="watchList"
            ></textarea>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="col-md-12">
            <textarea
              [(ngModel)]="creditProposal.attributes['basicInformation'].watchlistDebtors.isDebtor"
              cssClass="e-outline"
              class="text-area-input"
              id="multiline-always"
              name="typeAlways"
              [disabled]="watchList"
              readonly
            ></textarea>
          </div>
        </section>
      </div>
      <div class="col-6">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <div class="col-md-12">
            <textarea
              [(ngModel)]="creditProposal.attributes['basicInformation'].watchlistDebtors.Classification"
              cssClass="e-outline"
              class="text-area-input"
              id="multiline-always"
              name="typeAlways"
              [disabled]="creditProposal.debtorData.ifcRiskCategory !== 'High' ? true : false"
            ></textarea>
          </div>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <div class="col-md-12">
            <textarea
              [(ngModel)]="creditProposal.attributes['basicInformation'].watchlistDebtors.Classification"
              cssClass="e-outline"
              class="text-area-input"
              id="multiline-always"
              name="typeAlways"
              [disabled]="creditProposal.debtorData.ifcRiskCategory !== 'High' ? true : false"
              readonly
            ></textarea>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Group Usaha</div>
      <div class="e-card-content">
        <ejs-grid [dataSource]="gridCreditProposal" [allowPaging]="true">
          <e-columns>
            <e-column field="customerCIF" headerText="Cif" width="90" id="getCif" class="rounding-table-left"></e-column>
            <e-column field="customerName" headerText="Company Name" width="120" class="rounding-table-right"></e-column>
            <!-- <e-column field="addressPrimary" headerText="Location" width="120"></e-column>
              <e-column field="prospectPerson.taxIdNumber" headerText="NPWP" format="yMd" width="120"></e-column> -->
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div [hidden]="this.creditProposal.attributes.proposalType !== 'Total Exposure > IDR 15 Bio'" class="e-card mb-5">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle class="e-card-header-title">Co-Borrower Info</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="table-responsive">
        <table mat-table [dataSource]="data" class="w-100">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="customerNumber">
            <th mat-header-cell *matHeaderCellDef>CIF</th>
            <td mat-cell *matCellDef="let element">{{ element.customerNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="taxIdNumber">
            <th mat-header-cell *matHeaderCellDef>NPWP</th>
            <td mat-cell *matCellDef="let element">{{ element.taxIdNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                <button mat-icon-button (click)="onDelete(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </section>
              <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                <button hidden (click)="onDelete(element)"></button>
              </section>
            </td>
          </ng-container>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
    <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="onOpenDialog($event)" class="btn btn-info button-styling">Add</button>
      </div>
    </section>
    <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button (click)="onOpenDialog($event)" class="btn btn-info button-styling" hidden>Add</button>
      </div>
    </section>
  </mat-card>
</div>
<!-- </div> -->

<!-- <div [hidden]="view"> -->
<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Remark</div>
      <div class="e-card-content">
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
          <!-- <ejs-richtexteditor [(ngModel)]="creditProposal.attributes['basicInformation'].remark" id="rteTool"> </ejs-richtexteditor> -->
          <ejs-documenteditorcontainer
            #document_editor_container
            [headers]="customHeadersJWT"
            [enableToolbar]="true"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            [spellcheck]="false"
            [enableSpellCheck]="false"
            (keyDown)="onKeyDown($event)"
            (created)="onCreate()"
          >
          </ejs-documenteditorcontainer>
        </section>
        <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
          <!-- <ejs-richtexteditor disabled [(ngModel)]="creditProposal.attributes['basicInformation'].remark" id="rteTool">
          </ejs-richtexteditor> -->
          <ejs-documenteditorcontainer
            #document_editor_container
            [headers]="customHeadersJWT"
            [enableToolbar]="false"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            (documentChange)="onDocumentChange()"
            (created)="onCreate()"
            [enableEditor]="false"
            [isReadOnly]="true"
          >
          </ejs-documenteditorcontainer>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
