<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Personal Info</div>
    </div>
  </div>
  <div class="e-card-content">
    <jhi-credit-proposal-personal-info [creditProposal]="creditProposal"></jhi-credit-proposal-personal-info>
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Customer Info</div>
    </div>
  </div>
  <div class="e-card-content">
    <jhi-person-view *ngIf="creditProposal.partyTypeId === 'PERSON'" [item]="creditProposal.prospectPerson" mode="view"> </jhi-person-view>
    <jhi-party-group-view
      *ngIf="creditProposal.partyTypeId !== 'PERSON'"
      [item]="creditProposal.prospectOrganization"
      mode="view"
    ></jhi-party-group-view>
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Account Status</div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">RM Info</div>
              <!-- <div class="e-card-sub-title"></div> -->
            </div>
          </div>
          <!-- content -->
          <jhi-credit-proposal-personal-info [creditProposalItem]="creditProposalItem"></jhi-credit-proposal-personal-info>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Watchlist Debtors</div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <div class="row card-layout">
        <div class="e-card">
          <div class="e-card-header">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Personal Info</div>
            </div>
          </div>
          <div class="e-card-content">
            <div class="form-group">
              <div *ngIf="creditProposalItem.partyTypeId === 'PERSON'; else elseBlock">
                <div style="margin-left: 1px" class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <ejs-textbox
                        required
                        disabled
                        [value]="creditProposalItem.cif.customerId"
                        name="completeName"
                        id="completeName"
                        placeholder="CIf Number"
                        cssClass="e-outline"
                        floatLabelType="Auto"
                      >
                      </ejs-textbox>
                    </div>
                  </div>
                </div>
                <jhi-credit-proposal-person
                  [item]="creditProposalItem.prospectPerson"
                  [deptorData]="creditProposalItem"
                  [mode]="'view'"
                ></jhi-credit-proposal-person>
              </div>
              <ng-template #elseBlock>
                <jhi-party-group-view [item]="creditProposalItem.prospectOrganization"></jhi-party-group-view>
              </ng-template>

              <div class="e-card">
                <div class="e-card-header">
                  <div class="e-card-header-caption">
                    <div class="e-card-header-title">Domisili Address</div>
                  </div>
                </div>
                <div class="e-card-content">
                  <jhi-postal-address-view [item]="postalAdresss.address" mode="view"></jhi-postal-address-view>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Group Usaha</div>
      <div class="e-card-content">
        <ejs-grid [dataSource]="gridCreditProposal" [allowPaging]="true">
          <e-columns>
            <e-column field="" headerText="Cif" width="120"></e-column>
            <e-column field="prospectPerson.name" headerText="Company Name" format="C2" width="90"></e-column>
            <e-column field="addressPrimary" headerText="Location" width="120"></e-column>
            <e-column field="prospectPerson.taxIdNumber" headerText="NPWP" format="yMd" width="120"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
</div>

<div class="e-card mb-5">
  <div class="e-card-header">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Remark</div>
      <div class="e-card-content">
        <ejs-richtexteditor [(ngModel)]="creditProposal.attributes['basicInformation'].remark" id="rteTool"> </ejs-richtexteditor>
      </div>
    </div>
  </div>
</div>
