/* OVERRIDE ANGULAR MATERIAL CSS */
.mat-toolbar-row,
.mat-toolbar-single-row {
  background: linear-gradient(150deg, #96c9c8 60%, #62a3a0 65%);
  color: #fff;
  border-bottom: rgba(98, 180, 175, 1) !important;
}

.drawer-icon {
  color: #0d3c14;
}

.spacer {
  flex: 1 1 auto;
}

#avatar {
  cursor: pointer;
}

#not-pointer {
  font-size: 14px;
}

#pointer {
  font-size: 14px;
  cursor: pointer;
}

/* span {
  color: #002b5b;
} */
