<mat-toolbar>
  <span>
    <img src="../../../content/images/cash_logo.png" style="max-width: 200px; width: 100%" />
  </span>
  <button style="margin-left: 50px" mat-icon-button *ngIf="isLogin" (click)="toggleSidebar()">
    <mat-icon>dehaze</mat-icon>
  </button>
  <span class="spacer"></span>
  <div>
	<div *ngIf="isLogin">
	  <button mat-button [matMenuTriggerFor]="adminsitration" *jhiHasAnyAuthority="'ROLE_ADMIN'">Administration</button>
	  <img *ngIf="!isAdministrator" src='' style="opacity: 0">
	  <div><span style="font-size: 14px; line-height: 36px">Last Login : {{ lastLogin }}</span></div>
	</div>
  </div>
  
  <mat-menu #adminsitration="matMenu">
    <button mat-menu-item routerLink="admin/gateway" routerLinkActive="active">Gateway</button>
    <button mat-menu-item routerLink="admin/metrics" routerLinkActive="active">Metrics</button>
    <button mat-menu-item routerLink="admin/health" routerLinkActive="active">Health</button>
    <button mat-menu-item routerLink="admin/configuration" routerLinkActive="active">Configuration</button>
    <button mat-menu-item routerLink="admin/logs" routerLinkActive="active">Logs</button>
    <button mat-menu-item routerLink="admin/docs" routerLinkActive="active">API</button>
  </mat-menu>
  <div style="text-align: center">
	<img src="../../../content/images/default_avatar_transp_small.png" style="max-width: 36px; width: 100%">
	<div>
	  <button mat-button [matMenuTriggerFor]="account">{{ loginName }}</button>
	</div>
  </div>
  <mat-menu #account="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="language">Language</button>
    <button *ngFor="let item of menuListItems" mat-menu-item (click)="item.fn()">
      {{ item.text }}
    </button>
  </mat-menu>

  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">English</button>
    <button mat-menu-item (click)="changeLanguage('id')">Bahasa</button>
  </mat-menu>
</mat-toolbar>
