/* OVERRIDE ANGULAR MATERIAL CSS */
.mat-toolbar-row,
.mat-toolbar-single-row {
  background: linear-gradient(150deg, #96c9c8 60%, #62a3a0 65%);
  color: #fff;
  border-bottom: rgba(98, 180, 175, 1) !important;
}

.drawer-icon {
  color: #0d3c14;
}

.spacer {
  flex: 1 1 auto;
}

#avatar {
  cursor: pointer;
}

#not-pointer {
  font-size: 14px;
}

#pointer {
  font-size: 14px;
  cursor: pointer;
}

.mat-chip.mat-standard-chip {
  background-color: #62a3a0;
  color: rgb(255 255 255);
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-color: rgb(255 255 255);
}

section mat-chip-list mat-chip label {
  margin-right: 2px;
}
/* span {
  color: #002b5b;
} */

.mat-menu-no-item .mat-chip.mat-standard-chip.mat-chip-disabled {
  background-color: #62a3a0;
  color: rgb(255 255 255);
  font-weight: 500;
  border: solid;
  border-width: thin;
  border-color: rgb(255 255 255);
  opacity: 1 !important;
}
