<h1 mat-dialog-title>Correction Application Data</h1>
<div mat-dialog-content>
  <ol>
    <li>
      This page is to rectify data application with the status of active(not complete / cancel / reject) that doesn't have person in charge.
    </li>
    <li>
      Filter on the filter section:
      <ul>
        <li>Ignore Active Position Type, this filter only apply to ignore active person in charge with the selected position.</li>
      </ul>
    </li>
    <li>Click on the data column application number, cif, customer name to copy the content into the clipboard.</li>
  </ol>
</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Close</button>
</div>
