<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title>ADD AND DETAIL BUYERS</h2>
<mat-dialog-content>
  <div class="row">
    <!-- LEFT SIDE -->
    <div class="col-6">
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Buyers Name</mat-label>
            <input matInput type="text" [(ngModel)]="tradeCheckingBuyers.buyersName" [disabled]="view" />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Buyers Name</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.buyersName }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Relationship Since</mat-label>
            <input matInput type="text" [(ngModel)]="tradeCheckingBuyers.relationshipSince" [disabled]="view" />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Relationship Since</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.relationshipSince }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Contact Person & Telephone</mat-label>
            <input matInput type="text" [(ngModel)]="tradeCheckingBuyers.contact" [disabled]="view" />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Contact Person & Telephone</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.contact }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>(%) Reflection In Bank Account</mat-label>
            <input
              matInput
              type="text"
              [ngModel]="tradeCheckingBuyers.reflection | number: '1.0-0'"
              (ngModelChange)="tradeCheckingBuyers.reflection = numberInputChanged($event)"
              [disabled]="view"
            />
            <!-- <input matInput type="number" [(ngModel)]="tradeCheckingBuyers.reflection" [disabled]="view" /> -->
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">(%) Reflection In Bank Account</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.reflection | number: 1.0 - 0 }}
          </div>
        </div>
      </section>
    </div>

    <!-- RIGHT SIDE -->

    <div class="col-6">
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Terms Of Payment</mat-label>
            <input
              matInput
              type="text"
              [ngModel]="tradeCheckingBuyers.termsOfPayment"
              (ngModelChange)="(tradeCheckingBuyers.termsOfPayment)"
              [disabled]="view"
            />
            <!-- <input matInput type="text" [(ngModel)]="tradeCheckingBuyers.termsOfPayment" [disabled]="view" /> -->
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Terms Of Payment</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.termsOfPayment }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Sales %</mat-label>
            <input
              matInput
              type="text"
              [ngModel]="tradeCheckingBuyers.purchase | number: '1.0--0'"
              (ngModelChange)="tradeCheckingBuyers.purchase = numberInputChanged($event)"
              [disabled]="view"
            />
            <!-- <input matInput type="number" [(ngModel)]="tradeCheckingBuyers.purchase" [disabled]="view" /> -->
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Sales %</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.purchase | number: '1.0-0' }}
          </div>
        </div>
      </section>

      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Explanation</mat-label>
            <input matInput type="text" [(ngModel)]="tradeCheckingBuyers.explanation" [disabled]="view" />
          </mat-form-field>
        </div>
      </section>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="fontsebled row">
          <div class="col-4">Explanation</div>
          <div class="col-md-auto">:</div>
          <div class="col col-lg-2">
            {{ tradeCheckingBuyers.explanation }}
          </div>
        </div>
      </section>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <button mat-button *ngIf="!view" (click)="save()">Save</button>
  </section>
  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <div class="mt-3 text-center">
      <button mat-raised-button color="primary" hidden (click)="save()">Save</button>
    </div>
  </section>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
