<!--REAL ESTATE-->
<div *ngIf="collateral.collateralTypeId === 'REALESTATE'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Real Estate Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ejs-menu cssClass="e-rounded-menu e-custom-scroll" style="margin: 0px auto" [items]="menuItems" (select)="selectMenuItem($event)">
      </ejs-menu>

      <div *ngIf="menu === 'certificate-info'">
        <jhi-collateral-property-list-realestate-certificate-template [collateral]="collateral">
        </jhi-collateral-property-list-realestate-certificate-template>
      </div>

      <div *ngIf="menu === 'land-condition'">
        <jhi-collateral-property-list-realestate-land-template
          [collateral]="collateral"
          [dataLand]="dataLand"
          [allProp]="collateralProperties"
        ></jhi-collateral-property-list-realestate-land-template>
      </div>

      <div *ngIf="menu === 'building-condition'">
        <jhi-collateral-property-list-realestate-building-template
          [collateral]="collateral"
          [dataSource]="dataSource"
          [allProp]="allProp"
          [dataBuilding]="dataBuilding"
        >
        </jhi-collateral-property-list-realestate-building-template>
        <div align="right">
          <button mat-raised-button (click)="openDialog()">ADD NEW BUILDING INFO</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- VEHICLE -->
<div *ngIf="collateral.collateralTypeId === 'VEHICLE'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Vehicle Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-vehicle-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-vehicle-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD VEHICLE</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- MACHINE -->
<div *ngIf="collateral.collateralTypeId === 'MACHINE'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Machine Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-machine-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-machine-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD MACHINE DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- SECURITIES -->
<div *ngIf="collateral.collateralTypeId === 'SECURITIES'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Securities Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-securities-template
        (openDialogEvent)="openDialog($event)"
        [dataSource]="dataSource"
      ></jhi-collateral-property-list-securities-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD SECURITIES DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- OTHER -->
<div *ngIf="collateral.collateralTypeId === 'OTHER'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Other Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-other-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-other-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD OTHER DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- DEPOSIT -->
<div *ngIf="collateral.collateralTypeId === 'DEPOSIT'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Deposit Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-deposit-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-deposit-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD DEPOSIT DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- LETTER_OF_GUARANTY -->
<div *ngIf="collateral.collateralTypeId === 'LETTER_OF_GUARANTY'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Letter of Guarantee Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-guarantee-letter-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-guarantee-letter-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD GUARANTEE LETTER DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Personal Properties -->
<div *ngIf="collateral.collateralTypeId === 'PERSONAL_PROPERTY'" class="py-3">
  <mat-card class="my-3 w-100">
    <mat-card-header>
      <mat-card-subtitle>Collateral Personal Property Info Detail</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <jhi-collateral-property-list-personal-property-template (openDialogEvent)="openDialog($event)" [dataSource]="dataSource">
      </jhi-collateral-property-list-personal-property-template>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-raised-button (click)="openDialog()">ADD PERSONAL PROPERTY DETAIL</button>
    </mat-card-actions>
  </mat-card>
</div>
