<ejs-accumulationchart
  id="pie"
  style="height: 95%; width: 95%"
  [legendSettings]="pielegendSettings"
  [tooltip]="pieTooltipSetting"
  [enableAnimation]="animation"
  [enableBorderOnMouseMove]="enableBorderOnMouseMove"
  [enableSmartLabels]="enableSmartLabels"
  (pointRender)="pointRender($event)"
  (load)="accumulationload($event)"
>
  <e-accumulation-series-collection>
    <e-accumulation-series
      [dataSource]="dataSource1"
      xName="Product"
      yName="Percentage"
      innerRadius="40%"
      opacity="0.5"
      [palettes]="palettes"
      [dataLabel]="dataLabel"
      [border]="border"
    >
    </e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart>
