canvas {
  margin: auto auto auto auto !important;
  display: block !important;
  box-sizing: border-box !important;
  height: 100% !important;
  width: 100% !important;
}

.no-data-available {
  text-align: center;
}

/* @media only screen and (max-width: 1920px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 32em !important;
    width: 33em !important;
  }
}

@media only screen and (max-width: 1536px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 23em !important;
    width: 23em !important;
  }
}

@media only screen and (max-width: 1280px) {
  canvas {
    margin: auto auto auto auto !important;
    display: block !important;
    box-sizing: border-box !important;
    height: 16em !important;
    width: 16em !important;
  }
} */
