<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="triggerToggle()">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <ejs-breadcrumb cssClass="margin: 1rem;">
          <e-breadcrumb-items>
            <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
            <e-breadcrumb-item text="Appraisal Distribution External" url=""> </e-breadcrumb-item>
          </e-breadcrumb-items>
        </ejs-breadcrumb>
        <div class="header-container">
          <div class="header-content">
            <img class="back-image" src="../../../content/images/back-icon.svg" (click)="openCancelDialog()" />
            <span class="back-prefix" (click)="openCancelDialog()">Back | </span>
          </div>
          <p class="e-card-sub-title menu-title-class">{{ showTextMenu() }}</p>
        </div>
      </div>
    </div>
    <div style="margin: 1rem">
      <div *ngIf="clickedMenu === 'appraisal-info'" class="e-sample-resize-container e-card-resize-container">
        <jhi-collateral-appraisal-info
          *ngIf="surveyAppraisal"
          [statusAppraisal]="timeLineStatus"
          [surveyAppraisal]="surveyAppraisal"
          [accountAuthorities]="accountAuthorities"
          (outputTipeOfficerAppraisal)="onValTipeOfficerAppraisalChanged($event)"
          (jpRenewal)="setRenewal($event)"
          (jpNew)="setNew($event)"
          (jpAdditional)="setAdditional($event)"
          (jpProgress)="setProgress($event)"
          (jpOther)="setOther($event)"
          [collateralAppraisal]="collateralAppraisal"
        >
        </jhi-collateral-appraisal-info>
      </div>

      <div *ngIf="clickedMenu === 'customer-info'" class="wrapper-card mb-3">
        <jhi-collateral-appraisal-person-view
          mode="view"
          [collateralAppraisal]="collateralAppraisal"
          [id]="surveyAppraisal.cif.id"
          *ngIf="surveyAppraisal.cif.customerType === 'PERSONAL'"
        >
        </jhi-collateral-appraisal-person-view>
        <jhi-collateral-appraisal-party-group-view
          mode="view"
          [partyId]="surveyAppraisal.cif.partyId"
          [collateralAppraisal]="collateralAppraisal"
          [id]="surveyAppraisal.cif.id"
          *ngIf="surveyAppraisal.cif.customerType === 'CORPORATE'"
        >
        </jhi-collateral-appraisal-party-group-view>
        <!-- <div class="e-card mb-3">
          <div class="e-card-header mb-1">
            <div class="e-card-header-caption">
              <div class="e-card-header-title">Customer Address</div>
            </div>
          </div>
          <div style="margin: 1rem">
            <jhi-party-cif-customer-info-postal-address
              [disabled]="true"
              [partyPostalAddress]="postalAddress"
              [partyId]="surveyAppraisal.cif.partyId"
              [creditProposal]="creditProposal"
              [collateralAppraisal]="collateralAppraisal"
            >
            </jhi-party-cif-customer-info-postal-address>
          </div>
        </div>
      </div> -->
        <!-- Customer Address -->
        <div calss="wrapper-card">
          <e-card>
            <jhi-party-cif-customer-info-postal-address
              [disabled]="true"
              [partyPostalAddress]="postalAddress"
              [partyId]="surveyAppraisal.cif.partyId"
              [creditProposal]="creditProposal"
              [collateralAppraisal]="collateralAppraisal"
            >
            </jhi-party-cif-customer-info-postal-address>
          </e-card>
        </div>
        <!-- Customer Address -->
      </div>

      <div *ngIf="clickedMenu === 'external-officer-info'" class="e-sample-resize-container e-card-resize-container">
        <jhi-collateral-appraisal-external-officer [collateralAppraisal]="collateralAppraisal"> </jhi-collateral-appraisal-external-officer>
      </div>

      <div *ngIf="clickedMenu === 'valuation'" class="e-sample-resize-container e-card-resize-container">
        <jhi-collateral-appraisal-valuation [collateralAppraisal]="collateralAppraisal" [collateral]="collateral">
        </jhi-collateral-appraisal-valuation>
      </div>
      <div
        *ngIf="clickedMenu === 'collateral-info' && surveyAppraisal.collateral"
        class="e-sample-resize-container e-card-resize-container"
      >
        <jhi-collateral-info
          mode="edit"
          [collateralAppraisal]="collateralAppraisal"
          [collateral]="surveyAppraisal.collateral"
          [collateralAppraisalId]="collateralAppraisal.id"
          [appraisal]="collateralAppraisal"
        ></jhi-collateral-info>
      </div>
      <!-- <div>
   <div *ngIf="clickedMenu === 'negative-collateral'" class="e-sample-resize-container e-card-resize-container">
     <jhi-collateral-appraisal-negative-collateral [collateralAppraisal]="collateralAppraisal"
       [item]="collateralAppraisal.attributes['scoreCard']" (criteriaEvent)="addNewCriteria($event)">
     </jhi-collateral-appraisal-negative-collateral>
   </div>
</div> -->

      <div *ngIf="clickedMenu === 'comparison-data'" class="e-sample-resize-container e-card-resize-container">
        <jhi-collateral-appraisal-comparison
          [collateralAppraisal]="collateralAppraisal"
          *ngIf="collateralAppraisal"
          [collateralId]="collateralAppraisal.collateralId"
        >
        </jhi-collateral-appraisal-comparison>
      </div>

      <div *ngIf="clickedMenu === 'foto-object-jaminan'" class="e-sample-resize-container e-card-resize-container">
        <jhi-collateral-appraisal-process
          [collateralAppraisal]="collateralAppraisal"
          *ngIf="collateralAppraisal"
          [appraisalId]="collateralAppraisal.id"
        ></jhi-collateral-appraisal-process>
      </div>

      <div *ngIf="clickedMenu === 'summary'" class="e-sample-resize-container e-card-resize-container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <jhi-collateral-appraisal-summary
              #collateralAppraisalSummaryComponent
              [collateralAppraisal]="collateralAppraisal"
              [item]="collateralAppraisal"
            >
            </jhi-collateral-appraisal-summary>
            <!-- [input]="ketObjekJaminan" -->
            <div
              *ngIf="
                surveyAppraisal.statusId === 'VISITED' ||
                surveyAppraisal.statusId === 'APPROVAL_TL' ||
                surveyAppraisal.statusId === 'APPROVAL_DEPT_HEAD' ||
                surveyAppraisal.statusId === 'APPROVAL_DH' ||
                surveyAppraisal.statusId === 'APPROVED' ||
                surveyAppraisal.statusId === 'COMPLETE' ||
                collateralAppraisal.statusId === 'VISITED' ||
                collateralAppraisal.statusId === 'APPROVAL_TL' ||
                collateralAppraisal.statusId === 'APPROVAL_DEPT_HEAD' ||
                collateralAppraisal.statusId === 'APPROVAL_DH' ||
                collateralAppraisal.statusId === 'APPROVED' ||
                collateralAppraisal.statusId === 'COMPLETE'
              "
            >
              <jhi-appraisal-role [appraisalId]="collateralAppraisal.id"></jhi-appraisal-role>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="clickedMenu === 'correspondence'" class="e-sample-resize-container e-card-resize-container">
        <jhi-credit-proposal-correspondence
          [collateralAppraisal]="collateralAppraisal"
          [creditProposal]="creditProposal"
        ></jhi-credit-proposal-correspondence>
      </div>
      <div *ngIf="clickedMenu === 'report-independent'" class="e-sample-resize-container e-card-resize-container wrapper-card">
        <e-card>
          <jhi-report-independent-collateral [surveyAppraisal]="surveyAppraisal"> </jhi-report-independent-collateral>
        </e-card>
      </div>
    </div>
    <div class="e-card-actions mx-auto mb-5 mt-3">
      <button
        style="margin-right: 25px"
        mat-raised-button
        *ngFor="let task of tasks"
        (click)="processTask(task)"
        class="btn-lg text-uppercase button-styling"
      >
        {{ task.caption }}
      </button>
      <!-- <button mat-raised-button class="btn-lg text-uppercase" (click)="onPrint()">Print</button> -->
      <button mat-raised-button class="btn-lg text-uppercase button-styling" (click)="onSave('default')">Save</button>
    </div>
  </div>

  <mat-sidenav
    position="end"
    style="position: fixed !important; max-height: 20rem !important"
    #drawer
    class="example-sidenav subroute-background"
    mode="over"
  >
    <div class="header-sub-menu"><label style="margin-top: 1rem">Appraisal Distribution External:</label></div>
    <ul class="side-menu" style="margin: 7rem 0 0 1rem">
      <li *ngFor="let item of subMenu">
        <!--SUBMENU DOESNT HAS A CHILD-->
        <a
          *ngIf="!item.hasOwnProperty('child')"
          href="javascript:void(0)"
          class="text-capitalize"
          (click)="routeSubMenu(item); drawer.toggle(); triggerToggle()"
          [ngClass]="checkCompletedData(item) ? 'completed-data' : ''"
          >{{ item.label }}</a
        >
        <!--SUBMENU HAS A CHILD-->
        <span class="text-capitalize" *ngIf="item.hasOwnProperty('child')">{{ item.text }}</span>
        <ul *ngIf="item.hasOwnProperty('child')">
          <li *ngFor="let itemChild of item.child">
            <a href="javascript:void(0)" (click)="routeSubMenu(itemChild); drawer.toggle(); triggerToggle()" class="text-capitalize">{{
              itemChild.label
            }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
  <button
    matTooltip="Click this for show sub menu of Collateral Appraisal"
    [ngClass]="{ 'sidebar-state-true': isOpen === true, 'sidebar-state-false': isOpen === false }"
    class="btn-menu-floating button-float-color btn-float-styling"
    (click)="drawer.toggle(); triggerToggle()"
    matTooltipPosition="before"
  >
    <mat-icon class="settings-icon rotating">settings</mat-icon>
  </button>
</mat-sidenav-container>
