<section class="wrapper-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Credit Agreement Preparation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Debtor Name</mat-label>
              <input
                disabled
                [value]="
                  creditProposal.prospectPerson === null ? creditProposal.prospectOrganization.name : creditProposal.prospectPerson.name
                "
                matInput
                type="text"
              />
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-4">Debtor Name</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ creditProposal.prospectPerson === null ? creditProposal.prospectOrganization.name : creditProposal.prospectPerson.name }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Address</mat-label>
              <textarea
                [disabled]="creditProposal.statusId !== 'PK_FINALIZE'"
                [(ngModel)]="creditProposal.attributes.offeringLetterPreparation.address"
                matInput
                cssClass="e-outline"
                class="text-area-input"
                id="multiline-always"
                name="typeAlways"
              ></textarea>
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-4">Address</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ creditProposal.agreements[0]?.attributes.address }}
              </div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Credit Agreement Type</mat-label>
              <mat-select
                [(ngModel)]="creditProposal.agreements[0]?.attributes.AGREEMENT_TYPE"
                (selectionChange)="onSelectAgreementType($event)"
              >
                <mat-option value="">Please Select Conditions</mat-option>
                <mat-option *ngFor="let item of ['NEW', 'ADDENDUM', 'Perubahan dan Pernyataan Kembali']" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-4">Credit Agreement Type</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ creditProposal.agreements[0]?.attributes.AGREEMENT_TYPE }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Credit Agreement Place</mat-label>
              <input [(ngModel)]="creditProposal.agreements[0]?.attributes.AGREEMENT_PLACE" matInput type="text" />
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-4">Credit Agreement Place</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ creditProposal.agreements[0]?.attributes.AGREEMENT_PLACE }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Signer Credit Agreement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataAgreement" class="w-100">
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Debitor">
          <th mat-header-cell *matHeaderCellDef class="text-center">Debitor / Pt Bank Hana Keb Indonesia</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.debitor }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef class="text-center">Position</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.position }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
              <button (click)="openDialogSigner(element)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>

              <button (click)="deleteSigner(element)" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </section>
            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
              <button (click)="openDialogSigner(element)" mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </section>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumns"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <!-- <mat-paginator
      showFirstLastButtons
      ngClass="transparant"
      [length]="paginatorLength"
      [pageSize]="paginatorPageSize"
      [pageSizeOptions]="paginatorPageSizeOption"
      (page)="loadDataLazy($event)"
    >
    </mat-paginator> -->
    </mat-card-content>
    <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
      <button class="btn-lg text-uppercase button-styling mt-2" mat-raised-button (click)="openDialogSigner(null)">ADD</button>
    </section>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Notariil / Un-Notaril Conditions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Notaril / Un-Notaril Conditions</mat-label>
              <mat-select [(ngModel)]="creditProposal.agreements[0]?.attributes.IS_NOTARIL">
                <mat-option value="">Please Select</mat-option>
                <mat-option
                  *ngFor="
                    let item of [
                      { name: 'Notaril', value: 'true' },
                      { name: 'Un-Notaril', value: 'false' }
                    ]
                  "
                  [value]="item.value"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-6">Notaril / Un-Notaril Conditions</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">
                {{ creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'true' ? 'Notaril' : 'Un-Notaril' }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="w-100" appearance="outline">
              <mat-label>Nomor PK</mat-label>
              <input [(ngModel)]="creditProposal.agreements[0]?.attributes.NOTARY_NUMBER" matInput type="text" />
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="fontsebled row py-3">
              <div class="col-6">Nomor PK</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-4">
                {{ creditProposal.agreements[0]?.attributes.NOTARY_NUMBER }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="w-100" appearance="outline">
              <mat-label>Notary Public Name</mat-label>
              <input [(ngModel)]="creditProposal.agreements[0]?.attributes.NOTARY_NAME" matInput type="text" />
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="fontsebled row py-3">
              <div class="col-6">Notary Public Name</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-4">
                {{ creditProposal.agreements[0]?.attributes.NOTARY_NAME }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="col-6" [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Notary Public Place</mat-label>
                <input [(ngModel)]="creditProposal.agreements[0]?.attributes.NOTARY_PLACE" matInput type="text" />
              </mat-form-field>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="fontsebled row py-3">
              <div class="col-6">Notary Public Place</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-4">
                {{ creditProposal.agreements[0]?.attributes.NOTARY_PLACE }}
              </div>
            </div>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <mat-form-field [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="w-50" appearance="outline">
              <mat-label>Notary Date</mat-label>
              <input
                [(ngModel)]="creditProposal.agreements[0]?.attributes.NOTARY_DATE"
                [matDatepicker]="letterOfDate"
                matInput
                type="text"
              />
              <mat-datepicker-toggle matSuffix [for]="letterOfDate"></mat-datepicker-toggle>
              <mat-datepicker #letterOfDate></mat-datepicker>
            </mat-form-field>
          </section>

          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div [hidden]="creditProposal.agreements[0]?.attributes.IS_NOTARIL === 'false'" class="fontsebled row py-3">
              <div class="col-6">Notary Date</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-4">
                {{ creditProposal.agreements[0]?.attributes.NOTARY_DATE | date: 'yyyy-MM-dd' }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Approval Debtor Conditions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="row" *ngFor="let item of approvalDebtor; let i = index">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status </mat-label>
              <mat-select [(ngModel)]="selectedConditions[i]" (ngModelChange)="onSelectApprovalCondition($event, i)">
                <mat-option value="">Please Select Conditions</mat-option>
                <mat-option *ngFor="let condition of getAvailableOptions(i)" [value]="condition">
                  {{ condition }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3 mt-3">
            <mat-icon *ngIf="creditProposal.customerType !== 'PERSONAL' && approvalDebtor.length < 2" (click)="addApproval()">add</mat-icon>
            <mat-icon
              [hidden]="i === 0"
              *ngIf="creditProposal.customerType !== 'PERSONAL' && approvalDebtor.length > 1"
              (click)="deleteApproval(i)"
              >delete</mat-icon
            >
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28002 || selectedConditionId(selectedConditions[i]) === 28003">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Letter Of Date </mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionDate"
                    [matDatepicker]="letterOfDate"
                    matInput
                    type="text"
                  />
                  <mat-datepicker-toggle matSuffix [for]="letterOfDate"></mat-datepicker-toggle>
                  <mat-datepicker #letterOfDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28007">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Letter Of Name</mat-label>
                  <input [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionName" matInput type="text" />
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Letter Of Date</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionDate"
                    [matDatepicker]="letterOfDate"
                    matInput
                    type="text"
                  />
                  <mat-datepicker-toggle matSuffix [for]="letterOfDate"></mat-datepicker-toggle>
                  <mat-datepicker #letterOfDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28004">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Letter Of Name</mat-label>
                  <input [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionName" matInput type="text" />
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Letter Of Date</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionDate"
                    [matDatepicker]="letterOfDate"
                    matInput
                    type="text"
                  />
                  <mat-datepicker-toggle matSuffix [for]="letterOfDate"></mat-datepicker-toggle>
                  <mat-datepicker #letterOfDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Notary Public Name</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionNotaryPublicName"
                    matInput
                    type="text"
                  />
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Notary Public Place</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionNotaryPublicPlace"
                    matInput
                    type="text"
                  />
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Civil Registry Document Number</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionCivilRegistryDocumentNumber"
                    matInput
                    type="text"
                  />
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Civil Regristation Date</mat-label>
                  <input
                    [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionCivilRegistrationDate"
                    [matDatepicker]="civilRegristationDate"
                    matInput
                    type="text"
                  />
                  <mat-datepicker-toggle matSuffix [for]="civilRegristationDate"></mat-datepicker-toggle>
                  <mat-datepicker #civilRegristationDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28006">
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Letter Of Name</mat-label>
                <input [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionName" matInput type="text" />
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Letter Of Number</mat-label>
                <input [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionNumber" matInput type="text" />
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Letter Of Date</mat-label>
                <input
                  [(ngModel)]="this.creditProposal.entityProperties[i].approvalDebtorConditionDate"
                  [matDatepicker]="letterOfDate"
                  matInput
                  type="text"
                />
                <mat-datepicker-toggle matSuffix [for]="letterOfDate"></mat-datepicker-toggle>
                <mat-datepicker #letterOfDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>

      <!-- batas -->
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
        <div class="row" *ngFor="let item of approvalDebtor; let i = index">
          <div class="col-6">
            <div class="fontsebled row py-3">
              <div class="col-4">Status</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-6">
                {{ selectedConditions[i] }}
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28002 || selectedConditionId(selectedConditions[i]) === 28003">
            <div class="row">
              <div class="col-6">
                <div class="fontsebled row py-3">
                  <div class="col-4">Letter Of Date</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionDate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28007">
            <div class="row">
              <div class="col-6">
                <div class="fontsebled row py-3">
                  <div class="col-4">Letter Of Name</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionName }}
                  </div>
                </div>

                <div class="fontsebled row py-3">
                  <div class="col-4">Letter Of Date</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionDate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28004">
            <div class="row">
              <div class="col-6">
                <div class="fontsebled row py-3">
                  <div class="col-4">Letter Of Name</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionName }}
                  </div>
                </div>

                <div class="fontsebled row py-3">
                  <div class="col-4">Letter Of Date</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionDate }}
                  </div>
                </div>

                <div class="fontsebled row py-3">
                  <div class="col-4">Notary Public Name</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionNotaryPublicName }}
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="fontsebled row py-3">
                  <div class="col-4">Notary Public Place</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionNotaryPublicPlace }}
                  </div>
                </div>

                <div class="fontsebled row py-3">
                  <div class="col-4">Civil Registry Document Number</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionCivilRegistryDocumentNumber }}
                  </div>
                </div>

                <div class="fontsebled row py-3">
                  <div class="col-4">Civil Regristation Date</div>
                  <div class="col-md-auto">:</div>
                  <div class="col col-lg-6">
                    {{ creditProposal.entityProperties[i].approvalDebtorConditionCivilRegistrationDate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="selectedConditionId(selectedConditions[i]) === 28006">
            <div class="col-6">
              <div class="fontsebled row py-3">
                <div class="col-4">Letter Of Name</div>
                <div class="col-md-auto">:</div>
                <div class="col col-lg-6">
                  {{ creditProposal.entityProperties[i].approvalDebtorConditionName }}
                </div>
              </div>

              <div class="fontsebled row py-3">
                <div class="col-4">Letter Of Number</div>
                <div class="col-md-auto">:</div>
                <div class="col col-lg-6">
                  {{ creditProposal.entityProperties[i].approvalDebtorConditionNumber }}
                </div>
              </div>

              <div class="fontsebled row py-3">
                <div class="col-4">Letter Of Date</div>
                <div class="col-md-auto">:</div>
                <div class="col col-lg-6">
                  {{ creditProposal.entityProperties[i].approvalDebtorConditionDate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- penutup -->
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3" *ngIf="creditProposal.agreements[0]?.attributes.AGREEMENT_TYPE === 'ADDENDUM'">
    <mat-card-header>
      <mat-card-title>Credit Agreement Clausal History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="" class="w-100">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="text-center">Category</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="text-center">Description</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumnsCreditAgreementClausalHisotry.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnsCreditAgreementClausalHisotry"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumnsCreditAgreementClausalHisotry"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <!-- <mat-paginator
          showFirstLastButtons
          ngClass="transparant"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOption"
          (page)="loadDataLazy($event)"
        >
        </mat-paginator> -->
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="creditProposal.agreements[0]?.attributes.AGREEMENT_TYPE === 'NEW'" class="mt-3">
    <mat-card-header>
      <mat-card-title>Credit Agreement Clausal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataClausal" class="w-100">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="text-center">Category</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.category }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="text-center">Description</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.notes }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
              <button mat-icon-button>
                <mat-icon (click)="updateClausalDialog(element)">edit</mat-icon>
              </button>

              <button (click)="deleteClausal(element)" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </section>
            <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
              <button mat-icon-button>
                <mat-icon (click)="updateClausalDialog(element)">visibility</mat-icon>
              </button>
            </section>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumnsCreditAgreementClausal.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnsCreditAgreementClausal"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumnsCreditAgreementClausal"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <!-- <mat-paginator
          showFirstLastButtons
          ngClass="transparant"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOption"
          (page)="loadDataLazy($event)"
        >
        </mat-paginator> -->
    </mat-card-content>
    <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
      <div style="display: flex; justify-content: center; align-items: center">
        <button (click)="addClausalDialog()" class="btn-lg text-uppercase button-styling mt-2" mat-raised-button>ADD</button>
      </div>
    </section>
  </mat-card>

  <mat-card *ngIf="creditProposal.agreements[0]?.attributes.AGREEMENT_TYPE === 'ADDENDUM'" class="mt-3">
    <mat-card-header>
      <mat-card-title>Credit Agreement Clausal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Clausal Addendum</mat-card-title>
      </mat-card-header>

      <mat-form-field class="w-100" appearance="outline">
        <textarea matInput cssClass="e-outline" class="text-area-input" id="multiline-always" name="typeAlways"></textarea>
      </mat-form-field>

      <table mat-table [dataSource]="addendumClausalAgreements" class="w-100">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="text-center">Category</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.category }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="text-center">Description</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.agreementClausalParameterDescription }}
          </td>
        </ng-container>
        <ng-container matColumnDef="clausal">
          <th mat-header-cell *matHeaderCellDef class="text-center">Clausal</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ element.agreementClausalParameterCode }} - {{ element.agreementClausalParameterDescription }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button>
              <mat-icon (click)="updateClausalDialog(element)">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumnsCreditAgreementClausal.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnsCreditAgreementClausal"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumnsCreditAgreementClausal"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <!-- <mat-paginator
          showFirstLastButtons
          ngClass="transparant"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOption"
          (page)="loadDataLazy($event)"
        >
        </mat-paginator> -->
    </mat-card-content>
    <div style="display: flex; justify-content: center; align-items: center">
      <button (click)="addClausalDialog()" class="btn-lg text-uppercase button-styling mt-2" mat-raised-button>ADD</button>
    </div>
  </mat-card>

  <!-- <mat-card class="mt-3" *ngIf="creditProposal.statusCode === 'PK_GENERATED'">
    <mat-card-header>
      <mat-card-title>Upload Credit Agreement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div class="row">
          <div class="col-3">
            <input type="file" class="btn" (change)="onFileSelected($event)" />
          </div>

          <div class="col-2">
            <button class="btn-lg text-uppercase button-styling mt-2" mat-raised-button (click)="uploadFile()">Upload</button>
          </div>
        </div>
      </section>

      <table mat-table [dataSource]="data" class="w-100 mt-3">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">
            {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
          </td>
        </ng-container>
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef class="text-center">File Name</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="text-center">Date</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef class="text-center">Created By</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="sizeFile">
          <th mat-header-cell *matHeaderCellDef class="text-center">Size File</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <button mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumnsDraftPerjanjianKredit.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnsDraftPerjanjianKredit"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumnsDraftPerjanjianKredit"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>

    </mat-card-content>
  </mat-card> -->

  <!-- <mat-card class="mt-3">
    <mat-card-header>
      <mat-card-title>Generate Draft Credit Agreement</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="data" class="w-100 mt-3">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">
            {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
          </td>
        </ng-container>
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef class="text-center">File Name</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="text-center">Date</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="createdby">
          <th mat-header-cell *matHeaderCellDef class="text-center">Created By</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="sizefile">
          <th mat-header-cell *matHeaderCellDef class="text-center">Size File</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayColumnsGenerateDraftCreditAgreement.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayColumnsGenerateDraftCreditAgreement"></tr>
        <tr mat-row *matRowDef="let element; columns: displayColumnsGenerateDraftCreditAgreement"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card> -->
  <!-- <mat-paginator
                              showFirstLastButtons
                              ngClass="transparant"
                              [length]="paginatorLength"
                              [pageSize]="paginatorPageSize"
                              [pageSizeOptions]="paginatorPageSizeOption"
                              (page)="loadDataLazy($event)"
                            >
                            </mat-paginator> -->
  <!-- <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <div style="display: flex; justify-content: center; align-items: center">
          <button (click)="addReviewHistory()" class="btn-lg text-uppercase button-styling mt-2" mat-raised-button>Generate Draft</button>
        </div>
      </section>
    </mat-card-content>
  </mat-card> -->

  <jhi-generate-pk-draft [item]="creditProposal"></jhi-generate-pk-draft>

  <mat-card
    class="mt-3"
    *ngIf="
      creditProposal.statusCode === 'PK_REVIEW_LEAD' ||
      creditProposal.statusCode === 'PK_GENERATED' ||
      creditProposal.statusCode === 'PK_REVIEW_TEAMLEAD'
    "
  >
    <mat-card-header>
      <mat-card-title>Review History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="data" class="w-100 mt-3">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="text-center">No</th>
          <td mat-cell *matCellDef="let element; let i = index" class="text-center">
            {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
          </td>
        </ng-container>
        <ng-container matColumnDef="approveName">
          <th mat-header-cell *matHeaderCellDef class="text-center">Approve Name</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="text-center">Position</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="text-center">Date</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
          <td mat-cell *matCellDef="let element" class="text-center"></td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayRevewHistory.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayRevewHistory"></tr>
        <tr mat-row *matRowDef="let element; columns: displayRevewHistory"></tr>
      </table>
      <mat-card *ngIf="loading" id="material-loading-bar">
        <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
      </mat-card>
      <mat-paginator
        showFirstLastButtons
        ngClass="transparant"
        [length]="paginatorLength"
        [pageSize]="paginatorPageSize"
        [pageSizeOptions]="paginatorPageSizeOption"
        (page)="loadDataLazy($event)"
      >
      </mat-paginator>
      <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
        <button (click)="addReviewHistory()" class="btn-lg text-uppercase button-styling mt-2" mat-raised-button>Add</button>
      </section>
    </mat-card-content>
  </mat-card>
</section>
