/* Table Styling */
th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
th:first-child {
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}

.mat-header-cell {
  font-family: 'Poppins', sans-serif;
  background: #008881;
  color: #ffff;
  font-weight: 500;
  font-style: normal;
}
table .mat-table {
  border: 1px #008881 solid !important;
}
/* Table Styling */

/* Font Override */
.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}
/* Font Override */
