<mat-card *ngIf="requestSlik.status !== 'VERIFY'">
  <mat-card-header>
    <mat-card-header-subtitle class="text-capitalize">shareholder</mat-card-header-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive-material">
      <table mat-table [dataSource]="organizationManagement" class="w-100">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="grid-index-number">No</th>
          <td mat-cell *matCellDef="let i = index" class="grid-index-number">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Fullname</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.name || element.shareHolderOrg?.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="idCard">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">ID</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.personalIdNumber || element.shareHolderOrg?.taxIdNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Date of Birth</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.dob | formatMediumDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ownership">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Ownership(%)</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.attributes['ownership'] }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Address</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.postalAddress.address1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pep">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Pep</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.attributes.pep }}
          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Actions</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            <mat-checkbox
              #c
              (click)="$event.stopPropagation()"
              (change)="updateChecklist(element, c)"
              [checked]="isDetailChecked(element)"
              [disabled]="requestSlik.status !== 'DRAFT' && requestSlik.status !== 'RETURN_TO_RM'"
            ></mat-checkbox>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-card *ngIf="loading" id="material-loading-bar">
      <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
    </mat-card>
    <mat-paginator
      showFirstLastButtons
      ngClass="transparant"
      [length]="paginatorLength"
      [pageSize]="paginatorPageSize"
      [pageSizeOptions]="paginatorPageSizeOption"
      (page)="loadDataLazy($event)"
      [hidden]="true"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="requestSlik.status === 'VERIFY'">
  <mat-card-header>
    <mat-card-header-subtitle class="text-capitalize">shareholder</mat-card-header-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive-material">
      <table mat-table [dataSource]="organizationManagement" class="w-100 mat-table-expand" multiTemplateDataRows>
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef class="grid-index-number">No</th>
          <td mat-cell *matCellDef="let i = dataIndex" class="grid-index-number">{{ i + 1 }}.</td>
        </ng-container>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Fullname</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.name || element.shareHolderOrg?.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="idCard">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">ID</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.personalIdNumber || element.shareHolderOrg?.taxIdNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Date of Birth</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.person?.dob | formatMediumDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ownership">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Ownership(%)</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.attributes['ownership'] }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Address</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.postalAddress.address1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pep">
          <th mat-header-cell *matHeaderCellDef class="grid-index-string">Pep</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            {{ element.attributes.pep }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="grid-index-string">&nbsp;</th>
          <td mat-cell *matCellDef="let element" class="grid-index-string">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element; findDetail(expandedElement); $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpand.length">
            <div class="mat-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="p-3 w-100">
                <!--
                  =====================================
                  Table Expand
                  =====================================
                -->
                <table mat-table [dataSource]="element.dataExpand" class="mat-elevation-z8">
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-number">No.</th>
                    <td mat-cell *matCellDef="let i = index" class="grid-index-number">{{ i + 1 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">Name</th>
                    <td mat-cell *matCellDef="let element" class="grid-index-string">{{ element.namaDebitur }}</td>
                  </ng-container>
                  <ng-container matColumnDef="nikNpwp">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">NIK NPWP</th>
                    <td mat-cell *matCellDef="let element" class="grid-index-string">{{ element.nikNpwp }}</td>
                  </ng-container>
                  <ng-container matColumnDef="noIdentitas">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">No. Identitas</th>
                    <td mat-cell *matCellDef="let element" class="grid-index-string">{{ element.noIdentitas }}</td>
                  </ng-container>
                  <ng-container matColumnDef="alamat">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">Alamat</th>
                    <td mat-cell *matCellDef="let element" class="grid-index-string">{{ element.alamat }}</td>
                  </ng-container>
                  <ng-container matColumnDef="jenisKelamin">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">Jenis Kelamin</th>
                    <td mat-cell *matCellDef="let element" class="grid-index-string">{{ element.jenisKelaminKet }}</td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="grid-index-string">Action</th>
                    <td mat-cell *matCellDef="let tes" class="grid-index-string">
                      <mat-radio-group
                        [ngModel]="element.person ? element.person.id : element.shareHolderOrg.id"
                        (ngModelChange)="element.person ? (element.person.id = $event) : (element.shareholderOrg.id = $event)"
                      >
                        <mat-radio-button [value]="tes" (click)="selectRow(tes)"></mat-radio-button>
                      </mat-radio-group>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDetail"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsDetail"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">No records found.</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumnsExpand"
          [class.mat-expanded-row]="expandedElement === element"
          class="mat-element-row"
          (click)="expandedElement = expandedElement === element ? null : element; findDetail(expandedElement)"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="mat-detail-row"></tr>
      </table>
    </div>
    <mat-card *ngIf="loading" id="material-loading-bar">
      <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
    </mat-card>
    <mat-paginator
      showFirstLastButtons
      [hidden]="true"
      ngClass="transparant"
      [length]="paginatorLength"
      [pageSize]="paginatorPageSize"
      [pageSizeOptions]="paginatorPageSizeOption"
      (page)="loadDataLazy($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
