<mat-card class="mb-3" [hidden]="view">
  <mat-card-subtitle> Final Approval Status </mat-card-subtitle>
  <div class="form-group">
    <div class="d-flex justify-content-around">
      <div class="mx-2">
        <ejs-radiobutton
          label="Approved as Proposed"
          value="Approved as Proposed"
          [(ngModel)]="creditProposal.attributes['approvalStatus']"
          [disabled]="disabled"
        >
        </ejs-radiobutton>
      </div>
      <div class="mx-2">
        <ejs-radiobutton
          label="Approved as Condition"
          value="Approved as Condition"
          [(ngModel)]="creditProposal.attributes['approvalStatus']"
          [disabled]="disabled"
        >
        </ejs-radiobutton>
      </div>
      <div class="mx-2">
        <ejs-radiobutton label="Reject" value="Reject" [(ngModel)]="creditProposal.attributes['approvalStatus']" [disabled]="disabled">
        </ejs-radiobutton>
      </div>
    </div>
  </div>
</mat-card>
