.close.mat-button {
  width: 10px;
}

.button-close {
  margin-left: auto;
  opacity: 0.5;
  width: 15px;
}

.button-close:hover {
  color: white;
  background-color: rgb(195, 35, 35);
  opacity: 1;
  width: 15px;
}

.style-close {
  text-align: right;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block !important;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 40px !important;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

ul.list-image {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  li {
    img {
      max-width: 35vw;
    }
    margin: 15px;
    display: inline;
  }
}

.grid-index-string {
  justify-content: flex-start;
}

.grid-index-string-action {
  justify-content: flex-end;
}

.grid-index-number {
  justify-content: flex-end;
}

.grid-index-label-string {
  text-align: left;
}

.grid-index-label-number {
  text-align: right;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

table {
  th {
    background-color: rgba(147, 201, 199, 1);
    color: black;
    font-family: 'Poppins', sans-serif;
  }
  td {
    font-family: 'Poppins', sans-serif;
  }
}
.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}
.button-styling {
  background-color: rgba(49, 158, 152, 1);
  color: #ffffff;
}
