<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-credit-rating-heading"
        data-cy="CreditRatingCreateUpdateHeading"
        jhiTranslate="losgwApp.creditRating.home.createOrEditLabel"
      >
        Create or edit a Credit Rating
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.fromDate" for="field_fromDate">From Date</label>
          <div class="d-flex">
            <input
              id="field_fromDate"
              data-cy="fromDate"
              type="datetime-local"
              class="form-control"
              name="fromDate"
              formControlName="fromDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.thruDate" for="field_thruDate">Thru Date</label>
          <div class="d-flex">
            <input
              id="field_thruDate"
              data-cy="thruDate"
              type="datetime-local"
              class="form-control"
              name="thruDate"
              formControlName="thruDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.collateralTypeId" for="field_collateralTypeId"
            >Collateral Type Id</label
          >
          <input
            type="text"
            class="form-control"
            name="collateralTypeId"
            id="field_collateralTypeId"
            data-cy="collateralTypeId"
            formControlName="collateralTypeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.collateralTypeDescription" for="field_collateralTypeDescription"
            >Collateral Type Description</label
          >
          <input
            type="text"
            class="form-control"
            name="collateralTypeDescription"
            id="field_collateralTypeDescription"
            data-cy="collateralTypeDescription"
            formControlName="collateralTypeDescription"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.partyId" for="field_partyId">Party Id</label>
          <input type="text" class="form-control" name="partyId" id="field_partyId" data-cy="partyId" formControlName="partyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.partyName" for="field_partyName">Party Name</label>
          <input type="text" class="form-control" name="partyName" id="field_partyName" data-cy="partyName" formControlName="partyName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="losgwApp.creditRating.applicationId" for="field_applicationId">Application Id</label>
          <input
            type="number"
            class="form-control"
            name="applicationId"
            id="field_applicationId"
            data-cy="applicationId"
            formControlName="applicationId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
