<div class="card-layout row mb-3">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">EXPOSURE DEBTOR</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>

    <div class="e-card-content">
      <ejs-grid allowTextWrap="true" #grid [dataSource]="_creditProposal.products" [allowPaging]="true" [pageSettings]="" gridLines="both">
        <e-columns>
          <!-- <e-column field="indexNum" headerText="No" textAlign="center"></e-column> -->
          <e-column
            field="attributes.facilityType"
            headerText="Facility Type"
            headerTextAlign="center"
            width="140"
            textAlign="left"
          ></e-column>
          <!-- <e-column
                  field="attributes.availableLimit"
                  headerText="Available Limit "
                  headerTextAlign="center"
                  width="140"
                  textAlign="right"
                  [format]="numericFormatOptions"
                ></e-column> -->

          <e-column
            field="attributes.initialLimit"
            headerText="Initial Limit"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="attributes.changes"
            headerText="Changes"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="attributes.outstanding"
            headerText="O/S"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="attributes.totalPlafond"
            headerText="Total Plafond"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <!-- <e-column
                  field="attributes.rate"
                  headerText="Interest Rate (%)"
                  headerTextAlign="center"
                  width="140"
                  textAlign="right"
                  [format]="numericFormatOptions"
                ></e-column> -->
          <e-column
            field="attributes.provitionFee"
            headerText="Provision Fee"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="attributes.adminFee"
            headerText="Admin Fee"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="frist"
            headerText="First Disbursement Date"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column field="attributes.maturity" headerText="Tenor" headerTextAlign="center" width="140" textAlign="right"></e-column>
        </e-columns>
      </ejs-grid>
      <div class="e-card-actions"></div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                field="initialLimit"
                placeholder="Sub Total Initial LImit (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="init"
                format="IDR 0,"
                min="0"
                readonly="true"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row">
              <div class="col-5">Sub Total Initial LImit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ init | number }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="change"
                format="IDR 0,"
                min="0"
                readonly="true"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Changes (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ change | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="SubTotal O/S (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="os"
                format="IDR 0,"
                min="0"
                readonly="true"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">SubTotal O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ os | number }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Plafond  (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalcredit"
                format="IDR 0,"
                min="0"
                readonly="true"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ totalcredit | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <!-- <button (click)="print()">Print</button> -->
        <!-- <div class="col-6">
                <div class="form-group">
                  <ejs-numerictextbox
                    placeholder="Sub Total Available Limit"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    [value]="available"
                    format="IDR 0,"
                    min="0"
                    readonly="true"
                  ></ejs-numerictextbox>
                </div>
              </div> -->
      </div>
    </div>
  </div>
</div>

<div class="card-layout row mb-3">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">EXPOSURE GROUP</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>
    <div class="e-card-content">
      <ejs-grid allowTextWrap="true" #grid [dataSource]="_creditProposal.products" [allowPaging]="true" [pageSettings]="" gridLines="both">
        <e-columns>
          <!-- <e-column field="indexNum" headerText="No" textAlign="center"></e-column> -->
          <e-column field="namegroup" headerText="Group name" headerTextAlign="center" width="140" textAlign="left"> </e-column>
          <e-column field="facilityType " headerText="Facility Type" headerTextAlign="center" width="140" textAlign="left"></e-column>
          <!-- <e-column
                  field="cifnumber"
                  headerText="Avilable Limit "
                  headerTextAlign="center"
                  width="140"
                  textAlign="right"
                  [format]="numericFormatOptions"
                ></e-column> -->
          <e-column
            field="InitialLimit2"
            headerText="Initial Limit"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="Change"
            headerText="Changes"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          >
          </e-column>
          <e-column
            field="OS"
            headerText="O/S"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="credit"
            headerText="Total Plafond"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="interet"
            headerText="Interest Rate"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="Providion"
            headerText="Provision"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column
            field="admin"
            headerText="Admin Fee"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          >
          </e-column>
          <e-column
            field="first"
            headerText="Firstt Disbursement Date"
            headerTextAlign="center"
            width="140"
            textAlign="right"
            [format]="numericFormatOptions"
          ></e-column>
          <e-column field="Maturity" headerText="Tenor" headerTextAlign="center" width="140" textAlign="left"> </e-column>
        </e-columns>
      </ejs-grid>
      <div class="e-card-actions"></div>

      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Initial LImit (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]=""
                format="IDR 0,"
                min="0"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Initial LImit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]=""
                format="IDR 0,"
                min="0 "
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Changes (IDR))</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="SubTotal O/S (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]=""
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">SubTotal O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' | number }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Plafond (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalcredit"
                format="IDR 0,"
                min="0 "
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ totalcredit | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-6">
                <div class="form-group">
                  <ejs-numerictextbox
                    placeholder="Sub Total Avilable Limit"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    [value]=""
                    format="IDR 0,"
                    min="0"
                  ></ejs-numerictextbox>
                </div>
              </div> -->
      </div>
    </div>
  </div>
</div>

<div class="card-layout row mb-5">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">TOTAL EXPOSURE</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>
    <div class="e-card-content">
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Debitur Cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Debitur Cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' | number }}</div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Exposure Initial Limit (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="init"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Exposure Initial Limit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ init | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Debitur Non cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Debitur Non cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' | number }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Exposure Changes (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="change"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Exposure Changes (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ change | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Group Cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Group Cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' | number }}</div>
            </div>
          </section>
        </div>
        <div class="col -6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total exposure O/S (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="os"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total exposure O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ os | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Group cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Group cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Plafond (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalcredit"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ totalcredit | number }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Debtor"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Debtor</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Group"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                disabled
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Group</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ ccy }}.{{ '' }}</div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
