.mat-header-cell {
  min-height: auto !important;
  padding: 4px 36px 4px 0 !important;
  font-weight: 500;
}

mat-cell,
.mat-cell {
  min-height: auto !important;
  padding: 5px 28px 5px 0 !important;
}

.mat-column-no {
  text-align: right !important;
  width: 5% !important;
  padding-left: 2rem !important;
}
