<div class="card-layout row mb-3">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Exposure Debtor</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>

    <div style="margin: 1rem">
      <div class="table-responsive-material">
        <table mat-table [dataSource]="debtor" class="w-100">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="facilityType">
            <th mat-header-cell *matHeaderCellDef>Facility Type</th>
            <td mat-cell *matCellDef="let element">{{ getFacilityType(element) }}</td>
          </ng-container>
          <ng-container matColumnDef="availableLimit">
            <th mat-header-cell *matHeaderCellDef>Available Limit</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) + ' ' + element.availableLimit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="initialLimit">
            <th mat-header-cell *matHeaderCellDef>Initial Limit</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) + ' ' + (element.initialLimit | number) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="change">
            <th mat-header-cell *matHeaderCellDef>Changes</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) + ' ' + (element.changes | number) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="os">
            <th mat-header-cell *matHeaderCellDef>O/S</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) + ' ' + (element.outstanding | number) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="totalPlatfond">
            <th mat-header-cell *matHeaderCellDef>Total Platfond</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) }} {{ printElements(element.totalPlafond | number) }}
            </td>
            <th mat-header-cell *matHeaderCellDef>Total Plafond</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrencyType(element.currencyId) + ' ' + (element.totalPlafond | number) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="interet">
            <th mat-header-cell *matHeaderCellDef>Interest Rate</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.applicationType === 'Existing'">
                {{
                  element.intResetFrequency + ' ' + element.intResetPeriod + ' ' + element.rateTypeName + ' ' + element.currentInterestRate
                }}
              </div>
              <div *ngIf="element.applicationType !== 'Existing'">
                {{
                  element.rateTypeName +
                    ' ' +
                    element.intResetFrequency +
                    ' ' +
                    element.intResetPeriod +
                    ' ' +
                    getPricingRate(element.pricingRate)
                }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="provision">
            <th mat-header-cell *matHeaderCellDef>Provision</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrency1(element) + ' ' + (element.provisionFeeAmount | number) + ' ' + getCurrency2(element) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="adminFee">
            <th mat-header-cell *matHeaderCellDef>Admin Fee</th>
            <td mat-cell *matCellDef="let element">
              {{ getCurrency3(element) + ' ' + (element.adminFeeAmount | number) + ' ' + getCurrency4(element) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tenor">
            <th mat-header-cell *matHeaderCellDef>Tenor</th>
            <td mat-cell *matCellDef="let element">{{ element.tenor + ' ' + element.periodType }}</td>
          </ng-container>
          <ng-container matColumnDef="firstDisbursmentDate">
            <th mat-header-cell *matHeaderCellDef>First Disbursment Date</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.firstDisbursementDate === undefined">0</span>
              <span *ngIf="element.firstDisbursementDate !== undefined">{{ element.firstDisbursementDate?.slice(0, 10) }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="maturityDate">
            <th mat-header-cell *matHeaderCellDef>Maturity Date</th>
            <td mat-cell *matCellDef="let element">{{ element.maturityDate | date: 'yyyy/MM/dd' }}</td>
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayColumn.length">No records found.</td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumn"></tr>
        </table>

        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="e-card-actions"></div>
      <div style="margin-top: 13px" class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                field="initialLimit"
                placeholder="Sub Total Initial LImit (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSuminit()"
                format="IDR 0,"
                min="0"
                readonly="true"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row">
              <div class="col-5">Sub Total Initial LImit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSuminit() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                *ngIf="fungsiSumchange().toString().split('')[0] === '-'"
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumchange().toString().replace('-', '')"
                format="IDR -0,"
                readonly="true"
                readonly
              ></ejs-numerictextbox>

              <ejs-numerictextbox
                *ngIf="fungsiSumchange().toString().split('')[0] !== '-'"
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumchange().toString().replace('-', '')"
                format="IDR 0,"
                readonly="true"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Changes (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumchange() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="SubTotal O/S (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumOS()"
                format="IDR 0,"
                min="0"
                readonly="true"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">SubTotal O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumOS() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Plafond  (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumcredit()"
                format="IDR 0,"
                min="0"
                readonly="true"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumcredit() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-layout row mb-3">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Exposure Group</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>
    <div style="margin: 1rem">
      <div class="table-responsive-material">
        <table mat-table [dataSource]="busines" class="w-100">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
          </ng-container>
          <ng-container matColumnDef="namegroup">
            <th mat-header-cell *matHeaderCellDef class="text-center">Name Customer</th>
            <td mat-cell *matCellDef="let element">{{ element.GroupName }}</td>
          </ng-container>
          <ng-container matColumnDef="facilityType">
            <th mat-header-cell *matHeaderCellDef>Facility Type</th>
            <td mat-cell *matCellDef="let element">{{ element.FacilityType }}</td>
          </ng-container>
          <ng-container matColumnDef="initialLimit">
            <th mat-header-cell *matHeaderCellDef>Initial Limit</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.CCY === 'IDR'">{{ element.InitialLimit | currency: 'IDR' }}</span>
              <span *ngIf="element.CCY === 'USD'">{{ element.InitialLimit | currency: 'USD' }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="change">
            <th mat-header-cell *matHeaderCellDef>Changes</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.CCY === 'IDR'">{{ element.Changes | currency: 'IDR' }}</span>
              <span *ngIf="element.CCY === 'USD'">{{ element.Changes | currency: 'USD' }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="os">
            <th mat-header-cell *matHeaderCellDef>O/S</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.CCY === 'IDR'">{{ element.OS | currency: 'IDR' }}</span>
              <span *ngIf="element.CCY === 'USD'">{{ element.OS | currency: 'USD' }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="totalPlatfond">
            <th mat-header-cell *matHeaderCellDef>Total Platfond</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.CCY === 'IDR'">{{ element.TotalPlafond | currency: 'IDR' }}</span>
              <span *ngIf="element.CCY === 'USD'">{{ element.TotalPlafond | currency: 'USD' }}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="interet">
            <th mat-header-cell *matHeaderCellDef>Interest Rate</th>
            <td mat-cell *matCellDef="let element">
              {{ element.InterestRate }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firstDisbursmentDate">
            <th mat-header-cell *matHeaderCellDef>First Disbursment Date</th>
            <td mat-cell *matCellDef="let element">{{ element.FirstDisbursementDate }}</td>
          </ng-container>
          <ng-container matColumnDef="tenor">
            <th mat-header-cell *matHeaderCellDef>Maturity Date</th>
            <td mat-cell *matCellDef="let element">{{ element.MaturityDate | date: 'yyyy/MM/dd' }}</td>
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayColumns.length">No records found.</td>
          </tr>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 12, 18]" showFirstLastButtons></mat-paginator>
      </div>
      <div style="margin-top: 12px" class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Initial LImit (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSuminitGroub()"
                format="IDR 0,"
                min="0"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Initial LImit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSuminitGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumchangeGroub()"
                format="IDR 0,"
                min="0 "
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Changes (IDR))</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumchangeGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="SubTotal O/S (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumOSGroub()"
                format="IDR 0,"
                min="0"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">SubTotal O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumOSGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Sub Total Plafond (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumcreditGroub()"
                format="IDR 0,"
                min="0 "
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Sub Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumcreditGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-layout row mb-5">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Total Exposure</div>
        <div class="e-card-sub-title"></div>
      </div>
    </div>
    <div style="margin: 1rem">
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Debitur Cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalDebiturCashLoan"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Debitur Cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ totalDebiturCashLoan | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Exposure Initial Limit (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSuminit() + fungsiSuminitGroub()"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Exposure Initial Limit (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSuminit() + fungsiSuminitGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Debitur Non cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalDebiturNonCashLoan"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Debitur Non cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ totalDebiturNonCashLoan | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                *ngIf="
                  minusChange(fungsiSumchange() + fungsiSumchangeGroub())
                    .toString()
                    .split('')[0] === '-'
                "
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="
                  minusChange(fungsiSumchange() + fungsiSumchangeGroub())
                    .toString()
                    .replace('-', '')
                "
                format="IDR -0,"
                readonly="true"
                readonly
              ></ejs-numerictextbox>

              <ejs-numerictextbox
                *ngIf="
                  minusChange(fungsiSumchange() + fungsiSumchangeGroub())
                    .toString()
                    .split('')[0] !== '-'
                "
                placeholder="Sub Total Changes (IDR)"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="
                  minusChange(fungsiSumchange() + fungsiSumchangeGroub())
                    .toString()
                    .replace('-', '')
                "
                format="IDR 0,"
                readonly="true"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
        </div>
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Debtor"
                format="IDR 0,"
                min="0"
                [value]="grandTotalDebitor"
                cssClass="e-outline"
                floatLabelType="Auto"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Debtor</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ grandTotalDebitor | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>

        <div class="col -6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total exposure O/S (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="fungsiSumOS() + fungsiSumOSGroub()"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total exposure O/S (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ fungsiSumOS() + fungsiSumOSGroub() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Group Cash Loan"
                format="IDR 0,"
                min="0"
                [value]="totalDebiturCashLoanGroup"
                cssClass="e-outline"
                floatLabelType="Auto"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Group Cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ totalDebiturCashLoanGroup | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>

        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Plafond (IDR)"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="grandTotalPlafond()"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Plafond (IDR)</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ grandTotalPlafond() | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Total Group Non cash Loan"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="totalDebiturNonCashLoanGroup"
                readonly
              >
              </ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Total Group Non cash Loan</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ totalDebiturNonCashLoanGroup | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <div class="form-group">
              <ejs-numerictextbox
                placeholder="Grand Total Group"
                format="IDR 0,"
                min="0"
                cssClass="e-outline"
                floatLabelType="Auto"
                [value]="grandTotalGroup"
                readonly
              ></ejs-numerictextbox>
            </div>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <div class="fontsebled row py-3">
              <div class="col-5">Grand Total Group</div>
              <div class="col-md-auto">:</div>
              <div class="col col-lg-2">{{ grandTotalGroup | currency: 'IDR':'symbol' }}</div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
