table#tblProforma {
  border: 1px solid #e4e8e7;
  tr {
    border: 1px solid #e4e8e7;
  }
  td {
    border: 1px solid #e4e8e7;
  }
}

table#tblAnalysis {
  border: 1px solid #e4e8e7;
  tr {
    border: 1px solid #e4e8e7;
  }
  td {
    border: 1px solid #e4e8e7;
  }
}
