<h2 mat-dialog-title>ADD / VIEW PENGURUS DAN PEMEGANG SAHAM</h2>
<mat-dialog-content>
  <div class="row">
    <!-- LEFT SIDE -->
    <div class="col-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Bank</mat-label>
          <input matInput type="text" [(ngModel)]="partySlik.bank" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Limit</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.limit" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Rate</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.rate" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Period</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.period" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Collateral Type</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.collateralType" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Collateral IDR Mio</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.collateralIdrMio" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tenor</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.tenor" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Kol Terburuk</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.worstCollectability" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Cara Restrukturisasi</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.restructureFrequency" [disabled]="view" />
        </mat-form-field>
      </div>
    </div>
    <!-- RIGHT SIDE -->
    <div class="col-6">
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>O/S</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.attributes['os']" [disabled]="view" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Facility Type</mat-label>
          <mat-select [(ngModel)]="partySlik.attributes['facilityType']" name="facilityType" [disabled]="view">
            <mat-option value="">- Please Select -</mat-option>
            <mat-option *ngFor="let item of facility_types | keyvalue" [value]="item.key">
              {{ item.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Kol Terakhir</mat-label>
          <input matInput type="number" [(ngModel)]="partySlik.attributes['lastCollectablility']" [disabled]="view" />
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button *ngIf="!view" (click)="save()">Save</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
