<mat-dialog-content>
  <div class="row justify-content-between">
    <div class="e-card">
      <div class="e-sample-resize-container">
        <div class="e-card-content">
          <div class="row">
            <div class="col-md-6" style="padding: 10px">
              <div class="form-group">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Management Branch</mat-label>
                    <mat-select [(ngModel)]="collateralProperty.attributes.branch" disabled>
                      <mat-option value="">Please Select</mat-option>
                      <mat-option *ngFor="let item of branchesNames" [value]="item.id"> {{ item.name }} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Jenis jaminan</mat-label>
                  <mat-select *ngIf="collateral.collateralTypeId !== 'OTHER'" [(ngModel)]="collateral.attributes.collateralCode" disabled>
                    <mat-option value="">- Please Select -</mat-option>
                    <mat-option *ngFor="let item of collateralCode" [value]="item.id">
                      {{ item.description }}
                    </mat-option>
                  </mat-select>
                  <mat-select
                    *ngIf="collateral.collateralTypeId === 'OTHER'"
                    [(ngModel)]="collateralProperty.attributes.collateralDetailType"
                    disabled
                  >
                    <mat-option value="">Please Select</mat-option>
                    <mat-option *ngFor="let item of collateralDetailType | keyvalue" [value]="item.key"> {{ item.value }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Collateral Value</mat-label>
                <input matInput type="text" [value]="getCurrency() + ' ' + (countMVOriginal() | number)" disabled />
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Liquidation Value</mat-label>
                <input currencyMask matInput type="text" [(ngModel)]="collateralProperty.liquidationValue" [options]="logoCcy" disabled />
              </mat-form-field>

              <div class="form-group">
                <ejs-textbox
                  disabled
                  placeholder="NO Ducument Jaminan"
                  cssClass="e-outline"
                  floatLabelType="Always"
                  [(ngModel)]="noDocumentJaminan"
                >
                </ejs-textbox>
              </div>

              <div class="form-group">
                <ejs-textbox
                  disabled
                  [(ngModel)]="accountCustomer"
                  placeholder="Account Customer"
                  cssClass="e-outline"
                  floatLabelType="Always"
                ></ejs-textbox>
              </div>

              <div class="form-group">
                <ejs-textbox
                  disabled
                  [(ngModel)]="lembagaPenjamin"
                  placeholder="Status Lembaga Penjamin"
                  cssClass="e-outline"
                  floatLabelType="Always"
                ></ejs-textbox>
              </div>

              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline" *ngIf="collateral.collateralTypeId === 'LETTER_OF_GUARANTY'">
                  <mat-label>Sifat Jaminan</mat-label>
                  <input matInput type="text" [(ngModel)]="collateralProperty.attributes.charCollateral" disabled />
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline" *ngIf="collateral.collateralTypeId !== 'LETTER_OF_GUARANTY'">
                  <mat-label>Sifat Jaminan</mat-label>
                  <input matInput type="text" [(ngModel)]="empty.sifatJaminan" disabled />
                </mat-form-field>
              </div>

              <div class="form-group">
                <ejs-textbox
                  placeholder="Periode Jaminan"
                  cssClass="e-outline"
                  floatLabelType="Always"
                  [(ngModel)]="empty.periodeJaminan"
                  disabled
                >
                </ejs-textbox>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Binding Type</mat-label>
                  <mat-select name="bindingType" [(ngModel)]="collateral.collBindingType" disabled>
                    <mat-option value="">- Please Select -</mat-option>
                    <mat-option *ngFor="let item of bindingTypes | keyvalue" [value]="item.key">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group">
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="binding.bindingValue"
                    placeholder="Binding Value"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  ></ejs-textbox>
                </section>
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="binding.bindingValue"
                    placeholder="Binding Value"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    disabled
                  ></ejs-textbox>
                </section>
              </div>

              <div class="form-group">
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="empty.bunga"
                    placeholder="Bunga"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  >
                  </ejs-textbox>
                </section>
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="empty.bunga"
                    placeholder="Bunga"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    disabled
                  >
                  </ejs-textbox>
                </section>
              </div>
              <div class="form-group">
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="empty.kondisi"
                    placeholder="Kondisi"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                  >
                  </ejs-textbox>
                </section>
                <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                  <ejs-textbox
                    [disabled]="isViewMode === true"
                    [(ngModel)]="empty.kondisi"
                    placeholder="Kondisi"
                    cssClass="e-outline"
                    floatLabelType="Auto"
                    disabled
                  >
                  </ejs-textbox>
                </section>
              </div>

              <div class="form-group">
                <mat-form-field class="w-200" appearance="outline">
                  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
                    <mat-label>Tanggal Verifikasi</mat-label>
                    <input
                      [matDatepicker]="bindingDate"
                      matInput
                      type="text"
                      [(ngModel)]="collateral.bindingDate"
                      [disabled]="isViewMode === true"
                    />
                    <mat-datepicker-toggle matSuffix [for]="bindingDate" [disabled]="isViewMode === true"></mat-datepicker-toggle>
                    <mat-datepicker #bindingDate [disabled]="isViewMode === true"></mat-datepicker>
                  </section>
                  <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
                    <input
                      disabled
                      [matDatepicker]="bindingDate"
                      [formControl]="date"
                      matInput
                      type="text"
                      [(ngModel)]="collateral.bindingDate"
                    />
                    <mat-datepicker-toggle matSuffix disabled [for]="bindingDate"></mat-datepicker-toggle>
                    <mat-datepicker disabled #bindingDate></mat-datepicker>
                  </section>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select name="status" [(ngModel)]="collateral.statusId" disabled>
                    <mat-option value="">- Please Select -</mat-option>
                    <mat-option *ngFor="let item of collateralStatus | keyvalue" [value]="item.key">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Cross Collateral Status</mat-label>
                  <mat-select name="status" [(ngModel)]="collateral.paripasuStatus" disabled>
                    <mat-option value="">- Please Select -</mat-option>
                    <mat-option *ngFor="let item of paripasuStatus | keyvalue" [value]="item.key">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Collateral Owner</mat-label>
                  <input disabled matInput type="text" [(ngModel)]="collateral.collateralOwner" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div>
          <mat-label>Mapping to Facility</mat-label>
          <jhi-mapping-facility-history
            [isUseHistory]="true"
            [collateralData]="collateral"
            [isOnCompare]="isOnCompare"
            [isCompareDar]="isCompareDar"
            [creditProposal]="creditProposal"
            (outputCreditProposalMappingData)="getCreditProposalMappingData($event)"
          >
          </jhi-mapping-facility-history>
        </div>
        <jhi-paripasu-collateral [creditProposal]="creditProposal"></jhi-paripasu-collateral>
        <mat-dialog-actions align="center" class="align-center">
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
            <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
            <button mat-button (click)="save()">Save</button>
          </section>
          <section *jhiMatrixDir="creditProposal.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
            <button mat-button mat-dialog-close (click)="cancel()">Close</button>
          </section>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
</mat-dialog-content>
