.grid-index-left {
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif !important;
}
.grid-index-right {
  justify-content: flex-end;
  text-align: right;
  font-family: 'Poppins', sans-serif !important;
}

.grid-index-center {
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black;
  font-family: 'Poppins', sans-serif !important;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}

.button-styling {
  background-color: rgba(49, 158, 152, 1);
  color: #ffffff;
}
.mat-column {
  font-weight: 100 !important;
}
.mat-column-no {
  width: 5%;
  justify-content: flex-end;
  padding-right: 30px;
}
.mat-header-cell:first-child {
  width: 5%;
  justify-content: flex-end;
  border-top-left-radius: 15px;
}
.mat-header-cell:last-child {
  width: 10%;
  align-items: flex-start;
  border-top-right-radius: 15px;
}

.mat-header-cell {
  font-weight: 100 !important;
  font-size: 12px;
}
