<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Ref No</mat-label>
    <input matInput type="text" [(ngModel)]="collateral.attributes.refNo" disabled />
    <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Type</mat-label>
    <mat-select
      (selectionChange)="changeCollateralType($event)"
      [(ngModel)]="collateral.collateralTypeId"
      name="facilityType"
      [disabled]="disabledOpt"
    >
      <mat-option value="">- Please Select -</mat-option>
      <mat-option *ngFor="let item of collateralTypes" [value]="item.id">
        {{ item.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Code</mat-label>
    <mat-select
      name="collateralCode"
      (selectionChange)="changeCollateralCode($event)"
      [(ngModel)]="collateral.attributes.collateralCode"
      [disabled]="disabledOpt"
    >
      <mat-option value="">- Please Select -</mat-option>
      <mat-option *ngFor="let item of collateralCode" [value]="item.id">
        {{ item.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Propose Pricing</mat-label>
    <input matInput type="text" [(ngModel)]="collateral.attributes.collateralProposePricing" disabled />
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Binding Type</mat-label>
    <mat-select name="bindingType" [(ngModel)]="collateral.collBindingType" [disabled]="disabledOpt">
      <mat-option value="">- Please Select -</mat-option>
      <mat-option *ngFor="let item of bindingTypes | keyvalue" [value]="item.key">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Binding Date</mat-label>
    <input [matDatepicker]="bindingDate" matInput type="text" [(ngModel)]="collateral.bindingDate" disabled />
    <mat-datepicker-toggle matSuffix [for]="bindingDate"></mat-datepicker-toggle>
    <mat-datepicker #bindingDate disabled="false"></mat-datepicker>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Registration Date</mat-label>
    <input [matDatepicker]="registrationDate" matInput type="text" [(ngModel)]="collateral.registrationDate" disabled />
    <mat-datepicker-toggle matSuffix [for]="registrationDate" disabled="true"></mat-datepicker-toggle>
    <mat-datepicker #registrationDate disabled="false"></mat-datepicker>
    <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Contract Date</mat-label>
    <input [matDatepicker]="contractDate" matInput type="text" [(ngModel)]="collateral.contractDate" disabled />
    <mat-datepicker-toggle matSuffix [for]="contractDate" disabled="true"></mat-datepicker-toggle>
    <mat-datepicker #contractDate disabled="false"></mat-datepicker>
    <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Release Date</mat-label>
    <input [matDatepicker]="releaseDate" matInput type="text" [(ngModel)]="collateral.releaseDate" disabled />
    <mat-datepicker-toggle matSuffix [for]="releaseDate" disabled="true"></mat-datepicker-toggle>
    <mat-datepicker #releaseDate disabled="false"></mat-datepicker>
    <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Id</mat-label>
    <input matInput type="text" [(ngModel)]="collateral.collateralId" disabled />
    <mat-hint align="end">*) Disabled, Data From HOBIS</mat-hint>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Owner</mat-label>
    <input matInput type="text" [(ngModel)]="collateral.collateralOwner" />
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Facility Type</mat-label>
    <mat-select name="facilityType" [(ngModel)]="collateral.facilityType" [disabled]="disabledOpt">
      <mat-option value="">- Please Select -</mat-option>
      <mat-option *ngFor="let item of facilityTypes | keyvalue" [value]="item.key">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Collateral Grading</mat-label>
    <mat-select name="collateralGrading" [(ngModel)]="collateral.collateralGrading" [disabled]="disabledOpt">
      <mat-option value="">- Please Select -</mat-option>
      <mat-option *ngFor="let item of collateralGrading" [value]="item.id">
        {{ item.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
