.grid-index-left {
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif !important;
}
.grid-index-right {
  justify-content: flex-end;
  text-align: right;
  font-family: 'Poppins', sans-serif !important;
}

.grid-index-center {
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
}

.label-font-detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #008881;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black;
  font-family: 'Poppins', sans-serif !important;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
.rounding-table-left {
  border-top-left-radius: 15px;
}
.rounding-table-right {
  border-top-right-radius: 15px;
}

.button-styling {
  background-color: rgba(49, 158, 152, 1);
  color: #ffffff;
}
.mat-column {
  font-weight: 100 !important;
}
.mat-column-no {
  width: 5%;
  justify-content: flex-end;
  padding-right: 30px;
}
.mat-header-cell:first-child {
  width: 5%;
  justify-content: flex-end;
  border-top-left-radius: 15px;
}
.mat-header-cell:last-child {
  width: 10%;
  align-items: flex-start;
  border-top-right-radius: 15px;
}

.mat-header-cell {
  font-weight: 100 !important;
  font-size: 12px;
}

::ng-deep .custom-dialog-container-delete {
  .mat-dialog-container {
    background-image: url('../../../../content/images/dialog_background.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: -90px;
    background-size: cover;
    border-radius: 20px;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
}

::ng-deep .custom-dialog-container-cancel {
  .mat-dialog-container {
    background-image: url('../../../../content/images/dialog_background.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 0px;
    background-size: cover;
    border-radius: 20px;
  }
  .mat-button-focus-overlay {
    background-color: transparent !important;
  }
}

.confirm-button-yes {
  /* .mat-raised-button { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  /* } */
}

.confirm-button-no {
  /* .mat-raised-button { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(224, 223, 223, 1);
  font-weight: bold;
  /* } */
}
.confirm-button-no:hover {
  /* .mat-raised-button:hover { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: #f44336;
  color: #ffff;
  font-weight: bold;
  /* } */
}
.confirm-button-yes:hover {
  /* .mat-raised-button:hover { */
  padding: 3px 43px 3px 43px;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 1);
  color: #ffff;
  font-weight: bold;
  /* } */
}
