<mat-sidenav-container [hasBackdrop]="true" (backdropClick)="triggerToggle()">
  <div class="row remove-row-scroll">
    <div class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <ejs-breadcrumb cssClass="margin: 1rem;">
            <e-breadcrumb-items>
              <e-breadcrumb-item iconCss="e-icons e-home" url="/"></e-breadcrumb-item>
              <e-breadcrumb-item text="Offering Letter" url="/batch-apprisal"></e-breadcrumb-item>
            </e-breadcrumb-items>
          </ejs-breadcrumb>
          <div class="header-container">
            <div class="header-content">
              <img class="back-image" src="../../../content/images/back-icon.svg" (click)="openCancelDialog()" />
              <span class="back-prefix" (click)="openCancelDialog()">Back | </span>
            </div>
            <p class="e-card-sub-title">Offering Letter</p>
          </div>
        </div>
      </div>
      <div style="margin: 1rem">
        <div class="mt-3">
          <button mat-raised-button color="primary" (click)="rebuildIndex()" class="btn-lg w-100" *jhiHasAnyAuthority="['ROLE_ADMIN']">
            REBUILD INDEX
          </button>
        </div>
        <!-- <mat-card class="mt-3">
        <mat-card-content>
          <div style="display: flex; justify-content: space-between">
            <div class="w-100">
              <mat-form-field appearance="outline" class="w-100 pr-1">
                <mat-select> -->
        <!-- [(ngModel)]="globalSearchValModel" -->
        <!-- (selectionChange)="onSelectTown($event)" -->
        <!-- <mat-option value="">Select data in here</mat-option> -->
        <!-- <mat-option *ngFor="let item of filterData" [value]="item.description">
                    {{ item.description }}
                  </mat-option> -->
        <!-- </mat-select>
              </mat-form-field>
            </div>
            <div style="width: 50px"></div>
            <div class="w-100">
              <mat-form-field appearance="outline" class="w-100 pl-1">
                <input matInput placeholder="Search in here..." type="text" [(ngModel)]="currentSearch" />
                <button matSuffix mat-icon-button aria-label="Clear"> -->
        <!-- (click)="doSearch($event)" -->
        <!-- <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card> -->
        <mat-card>
          <div class="table-responsive-material">
            <table mat-table [dataSource]="items" class="mat-table-expand" multiTemplateDataRows>
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let element; let i = dataIndex">
                  {{ i + 1 + paginator.pageIndex * paginator.pageSize }}.
                  <!-- + paginator.pageIndex * paginator.pageSize  -->
                </td>
              </ng-container>
              <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container> -->
              <ng-container matColumnDef="tanggal">
                <th mat-header-cell *matHeaderCellDef>Tanggal</th>
                <td mat-cell *matCellDef="let element">{{ element.requestDate | formatMediumDate }}</td>
              </ng-container>
              <ng-container matColumnDef="nomor">
                <th mat-header-cell *matHeaderCellDef>Nomor</th>
                <td mat-cell *matCellDef="let element">{{ element.requestNo }}</td>
              </ng-container>
              <ng-container matColumnDef="namaKjpp">
                <th mat-header-cell *matHeaderCellDef>Nama KJPP</th>
                <td mat-cell *matCellDef="let element">{{ element.surveyCompanyName }}</td>
              </ng-container>
              <ng-container matColumnDef="biaya">
                <th mat-header-cell *matHeaderCellDef>Biaya</th>
                <td mat-cell *matCellDef="let element">{{ element.cost | currency: 'IDR ' }}</td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                  <a
                    matTooltip="View"
                    href="javascript:void();"
                    [routerLink]="['/batch-apprisal/', element.id, 'viewOffering']"
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                  >
                    <mat-icon>remove_red_eye</mat-icon>
                  </a>

                  <a matTooltip="Download Offering Letter" href="javascript:void();" mat-icon-button (click)="downloadOffering(element.id)">
                    <mat-icon>download</mat-icon>
                  </a>

                  <a matTooltip="Download SPK" href="javascript:void();" mat-icon-button (click)="downloadSpk(element.id)">
                    <mat-icon>download</mat-icon>
                  </a>
                  <!-- <button mat-icon-button (click)="$event.stopPropagation(); showTimeLine(element)">
              <fa-icon [icon]="iconTimeline"></fa-icon>
            </button> -->
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumnsExpand.length">No records found.</td>
              </tr>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsExpand"></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: displayedColumnsExpand"
                [class.mat-expanded-row]="expandedElement === element"
                class="mat-element-row"
                (click)="expandedElement = expandedElement === element ? null : element"
              ></tr>
            </table>
          </div>
          <mat-card *ngIf="loading" id="material-loading-bar">
            <mat-progress-spinner color="warn" mode="indeterminate"> </mat-progress-spinner>
          </mat-card>
          <mat-paginator
            showFirstLastButtons
            ngClass="transparant"
            [length]="paginatorLength"
            [pageSize]="paginatorPageSize"
            [pageSizeOptions]="paginatorPageSizeOption"
            (page)="loadDataLazy($event)"
          >
          </mat-paginator>
        </mat-card>
      </div>
      <div class="e-card-actions">
        <div class="d-flex justify-content-center mb-3 mt-3">
          <button class="button-styling" mat-raised-button [routerLink]="['survey-request/new']">ADD NEW OFFERING LETTER</button>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav position="end" style="position: fixed !important; max-height: 20rem !important" #drawer class="example-sidenav" mode="over">
    <div class="header-sub-menu"><label style="margin-top: 1rem">Select your destination:</label></div>
    <ul class="side-menu list-styling">
      <li *ngFor="let item of subMenu">
        <!--SUBMENU DOESNT HAVE A CHILD-->
        <a
          *ngIf="!item.hasOwnProperty('child')"
          href="javascript:void(0)"
          class="text-capitalize"
          (click)="routeSubMenu(item); drawer.toggle(); triggerToggle()"
          >{{ item.label }}</a
        >
        <!--SUBMENU HAS A CHILD-->
        <span class="text-capitalize" *ngIf="item.hasOwnProperty('child')">{{ item.text }}</span>
        <ul *ngIf="item.hasOwnProperty('child')">
          <li *ngFor="let itemChild of item.child">
            <a href="javascript:void(0)" (click)="routeSubMenu(itemChild); drawer.toggle(); triggerToggle()" class="text-capitalize">{{
              itemChild.label
            }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>
<button
  matTooltip="Click this for show sub menu of Collateral Appraisal"
  [ngClass]="{ 'sidebar-state-true': isOpen === true, 'sidebar-state-false': isOpen === false }"
  class="btn-menu-floating button-float-color btn-float-styling"
  (click)="drawer.toggle(); triggerToggle()"
  matTooltipPosition="before"
>
  <mat-icon class="settings-icon rotating">settings</mat-icon>
</button>
