.box {
  border: 3px dotted #ccc;
  padding: 5px 10px;
  background: #efe;
}
.mat-button.mat-success,
.mat-stroked-button.mat-success {
  /* color: #44ae04; */
  color: #008881;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  /* background-color: #44ae04; */
  background-color: #008881;
}

.mat-icon-button.mat-success {
  /* color: #44ae04; */
  color: #008881;
}

.mat-raised-button.mat-success:disabled,
.mat-flat-button.mat-success:disabled,
.mat-fab.mat-success:disabled,
.mat-mini-fab.mat-success:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

.mat-button.mat-danger,
.mat-stroked-button.mat-danger {
  color: #ae0404;
}
.mat-button.mat-danger:hover,
.mat-stroked-button.mat-danger:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-danger,
.mat-flat-button.mat-danger,
.mat-fab.mat-danger,
.mat-mini-fab.mat-danger {
  color: #f0fff3;
  background-color: #ae0404;
}

.mat-icon-button.mat-danger {
  color: #ae0404;
}

.mat-raised-button.mat-danger:disabled,
.mat-flat-button.mat-danger:disabled,
.mat-fab.mat-danger:disabled,
.mat-mini-fab.mat-danger:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

.e-upload .e-upload-files .e-upload-file-list {
  display: hidden;
}

.e-upload .e-upload-files .e-upload-file-list {
  display: hidden;
}

.e-card {
  padding: 10px;
  margin-bottom: 1rem;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.e-card-sub-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  font-style: normal;
}

.e-card-content {
  border: 1px solid #008881;
  margin: 1rem;
}

.back-image {
  width: 35px;
  height: 35px;
  margin: 1rem;
  cursor: pointer;
}

.back-prefix {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgba(136, 136, 136);
  padding-top: 20px;
  cursor: pointer;
}

.header-container {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}

.header-content {
  display: flex;
}

.button-info {
  color: white;
  padding: 10px;
  background-color: #008881;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  border-radius: 6px;
}

.form-group {
  margin-top: 12px;
}

.row {
  --bs-gutter-x: none !important;
  --bs-gutter-y: none !important;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
@font-face {
  font-family: 'Poppins';
  src: local(''), url('../../../../../content/fonts/poppins/Poppins-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
