<div class="card-layout">
  <div class="e-card">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">COMPLIANCE RECOMMENDATION</div>
        <div class="e-card-sub-title fw-bold"></div>
        <ejs-grid [dataSource]="dataCompliance" allowTextWrap="true">
          <e-columns>
            <e-column field="No" headerText="No" textAlign="center" width="50"></e-column>
            <e-column field="regulation" headerText="Regulation" textAlign="left" headerTextAlign="left" width="200"> </e-column>
            <e-column field="criteria" headerText="Criteria Of Review" textAlign="left" headerTextAlign="left" width="350"> </e-column>
            <e-column headerText="Select" textAlign="left" headerTextAlign="center" width="200">
              <div class="select">
                <ng-template #template let-data>
                  <div class="d-flex justify-content-around">
                    <div class="mx">
                      <ejs-radiobutton
                        label="Yes"
                        value="Yes"
                        (change)="onSelect('Yes', data)"
                        [checked]="data.value === 'Yes'"
                        name="{{ data.No }}"
                        [disabled]="view"
                        [disabled]="disabledCompliance"
                      >
                      </ejs-radiobutton>
                    </div>
                    <div class="mx">
                      <ejs-radiobutton
                        label="No"
                        value="No"
                        (change)="onSelect('No', data)"
                        [checked]="data.value === 'No'"
                        name="{{ data.No }}"
                        [disabled]="view"
                        [disabled]="disabledCompliance"
                      >
                      </ejs-radiobutton>
                    </div>
                    <div class="mx">
                      <ejs-radiobutton
                        label="N/A"
                        value="N/A"
                        (change)="onSelect('N/A', data)"
                        [checked]="data.value === 'N/A'"
                        name="{{ data.No }}"
                        [disabled]="view"
                        [disabled]="disabledCompliance"
                      >
                      </ejs-radiobutton>
                    </div>
                  </div>
                </ng-template>
              </div>
            </e-column>
            <e-column headerText="Description" textAlign="center" headerTextAlign="center" width="200">
              <ng-template #template let-data>
                <ejs-textbox
                  [multiline]="true"
                  cssClass="e-outline"
                  (keyup)="onKeyUpEvent()"
                  [(ngModel)]="remarks[data.No - 1]"
                  [readonly]="view"
                  [readonly]="disabledCompliance"
                >
                </ejs-textbox>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>

        <div *ngIf="isShowOpinionFieldInput" class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">ANALYST RECOMMENDATION</div>
            <ejs-documenteditorcontainer
              #document_editor_container
              [enableToolbar]="true"
              [enableLocalPaste]="true"
              height="100vh"
              style="display: block"
              [spellcheck]="false"
              [enableSpellCheck]="false"
              (keyDown)="onKeyDown($event)"
              (created)="onCreate()"
            ></ejs-documenteditorcontainer>
          </div>
        </div>
        <div *ngIf="!isShowOpinionFieldInput" class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">ANALYST RECOMMENDATION</div>
            <ejs-documenteditorcontainer
              #document_editor_container
              [enableToolbar]="false"
              [enableLocalPaste]="true"
              height="100vh"
              style="display: block"
              (documentChange)="onDocumentChange()"
              [enableEditor]="false"
              [isReadOnly]="true"
            ></ejs-documenteditorcontainer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
