<div class="e-card mb-3">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">RM Info</div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RM Name</mat-label>
            <mat-select (selectionChange)="selectRM($event)" [(ngModel)]="rmPosition.id" disabled>
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of positionRM" [value]="item.id">
                {{ item.employeeFirstName }} {{ item.employeeLastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>RM Branchs</mat-label>
            <mat-select [(ngModel)]="rmBranch.id" disabled>
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of branchs" [value]="item.id">
                {{ item.organizationName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Regional</mat-label>
            <mat-select [(ngModel)]="rmRegional.id" disabled>
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of regionals" [value]="item.id">
                {{ item.organizationName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Segments</mat-label>
            <mat-select [(ngModel)]="rmSegment.id" disabled>
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let item of segments" [value]="item.id">
                {{ item.organizationName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="e-card mb-3">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Proposal/Appraisal Info</div>
    </div>
  </div>
  <div class="e-card-content">
    <section class="mt-3">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Proposal/Appraisal Branchs</mat-label>
        <mat-select [(ngModel)]="surveyAppraisal.internalId" disabled>
          <mat-option value="">Please Select</mat-option>
          <mat-option *ngFor="let item of branchs" [value]="item.id">
            {{ item.organizationName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="mt-3">
      <ejs-textbox
        cssClass="e-outline"
        placeholder="No Request Appraisal"
        floatLabelType="Always"
        [(ngModel)]="surveyAppraisal.appraisalNumber"
        disabled
      ></ejs-textbox>
    </section>
    <section class="mt-3">
      <ejs-textbox
        cssClass="e-outline"
        placeholder="Tgl Request"
        floatLabelType="Always"
        value="{{ surveyAppraisal.createdDate | date: 'yyyy/dd/MM' }}"
        disabled
      ></ejs-textbox>
    </section>
    <section class="mt-3">
      <ejs-textbox
        cssClass="e-outline"
        placeholder="Approval Date"
        floatLabelType="Always"
        value="{{ approvalDate | date: 'yyyy/dd/MM' }}"
        disabled
      ></ejs-textbox>
    </section>
    <section class="mt-3">
      <ejs-textbox
        cssClass="e-outline"
        placeholder="Visited Date"
        floatLabelType="Always"
        value="{{ visitDate | date: 'yyyy/dd/MM' }}"
        disabled
      ></ejs-textbox>
    </section>
    <section class="mt-3" *ngIf="surveyAppraisal.apprOfficer === 'Internal'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Appraisal Validity Period</mat-label>
        <input
          matInput
          type="text"
          [matDatepicker]="dp"
          [formControl]="validityDate"
          [(ngModel)]="surveyAppraisal.thruDate"
          [disabled]="appraisalValidityPeriod"
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp [disabled]="appraisalValidityPeriod"></mat-datepicker>
      </mat-form-field>
    </section>
    <section class="mt-3" *ngIf="surveyAppraisal.apprOfficer === 'External'">
      <ejs-textbox
        cssClass="e-outline"
        placeholder="Appraisal Validity Period"
        floatLabelType="Always"
        value="9999/12/31"
        disabled
      ></ejs-textbox>
    </section>
    <section class="mt-3">Jenis Permohonan</section>
    <section class="mt-2">
      <ejs-checkbox
        label="Renewal"
        value="renewal"
        [(ngModel)]="surveyAppraisal.jpRenewal"
        [disabled]="!isEnableKhususPerpanjanganSub"
        (change)="setRenewal($event)"
      ></ejs-checkbox>
      <ejs-checkbox
        class="ml-2"
        label="New"
        value="new"
        [(ngModel)]="surveyAppraisal.jpNew"
        [disabled]="!isEnableKhususPerpanjanganSub"
        (change)="setNew($event)"
      ></ejs-checkbox>
      <ejs-checkbox
        class="ml-2"
        label="Additional"
        value="additional"
        [(ngModel)]="surveyAppraisal.jpAdditional"
        [disabled]="!isEnableKhususPerpanjanganSub"
        (change)="setAdditional($event)"
      ></ejs-checkbox>
      <ejs-checkbox
        class="ml-2"
        label="Progress"
        value="progress"
        [(ngModel)]="surveyAppraisal.jpProgress"
        [disabled]="!isEnableKhususPerpanjanganSub"
        (change)="setProgress($event)"
      ></ejs-checkbox>
      <ejs-checkbox
        class="ml-2"
        label="Reapraisal"
        value="reappraisal"
        [(ngModel)]="surveyAppraisal.jpReappraisal"
        [disabled]="!isEnableKhususPerpanjanganSub"
      >
      </ejs-checkbox>
      <ejs-checkbox
        class="ml-2"
        label="Other"
        value="other"
        [(ngModel)]="surveyAppraisal.jpOther"
        [disabled]="!isEnableKhususPerpanjanganSub"
        (change)="setOther($event)"
      ></ejs-checkbox>
    </section>
    <section class="mt-3">Jenis Object</section>
    <section class="mt-2">
      <ejs-radiobutton
        label="Object Lama"
        value="object_lama"
        [(ngModel)]="surveyAppraisal.attributes['jenisObject']"
        [disabled]="!isEnableKhususPerpanjanganSub"
      ></ejs-radiobutton>
      <ejs-radiobutton
        label="Object Baru"
        value="object_baru"
        [(ngModel)]="surveyAppraisal.attributes['jenisObject']"
        [disabled]="!isEnableKhususPerpanjanganSub"
      ></ejs-radiobutton>
    </section>
  </div>
</div>

<div class="e-card mb-3">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Khusus Perpanjangan</div>
      <div class="e-card-sub-title"></div>
    </div>
  </div>
  <div class="e-card-content">
    <section class="mt-3">
      <ejs-numerictextbox
        cssClass="e-outline"
        placeholder="Total Plafond"
        floatLabelType="Auto"
        [(ngModel)]="surveyAppraisal.totalPlafond"
        format="IDR 0,"
        min="0"
        [disabled]="!isEnablePlafond"
      >
      </ejs-numerictextbox>
    </section>
    <section class="mt-3">
      <ejs-datepicker
        cssClass="e-outline"
        placeholder="Tanggal Jatuh Tempo"
        floatLabelType="Auto"
        [(ngModel)]="surveyAppraisal.tglJatuhTempo"
        [disabled]="!isEnablePlafond"
        format="yyyy/dd/MM"
      ></ejs-datepicker>
    </section>
  </div>
</div>

<div class="e-card">
  <div class="e-card-header mb-1">
    <div class="e-card-header-caption">
      <div class="e-card-header-title">Tipe Officer Appraisal</div>
    </div>
  </div>
  <div class="e-card-content">
    <section class="mt-3">Assign To:</section>
    <section class="mt-2">
      <ejs-radiobutton label="External" value="External" [(ngModel)]="surveyAppraisal.apprOfficer" disabled="true"> </ejs-radiobutton>
      <ejs-radiobutton label="Internal" value="Internal" [(ngModel)]="surveyAppraisal.apprOfficer" disabled="true"> </ejs-radiobutton>
    </section>

    <!-- RM LOGIN -->
    <!-- Internal -->
    <section *ngIf="isRoleRM === true" class="mt-3">
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'Internal'">
        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            (change)="selectWilayahKotaInternal($event)"
            [dataSource]="cities"
            [fields]="wilayahKotaFields"
            [(ngModel)]="surveyAppraisal.surveyorArea"
            [(value)]="wilayahKotaInternalValue"
            cssClass="e-outline"
            placeholder="Wilayah/kota"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            [dataSource]="officer"
            [fields]="officerAppraisalFields"
            [(value)]="tempSurveyor"
            cssClass="e-outline"
            placeholder="Officer Appraisal"
            (change)="selectSurveyor($event)"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
      </section>
    </section>

    <!-- Eksternal -->
    <section *ngIf="isRoleRM === true" class="mt-3">
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'External'">
        <section
          *ngIf="
            collateralAppraisal.statusId === 'ASSIGNMENT' ||
            collateralAppraisal.statusId === 'DRAFT' ||
            collateralAppraisal.statusId === 'RETURN_TO_RM' ||
            collateralAppraisal.statusId === 'RETURN_TO_ADMIN'
          "
        >
          <div class="py-2">
            <ejs-textbox
              placeholder="KJPP / Independent Appraisal"
              cssClass="e-outline"
              floatLabelType="Always"
              [value]="kjppValue"
              disabled
              required
            >
            </ejs-textbox>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="cities"
              [fields]="wilayahKotaFields"
              placeholder="Wilayah / Kota"
              [(value)]="wilayahKotaExternalValue"
              (change)="selectWilayahKota($event)"
              [hidden]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="teamReviewer"
              [fields]="teamReviewerFields"
              placeholder="Team Reviewer"
              [(value)]="surveyAppraisal.teamLeadId"
              (change)="selectTeamReviewer($event)"
              [hidden]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
        </section>

        <section
          *ngIf="
            collateralAppraisal.statusId === 'APPROVED' ||
            collateralAppraisal.statusId === 'ASSIGNED' ||
            collateralAppraisal.statusId === 'VISITED' ||
            collateralAppraisal.statusId === 'APPEAL' ||
            collateralAppraisal.statusId === 'APPROVE' ||
            collateralAppraisal.statusId === 'COMPLETE' ||
            collateralAppraisal.statusId === 'APPROVAL_DH' ||
            collateralAppraisal.statusId === 'APPROVAL_TL' ||
            collateralAppraisal.statusId === 'APPROVAL_UH' ||
            collateralAppraisal.statusId === 'APPROVAL_DEPT_HEAD'
          "
        >
          <div class="py-2">
            <ejs-textbox
              placeholder="KJPP / Independent Appraisal"
              cssClass="e-outline"
              floatLabelType="Always"
              [value]="kjppValue"
              disabled
              required
            >
            </ejs-textbox>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="cities"
              [fields]="wilayahKotaFields"
              placeholder="Wilayah / Kota"
              [(value)]="wilayahKotaExternalValue"
              (change)="selectWilayahKota($event)"
              [readonly]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="teamReviewer"
              [fields]="teamReviewerFields"
              placeholder="Team Reviewer"
              [(value)]="surveyAppraisal.teamLeadId"
              (change)="selectTeamReviewer($event)"
              [readonly]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
        </section>
      </section>
    </section>

    <!-- ADMIN APPRAISAL -->
    <!-- INTERNAL -->
    <section *ngIf="isRoleAA === true" class="mt-3">
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'Internal'">
        <section *ngIf="collateralAppraisal.statusId === 'ASSIGNMENT' || collateralAppraisal.statusId === 'RETURN_TO_ADMIN'">
          <div class="form-group">
            <ejs-dropdownlist
              #ddPropoertyUsage
              floatLabelType="Auto"
              (change)="selectWilayahKotaInternal($event)"
              [dataSource]="cities"
              [fields]="wilayahKotaFields"
              [(ngModel)]="surveyAppraisal.surveyorArea"
              [(value)]="wilayahKotaInternalValue"
              cssClass="e-outline"
              placeholder="Wilayah/kota"
              popupHeight="220px"
              [enable]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
          <div class="form-group">
            <ejs-dropdownlist
              #ddPropoertyUsage
              floatLabelType="Auto"
              [dataSource]="officer"
              [fields]="officerAppraisalFields"
              [(ngModel)]="surveyAppraisal.surveyorPositionId"
              [(value)]="tempSurveyor"
              cssClass="e-outline"
              placeholder="Officer Appraisal"
              (change)="selectSurveyor($event)"
              popupHeight="220px"
              [enable]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
        </section>

        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            (change)="selectWilayahKotaInternal($event)"
            [dataSource]="cities"
            [fields]="wilayahKotaFields"
            [(ngModel)]="surveyAppraisal.surveyorArea"
            [(value)]="wilayahKotaInternalValue"
            cssClass="e-outline"
            placeholder="Wilayah/kota"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            [dataSource]="officer"
            [fields]="officerAppraisalFields"
            [(value)]="tempSurveyor"
            (change)="selectSurveyor($event)"
            cssClass="e-outline"
            placeholder="Officer Appraisal"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
      </section>
    </section>

    <!-- Eksternal -->
    <section *ngIf="isRoleAA === true" class="mt-3">
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'External'">
        <section
          *ngIf="
            collateralAppraisal.statusId === 'APPROVED' ||
            collateralAppraisal.statusId === 'APPEAL' ||
            collateralAppraisal.statusId === 'APPROVAL' ||
            collateralAppraisal.statusId === 'COMPLETE' ||
            collateralAppraisal.statusId === 'APPROVAL_DH' ||
            collateralAppraisal.statusId === 'APPROVAL_TL' ||
            collateralAppraisal.statusId === 'APPROVAL_UH' ||
            collateralAppraisal.statusId === 'APPROVAL_DEPT_HEAD'
          "
        >
          <div class="py-2">
            <ejs-textbox
              placeholder="KJPP / Independent Appraisal"
              cssClass="e-outline"
              floatLabelType="Always"
              [value]="kjppValue"
              disabled
              required
            >
            </ejs-textbox>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="cities"
              [fields]="wilayahKotaFields"
              placeholder="Wilayah / Kota"
              [(value)]="wilayahKotaExternalValue"
              (change)="selectWilayahKota($event)"
              [readonly]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="teamReviewer"
              [fields]="teamReviewerFields"
              placeholder="Team Reviewer"
              [(value)]="surveyAppraisal.teamLeadId"
              (change)="selectTeamReviewer($event)"
              [readonly]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
        </section>

        <section
          *ngIf="
            collateralAppraisal.statusId === 'ASSIGNED' ||
            collateralAppraisal.statusId === 'ASSIGNMENT' ||
            collateralAppraisal.statusId === 'RETURN_TO_ADMIN'
          "
        >
          <div class="py-2">
            <ejs-textbox
              placeholder="KJPP / Independent Appraisal"
              cssClass="e-outline"
              floatLabelType="Always"
              [value]="kjppValue"
              disabled
              required
            >
            </ejs-textbox>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="cities"
              [fields]="wilayahKotaFields"
              placeholder="Wilayah / Kota"
              [(value)]="wilayahKotaExternalValue"
              (change)="selectWilayahKota($event)"
              [enable]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
          <div class="py-2">
            <ejs-dropdownlist
              cssClass="e-outline"
              floatLabelType="Always"
              [dataSource]="teamReviewer"
              [fields]="teamReviewerFields"
              placeholder="Team Reviewer"
              [(value)]="surveyAppraisal.teamLeadId"
              (change)="selectTeamReviewer($event)"
              [enable]="true"
              required
            >
            </ejs-dropdownlist>
          </div>
        </section>
      </section>
    </section>

    <!-- SURVEYOR -->
    <!-- INTERNAL -->
    <section *ngIf="isRoleSU === true" class="mt-3">
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'Internal'">
        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            (change)="selectWilayahKotaInternal($event)"
            [dataSource]="cities"
            [fields]="wilayahKotaFields"
            [(ngModel)]="surveyAppraisal.surveyorArea"
            [(value)]="wilayahKotaInternalValue"
            cssClass="e-outline"
            placeholder="Wilayah/kota"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
        <div class="form-group">
          <ejs-dropdownlist
            #ddPropoertyUsage
            floatLabelType="Auto"
            [dataSource]="officer"
            [fields]="officerAppraisalFields"
            [(value)]="tempSurveyor"
            (change)="selectSurveyor($event)"
            cssClass="e-outline"
            placeholder="Officer Appraisal"
            popupHeight="220px"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
      </section>
      <section class="mt-2" *ngIf="surveyAppraisal.apprOfficer === 'External'">
        <div class="py-2">
          <ejs-textbox
            placeholder="KJPP / Independent Appraisal"
            cssClass="e-outline"
            floatLabelType="Always"
            [value]="kjppValue"
            [hidden]="true"
            required
          >
          </ejs-textbox>
        </div>
        <div class="py-2">
          <ejs-dropdownlist
            cssClass="e-outline"
            floatLabelType="Always"
            [dataSource]="cities"
            [fields]="wilayahKotaFields"
            placeholder="Wilayah / Kota"
            [(value)]="wilayahKotaExternalValue"
            (change)="selectWilayahKota($event)"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
        <div class="py-2">
          <ejs-dropdownlist
            cssClass="e-outline"
            floatLabelType="Always"
            [dataSource]="teamReviewer"
            [fields]="teamReviewerFields"
            placeholder="Team Reviewer"
            [(value)]="surveyAppraisal.teamLeadId"
            (change)="selectTeamReviewer($event)"
            [hidden]="true"
            required
          >
          </ejs-dropdownlist>
        </div>
      </section>
    </section>
  </div>
</div>
