<div class="card">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <ejs-textbox placeholder="Contact Person Name" cssClass="e-outline" floatLabelType="Auto" name="cntctPrsnName"> </ejs-textbox>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <ejs-textbox placeholder="Contact Person Phone No" cssClass="e-outline" floatLabelType="Auto" name="cntctPrsnPhoneNo">
        </ejs-textbox>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <ejs-textbox placeholder="Contact Person Phone No" cssClass="e-outline" floatLabelType="Auto" name="cntctPrsnPhoneNo">
        </ejs-textbox>
      </div>
    </div>
  </div>
</div>
