<mat-card>
  <mat-card-header>
    <mat-card-subtitle>OPINION HISTORY</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="notes" class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="reviewerName">
        <th mat-header-cell *matHeaderCellDef>Approver Name</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.positionUserId }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createDate }}</td>
      </ng-container>
      <ng-container matColumnDef="recomendation">
        <th mat-header-cell *matHeaderCellDef>Recomendation</th>
        <td mat-cell *matCellDef="let element">{{ element.recomendation }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action'].length">
          No records found.
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
    </table>

    <div class="mb-2 col-md-2" style="margin-top: 20px">
      <mat-form-field class="w-100" appearance="outline" [hidden]="approvalUser">
        <mat-label>Approval User</mat-label>
        <mat-select (selectionChange)="setApproval($event)" [(ngModel)]="creditProposalItem.attributes['userId']">
          <mat-option *ngFor="let item of position" [value]="item.employeeFirstName">
            {{ item.employeeFirstName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="e-card-content">
      <div class="form-group">
        <p class="e-card-sub-title">Opinion</p>
        <section
          *ngIf="
            this.creditProposalItem.statusId === 'CP_ASSIGNMENT' ||
            this.creditProposalItem.statusId === 'CP_CHECKER' ||
            this.creditProposalItem.statusId === 'CP_LOAN_APPROVAL' ||
            this.creditProposalItem.statusId === 'CP_LOAN_COMMITTEE' ||
            this.creditProposalItem.statusId === 'LA_DAR_NOTIF'
          "
        >
          <ejs-documenteditorcontainer
            #document_editor_container
            [enableToolbar]="true"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            [spellcheck]="false"
            [enableSpellCheck]="false"
            (keyDown)="onKeyDown($event)"
            (created)="onCreate()"
          ></ejs-documenteditorcontainer>
        </section>
        <section
          *ngIf="
            creditProposalItem.statusId === 'CP_DAR_FINAL' ||
            creditProposalItem.statusId === 'CP_DAR_CHECKER' ||
            creditProposalItem.statusId === 'CP_CC_DISTRIBUTION'
          "
        >
          <ejs-documenteditorcontainer
            #document_editor_container
            [enableToolbar]="false"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            (documentChange)="onDocumentChange()"
            [enableEditor]="false"
            [isReadOnly]="true"
          ></ejs-documenteditorcontainer>
        </section>
      </div>
      <section *ngIf="creditProposalItem.statusId !== 'CP_LOAN_COMMITTEE'">
        <div class="form-group">
          <p class="e-card-sub-title">{{ nameLabel }}</p>
          <div class="d-flex justify-content-around">
            <div class="mx-2">
              <ejs-radiobutton
				[checked]="recomendasi === 'Approved as Propose' || recomendasi === 'Recommend as Propose"
				(change)="change(valueRadioPurpose)"
                label="{{ radioButtonPurpose }}"
                value="{{ valueRadioPurpose }}"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
            <div class="mx-2">
              <ejs-radiobutton
				[checked]="recomendasi === 'Approved With Condition' || recomendasi === 'Recommend With Condition"
				(change)="change(valueRadioCondition)"
                label="{{ radioButtonCondition }}"
                value="{{ valueRadioCondition }}"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
            <div class="mx-2">
              <ejs-radiobutton
				[checked]="recomendasi === 'Not Approved' || recomendasi === 'Not Recommend"
				(change)="change(valueRadioRecommend)"
                label="{{ radioButtonNotRecommend }}"
                value="{{ valueRadioRecommend }}"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="creditProposalItem.statusId === 'CP_LOAN_COMMITTEE'">
        <div class="form-group">
          <p class="e-card-sub-title">Approved Status</p>
          <div class="d-flex justify-content-around">
            <div class="mx-2">
              <ejs-radiobutton
                label="Approved as Propose"
                value="Approved as Propose"
                [(ngModel)]="creditProposalItem.attributes.tempLoggedInRecomendationUser"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
            <div class="mx-2">
              <ejs-radiobutton
                label="Approved With Condition"
                value="Approved With Condition"
                [(ngModel)]="creditProposalItem.attributes.tempLoggedInRecomendationUser"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
            <div class="mx-2">
              <ejs-radiobutton
                label="Not Approved"
                value="Not Approved"
                [(ngModel)]="creditProposalItem.attributes.tempLoggedInRecomendationUser"
                [disabled]="disabledOpinion"
              ></ejs-radiobutton>
            </div>
          </div>
        </div>
      </section>

      <div class="form-group">
        <p class="e-card-sub-title">Condition</p>
        <section
          *ngIf="
            this.creditProposalItem.statusId === 'CP_ASSIGNMENT' ||
            this.creditProposalItem.statusId === 'CP_CHECKER' ||
            this.creditProposalItem.statusId === 'CP_LOAN_APPROVAL' ||
            this.creditProposalItem.statusId === 'CP_LOAN_COMMITTEE' ||
            this.creditProposalItem.statusId === 'LA_DAR_NOTIF'
          "
        >
          <ejs-documenteditorcontainer
            #document_editor_container_condition
            [enableToolbar]="true"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            [spellcheck]="false"
            [enableSpellCheck]="false"
            (keyDown)="onKeyDownCondition($event)"
            (created)="onCreateCondition()"
          ></ejs-documenteditorcontainer>
        </section>

        <section
          *ngIf="
            creditProposalItem.statusId === 'CP_DAR_FINAL' ||
            creditProposalItem.statusId === 'CP_DAR_CHECKER' ||
            creditProposalItem.statusId === 'CP_CC_DISTRIBUTION'
          "
        >
          <ejs-documenteditorcontainer
            #document_editor_container_condition
            [enableToolbar]="false"
            [enableLocalPaste]="false"
            height="100vh"
            style="display: block"
            (documentChange)="onDocumentChanges()"
            [enableEditor]="false"
            [isReadOnly]="true"
          ></ejs-documenteditorcontainer>
        </section>
      </div>
    </div>
  </mat-card-content>
</mat-card>
