<div class="wrapper-card">
  <e-card class="mb-3">
    <mat-card-subtitle class="mat-card-header-text">Opinion History</mat-card-subtitle>
    <table mat-table [dataSource]="notesMod" class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="reviewerName">
        <th mat-header-cell *matHeaderCellDef>Approver Name</th>
        <td mat-cell *matCellDef="let element">
          {{
            (element.employeeFirstName ? element.employeeFirstName : '') + (element.employeeLastName ? ' ' + element.employeeLastName : '')
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element">{{ element.positionTypeDescription }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.modifiedDateCalc }}</td>
      </ng-container>
      <ng-container matColumnDef="recomendation">
        <th mat-header-cell *matHeaderCellDef>Recomendation</th>
        <td mat-cell *matCellDef="let element">{{ element.recomendation }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action'].length">
          No records found.
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['no', 'reviewerName', 'position', 'date', 'recomendation', 'action']"></tr>
    </table>

    <div class="row">
      <div class="mb-2 col-md-3" style="margin-top: 20px">
        <mat-form-field class="w-100" appearance="outline" [hidden]="approvalUser">
          <mat-label>Approval User</mat-label>
          <mat-select (selectionChange)="setApproval($event)">
            <mat-option *ngFor="let item of approvalUserData" [value]="item">
              {{ item.partyName }} - {{ item.roleDescription }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-8" style="justify-content: flex-end; display: flex" [hidden]="generateButton">
        <div class="mb-2 col-md-4 mt-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>File Template</mat-label>
            <mat-select [(ngModel)]="typeOfPosition" (selectionChange)="setOpionHistory($event.value)">
              <mat-option *ngFor="let item of fileTypeList.typeOfPosition" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div></div>
        </div>
        <div class="mt-3" style="justify-content: flex-end; display: flex">
          <button style="float: right; height: 50px" mat-raised-button class="button-styling ml-2" (click)="generateOpinion()">
            GENERATE
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="source === ''" class="e-card-content">
      <div *ngIf="isShowOpinionFieldInput" class="e-card-content">
        <div class="form-group">
          <p class="e-card-sub-title">Opinion</p>
          <section
            *ngIf="
              this.creditProposalItem.statusId === 'CP_ASSIGNMENT' ||
              this.creditProposalItem.statusId === 'CP_CHECKER' ||
              this.creditProposalItem.statusId === 'CP_LOAN_APPROVAL' ||
              this.creditProposalItem.statusId === 'CP_LOAN_COMMITTEE' ||
              this.creditProposalItem.statusId === 'LA_DAR_NOTIF'
            "
          >
            <ejs-documenteditorcontainer
              #document_editor_container
              [headers]="customHeadersJWT"
              [enableToolbar]="true"
              [enableLocalPaste]="false"
              height="100vh"
              style="display: block"
              [spellcheck]="false"
              [enableSpellCheck]="false"
              (keyDown)="onKeyDown($event)"
              (created)="onCreate()"
            ></ejs-documenteditorcontainer>
          </section>
          <section
            *ngIf="
              creditProposalItem.statusId === 'CP_DAR_FINAL' ||
              creditProposalItem.statusId === 'CP_DAR_CHECKER' ||
              creditProposalItem.statusId === 'CP_CC_DISTRIBUTION'
            "
          >
            <ejs-documenteditorcontainer
              #document_editor_container
              [headers]="customHeadersJWT"
              [enableToolbar]="false"
              [enableLocalPaste]="false"
              height="100vh"
              style="display: block"
              (documentChange)="onDocumentChange()"
              [enableEditor]="false"
              [isReadOnly]="true"
            ></ejs-documenteditorcontainer>
          </section>
        </div>

        <!-- <section *ngIf="creditProposalItem.statusId !== 'CP_LOAN_COMMITTEE' && creditProposalItem.statusId !== 'CP_LOAN_APPROVAL'"> -->
        <section *ngIf="tempRouter === 'la-analyst' || tempRouter === 'la-SME-CRC'">
          <div class="form-group">
            <p class="e-card-sub-title">Recomendation</p>
            <div class="d-flex justify-content-around">
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Recommend as Propose'"
                  value="Recommend as Propose"
                  (change)="change('Recommend as Propose')"
                  label="Recommend as Propose"
                ></ejs-radiobutton>
              </div>
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Recommend With Condition'"
                  value="Recommend With Condition"
                  (change)="change('Recommend With Condition')"
                  label="Recommend With Condition"
                ></ejs-radiobutton>
              </div>
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Not Recommend'"
                  value="Not Recommend"
                  (change)="change('Not Recommend')"
                  label="Not Recommend"
                ></ejs-radiobutton>
              </div>
            </div>
          </div>
        </section>

        <!-- <section *ngIf="creditProposalItem.statusId === 'CP_LOAN_COMMITTEE' || creditProposalItem.statusId === 'CP_LOAN_APPROVAL'"> -->
        <section *ngIf="tempRouter === 'la-approval' || tempRouter === 'loan-committee-approval'">
          <div class="form-group">
            <p class="e-card-sub-title">Approved Status</p>
            <div class="d-flex justify-content-around">
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Approved as Propose'"
                  value="Approved as Propose"
                  (change)="change('Approved as Propose')"
                  label="Approved as Propose"
                ></ejs-radiobutton>
              </div>
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Approved With Condition'"
                  value="Approved With Condition"
                  (change)="change('Approved With Condition')"
                  label="Approved With Condition"
                ></ejs-radiobutton>
              </div>
              <div class="mx-2">
                <ejs-radiobutton
                  [checked]="recomendasi === 'Not Approved'"
                  value="Not Approved"
                  (change)="change('Not Approved')"
                  label="Not Approved"
                ></ejs-radiobutton>
              </div>
            </div>
          </div>
        </section>

        <div class="form-group">
          <p class="e-card-sub-title">Condition</p>
          <section
            *ngIf="
              this.creditProposalItem.statusId === 'CP_ASSIGNMENT' ||
              this.creditProposalItem.statusId === 'CP_CHECKER' ||
              this.creditProposalItem.statusId === 'CP_LOAN_APPROVAL' ||
              this.creditProposalItem.statusId === 'CP_LOAN_COMMITTEE' ||
              this.creditProposalItem.statusId === 'LA_DAR_NOTIF'
            "
          >
            <ejs-documenteditorcontainer
              #document_editor_container_condition
              [headers]="customHeadersJWT"
              [enableToolbar]="true"
              [enableLocalPaste]="false"
              height="100vh"
              style="display: block"
              [spellcheck]="false"
              [enableSpellCheck]="false"
              (keyDown)="onKeyDownCondition($event)"
              (created)="onCreateCondition()"
            >
            </ejs-documenteditorcontainer>
          </section>

          <section
            *ngIf="
              creditProposalItem.statusId === 'CP_DAR_FINAL' ||
              creditProposalItem.statusId === 'CP_DAR_CHECKER' ||
              creditProposalItem.statusId === 'CP_CC_DISTRIBUTION'
            "
          >
            <ejs-documenteditorcontainer
              #document_editor_container_condition
              [headers]="customHeadersJWT"
              [enableToolbar]="false"
              [enableLocalPaste]="false"
              height="100vh"
              style="display: block"
              (documentChange)="onDocumentChanges()"
              [enableEditor]="false"
              [isReadOnly]="true"
            ></ejs-documenteditorcontainer>
          </section>
        </div>
      </div>
    </div>
  </e-card>
</div>
