.mat-header-cell {
  background: #008881;
  color: #ffff;
  font-weight: 600;
}
table .mat-table {
  border: 1px #008881 solid !important;
}

element.style {
  display: none;
  bottom: 0;
  z-index: auto;
}

.mat-success {
  color: white;
  background-color: #008881;
  width: 25%;
}

.example-card {
  border-radius: 10px;
}
.card-container {
  justify-content: space-between;
}

mat-card-subtitle {
  font-size: 18px;
  color: #008881;
}

mat-card-title {
  color: #008881;
  font-size: 24px !important;
  justify-content: space-between !important;
  display: flex;
}
mat-card-header {
  display: inline;
}

.mat-dialog-title {
  font-size: 24px !important;
  color: #008881;
}
.form-group {
  padding-bottom: 2px;
}
.e-card-sub-title {
  font-size: 24px !important;
  color: #008881;
}
.mat-select {
  font-family: 'Poppins', sans-serif !important;
}

.mat-option {
  font-family: 'Poppins', sans-serif !important;
}

.mat-checkbox {
  font-family: 'Poppins', sans-serif !important;
}

.mat-form-field {
  font-family: 'Poppins', sans-serif !important;
}

.mat-radio-button {
  font-family: 'Poppins', sans-serif !important;
}

.mat-raised-button {
  font-family: 'Poppins', sans-serif !important;
}
.e-card {
  font-family: 'Poppins', sans-serif !important;
}
.e-float-input,
.e-float-input.e-control-wrapper,
.e-float-input.e-disabled,
.e-float-input.e-control-wrapper.e-disabled,
.e-float-input.e-input-group.e-disabled,
.e-float-input.e-input-group.e-control-wrapper.e-disabled {
  font-family: 'Poppins', sans-serif !important;
}

table {
  border-bottom: 1px solid #008881 !important;
  width: 100%;
}

th {
  background-color: rgba(147, 201, 199, 1) !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}
td {
  font-family: 'Poppins', sans-serif !important;
}
th:first-child {
  border-top-left-radius: 15px;
}
th:last-child {
  border-top-right-radius: 15px;
}

.mat-card {
  font-family: 'Poppins', sans-serif !important;
}

.wrapper-card e-card {
  font-family: 'Poppins', sans-serif !important;
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
}

.wrapper-card e-card {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #b8b8b8 !important;
  background-color: #fff;
  border: 1px none #000;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}
.wrapper-card e-card {
  border: 1px solid #b8b8b8 !important;
  border-radius: 10px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 36px;
  min-height: 36px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 100%;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #008881;
  line-height: 35px;
  margin-left: 10px;
  padding-top: 13px;
}

.button-styling:enabled {
  color: white;
  background-color: rgba(49, 158, 152, 1) !important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif !important;
}
