<h2 mat-dialog-title class="sub-header">Application Option</h2>
<mat-dialog-content>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="applicationOption.description" />
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline" *ngIf="applicationOption.dataType === 'string'">
    <mat-label>Value</mat-label>
    <input matInput type="text" [(ngModel)]="applicationOption.value" />
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline" *ngIf="applicationOption.dataType === 'double'">
    <mat-label>Value</mat-label>
    <input matInput type="number" [(ngModel)]="applicationOption.value" />
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline" *ngIf="applicationOption.dataType === 'date'">
    <mat-label>Value</mat-label>
    <input [matDatepicker]="valueDate" matInput (ngModelChange)="updateDate()" type="text" [(ngModel)]="applicationOption.value" disabled />
    <mat-datepicker-toggle matSuffix [for]="valueDate"></mat-datepicker-toggle>
    <mat-datepicker #valueDate disabled="false"></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
