<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="collateralType">
      <h2 data-cy="collateralTypeDetailsHeading"><span jhiTranslate="losgwApp.collateralType.detail.title">Collateral Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ collateralType.id }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.collateralType.description">Description</span></dt>
        <dd>
          <span>{{ collateralType.description }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.collateralType.parentId">Parent Id</span></dt>
        <dd>
          <span>{{ collateralType.parentId }}</span>
        </dd>
        <dt><span jhiTranslate="losgwApp.collateralType.parentDescription">Parent Description</span></dt>
        <dd>
          <span>{{ collateralType.parentDescription }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/collateral-type', collateralType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
