<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">PREVIOUS PROPOSAL</div>
</div>
<div>
  <jhi-loan-facility-detail-history
    *ngIf="creditProposal.attributes['previousReturn']"
    [isOnCompareData]="true"
    [isViewMode]="true"
    [creditProposal]="creditProposal"
  ></jhi-loan-facility-detail-history>
  <div class="e-card" *ngIf="!creditProposal.attributes['previousReturn']">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Facility Details</div>
      </div>
    </div>
    <div class="alert alert-warning m-3" role="alert">
      <span style="font-weight: bold">No previous data was found!</span>
    </div>
  </div>
</div>
<div class="e-card-actions"></div>

<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">CURRENT PROPOSAL</div>
</div>
<div>
  <jhi-loan-facility-detail-history
    *ngIf="creditProposal.attributes['previousHistory']"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposal]="creditProposal"
  >
  </jhi-loan-facility-detail-history>
  <jhi-credit-proposal-tab-loan-facility-detail
    *ngIf="!creditProposal.attributes['previousHistory']"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposal]="creditProposal"
  >
  </jhi-credit-proposal-tab-loan-facility-detail>
</div>

<div class="e-card-actions"></div>

<!-- Collateral Info -->
<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">PREVIOUS PROPOSAL</div>
</div>
<div>
  <jhi-collateral-info-history
    *ngIf="creditProposal.attributes['previousReturn']"
    [isOnCompareData]="true"
    [isCompareDar]="false"
    [source]="'summaryAll'"
    [parentSource]="'loan-analys'"
    [takeOutCompare]="true"
    [creditProposal]="creditProposal"
    [collateralProperties]="collateralProperties"
  ></jhi-collateral-info-history>
  <div class="e-card" *ngIf="!creditProposal.attributes['previousReturn']">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Collateral Info</div>
      </div>
    </div>
    <div class="alert alert-warning m-3" role="alert">
      <span style="font-weight: bold">No previous data was found!</span>
    </div>
  </div>
</div>
<div class="e-card-actions"></div>

<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">CURRENT PROPOSAL</div>
</div>
<div>
  <jhi-collateral-info-history
    *ngIf="creditProposal.attributes['previousHistory']"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposal]="creditProposal"
    [collateralProperties]="collateralProperties"
  >
  </jhi-collateral-info-history>
  <jhi-credit-proposal-collateral-info
    *ngIf="!creditProposal.attributes['previousHistory']"
    [collateralProperties]="collateralProperties"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposal]="creditProposal"
  >
  </jhi-credit-proposal-collateral-info>
</div>

<div class="e-card-actions"></div>

<!-- Covenant -->
<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">PREVIOUS PROPOSAL</div>
</div>
<div>
  <jhi-credit-proposal-tab-covenant-history
    *ngIf="creditProposal.attributes['previousReturn']"
    [source]="'summaryAll'"
    [parentSource]="'loan-analys'"
    [isOnCompareData]="true"
    [isCompareDar]="false"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [setActiveMenu]="menuCovenant"
    [creditProposalItem]="creditProposal"
  >
  </jhi-credit-proposal-tab-covenant-history>

  <div class="e-card" *ngIf="!creditProposal.attributes['previousReturn']">
    <div class="e-card-header">
      <div class="e-card-header-caption">
        <div class="e-card-header-title">Standard Terms & Conditions</div>
      </div>
    </div>
    <div class="alert alert-warning m-3" role="alert">
      <span style="font-weight: bold">No previous data was found!</span>
    </div>
  </div>
</div>
<div class="e-card-actions"></div>

<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">CURRENT PROPOSAL</div>
</div>
<div>
  <jhi-credit-proposal-tab-covenant-history
    *ngIf="creditProposal.attributes['previousHistory']"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposalItem]="creditProposal"
    [setActiveMenu]="menuCovenant"
    [isOnOffering]="true"
  >
  </jhi-credit-proposal-tab-covenant-history>
  <jhi-credit-proposal-tab-covenant
    [isViewMode]="true"
    *ngIf="!creditProposal.attributes['previousHistory']"
    [setActiveMenu]="menuCovenant"
    [creditProposalItem]="creditProposal"
  >
  </jhi-credit-proposal-tab-covenant>
</div>

<div class="e-card-actions"></div>

<!-- Deviation -->
<div class="e-card-content mt-3">
  <div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
    <div class="e-card-header-title">PREVIOUS PROPOSAL</div>
  </div>
  <div>
    <jhi-credit-proposal-tab-covenant-history
      *ngIf="creditProposal.attributes['previousReturn']"
      [source]="'summaryAll'"
      [parentSource]="'loan-analys'"
      [isOnCompareData]="true"
      [isCompareDar]="false"
      [takeOutCompare]="true"
      [isViewMode]="true"
      [setActiveMenu]="menuDeviation"
      [creditProposalItem]="creditProposal"
    >
    </jhi-credit-proposal-tab-covenant-history>

    <div class="e-card" *ngIf="!creditProposal.attributes['previousReturn']">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">Deviation</div>
        </div>
      </div>
      <div class="alert alert-warning m-3" role="alert">
        <span style="font-weight: bold">No previous data was found!</span>
      </div>
    </div>
  </div>
</div>
<div class="e-card-actions"></div>

<div style="width: 100%; display: flex; justify-content: center; font-size: 20px; color: #008881">
  <div class="e-card-header-title">CURRENT PROPOSAL</div>
</div>
<div>
  <jhi-credit-proposal-tab-covenant-history
    *ngIf="creditProposal.attributes['previousHistory']"
    [takeOutCompare]="true"
    [isViewMode]="true"
    [creditProposalItem]="creditProposal"
    [setActiveMenu]="menuDeviation"
    [isOnOffering]="true"
  >
  </jhi-credit-proposal-tab-covenant-history>
  <jhi-credit-proposal-tab-covenant
    [isViewMode]="true"
    *ngIf="!creditProposal.attributes['previousHistory']"
    [setActiveMenu]="menuDeviation"
    [creditProposalItem]="creditProposal"
  >
  </jhi-credit-proposal-tab-covenant>
</div>
