<div *ngIf="mode === 'view'" class="row">
  <div class="card-layout">
    <div class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">MAKSIMUM INTERNAL CREDIT RATING</div>
          <div class="e-card-sub-title"></div>
        </div>
      </div>
      <div class="e-card-content">
        <div class="form-space">
          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditRatings.creditRating"
                placeholder="Credit Rating"
                floatLabelType="Auto"
                cssClass="e-outline"
                disabled="true"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditRatings.internalMaxLLL"
                placeholder="Internal Maksimum LLL (%)"
                floatLabelType="Auto"
                cssClass="e-outline"
                disabled="true"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <ejs-textbox placeholder="Equity Position as of (Date)" floatLabelType="Auto" cssClass="e-outline">
                  </ejs-textbox> -->
              <ejs-datepicker
                cssClass="e-outline"
                placeholder="Equity Position as of (Date)"
                floatLabelType="Auto"
                [(ngModel)]="creditRatings.equityPositionDate"
                disabled="true"
              >
              </ejs-datepicker>
            </div>
          </div>
          <div class="row my-3">
            <div class="col">
              <ejs-textbox
                [(ngModel)]="creditRatings.equityPosition"
                placeholder="Equity Position as of (value)"
                floatLabelType="Auto"
                cssClass="e-outline"
                disabled="true"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditRatings.idrMioLLL"
                [value]="parse()"
                placeholder="Maximum Internal Credit Rating (LLL IDR MIO)"
                floatLabelType="Auto"
                cssClass="e-outline"
                disabled="true"
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Maximum Internal Credit Rating (LLL IDR MIO)</mat-label>
                    <input matInput type="text" [(ngModel)]="creditProposalItem.creditRatings[0].idrMioLLL" [value]="parse()">
                  </mat-form-field> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-layout py-2">
    <div class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">EXTERNAL CREDIT RATING</div>
          <div class="e-card-sub-title"></div>
        </div>
      </div>
      <div class="e-card-content">
        <div class="form-space">
          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditProposalItem.creditRatings[0].pefindo"
                placeholder="Pefindo"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
            <div class="col">
              <ejs-datepicker
                cssClass="e-outline"
                placeholder="as of Date"
                floatLabelType="Auto"
                [(ngModel)]="creditProposalItem.creditRatings[0].pefindoDate"
              >
              </ejs-datepicker>
              <!-- <ejs-datepicker cssClass="e-outline" [(value)]="creditProposalItem.creditRatings[0].pefindoDate"
                [(ngModel)]="creditProposalItem.creditRatings[0].pefindoDate" placeholder="as of Date"
                floatLabelType="Auto"></ejs-datepicker> -->
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditProposalItem.creditRatings[0].fitch"
                placeholder="Fitch"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
            <div class="col">
              <ejs-datepicker
                cssClass="e-outline"
                [(ngModel)]="creditProposalItem.creditRatings[0].fitchDate"
                placeholder="as of Date"
                floatLabelType="Auto"
              ></ejs-datepicker>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditProposalItem.creditRatings[0].snp"
                placeholder="SNP"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
            <div class="col">
              <ejs-datepicker
                cssClass="e-outline"
                [(ngModel)]="creditProposalItem.creditRatings[0].snpDate"
                placeholder="as of Date"
                floatLabelType="Auto"
              ></ejs-datepicker>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <!-- <div class="form-space"> -->
              <ejs-textbox
                [(ngModel)]="creditProposalItem.creditRatings[0].moodys"
                placeholder="Moodys"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
            <div class="col">
              <ejs-datepicker
                cssClass="e-outline"
                [(ngModel)]="creditProposalItem.creditRatings[0].moodysDate"
                placeholder="as of Date"
                floatLabelType="Auto"
              ></ejs-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="e-card-actions">
    <div class="d-flex justify-content-end"></div>
  </div>
</div>

<div *ngIf="mode === 'edit'" class="row">
  <div class="card-layout">
    <div class="e-card">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-header-title">MAKSIMUM INTERNAL CREDIT RATING</div>
          <div class="e-card-sub-title"></div>
        </div>
      </div>
      <div class="e-card-content">
        <div class="form-space">
          <div class="row my-3">
            <div class="col">
              <ejs-textbox [(ngModel)]="creditRatings.creditRating" placeholder="Credit Rating" floatLabelType="Auto" cssClass="e-outline">
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <ejs-textbox
                [(ngModel)]="creditRatings.internalMaxLLL"
                placeholder="Internal Maksimum LLL (%)"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <ejs-textbox
                [(ngModel)]="creditRatings.equityPosition"
                placeholder="Equity Position as of Value"
                floatLabelType="Auto"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <ejs-textbox
                [(ngModel)]="creditRatings.equityPositionDate"
                placeholder="Equity Position as of (DATE)"
                type="date"
                floatLabelType="Always"
                cssClass="e-outline"
              >
              </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <ejs-textbox placeholder="LLL IDR MIO" [value]="parseCif()" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
            </div>
          </div>

          <div class="row my-3">
            <div class="col">
              <ejs-textbox placeholder="Sector Industry" floatLabelType="Auto" cssClass="e-outline"> </ejs-textbox>
            </div>
          </div>
        </div>
      </div>

      <div class="e-card-actions">
        <div class="d-flex justify-content-end"><button mat-button (click)="save()">Save</button></div>
      </div>
    </div>
  </div>
</div>
