<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title"></h2>
<mat-dialog-content>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <div class="form-group">
      <div class="col">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Covenant</mat-label>
            <!-- <input matInput type="text" [(ngModel)]="otherCovenant.covenant" [disabled]="view" /> -->
            <textarea class="txtHeight" matInput type="text" [(ngModel)]="otherCovenant.covenant" [disabled]="view"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <!-- <p class="lable-form-title">Facility Type &nbsp; :{{ dataEdit['facilityType'] }}</p> -->
    <div class="fontsebled row">
      <div class="col-3">Covenant</div>
      <div class="col-md-auto">:</div>
      <div class="col col-lg-3">
        {{ otherCovenant.covenant }}
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <div class="form-group">
      <div class="col">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select placeholder="Status" [(ngModel)]="otherCovenant.status">
              <mat-option value="Applied">Applied</mat-option>
              <mat-option value="To Be Waived">To Be Waived</mat-option>
              <mat-option value="Waived">Waived</mat-option>
            </mat-select>
            <!-- <input matInput type="text" [(ngModel)]="otherCovenant.status" [disabled]="view" /> -->
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <!-- <p class="lable-form-title">Facility Type &nbsp; :{{ dataEdit['facilityType'] }}</p> -->
    <div class="fontsebled row">
      <div class="col-3">Status</div>
      <div class="col-md-auto">:</div>
      <div class="col col-lg-3">
        {{ otherCovenant.status }}
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <div class="form-group">
      <div class="col">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Deviation</mat-label>
            <textarea class="txtHeight" matInput type="text" [(ngModel)]="otherCovenant.deviation" [disabled]="view"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <!-- <p class="lable-form-title">Facility Type &nbsp; :{{ dataEdit['facilityType'] }}</p> -->
    <div class="fontsebled row">
      <div class="col-3">Deviation</div>
      <div class="col-md-auto">:</div>
      <div class="col col-lg-3">
        {{ otherCovenant.deviation }}
      </div>
    </div>
  </section>

  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: 'input'">
    <div class="form-group">
      <div class="col">
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Justification</mat-label>
            <textarea class="txtHeight" matInput type="text" [(ngModel)]="otherCovenant.justification" [disabled]="view"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
  <section *jhiMatrixDir="item.statusId; menu: 'credit-proposal'; subMenu: ''; elementType: ''">
    <!-- <p class="lable-form-title">Facility Type &nbsp; :{{ dataEdit['facilityType'] }}</p> -->
    <div class="fontsebled row">
      <div class="col-3">Justification</div>
      <div class="col-md-auto">:</div>
      <div class="col col-lg-3">
        {{ otherCovenant.justification }}
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button *ngIf="!view" (click)="save()">Save</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
