<h2 mat-dialog-title>Detail Document</h2>
<mat-dialog-content align="center">
  <table class="table">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Document Created BY</th>
        <th>Document Issued Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ folder['files'][0]['tags']['docNo'] }}</td>
        <td>{{ folder['files'][0]['tags']['createdBy'] }}</td>
        <td>{{ folder['files'][0]['tags']['docDate'] | formatMediumDate }}</td>
      </tr>
    </tbody>
  </table>
  <ul class="list-image">
    <li *ngFor="let item of folder['files']">
      <div style="background-color: #d9d9d9; height: auto; width: 300px; border-radius: 60px">
        <img
          [src]="item.url"
          style="width: 300px; border-radius: 20px"
          *ngIf="
            item.key.split('.')[1] === 'png' ||
            item.key.split('.')[1] === 'jpg' ||
            item.key.split('.')[1] === 'jpeg' ||
            item.key.split('.')[1] === 'gif'
          "
        />
        <div
          *ngIf="
            item['metaData']['content-type'] === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' ||
            item['metaData']['Value'] === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' ||
            item['metaData']['Value'] === 'application/vnd.ms-excel'
          "
          style="width: 300px"
        >
          <img width="300px" src="../../../content/images/excel.png" />
          <div style="width: 300px; position: sticky; margin-top: -150px; margin-bottom: 140px">
            <button mat-raised-button (click)="donwload(item.url, item.tags)"><mat-icon>get_app</mat-icon></button>
          </div>
        </div>

        <div
          *ngIf="
            item['metaData']['content-type'] === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ||
            item['metaData']['Value'] === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
          "
        >
          <img width="300px" src="../../../content/images/word.png" />
          <div style="width: 300px; position: sticky; margin-top: -150px; margin-bottom: 140px">
            <button mat-raised-button (click)="donwload(item.url, item.tags)"><mat-icon>get_app</mat-icon></button>
          </div>
        </div>

        <div *ngIf="item['metaData']['content-type'] === 'application/pdf' || item['metaData']['Value'] === 'application/pdf'">
          <img width="300px" src="../../../content/images/pdf.png" />

          <div style="width: 300px; position: sticky; margin-top: -150px; margin-bottom: 140px">
            <button mat-raised-button (click)="donwload(item.url, item.tags)"><mat-icon>get_app</mat-icon></button>
          </div>
        </div>

        <div
          *ngIf="
            item['metaData']['content-type'] === 'application/vnd.openxmlformats-officedocument.presentationml.presentation' ||
            item['metaData']['Value'] === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
          "
        >
          <img width="300px" src="../../../content/images/power-point.jpg" />

          <div style="width: 300px; position: sticky; margin-top: -150px; margin-bottom: 140px">
            <button mat-raised-button (click)="donwload(item.url, item.tags)"><mat-icon>get_app</mat-icon></button>
          </div>
        </div>
        <div style="width: 100%; margin-bottom: 20px; display: flex; justify-content: center; align-items: center">
          <p style="font-weight: 400; font-size: 15px; font-family: 'Times New Roman', Times, serif; width: 50%">
            Nama File: {{ item.tags.docNo }}
          </p>
        </div>
      </div>
    </li>
  </ul>
</mat-dialog-content>
