.total-status {
  font-size: 3rem;
  color: rgb(94, 110, 130);
  padding-left: 0.4rem;
}

.item-status-wrapper .staus-icons {
  font-size: 4rem;
  color: rgb(94, 110, 130);
  padding-left: 1rem;
}

.total-sum-wrapper {
  background-color: rgb(237, 242, 249);
  border-radius: 10px;
  min-width: 3vw;
  max-width: fit-content;
  margin-right: auto;
  margin-top: -2vh;
  margin-left: 1.9vw;

  font-weight: 600;
  color: rgb(44, 123, 229);
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 16px;
  width: 9px;
  margin: 1px -3px 0 0;
  transform: rotate(-90deg);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
