<div class="table-responsive-material">
  <table mat-table [dataSource]="dataItem" class="w-100">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef class="grid-index-right rounding-table-left">No</th>
      <td mat-cell *matCellDef="let i = index" class="grid-index-right">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef class="rounding-table-">Rank</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.rank }}</td>
    </ng-container>
    <ng-container matColumnDef="binding-value">
      <th mat-header-cell *matHeaderCellDef class="rounding-table-">Binding Value</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.value }}</td>
    </ng-container>
    <ng-container matColumnDef="binding-number">
      <th mat-header-cell *matHeaderCellDef class="rounding-table-">Binding Number</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.agreementNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="binding-date">
      <th mat-header-cell *matHeaderCellDef class="rounding-table-">Binding Date</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.dateAgreement | date: 'yyyy/MM/dd' }}</td>
    </ng-container>
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef class="rounding-table-">Cover</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">{{ element.cover }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="grid-index-left rounding-table-right">Action</th>
      <td mat-cell *matCellDef="let element" class="grid-index-left">
        <div *ngIf="!statusDisabledOffering">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div *ngIf="statusDisabledOffering">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">No records found.</td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 12, 18]" showFirstLastButtons></mat-paginator>
</div>

<div align="right" class="mt-5 align-right">
  <div *ngIf="!statusDisabledOffering">
    <button mat-raised-button (click)="openDialog()" class="button-styling">ADD</button>
  </div>
</div>
