// font
@import 'font.component';

// color
@import 'color.component';

.btn {
  font-weight: 600;
  font-family: $poppins;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 52px;
  &-primary {
    background-color: $primary;
  }
  &-info {
    background-color: $info;
  }
  &-danger {
    background-color: $danger;
  }
  &-warning {
    background-color: $warning;
  }
  &-secondary {
    background-color: $secondary;
  }
}
