<div class="style-close">
  <button class="button-close" mat-button mat-dialog-close>X</button>
</div>
<h2 mat-dialog-title class="header-title">Facility Detail</h2>
<mat-dialog-content>
  <div class="row justify-content-between">
    <div class="col-6">
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Account</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Index Facility</mat-label>
            <input matInput type="text" [(ngModel)]="applicationProduct.attributes['nomorUrutFasilitas']" />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Application Type</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['applicationType']" name="facilityType">
              <mat-option *ngFor="let item of listOfValue.applicationTypeList" [value]="item">{{ item }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Facility Type</mat-label>
            <input
              type="text"
              placeholder="Pick One"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              [(ngModel)]="applicationProduct.attributes['facilityType']"
              (ngModelChange)="berubah($event)"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <!-- <mat-select [(ngModel)]="applicationProduct.attributes['facilityType']" name="facilityType" (ngModelChange)="berubah($event)"> -->
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
              <!-- </mat-select> -->
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Type</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['loanType']">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of lovLoanType" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Installment Method</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['installmentMethod']" name="facilityType">
              <mat-option *ngFor="let item of listOfValue.installmentMethodList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Tenor</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['maturity']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['maturityPeriodType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Maturity Date</mat-label>
            <input matInput type="date" [(ngModel)]="applicationProduct.attributes['maturityDate']" />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-3" style="padding: 1rem">
              <mat-checkbox [(ngModel)]="applicationProduct.attributes['subLimit']" (ngModelChange)="changeSublimitCheck()"
                >Sub-Limit</mat-checkbox
              >
            </div>
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Sublimit From Existing Facility</mat-label>
                <mat-select
                  [(ngModel)]="applicationProduct.attributes['sublimitFromExistingFacility']"
                  (ngModelChange)="changeSublimit($event)"
                >
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of labelSublimit" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Index Facility Main</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['indexFacilityMain']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of lovIndex" [value]="item.index">
                    {{ item.index }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="mb-2">
          <div class="row mb-2">
            <label>Comitted Line:</label>
          </div>
          <div class="row">
            <mat-radio-group aria-label="Comitted Line" [(ngModel)]="applicationProduct.attributes['commitedLine']">
              <mat-radio-button [value]="uncom">Un-Comitted Line</mat-radio-button>
              <mat-radio-button [value]="com" [checked]="applicationProduct.attributes['commitedLine']">Comitted </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Currency</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['currency']" (ngModelChange)="chnageCurrency($event)">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of listOfValue.currencyList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Kurs</mat-label>
            <input matInput type="number" [(ngModel)]="applicationProduct.attributes['kurs']" [value]="currencyName" readonly />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Initial Limit</mat-label>
            <div *ngIf="conCcy; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock
              ><input currencyMask matInput type="text" [(ngModel)]="applicationProduct.attributes['initialLimit']" [options]="logoCcy"
            /></ng-template>
            <ng-template #elseBlock>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['initialLimit']" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Outstanding</mat-label>
            <div *ngIf="conCcy; then a; else b"></div>
            <ng-template #a>
              <input currencyMask matInput type="text" [(ngModel)]="applicationProduct.attributes['outstanding']" [options]="logoCcy" />
            </ng-template>
            <ng-template #b>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['outstanding']" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Date O/S</mat-label>
            <input matInput type="date" [(ngModel)]="applicationProduct.attributes['dateOS']" />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Changes</mat-label>
            <div *ngIf="conCcy; then c; else d"></div>
            <ng-template #c>
              <input currencyMask matInput type="text" [(ngModel)]="applicationProduct.attributes['changes']" [options]="logoCcy" />
            </ng-template>
            <ng-template #d>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['changes']" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Total Plafond</mat-label>
            <div *ngIf="conCcy; then e; else f"></div>
            <ng-template #e>
              <input
                currencyMask
                matInput
                type="text"
                [(ngModel)]="applicationProduct.attributes['totalPlafond']"
                [options]="logoCcy"
                [value]="calTotalPlafond()"
              />
            </ng-template>
            <ng-template #f>
              <input matInput type="text" [(ngModel)]="applicationProduct.attributes['totalPlafond']" [value]="calTotalPlafond()" />
            </ng-template>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="col-4" style="padding: 1rem">
            <mat-checkbox [(ngModel)]="applicationProduct.attributes['restructuredStatus']">Restruct Status</mat-checkbox>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Restruct Method</mat-label>
            <mat-select [(ngModel)]="applicationProduct.attributes['restructMethod']">
              <mat-option value="">- Please Select -</mat-option>
              <mat-option *ngFor="let item of listOfValue.restructList" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="applicationProduct.attributes['keterangan']" />
          </mat-form-field>
        </div>
      </section>
      <section>
        <div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Disbursement Condition</mat-label>
            <textarea matInput style="height: 200px" [(ngModel)]="applicationProduct.attributes['disbursementCondition']"></textarea>
          </mat-form-field>
        </div>
      </section>
      <section>
        <div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>REMARKS</mat-label>
            <textarea matInput style="height: 200px" [(ngModel)]="applicationProduct.attributes['remark']"></textarea>
          </mat-form-field>
        </div>
      </section>
    </div>

    <div class="col-6">
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Interest Rate Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['interestRateType']" (ngModelChange)="changeIntRateType($event)">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.interestRateTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Current Interest Rate</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['currentInterestRate']" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Reference Rate Period</mat-label>
                <input
                  matInput
                  (ngModelChange)="periodeDate($event)"
                  type="number"
                  [(ngModel)]="applicationProduct.attributes['interestRatePeriod']"
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['interestRatePeriodType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Provision Fee</mat-label>
                <input matInput type="text" [(ngModel)]="applicationProduct.attributes['provitionFee']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rate / Amount Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['provitionFeeRateAmountType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.rateAmountTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Admin Fee</mat-label>
                <input matInput type="text" [(ngModel)]="applicationProduct.attributes['adminFee']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Rate / Amount Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['adminFeeRateAmountType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.rateAmountTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Grace Period</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['gracePeriod']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['gracePeriodType']">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="mb-2">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Available Period</mat-label>
                <input matInput type="number" [(ngModel)]="applicationProduct.attributes['availablePeriod']" />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Period Type</mat-label>
                <mat-select [(ngModel)]="applicationProduct.attributes['availablePeriodType']" [value]="">
                  <mat-option value="">- Please Select -</mat-option>
                  <mat-option *ngFor="let item of listOfValue.periodTypeList" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>

      <div class="mb-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Index Rate</mat-label>
          <input matInput [(ngModel)]="indexRate" type="text" />
        </mat-form-field>
      </div>
      <section>
        <div class="mb-2">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Loan Purpose</mat-label>
            <textarea matInput type="multiline" style="height: 100px" [(ngModel)]="applicationProduct.attributes['loanPurpose']"></textarea>
          </mat-form-field>
        </div>
      </section>
    </div>
  </div>

  <mat-label>Mapping to Collateral</mat-label>
  <jhi-mapping-collateral-temp (outputCreditProposalMappingData)="getCreditProposalMappingData($event)"></jhi-mapping-collateral-temp>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <section>
    <button mat-button (click)="save()">Save</button>
  </section>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
