<section *jhiMatrixDir="collateralAppraisal.statusId; menu: 'collateral-appraisal'; subMenu: ''; elementType: 'input'">
  <h2 mat-dialog-title class="header-title">Property Detail</h2>
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <section class="mt-3">
              <div *ngIf="collateralProp.propertyType === 'LAND'">
                <ejs-textbox
                  cssClass="e-outline"
                  [(ngModel)]="collateralProp.description"
                  type="text"
                  placeholder=" Collateral Object "
                  floatLabelType="auto"
                  readonly
                  disabled
                >
                </ejs-textbox>
              </div>
              <div *ngIf="collateralProp.propertyType === 'BUILDING'">
                <ejs-textbox
                  cssClass="e-outline"
                  [(ngModel)]="collateralProp.buildingSpec"
                  type="text"
                  placeholder=" Collateral Object "
                  floatLabelType="auto"
                  readonly
                  disabled
                >
                </ejs-textbox>
              </div>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Bangunan</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.buildingSpec" disabled />
            </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValuePerMeter"
                placeholder="Market Value Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                required
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value Per Meter</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValuePerMeter" />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <!-- <ejs-numerictextbox cssClass="e-outline" [(ngModel)]="collateralProp.propertyMarketValue"
                placeholder="Market Value" floatLabelType="auto" format="IDR 0," min="0" required>
              </ejs-numerictextbox> -->

              <div *ngIf="collateralProp.propertyType === 'LAND'">
                <ejs-numerictextbox
                  cssClass="e-outline"
                  [value]="this.collateralProp.landSizePerCertificate * this.collateralProp.propertyMarketValuePerMeter"
                  placeholder="Market Value"
                  floatLabelType="auto"
                  format="IDR 0,"
                  min="0"
                  disabled
                >
                </ejs-numerictextbox>
              </div>
              <div *ngIf="collateralProp.propertyType === 'BUILDING'">
                <ejs-numerictextbox
                  cssClass="e-outline"
                  [value]="countTotalArea() * this.collateralProp.propertyMarketValuePerMeter"
                  placeholder="Market
                  Value"
                  floatLabelType="auto"
                  format="IDR 0,"
                  min="0"
                  disabled
                >
                </ejs-numerictextbox>
              </div>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValue" />
            </mat-form-field> -->
            </section>
            <div class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentage"
                placeholder="Percentage"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                required
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Percentage</mat-label>
              <input matInput type="number" required [(ngModel)]="collateralProp.propertyPercentage" />
            </mat-form-field> -->
            </div>

            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueIMBPerMeter"
                placeholder="Market Value IMB Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                required
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value IMB Per Meter</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueIMBPerMeter" />
            </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueIMB"
                placeholder="Market Value IMB"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                hidden
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value IMB</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueIMB" />
            </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentageIMB"
                type="number"
                placeholder="Percentage IMB"
                floatLabelType="auto"
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Percentage IMB</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyPercentageIMB" />
            </mat-form-field> -->
            </section>

            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueTataKotaPerMeter"
                placeholder="Market Value Tata Kota Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                required
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value Tata Kota Per Meter</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueTataKotaPerMeter" />
            </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueTataKota"
                placeholder="Market Value Tata Kota"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                hidden
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value Tata Kota</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueTataKota" />
            </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentageTataKota"
                type="number"
                placeholder="Percentage Tata Kota"
                floatLabelType="auto"
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
              <mat-label>Percentage Tata Kota</mat-label>
              <input matInput type="number" [(ngModel)]="collateralProp.propertyPercentageTataKota" />
            </mat-form-field> -->
            </section>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()">Save</button>
  </mat-dialog-actions>
</section>

<section *jhiMatrixDir="collateralAppraisal.statusId; menu: 'collateral-appraisal'; subMenu: ''; elementType: ''">
  <h2 mat-dialog-title class="header-title">Property Detail</h2>
  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <section class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.description"
                type="text"
                placeholder="Object Name"
                floatLabelType="auto"
                readonly
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Bangunan</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.buildingSpec" disabled />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValuePerMeter"
                placeholder="Market Value Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Market Value Per Meter</mat-label>
                  <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValuePerMeter" />
                </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValue"
                placeholder="Market Value"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValue" />
              </mat-form-field> -->
            </section>
            <div class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentage"
                placeholder="Percentage"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Percentage</mat-label>
                <input matInput type="number" disabled [(ngModel)]="collateralProp.propertyPercentage" />
              </mat-form-field> -->
            </div>

            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueIMBPerMeter"
                placeholder="Market Value IMB Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value IMB Per Meter</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueIMBPerMeter" />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueIMB"
                placeholder="Market Value IMB"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value IMB</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueIMB" />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentageIMB"
                type="number"
                placeholder="Percentage IMB"
                floatLabelType="auto"
                disabled
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Percentage IMB</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyPercentageIMB" />
              </mat-form-field> -->
            </section>

            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueTataKotaPerMeter"
                placeholder="Market Value Tata Kota Per Meter"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value Tata Kota Per Meter</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueTataKotaPerMeter" />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-numerictextbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyMarketValueTataKota"
                placeholder="Market Value Tata Kota"
                floatLabelType="auto"
                format="IDR 0,"
                min="0"
                disabled
              >
              </ejs-numerictextbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Market Value Tata Kota</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyMarketValueTataKota" />
              </mat-form-field> -->
            </section>
            <section class="mt-3">
              <ejs-textbox
                cssClass="e-outline"
                [(ngModel)]="collateralProp.propertyPercentageTataKota"
                type="number"
                placeholder="Percentage Tata Kota"
                floatLabelType="auto"
                disabled
              >
              </ejs-textbox>
              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-label>Percentage Tata Kota</mat-label>
                <input matInput type="number" [(ngModel)]="collateralProp.propertyPercentageTataKota" />
              </mat-form-field> -->
            </section>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</section>
