<h2 mat-dialog-title class="header-title">Land Detail</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValueM2"
              placeholder="Market Value Per Meter"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              required
            >
            </ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValue"
              placeholder="Market Value"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              [value]="area * collateral.marketValueM2"
              disabled
            ></ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-textbox
              cssClass="e-outline"
              [(ngModel)]="collateral.percentage"
              placeholder="Percentage"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              required
            >
            </ejs-textbox>
          </section>
          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValueImbM2"
              placeholder="Market Value IMB Per Meter"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              required
            >
            </ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValueImb"
              placeholder="Market Value IMB"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              [value]="area * collateral.marketValueM2"
              disabled
            >
            </ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-textbox
              cssClass="e-outline"
              [(ngModel)]="collateral.percentageImb"
              type="number"
              placeholder="Percentage IMB"
              floatLabelType="auto"
              required
            >
            </ejs-textbox>
          </section>

          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValueTKotaM2"
              placeholder="Market Value Tata Kota Per Meter"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              required
            >
            </ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-numerictextbox
              cssClass="e-outline"
              [(ngModel)]="collateral.marketValueTataKota"
              placeholder="Market Value Tata Kota"
              floatLabelType="auto"
              format="IDR 0,"
              min="0"
              [value]="area * collateral.marketValueTKotaM2"
              disabled
            >
            </ejs-numerictextbox>
          </section>
          <section class="mt-3">
            <ejs-textbox
              cssClass="e-outline"
              [(ngModel)]="collateral.percentageTKota"
              type="number"
              placeholder="Percentage Tata Kota"
              floatLabelType="auto"
              required
            >
            </ejs-textbox>
          </section>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
