<h2 mat-dialog-title>Land Detail</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value</mat-label>
              <input matInput type="number" [(ngModel)]="collateral.marketValue" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value IMB</mat-label>
              <input matInput type="number" [(ngModel)]="collateral.marketValueImb" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Market Value Tata Kota</mat-label>
              <input matInput type="number" [(ngModel)]="collateral.marketValueTataKota" />
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Percentage</mat-label>
              <input matInput type="number" [(ngModel)]="collateral.percentage" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
